Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

Fix barcode rendering on private product identifiers page
  sbomify/apps/core/templates/core/components/product_identifiers_card.html.j2
Due: djlint-check, djlint-lint

Improve Trust Center and Tokens settings page styling and UX
  sbomify/apps/billing/migrations/0010_alter_billingplan_options_and_more.py
  sbomify/apps/core/js/components/delete-modal.ts
  sbomify/apps/core/templates/components/delete_confirmation_modal.html.j2
  sbomify/apps/teams/templates/teams/team_custom_domain.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/tokens.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
  sbomify/apps/teams/tests/test_custom_domain_ui.py
  sbomify/apps/teams/tests/test_team_tokens.py
  sbomify/apps/teams/views/team_tokens.py
  sbomify/static/css/components/trust-center-settings.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Refactor public pages: consolidate templates, improve SEO, and remove Vue
  sbomify/apps/core/js/components/EditableSingleField.vue
  sbomify/apps/core/js/components/product-identifiers-barcodes.ts
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/component_item_public.html.j2
  sbomify/apps/core/templates/core/components/product_identifiers_card.html.j2
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/templates/core/components/public_product_links.html.j2
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/templatetags/breadcrumb_tags.py
  sbomify/apps/core/tests/test_product_details_public_view.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/product_links.py
  sbomify/apps/core/views/product_releases_public.py
  sbomify/apps/core/views/release_details_public.py
  sbomify/static/css/components/delete-modal.css
  sbomify/static/css/components/delete_modal.css
  sbomify/static/css/public-pages.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Dry up artifact page
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
  sbomify/static/css/public-pages.css
Due: djlint-check, djlint-lint

Address PR review comments
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/views/product_links.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Address additional PR review comments
  sbomify/apps/core/js/components/product-identifiers-barcodes.ts
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/views/product_links.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Use title case for workspace labels (Product, Compliance Artifact, Project)
  sbomify/apps/core/templates/core/workspace_public.html.j2
Due: djlint-check, djlint-lint

Simplify social media meta tags and improve docstring
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/views/product_links.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Refactor contact profile CRUD tests and views to support entity-based structure
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/type_defs.d.ts
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/fixtures.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/migrations/0020_contact_profile_3level_hierarchy.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/contact_profiles/forms/contact.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/forms/entity.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_form.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_list.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/tests/test_contact_profiles.py
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/contact_profiles.py
  sbomify/apps/teams/views/team_settings.py
  sbomify/static/css/components/contact-profiles.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Update contact profile migration and related templates for entity structure support
  sbomify/apps/core/apis.py
  sbomify/apps/teams/migrations/0020_contact_profile_3level_hierarchy.py
  sbomify/apps/teams/templates/teams/contact_profiles/forms/entity.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/views/contact_profiles.py
  sbomify/static/css/components/contact-profiles.css
Due: ruff-format, ruff, djlint-check, djlint-lint

Enhance formset error handling with user-friendly messages in contact profile views
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff

update billing documentation for clarity and structure
  docs/billing.md
Due: markdownlint

Updated billing period and next billing date to team pricing limits
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/team_pricing_service.py
Due: ruff-format, ruff

Address PR review comments for contact profile entity refactor
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/migrations/0020_contact_profile_3level_hierarchy.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/contact_profiles.py
  sbomify/static/css/components/contact-profiles.css
Due: ruff-format, ruff, djlint-check, djlint-lint

Update sbomify/apps/billing/team_pricing_service.py
  sbomify/apps/billing/team_pricing_service.py
Due: ruff-format, ruff

Enhance contact profiles forms with improved validation, accessibility, and styling
  sbomify/apps/teams/templates/teams/contact_profiles/forms/contact.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/forms/entity.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_list.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/static/css/components/contact-profiles.css
Due: djlint-check, djlint-lint

Fix billing period retrieval in TeamPricingService
  sbomify/apps/billing/team_pricing_service.py
Due: ruff-format, ruff

Fix NTIA plugin validation rules and add compliance CTA banner
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/plugins/tests/test_ntia_plugin.py
  sbomify/apps/plugins/tests/test_templatetags.py
  sbomify/static/css/components/assessment-results-card.css
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix unique identifier and author validation in CISA, CRA, and FDA plugins
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/cra.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
Due: ruff-format, ruff

Enhance contact profiles to align with CycloneDX specifications
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/fixtures.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/migrations/0021_cyclonedx_contact_alignment.py
  sbomify/apps/teams/migrations/0022_remove_contactentity_is_author.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/contact_profiles/forms/author.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/forms/entity.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_form.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_list.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/tests/test_contact_profiles.py
  sbomify/apps/teams/views/contact_profiles.py
  sbomify/static/css/components/contact-profiles.css
Due: ruff-format, ruff, djlint-check, djlint-lint

Refactor contact entity and profile handling by removing is_author field and updating related forms and views for CycloneDX compliance
  sbomify/apps/core/js/type_defs.d.ts
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/contact_profiles.py
Due: bun-lint, ruff-format, ruff

Refactor error handling in contact profiles for improved validation and robustness
  sbomify/apps/teams/migrations/0022_remove_contactentity_is_author.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Enhance entity and contact profile handling for CycloneDX compliance with improved validation and performance optimizations
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Update sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
Due: djlint-check, djlint-lint

Update sbomify/apps/teams/views/contact_profiles.py
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff

Update sbomify/apps/teams/apis.py
  sbomify/apps/teams/apis.py
Due: ruff-format, ruff

Enhance contact and entity handling for CycloneDX compliance with improved validation and migration logic
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/migrations/0021_cyclonedx_contact_alignment.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Refactor contact profile tests and form validation to enhance clarity and prevent data loss
  sbomify/apps/teams/tests/test_contact_profiles.py
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff

Enhance backward compatibility for contact handling in entity APIs and update validation logic
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Add performance note for entity count update and refine validation error handling in tests
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/tests/test_contact_profiles.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Refine contact validation for new API and simplify checkbox handling in contact profiles
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Enhance contact validation to check for partially filled contacts by including email and phone fields
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff

Enhance validation and migration logic for contact entities and profiles, including race condition notes and improved HTML condition checks
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/migrations/0020_contact_profile_3level_hierarchy.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Change private component response from 404 to 403 Forbidden for better HTTP semantics
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/templates/core/components/public_product_links.html.j2
  sbomify/apps/core/views/component_details_public.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Refactor project to remove Vue components and integrate Django templates with HTMX and Alpine.js for improved performance and maintainability.
  DEVELOPER.md
  bun.lock
  eslint.config.js
  package.json
  sbomify/apps/core/js/common_vue.js
  sbomify/apps/core/js/component-meta-info.ts
  sbomify/apps/core/js/components/ComponentsList.spec.ts
  sbomify/apps/core/js/components/ConfirmAction.vue
  sbomify/apps/core/js/components/CopyToken.vue
  sbomify/apps/core/js/components/EditableSingleField.vue
  sbomify/apps/core/js/components/ExportDataCard.vue
  sbomify/apps/core/js/components/ItemAssignmentManager.vue
  sbomify/apps/core/js/components/ItemsListTable.spec.ts
  sbomify/apps/core/js/components/ItemsListTable.vue
  sbomify/apps/core/js/components/PaginationControls.vue
  sbomify/apps/core/js/components/PlanCard.vue
  sbomify/apps/core/js/components/ProductIdentifiers.vue
  sbomify/apps/core/js/components/ProductLinks.vue
  sbomify/apps/core/js/components/ProductReleases.vue
  sbomify/apps/core/js/components/PublicCard.vue
  sbomify/apps/core/js/components/PublicDownloadCard.vue
  sbomify/apps/core/js/components/PublicProductProjects.vue
  sbomify/apps/core/js/components/PublicReleaseArtifacts.vue
  sbomify/apps/core/js/components/ReleaseArtifacts.vue
  sbomify/apps/core/js/components/SiteNotifications.vue
  sbomify/apps/core/js/components/StandardCard.vue
  sbomify/apps/core/js/composables/useReleaseDisplay.ts
  sbomify/apps/core/js/vite-env.d.ts
  sbomify/apps/core/templates/core/components/breadcrumb.html.j2
  sbomify/apps/core/tests/integration/test_ui_workflows.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/sboms/tests/test_views.py
  sbomify/static/css/components/component-meta-info-display.css
  sbomify/static/css/components/danger_zones.css
  sbomify/static/css/components/document-upload.css
  sbomify/static/css/components/public-product-projects.css
  sbomify/static/css/components/sbom-upload.css
  tsconfig.app.json
  vite.config.ts
Due: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Fix duplicate artifacts in release page when components are in multiple projects
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

feat(cisa): align Generation Context field mappings with schema crosswalk
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
Due: ruff-format, ruff

docs(plugins): add sbomify.com compliance guide references
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/cra.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/ntia.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
