Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix(authz): apply the admin tier to settings tabs and views added upstream
  sbomify/apps/teams/tests/test_team_settings_tabs.py
  sbomify/apps/teams/tests/test_trust_center_slug.py
  sbomify/apps/teams/views/ci_token.py
  sbomify/apps/teams/views/suppliers.py
Due: ruff-format, ruff

fix(billing): reconcile through the existing locked path, not a new marker
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/tasks/__init__.py
  sbomify/apps/billing/tests/test_missing_subscription_reconcile.py
Due: ruff-format, ruff

wip(authz): guest external-only tier changes (PR3, in progress)
  sbomify/apps/core/authz.py
Due: ruff-format, ruff

fix(teams): give the ask its own throttle budget and invalidate its cache
  sbomify/apps/access_tokens/throttling.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_on_demand_tls_cache.py
  sbomify/apps/teams/utils.py
  sbomify/settings.py
Due: ruff-format, ruff

fix(oidc): keep an outage a 503, and make the parse branch reachable
  sbomify/apps/oidc/tests/test_jwks_fallback.py
  sbomify/apps/oidc/utils.py
Due: ruff-format, ruff

fix(plugins): key the backoff on the latest run and stop de-TOASTing every run
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_dt_unsupported_spec_version.py
  sbomify/apps/plugins/tests/test_unsupported_input_backoff.py
Due: ruff-format, ruff

fix(verification): report what was asked and answered, not a diagnosis
  sbomify/apps/plugins/builtins/verification.py
  sbomify/apps/plugins/tests/test_verification_attestation_diagnostics.py
Due: ruff-format, ruff

fix(logging): correct the docstring claim that invites deleting a live branch
  sbomify/apps/core/tests/test_logger_naming.py
  sbomify/logging.py
Due: ruff-format, ruff

fix(onboarding): skip bots, date the row from the account, and correct a false claim
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_missing_status_backfill.py
Due: ruff-format, ruff

fix(osv): keep both ends of a truncated stderr, and report a timeout's output
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/tests/test_osv_stderr_logging.py
Due: ruff-format, ruff

feat(authz): make guest an external-only role
  AGENTS.md
  sbomify/apps/core/apis.py
  sbomify/apps/core/authz.py
  sbomify/apps/core/services/access_control.py
  sbomify/apps/core/tests/test_authz.py
  sbomify/apps/documents/tests/test_guest_member_access.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/teams/tests/test_teams.py
Due: markdownlint, ruff-format, ruff

fix(oidc): preserve the exception chain, and stop asserting an outage
  sbomify/apps/oidc/tests/test_jwks_fallback.py
  sbomify/apps/oidc/utils.py
Due: ruff-format, ruff

wip: review fixes checkpoint
  sbomify/apps/core/apis.py
  sbomify/apps/core/authz.py
  sbomify/apps/core/services/access_control.py
  sbomify/apps/documents/tests/test_guest_member_access.py
  sbomify/apps/sboms/tests/test_apis.py
Due: ruff-format, ruff

fix(authz): close three paths that still leaked internal data to guests
  sbomify/apps/documents/tests/test_guest_member_access.py
Due: ruff-format, ruff

fix(authz): one disclosure policy for every release listing
  sbomify/apps/core/apis.py
  sbomify/apps/core/services/access_control.py
  sbomify/apps/documents/tests/test_guest_member_access.py
Due: ruff-format, ruff

fix(verification): say when the repository came from a dependency
  sbomify/apps/plugins/builtins/verification.py
  sbomify/apps/plugins/tests/test_verification_attestation_diagnostics.py
Due: ruff-format, ruff

test(billing): assert on the reference, not on a marker that no longer exists
  sbomify/apps/billing/tests/test_missing_subscription_reconcile.py
Due: ruff-format, ruff

fix(authz): address PR review — email tab links, stale session role, N+1
  sbomify/apps/billing/billing_helpers.py
  sbomify/apps/controls/views.py
  sbomify/apps/teams/templates/teams/emails/owner_invitation_notice.html.j2
  sbomify/apps/teams/templates/teams/emails/owner_invitation_notice.txt
Due: ruff-format, ruff, djlint-check, djlint-lint

test(authz): update SBOM release-listing test to the unified withholding policy
  sbomify/apps/core/tests/test_sbom_tagging.py
Due: ruff-format, ruff

fix(plugins): select the backoff by run id, not by SBOM id
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_unsupported_input_backoff.py
Due: ruff-format, ruff

feat(authz): add the member role and make unrecognised roles impossible
  AGENTS.md
  docs/ADR/0008-workspace-roles.md
  sbomify/apps/core/apis.py
  sbomify/apps/core/authz.py
  sbomify/apps/core/tests/test_authz.py
  sbomify/apps/core/tests/test_component_visibility_access.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/security_advisories.py
  sbomify/apps/oidc/apis.py
  sbomify/apps/oidc/views.py
  sbomify/apps/onboarding/models.py
  sbomify/apps/sboms/models.py
  sbomify/apps/teams/fixtures.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/migrations/0041_member_role.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/tests/test_member_role.py
  sbomify/apps/teams/tests/test_role_integrity.py
  sbomify/apps/teams/views/ci_token.py
  sbomify/apps/teams/views/team_tokens.py
  sbomify/settings.py
Due: markdownlint, ruff-format, ruff

fix(authz): close the tier-widening gaps the review found
  sbomify/apps/core/apis.py
  sbomify/apps/core/authz.py
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/components_dashboard.py
  sbomify/apps/core/views/dashboard.py
  sbomify/apps/core/views/product_details_private.py
  sbomify/apps/core/views/products_dashboard.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/migrations/0041_member_role.py
  sbomify/apps/teams/settings_tabs.py
  sbomify/apps/teams/signals.py
  sbomify/apps/teams/tests/test_member_role.py
  sbomify/apps/teams/tests/test_team_tokens.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/team_settings.py
  sbomify/apps/vulnerability_scanning/apis.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(components): action tiles and data boxes, the last repeated shapes
  sbomify/apps/core/templates/core/components/component_meta_info_display.html.j2
  sbomify/apps/core/templates/core/components/quick_actions.html.j2
  sbomify/apps/core/templates/core/cotton_probes/layout.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/test_cotton_layout.py
  sbomify/apps/core/views/design_system.py
  sbomify/templates/components/layout/action_tile.html
  sbomify/templates/components/layout/data_box.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): a warning suppresses the public All checks passed badge
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/public_assessment_utils.py
  sbomify/apps/plugins/tests/test_orchestrator.py
  sbomify/apps/plugins/tests/test_public_assessment_utils.py
  sbomify/apps/plugins/verdict.py
Due: ruff-format, ruff

fix(verification): qualify the repo on the 404 path, and tag every format
  sbomify/apps/plugins/builtins/verification.py
  sbomify/apps/plugins/tests/test_verification_attestation_diagnostics.py
Due: ruff-format, ruff

fix(oidc): the fallback was being served silently, and the fixture leaked it
  sbomify/apps/oidc/tests/conftest.py
  sbomify/apps/oidc/tests/test_jwks_fallback.py
  sbomify/apps/oidc/utils.py
Due: ruff-format, ruff

fix(billing): withhold the object id from the resource_missing log too
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/tests/test_missing_subscription_reconcile.py
Due: ruff-format, ruff

test(plugins): plain docstring opener
  sbomify/apps/plugins/tests/test_unsupported_input_backoff.py
Due: ruff-format, ruff

fix(authz): address PR review — stale signal comments, and a drift test that works
  sbomify/apps/teams/signals.py
  sbomify/apps/teams/tests/test_role_integrity.py
Due: ruff-format, ruff

fix(templates): multi-line template comments render as page text
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/members.html.j2
Due: djlint-check, djlint-lint

fix(documents): NDA signatures are history, never deleted
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/services/access_control.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/access_models.py
  sbomify/apps/documents/migrations/0012_ndasignature_superseded_at_and_more.py
  sbomify/apps/documents/notifications.py
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/documents/tests/test_access_requests.py
  sbomify/apps/documents/tests/test_access_revocation_signature.py
  sbomify/apps/documents/tests/test_nda_re_signing.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(teams): explain how to prepare an NDA where it gets uploaded
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
Due: djlint-check, djlint-lint

feat(core): CSV exports for inventory, licenses, findings and vulnerabilities
  sbomify/apps/core/apis.py
  sbomify/apps/core/services/csv_exports.py
  sbomify/apps/core/tests/test_csv_exports.py
Due: ruff-format, ruff

feat(core): NOTICE attribution document per release, product or workspace
  sbomify/apps/core/apis.py
  sbomify/apps/core/services/csv_exports.py
  sbomify/apps/core/tests/test_csv_exports.py
Due: ruff-format, ruff

feat(core): diff two releases of a product — components and vulnerabilities
  sbomify/apps/core/apis.py
  sbomify/apps/core/services/release_diff.py
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/core/templates/core/release_diff.html.j2
  sbomify/apps/core/tests/test_release_diff.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/release_details_private.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(spdx3): resolve licence relationships to expressions, not booleans
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/spdx3_corpus.py
  sbomify/apps/plugins/tests/test_spdx3_license_resolution.py
Due: ruff-format, ruff

feat(hbom): workspace hardware rollup — where parts concentrate
  sbomify/apps/sboms/services/hardware_dashboard.py
  sbomify/apps/sboms/templates/sboms/workspace_hardware.html.j2
  sbomify/apps/sboms/tests/test_workspace_hardware.py
  sbomify/apps/sboms/urls.py
  sbomify/apps/sboms/views/workspace_hardware.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(oidc): the kid-miss message asserted an outage it cannot know about
  sbomify/apps/oidc/tests/conftest.py
  sbomify/apps/oidc/utils.py
Due: ruff-format, ruff
