Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix(trust-center): the gate speaks only for what it can actually release
  sbomify/apps/core/services/access_control.py
  sbomify/apps/core/tests/test_gated_artifact_access_gate.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/documents/services/documents.py
  sbomify/apps/sboms/services/sboms.py
Due: ruff-format, ruff

fix(advisories): validate provider metadata, and stop the marker leaking internal work
  sbomify/apps/security_advisories/csaf_provider.py
  sbomify/apps/security_advisories/signals.py
  sbomify/apps/security_advisories/tests/csaf_schemas/README.md
  sbomify/apps/security_advisories/tests/csaf_schemas/provider_json_schema.json
  sbomify/apps/security_advisories/tests/test_csaf_wellknown.py
Due: markdownlint, ruff-format, ruff

fix(trust-center): the way back is the way in
  sbomify/apps/core/tests/test_gated_artifact_access_gate.py
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff

fix(vulns): a CPE is an identity a VEX statement can be scoped to
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/sdk/results.py
  sbomify/apps/vulnerability_scanning/tests/test_spdx3_embedded_vex.py
  sbomify/apps/vulnerability_scanning/vex.py
  sbomify/apps/vulnerability_scanning/vex_formats.py
Due: ruff-format, ruff

feat: there is no plain SOC 2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/documents/migrations/0015_certification_subcategories.py
  sbomify/apps/documents/models.py
  sbomify/apps/documents/services/trust_center_badges.py
  sbomify/apps/documents/tests/test_trust_center_badges.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(trust-center): the gate answers for the refusal the fetch actually hit
  sbomify/apps/core/tests/test_component_visibility.py
  sbomify/apps/core/tests/test_gated_artifact_access_gate.py
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff

fix(vulns): a wildcard inside a CPE field is a wildcard
  sbomify/apps/vulnerability_scanning/tests/test_vex_formats.py
  sbomify/apps/vulnerability_scanning/vex_formats.py
Due: ruff-format, ruff

fix(advisories): close CSAF freshness and disclosure review gaps
  sbomify/apps/billing/billing_helpers.py
  sbomify/apps/security_advisories/csaf_provider.py
  sbomify/apps/security_advisories/expressions.py
  sbomify/apps/security_advisories/migrations/0006_csaf_filename_index.py
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/signals.py
  sbomify/apps/security_advisories/tests/test_csaf_wellknown.py
Due: ruff-format, ruff

fix: a retired subcategory cannot be written back in
  sbomify/apps/documents/apis.py
  sbomify/apps/documents/services/documents.py
  sbomify/apps/documents/services/documents_table.py
  sbomify/apps/documents/tests/test_apis.py
  screencasts/document_upload.py
Due: ruff-format, ruff

fix: ISO 27001 certifies a management system
  sbomify/apps/documents/services/trust_center_badges.py
Due: ruff-format, ruff

fix: the credential tile owns its padding and its own link colour
  sbomify/apps/core/tests/test_cotton_branded.py
  sbomify/templates/components/branded/credential.html
Due: ruff-format, ruff

fix(trust-center): generate unambiguous gated component URLs
  sbomify/apps/core/tests/test_gated_artifact_access_gate.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

fix: the API says which subcategory it just stored
  sbomify/apps/documents/schemas.py
  sbomify/apps/documents/services/documents.py
  sbomify/apps/documents/tests/test_apis.py
Due: ruff-format, ruff

fix(advisories): enforce discovery scope and consistent feed membership
  sbomify/apps/billing/billing_helpers.py
  sbomify/apps/security_advisories/csaf_provider.py
  sbomify/apps/security_advisories/expressions.py
  sbomify/apps/security_advisories/migrations/0007_initialize_csaf_markers.py
  sbomify/apps/security_advisories/services/trust_center.py
  sbomify/apps/security_advisories/signals.py
  sbomify/apps/security_advisories/tests/test_csaf_wellknown.py
Due: ruff-format, ruff

fix(trust-center): batch slug resolution and enforce artifact ownership
  sbomify/apps/core/apis.py
  sbomify/apps/core/templatetags/public_url_tags.py
  sbomify/apps/core/tests/test_gated_artifact_access_gate.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

fix: a raw-body compliance upload is not a bad request
  sbomify/apps/documents/apis.py
  sbomify/apps/documents/tests/test_apis.py
Due: ruff-format, ruff

fix(trust-center): preserve exact IDs and handle empty slugs
  sbomify/apps/core/tests/test_gated_artifact_access_gate.py
  sbomify/apps/core/url_utils.py
Due: ruff-format, ruff

fix(advisories): a public name needs provenance, and the tree is not cacheable
  sbomify/apps/core/middleware.py
  sbomify/apps/security_advisories/migrations/0008_advisoryproduct_public_name_snapshot.py
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/services/trust_center.py
  sbomify/apps/security_advisories/signals.py
  sbomify/apps/security_advisories/tests/test_csaf_wellknown.py
  sbomify/apps/security_advisories/wellknown.py
Due: ruff-format, ruff

fix: the demo workspace actually shows a certification badge
  sbomify/apps/core/management/commands/seed_demo_data.py
  sbomify/apps/documents/tests/test_trust_center_badges.py
Due: ruff-format, ruff

fix(trust-center): a custom domain publishes only a published workspace
  sbomify/apps/core/tests/test_custom_domain_routing.py
  sbomify/apps/core/url_utils.py
Due: ruff-format, ruff

fix(advisories): a document revision that moves, and a child that changes parents
  sbomify/apps/security_advisories/csaf.py
  sbomify/apps/security_advisories/migrations/0009_csaf_document_revision.py
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/services/trust_center.py
  sbomify/apps/security_advisories/signals.py
  sbomify/apps/security_advisories/tests/test_csaf_wellknown.py
Due: ruff-format, ruff

test: add Yocto SPDX 2.3 and 3.0 sample SBOMs
  bin/flatten_yocto_spdx.py
  sbomify/apps/sboms/tests/test_data/README.md
  sbomify/apps/sboms/tests/test_data/yocto_core-image-minimal.spdx.json
  sbomify/apps/sboms/tests/test_data/yocto_core-image-minimal.spdx3.json
Due: markdownlint, ruff-format, ruff

refactor: an NDA is its own document type
  sbomify/apps/core/management/commands/seed_demo_data.py
  sbomify/apps/core/tests/test_access_control_service.py
  sbomify/apps/core/tests/test_component_visibility_access.py
  sbomify/apps/documents/migrations/0016_nda_document_type.py
  sbomify/apps/documents/models.py
  sbomify/apps/documents/services/trust_center_badges.py
  sbomify/apps/documents/tests/test_access_apis.py
  sbomify/apps/documents/tests/test_access_requests.py
  sbomify/apps/documents/tests/test_access_revocation_signature.py
  sbomify/apps/documents/tests/test_cache_invalidation.py
  sbomify/apps/documents/tests/test_document_model.py
  sbomify/apps/documents/tests/test_guest_member_access.py
  sbomify/apps/documents/tests/test_nda_re_signing.py
  sbomify/apps/documents/tests/test_trust_center_badges.py
  sbomify/apps/sboms/tests/test_component_deprecated_methods.py
  sbomify/apps/teams/tests/test_guest_promotion.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

test: ship Yocto's SPDX 2.2 output as-is instead of flattening it
  bin/flatten_yocto_spdx.py
  sbomify/apps/sboms/tests/test_data/README.md
  sbomify/apps/sboms/tests/test_data/yocto_core-image-minimal.spdx.json
  sbomify/apps/sboms/tests/test_data/yocto_core-image-minimal.spdx.tar.zst
Due: markdownlint, ruff-format, ruff

docs: tag the extraction snippet as bash
  sbomify/apps/sboms/tests/test_data/README.md
Due: markdownlint

fix: one CycloneDX document mapping, not two
  sbomify/apps/sboms/tests/test_utils_external_references.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

feat: NIST SP 800-171 Rev. 2 control catalogue
  sbomify/apps/controls/data/nist-800-171-r2.json
  sbomify/apps/controls/tests/test_catalog_service.py
Due: ruff-format, ruff

fix: the two hand-kept lists caught up with the generated ones
  sbomify/apps/controls/tests/test_catalog_service.py
  sbomify/apps/documents/templates/documents/components/document_upload.html.j2
  sbomify/apps/documents/tests/test_apis.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(mcp): a detail tool cuts its lists rather than refusing the call
  AGENTS.md
  docs/ADR/0009-mcp-server.md
  docs/mcp.md
  sbomify/apps/mcp/registry.py
  sbomify/apps/mcp/serializers.py
  sbomify/apps/mcp/tests/test_artifact_parsing.py
  sbomify/apps/mcp/tests/test_artifact_surface.py
  sbomify/apps/mcp/tools/_base.py
  sbomify/apps/mcp/tools/artifacts.py
  sbomify/apps/mcp/tools/catalog.py
Due: markdownlint, ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
