Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix: address PR #580 feedback
  conftest.py
  sbomify/apps/plugins/tests/test_ntia_plugin.py
  vite.config.ts
Due: bun-lint, ruff-format, ruff

Adds required files to Docker build
  Dockerfile
Due: none

fix(plugins): add debug logging for plugin registration errors
  sbomify/apps/plugins/apps.py
Due: ruff-format, ruff

Fixes migrations
  sbomify/apps/plugins/migrations/0001_initial.py
  sbomify/apps/plugins/migrations/0002_alter_assessmentrun_options_and_more.py
Due: ruff-format, ruff

fix(plugins): defer task dispatch until transaction commits
  sbomify/apps/plugins/tasks.py
  sbomify/apps/plugins/tests/test_integration.py
Due: ruff-format, ruff

Minor comment improvement
  sbomify/apps/plugins/tasks.py
Due: ruff-format, ruff

feat: consolidate SBOM/Document detail pages and improve assessment UX
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/views/component_item.py
  sbomify/apps/documents/templates/documents/components/document_actions_card.html.j2
  sbomify/apps/documents/templates/documents/components/document_metadata_card.html.j2
  sbomify/apps/plugins/js/assessment-badge.ts
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/plugins/templates/plugins/components/assessment_badge.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
  sbomify/apps/sboms/templates/sboms/components/sbom_actions_card.html.j2
  sbomify/apps/sboms/templates/sboms/components/sbom_metadata_card.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/static/css/components/document-actions-card.css
  sbomify/static/css/components/document-metadata-card.css
  sbomify/static/css/components/sbom-actions-card.css
  sbomify/static/css/components/sbom-metadata-card.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix: address Copilot review feedback
  sbomify/apps/plugins/js/assessment-badge.ts
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/plugins/templates/plugins/components/assessment_badge.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
Due: bun-lint, djlint-check, djlint-lint

style: fix djlint formatting issues in templates
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
Due: djlint-check, djlint-lint

fix: address additional Copilot feedback
  sbomify/apps/plugins/js/assessment-results-card.ts
Due: bun-lint

fix: address Copilot feedback round 3
  sbomify/apps/plugins/js/assessment-badge.ts
  sbomify/apps/plugins/js/assessment-results-card.ts
Due: bun-lint

fix: address Copilot feedback round 4
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/plugins/js/assessment-results-card.ts
Due: bun-lint, djlint-check, djlint-lint

fix: address Copilot feedback round 5
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/plugins/js/assessment-badge.ts
  sbomify/apps/plugins/js/assessment-results-card.ts
Due: bun-lint, djlint-check, djlint-lint

fix: address Copilot feedback round 6
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
Due: bun-lint, djlint-check, djlint-lint

fix: add ARIA attributes for accordion accessibility
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
Due: djlint-check, djlint-lint

fix: replace Jinja2 macro with Django include in assessment_results_card template
  sbomify/apps/core/tests/test_component_views.py
  sbomify/apps/plugins/templates/plugins/components/_plugin_accordion_items.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

update dependencies to include baseline-browser-mapping and caniuse-lite
  bun.lock
  package.json
Due: none

update delete endpoint path for SBOM to be more flexible
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat: consolidate Trust Center settings and simplify assessment results rendering
  docker-compose.dev.yml
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/plugins/js/main.ts
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/_plugin_accordion_items.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/apps/plugins/templatetags/__init__.py
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/custom_domain.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/static/css/components/assessment-results-card.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix: address PR review feedback
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/static/css/components/assessment-results-card.css
Due: bun-lint, djlint-check, djlint-lint

fix: update test to use renamed template
  sbomify/apps/core/tests/test_component_views.py
Due: ruff-format, ruff

fix: address additional PR review feedback
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/static/css/components/assessment-results-card.css
Due: bun-lint, djlint-check, djlint-lint

fix: address third round of PR review feedback
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
Due: bun-lint, djlint-check, djlint-lint

refactor: extract status-to-CSS mappings into template filters
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templatetags/plugins_extras.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: respect team plugin settings when triggering assessments
  sbomify/apps/billing/tests/test_user_limits.py
  sbomify/apps/plugins/tests/test_ntia_integration.py
  sbomify/apps/sboms/signals.py
  sbomify/apps/sboms/tests/test_signal_exceptions.py
Due: ruff-format, ruff

docs: improve code documentation
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/plugins/templatetags/plugins_extras.py
Due: bun-lint, ruff-format, ruff

refactor: move trust center inline CSS to external stylesheet
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/static/css/components/trust-center-settings.css
Due: bun-lint, djlint-check, djlint-lint

fix: use $schema alias in CycloneDX SBOM serialization
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

feat(plugins): add FDA Medical Device Cybersecurity compliance plugin
  README.md
  sbomify/apps/billing/models.py
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/__init__.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/tests/test_fda_medical_device_plugin.py
Due: markdownlint, ruff-format, ruff

Update sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
Due: ruff-format, ruff

Update sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/apps.py
Due: ruff-format, ruff

feat(plugins): add CISA 2025 Minimum Elements compliance plugin
  README.md
  sbomify/apps/plugins/builtins/__init__.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/test_cisa_integration.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
  sbomify/apps/plugins/tests/test_models.py
Due: markdownlint, ruff-format, ruff

feat(plugins): add EU CRA compliance plugin and improve findings UI
  README.md
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/__init__.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/cra.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/plugins/tests/__init__.py
  sbomify/apps/plugins/tests/test_checksum_plugin.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
  sbomify/apps/plugins/tests/test_cra_plugin.py
  sbomify/apps/plugins/tests/test_fda_medical_device_plugin.py
  sbomify/apps/plugins/tests/test_orchestrator.py
  sbomify/apps/plugins/tests/test_templatetags.py
  sbomify/apps/plugins/tests/test_utils.py
  sbomify/static/css/components/assessment-results-card.css
Due: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

refactor(css): use CSS custom properties for package list colors
  sbomify/static/css/components/assessment-results-card.css
Due: none

Address PR #591 review comments and fix bandit security errors
  sbomify/apps/plugins/builtins/cra.py
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/plugins/tests/test_cra_plugin.py
Due: bun-lint, ruff-format, ruff

Support CycloneDX 1.6+ manufacturer field with 1.5 backward compatibility
  sbomify/apps/plugins/builtins/cra.py
  sbomify/apps/plugins/tests/test_cra_plugin.py
Due: ruff-format, ruff

Address additional PR feedback: performance and documentation
  sbomify/apps/plugins/builtins/cra.py
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

feat(plugins): add beta flag to plugins and improve CRA email validation
  sbomify/apps/plugins/admin.py
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/cra.py
  sbomify/apps/plugins/migrations/0002_add_is_beta_field.py
  sbomify/apps/plugins/models.py
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(security): address Semgrep findings in admin and add suppressions
  sbomify/apps/access_tokens/utils.py
  sbomify/apps/billing/views.py
  sbomify/apps/core/admin.py
Due: ruff-format, ruff

Updated files for SBOM snapshot images in E2E tests
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[992].jpg
Due: none

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
