Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix(vuln): declare the malicious fields on the schemas, anchor the title match
  sbomify/apps/core/tests/test_release_public_posture.py
  sbomify/apps/plugins/schemas.py
  sbomify/apps/vulnerability_scanning/malicious.py
  sbomify/apps/vulnerability_scanning/tests/test_malicious.py
  sbomify/apps/vulnerability_scanning/tests/test_posture.py
Due: ruff-format, ruff

fix(sboms): a zero freshness window is a policy, not an absent one
  sbomify/apps/core/templates/core/components_table.html.j2
  sbomify/apps/sboms/freshness.py
  sbomify/apps/sboms/tests/test_freshness.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): tolerate a malformed creationInfo, point remediation at the right key
  sbomify/apps/plugins/builtins/openchain_telco.py
  sbomify/apps/plugins/tests/test_openchain_telco.py
Due: ruff-format, ruff

fix(plugins): guard the retention inputs, count real deletions, stabilise ties
  sbomify/apps/plugins/retention.py
  sbomify/apps/plugins/tests/test_retention.py
  sbomify/apps/vulnerability_scanning/utils.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

fix(plugins): close a finding only when no other scanner still reports it
  sbomify/apps/plugins/lifecycle.py
  sbomify/apps/plugins/tests/test_lifecycle.py
Due: ruff-format, ruff

test(plugins): give the retention fixture rows a config hash and run reason
  sbomify/apps/plugins/tests/test_retention.py
Due: ruff-format, ruff

feat(teams): let a workspace set its SBOM freshness window
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/js/team-general.ts
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/tests/test_team_general.py
  sbomify/apps/teams/views/team_general.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

docs(plugins): say why the CISA SBOM Type match is a bare substring
  sbomify/apps/plugins/builtins/openchain_telco.py
Due: ruff-format, ruff

feat(teams): supplier list, the entity we collect artifacts from
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/migrations/0038_supplier.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/services/suppliers.py
  sbomify/apps/teams/templates/teams/components/supplier_rows.html.j2
  sbomify/apps/teams/templates/teams/suppliers.html.j2
  sbomify/apps/teams/tests/test_suppliers.py
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/suppliers.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(teams): authorize the URL's workspace, and let the database hold uniqueness
  sbomify/apps/teams/migrations/0038_supplier.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/tests/test_suppliers.py
  sbomify/apps/teams/views/suppliers.py
Due: ruff-format, ruff

Stop tagging production Sentry events as "development"
  sbomify/apps/core/tests/test_sentry_config.py
  sbomify/settings.py
Due: ruff-format, ruff

chore(release): 26.7.1 (YY.MM.MICRO CalVer)
  package.json
  pyproject.toml
  uv.lock
Due: none

chore(deps): bump pillow, pyasn1, datamodel-code-generator for security advisories
  pyproject.toml
  uv.lock
Due: none

Address code-review findings on Sentry wiring
  sbomify/apps/core/tests/test_sentry_config.py
  sbomify/sentry_config.py
  sbomify/settings.py
Due: ruff-format, ruff

fix(tea): stop the tea namespace nesting inside itself
  sbomify/apps/tea/tests/test_openapi_surface.py
  sbomify/apps/tea/urls.py
Due: ruff-format, ruff

chore(skills): add cut-release Claude Code skill
  .claude/skills/cut-release/SKILL.md
  .gitignore
  README.md
  docs/RELEASE.md
Due: markdownlint

fix(tests): the UX fixture reuses the auto-created latest release
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/e2e/test_ux_review_trust_center.py
  sbomify/apps/core/tests/test_ux_review_fixture_builds.py
Due: ruff-format, ruff

fix: truncate scan filenames, correct the README API base URL
  README.md
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_results.html.j2
Due: markdownlint, djlint-check, djlint-lint

fix(core): make release creation idempotent on a name collision
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_release_apis.py
  sbomify/apps/core/tests/test_release_create_idempotent.py
Due: ruff-format, ruff

test(e2e): regenerate the product-public-details baselines from the merged page
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[992].jpg
Due: none

test(e2e): regenerate the 375px dashboard baseline for the truncated filename
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
Due: none

fix(core): identify the version conflict by constraint name, not message text
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_release_create_idempotent.py
Due: ruff-format, ruff

fix(teams): merge the two 0038 migration leaf nodes
  sbomify/apps/teams/migrations/0039_merge_0038_supplier_0038_team_sbom_freshness_days.py
Due: ruff-format, ruff

fix(core): detect the name collision positively, don't infer it
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_release_create_idempotent.py
Due: ruff-format, ruff

test(e2e): take the 375px dashboard baseline from CI, not from local
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
Due: none

feat(advisories): render the real model behind the advisories UI
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/apps/core/templates/core/security_advisories_table.html.j2
  sbomify/apps/core/templates/core/security_advisory_detail.html.j2
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/security_advisories.py
  sbomify/apps/security_advisories/migrations/0002_securityadvisory_remediation_status.py
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/services/__init__.py
  sbomify/apps/security_advisories/services/advisories.py
  sbomify/apps/security_advisories/tests/test_advisory_service.py
  sbomify/apps/teams/migrations/0039_merge_0038_supplier_0038_team_sbom_freshness_days.py
  sbomify/assets/css/tailwind.src.css
  security-advisories-wireframes/index.html
Due: ruff-format, ruff, djlint-check, djlint-lint

Silence the WhiteNoise/ASGI streaming warning
  sbomify/apps/core/tests/test_streaming_warning_filter.py
  sbomify/settings.py
Due: ruff-format, ruff

fix(plugins): the summary fragment is not a page
  sbomify/apps/core/tests/test_htmx_partials_are_not_pages.py
  sbomify/apps/plugins/views.py
Due: ruff-format, ruff

fix(plugins): compare HX-Request against 'true', not truthiness
  sbomify/apps/core/tests/test_htmx_partials_are_not_pages.py
  sbomify/apps/plugins/views.py
Due: ruff-format, ruff

fix(vuln): the trends fragment is not a page either
  sbomify/apps/core/tests/test_htmx_partials_are_not_pages.py
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

fix(oidc): name the cause when a bot cannot create a release
  sbomify/apps/core/apis.py
  sbomify/apps/oidc/tests/test_permissions.py
Due: ruff-format, ruff

feat(plugins): retire Dependency-Track projects for superseded SBOMs
  sbomify/apps/plugins/retention.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_retention.py
Due: ruff-format, ruff

feat(licensing): risk categories for SPDX license ids
  sbomify/apps/licensing/data/spdx_categories.yaml
  sbomify/apps/licensing/loader.py
  sbomify/apps/licensing/tests/test_loader.py
  sbomify/apps/licensing/tests/test_spdx_categories.py
Due: ruff-format, ruff

fix(licensing): categorise the ids that are both SPDX and custom
  sbomify/apps/licensing/data/spdx_categories.yaml
  sbomify/apps/licensing/tests/test_spdx_categories.py
Due: ruff-format, ruff

fix(screencasts): back S3 with a dict so the VEX download works on camera
  screencasts/vex_lifecycle.py
Due: ruff-format, ruff

fix(sentry): stop sampling WebSocket connections as transactions
  sbomify/apps/core/tests/test_sentry_traces_sampler.py
  sbomify/settings.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
