Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix: redact credentials in REDIS_URL error/warning messages
  sbomify/settings.py
Due: ruff-format, ruff

fix: persist Caddy TLS certificates with named volume
  docker-compose.yml
Due: none

fix: pass pre-built Redis client to Dramatiq when TLS CA certs are configured
  sbomify/settings.py
Due: ruff-format, ruff

refactor: deduplicate Dramatiq Redis client configuration
  sbomify/settings.py
Due: ruff-format, ruff

fix(sboms): add missing migration for BOM component type choice
  sbomify/apps/sboms/migrations/0055_fix_component_type_choices.py
Due: ruff-format, ruff

fix: suppress CancelledError log noise from asyncio/asgiref
  sbomify/settings.py
Due: ruff-format, ruff

fix(sboms): align model help_text with migration 0054, remove redundant 0055
  sbomify/apps/sboms/migrations/0055_fix_component_type_choices.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

feat(sboms): add migration to convert component_type 'sbom' to 'bom'
  sbomify/apps/sboms/migrations/0055_simplify_component_types.py
Due: ruff-format, ruff

fix: update stale docstrings referencing SBOM component type
  sbomify/apps/onboarding/signals.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

fix: address review findings — rename stale tests, add API rejection test
  sbomify/apps/core/tests/test_global_components_api.py
  sbomify/apps/documents/tests/test_apis.py.bak
  sbomify/apps/teams/tests/test_onboarding_wizard.py
Due: ruff-format, ruff

fix: update stale SBOM variable names and comments in onboarding
  sbomify/apps/onboarding/models.py
  sbomify/apps/onboarding/signals.py
Due: ruff-format, ruff

fix: narrow CancelledError filter to specific shielded future message
  sbomify/settings.py
Due: ruff-format, ruff

fix: move CancelledError filter to handler level per Django convention
  sbomify/settings.py
Due: ruff-format, ruff

feat: align CRA wizard with EU CRA FAQ guidance (Phase 1)
  sbomify/apps/compliance/apis.py
  sbomify/apps/compliance/document_templates/risk_assessment.md.dtl
  sbomify/apps/compliance/js/cra-scope-screening.ts
  sbomify/apps/compliance/js/cra-step-1.ts
  sbomify/apps/compliance/js/cra-step-3.ts
  sbomify/apps/compliance/migrations/0004_craassessment_harmonised_standard_applied_and_more.py
  sbomify/apps/compliance/models.py
  sbomify/apps/compliance/oscal_data/cra-annex-i-catalog.json
  sbomify/apps/compliance/schemas.py
  sbomify/apps/compliance/services/document_generation_service.py
  sbomify/apps/compliance/services/oscal_service.py
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/templates/compliance/components/cra_product_card.html.j2
  sbomify/apps/compliance/templates/compliance/components/finding_toggle.html.j2
  sbomify/apps/compliance/templates/compliance/cra_scope_screening.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_1.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_3.html.j2
  sbomify/apps/compliance/urls.py
  sbomify/apps/compliance/views/cra_wizard.py
  sbomify/apps/core/js/alpine-components.ts
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix: update stale SBOM references in test comments and data
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/test_global_components_api.py
  sbomify/apps/teams/tests/test_onboarding_wizard.py
Due: ruff-format, ruff

test: add tests for scope screening view and update_finding validation
  pyproject.toml
  sbomify/apps/compliance/migrations/0005_backfill_oscal_control_annex_part.py
  sbomify/apps/compliance/migrations/0006_remove_crascopescreening_unique_scope_screening_per_product_and_more.py
  sbomify/apps/compliance/models.py
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/templates/compliance/cra_scope_screening.html.j2
  sbomify/apps/compliance/tests/test_oscal_service.py
  sbomify/apps/compliance/tests/test_views.py
  sbomify/apps/compliance/tests/test_wizard_service.py
  sbomify/apps/compliance/views/cra_wizard.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: improve Dependency Track health check and scan capacity tracking
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_dt_scan_count.py
  sbomify/apps/vulnerability_scanning/admin.py
  sbomify/apps/vulnerability_scanning/clients.py
  sbomify/apps/vulnerability_scanning/models.py
  sbomify/apps/vulnerability_scanning/services/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_clients.py
  sbomify/apps/vulnerability_scanning/tests/test_models.py
  sbomify/apps/vulnerability_scanning/tests/test_services.py
Due: ruff-format, ruff

fix: address Copilot review feedback on PR #863
  sbomify/apps/vulnerability_scanning/admin.py
  sbomify/apps/vulnerability_scanning/clients.py
  sbomify/apps/vulnerability_scanning/services/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_clients.py
  sbomify/apps/vulnerability_scanning/tests/test_services.py
Due: ruff-format, ruff

fix: address Copilot review feedback
  sbomify/apps/plugins/tests/test_plugin_config.py
  sbomify/apps/vulnerability_scanning/clients.py
  sbomify/apps/vulnerability_scanning/services/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_services.py
Due: ruff-format, ruff

fix: address Copilot review round 2
  sbomify/apps/compliance/js/cra-step-1.ts
  sbomify/apps/compliance/tests/test_wizard_service.py
  sbomify/apps/compliance/views/cra_wizard.py
Due: bun-lint, ruff-format, ruff

fix: address second round of Copilot review feedback
  sbomify/apps/vulnerability_scanning/admin.py
  sbomify/apps/vulnerability_scanning/clients.py
  sbomify/apps/vulnerability_scanning/services/__init__.py
Due: ruff-format, ruff

fix: use local date parsing for support period comparison
  sbomify/apps/compliance/js/cra-step-1.ts
Due: bun-lint

fix: update remaining stale SBOM strings in test data and comments
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/test_component_views.py
  sbomify/apps/core/tests/test_global_components_api.py
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/vulnerability_scanning/tests/test_models.py
Due: ruff-format, ruff

fix: address Copilot review round 3
  sbomify/apps/compliance/js/cra-step-1.ts
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/templates/compliance/cra_scope_screening.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_1.html.j2
  sbomify/apps/compliance/tests/test_wizard_service.py
  sbomify/apps/compliance/views/cra_wizard.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix: address third round of Copilot review feedback
  sbomify/apps/plugins/tests/test_models.py
  sbomify/apps/vulnerability_scanning/clients.py
  sbomify/apps/vulnerability_scanning/models.py
  sbomify/apps/vulnerability_scanning/services/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_clients.py
  sbomify/apps/vulnerability_scanning/tests/test_services.py
Due: ruff-format, ruff

fix: address self-review findings
  sbomify/apps/vulnerability_scanning/models.py
  sbomify/apps/vulnerability_scanning/tests/test_clients.py
  sbomify/apps/vulnerability_scanning/tests/test_services.py
Due: ruff-format, ruff

fix: address review findings — UX flow, dedup, code quality
  sbomify/apps/compliance/js/cra-step-3.ts
  sbomify/apps/compliance/services/oscal_service.py
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/views/cra_wizard.py
Due: bun-lint, ruff-format, ruff

fix: address fourth round of Copilot review feedback
  sbomify/apps/vulnerability_scanning/clients.py
  sbomify/apps/vulnerability_scanning/tests/test_services.py
Due: ruff-format, ruff

fix: simplify health check to use /api/v1/version only
  sbomify/apps/vulnerability_scanning/clients.py
  sbomify/apps/vulnerability_scanning/services/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_clients.py
  sbomify/apps/vulnerability_scanning/tests/test_services.py
Due: ruff-format, ruff

fix: address Copilot review round 4
  sbomify/apps/compliance/js/cra-step-3.ts
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/views/cra_wizard.py
Due: bun-lint, ruff-format, ruff

fix: remove unused current_scan_count field and address Copilot feedback
  sbomify/apps/vulnerability_scanning/migrations/0005_remove_current_scan_count.py
  sbomify/apps/vulnerability_scanning/models.py
  sbomify/apps/vulnerability_scanning/services/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_models.py
Due: ruff-format, ruff

fix: rename stale SBOM test names, variables, and docstrings to BOM
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/test_component_views.py
  sbomify/apps/onboarding/models.py
  sbomify/apps/plugins/tests/test_models.py
  sbomify/apps/plugins/tests/test_public_assessment_utils.py
  sbomify/apps/sboms/tests/test_apis.py
Due: ruff-format, ruff

fix: address Copilot review round 5
  sbomify/apps/compliance/js/cra-step-3.ts
  sbomify/apps/compliance/migrations/0005_backfill_oscal_control_annex_part.py
Due: bun-lint, ruff-format, ruff

fix(sboms): prevent Redis failures from failing SBOM uploads
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/signals.py
Due: ruff-format, ruff

fix: propagate specific error from health check instead of generic message
  sbomify/apps/vulnerability_scanning/clients.py
  sbomify/apps/vulnerability_scanning/tests/test_clients.py
Due: ruff-format, ruff

fix: address Copilot review round 6
  sbomify/apps/compliance/js/cra-step-3.ts
  sbomify/apps/compliance/services/wizard_service.py
Due: bun-lint, ruff-format, ruff

fix: improve health check error reporting
  sbomify/apps/vulnerability_scanning/clients.py
  sbomify/apps/vulnerability_scanning/services/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_clients.py
Due: ruff-format, ruff

fix: broaden asyncio shielded future error suppression for WebSocket disconnects
  sbomify/settings.py
Due: ruff-format, ruff

fix: narrow shielded future filter to only CancelledError and ConnectionClosedError
  sbomify/settings.py
Due: ruff-format, ruff
