Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

refactor: bind the names mypy's possibly-undefined check flags
  sbomify/apps/access_tokens/utils.py
  sbomify/apps/billing/views.py
  sbomify/apps/compliance/services/oscal_service.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_resource_limits_default.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

build(mypy): enable the possibly-undefined error code
  pyproject.toml
Due: none

test(billing): keep the schedule when Stripe ends a subscription at once
  sbomify/apps/billing/tests/test_stripe_sync.py
Due: ruff-format, ruff

test(billing): have the change-plan Stripe fake report no subscription
  sbomify/apps/billing/tests/test_api.py
Due: ruff-format, ruff

fix(sboms): count integer digits in the SPDX 3 message text limit
  sbomify/apps/sboms/spdx3_validation.py
  sbomify/apps/sboms/tests/test_spdx3_validator_budget.py
Due: ruff-format, ruff

fix(vulns): drift's stale detail names a statement's CPEs
  sbomify/apps/vulnerability_scanning/drift.py
  sbomify/apps/vulnerability_scanning/tests/test_vex_drift.py
Due: ruff-format, ruff

docs(vulns): derive_vex_suppressions documents the cpes field
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

test(billing): make the cancel-at-once test pass with #1655 merged
  sbomify/apps/billing/tests/test_stripe_sync.py
Due: ruff-format, ruff

fix(vex): key the release VEX cache on the rows its build reads
  sbomify/apps/core/apis.py
  sbomify/apps/vulnerability_scanning/tests/test_release_vex.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

test(billing): keep a pending cancel on unpaid and paused subscriptions
  sbomify/apps/billing/tests/test_stripe_sync.py
Due: ruff-format, ruff

test(vex): run the triage-only cache test for gated components
  sbomify/apps/vulnerability_scanning/tests/test_release_vex.py
Due: ruff-format, ruff

test(billing): pin past_due as not ended on the plans page
  sbomify/apps/billing/tests/test_views.py
Due: ruff-format, ruff

test(overview): regenerate the dashboard baselines for the unmeasured cards
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[992].jpg
Due: none

Make product tabs responsive without flashing loading skeletons
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/js/components/inventory-tabs.spec.ts
  sbomify/apps/core/js/components/inventory-tabs.ts
  sbomify/apps/core/templates/core/cotton_probes/navigation.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/products_inventory.html.j2
  sbomify/apps/core/templates/core/products_inventory_panel.html.j2
  sbomify/apps/core/tests/e2e/test_inventory.py
  sbomify/apps/core/tests/test_cotton_navigation.py
  sbomify/apps/core/tests/test_inventory_fragments.py
  sbomify/apps/core/views/products_dashboard.py
  sbomify/templates/components/navigation/tab.html
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Add create action to security advisories header
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisories_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisories_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisories_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisories_list_snapshot[992].jpg
Due: djlint-check, djlint-lint

test(billing): send the downgrade tests through the CSRF check
  sbomify/apps/billing/tests/test_downgrade_stripe_errors.py
Due: ruff-format, ruff

fix(billing): apply the Community rules only while the plan is still Community
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/test_billing_review_fixes.py
  sbomify/apps/billing/views.py
  sbomify/apps/plugins/tests/test_paid_plugins_after_downgrade.py
  sbomify/apps/plugins/utils.py
Due: ruff-format, ruff

fix(billing): catch a resent deletion after a newer update
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/test_webhook_event_ordering.py
Due: ruff-format, ruff

fix(tea): stop the workspace-scoped docs and schema 500ing
  sbomify/apps/tea/tests/test_openapi_surface.py
  sbomify/apps/tea/urls.py
Due: ruff-format, ruff

test(core): pin that the transfer moves the component in the transaction that took the lock
  sbomify/apps/core/tests/test_component_transfer_plan.py
Due: ruff-format, ruff

fix(teams): check a saved custom domain without waiting for the scheduler
  sbomify/apps/core/tests/test_custom_domain_challenge.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tasks/__init__.py
  sbomify/apps/teams/tests/test_domain_management.py
Due: ruff-format, ruff

test(documents): cover the signed-out redirect from the request access page
  sbomify/apps/documents/tests/test_access_request_identity.py
Due: ruff-format, ruff

fix(sboms): keep a stored SBOM file while another row still uses it
  sbomify/apps/core/apis.py
  sbomify/apps/core/object_store.py
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/management/commands/create_test_sbom_environment.py
  sbomify/apps/sboms/services/sboms.py
  sbomify/apps/sboms/tests/test_shared_sbom_files.py
  sbomify/apps/vulnerability_scanning/triage.py
Due: ruff-format, ruff

test(releases): cover signed-in non-managers and document rows in the artifact listing
  sbomify/apps/core/tests/test_release_artifacts_listing_visibility.py
Due: ruff-format, ruff

fix(teams): branding changes only delete the workspace's own uploads
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_branding_field_keys.py
  sbomify/apps/teams/tests/test_teams.py
Due: ruff-format, ruff

test(export): check that admin and member workspaces contribute artifacts
  sbomify/apps/core/tests/test_user_export_guest_scope.py
Due: ruff-format, ruff

fix(licensing): answer an empty licence expression with status 400
  sbomify/apps/licensing/loader.py
  sbomify/apps/licensing/tests/test_api.py
Due: ruff-format, ruff

fix(documents): check API token scopes on the access-request routes
  sbomify/apps/core/authz.py
  sbomify/apps/core/tests/test_authz.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/tests/test_access_request_token_scope.py
Due: ruff-format, ruff

docs(licensing): drop custom licence management from the API tag text
  sbomify/apis.py
  sbomify/apps/licensing/tests/test_custom_license_authorization.py
Due: ruff-format, ruff

test(sboms): describe the validation bounds without timings
  sbomify/apps/sboms/spdx3_validation.py
  sbomify/apps/sboms/tests/test_data/README.md
  sbomify/apps/sboms/tests/test_spdx3_validator_budget.py
Due: markdownlint, ruff-format, ruff

fix(documents): keep the previous decision when access is requested again
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/access_models.py
  sbomify/apps/documents/migrations/0017_accessrequestdecision.py
  sbomify/apps/documents/models.py
  sbomify/apps/documents/tests/test_access_request_decision_history.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff

fix(plugins): exempt Yocto source downloads from the SPDX 2 identifier check
  sbomify/apps/plugins/builtins/_spdx_shared.py
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa_2025.py
  sbomify/apps/plugins/builtins/cisa_2026.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/tests/test_spdx2_yocto_source_download.py
Due: ruff-format, ruff

fix(teams): only an owner can grant the owner role
  AGENTS.md
  sbomify/apps/core/authz.py
  sbomify/apps/core/tests/test_authz.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/migrations/0046_invitation_invited_by.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/templates/teams/accept_invite.html.j2
  sbomify/apps/teams/tests/test_owner_invitation_authority.py
  sbomify/apps/teams/tests/test_team_settings_tabs.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/views/__init__.py
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

refactor(teams): remove the owner-invitation notice
  sbomify/apps/core/tests/test_email_sender.py
  sbomify/apps/teams/services/member_notifications.py
  sbomify/apps/teams/templates/teams/emails/owner_invitation_notice.html.j2
  sbomify/apps/teams/templates/teams/emails/owner_invitation_notice.txt
  sbomify/apps/teams/tests/test_member_notifications.py
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(releases): route the OIDC bot product check through is_authorised_for_product
  sbomify/apps/core/apis.py
  sbomify/apps/oidc/permissions.py
  sbomify/apps/oidc/tests/test_permissions.py
Due: ruff-format, ruff

test(sboms): pin that the plural externalIdentifiers spelling is refused
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/sboms/tests/test_spdx3_upload_validation.py
Due: ruff-format, ruff

fix(compliance): link Annex I Part II controls to the Part II section
  sbomify/apps/compliance/services/oscal_service.py
  sbomify/apps/compliance/tests/test_oscal_service.py
Due: ruff-format, ruff

feat(plugins): offer a run for unassessed plugins and flag out-of-date results
  sbomify/apps/core/views/component_item.py
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/sdk/base.py
  sbomify/apps/plugins/sdk/results.py
  sbomify/apps/plugins/services/coverage.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/_rerun_button.html.j2
  sbomify/apps/plugins/templates/plugins/components/_unassessed_plugin_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
  sbomify/apps/plugins/tests/test_assessment_coverage.py
  sbomify/apps/plugins/tests/test_orchestrator.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(keycloak): build the realm admin client from settings
  sbomify/apps/core/keycloak_utils.py
  sbomify/apps/core/tests/test_keycloak_utils.py
Due: ruff-format, ruff

fix(plugins): run only plugins the plan includes
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/tests/test_assessment_coverage.py
Due: ruff-format, ruff
