Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix(sboms): an unhashable spdxId must not crash primary-package extraction
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/tests/test_spdx3_document_subject.py
Due: ruff-format, ruff

test(core): the skipped fixture matches what the plugins actually store
  sbomify/apps/core/tests/test_artifact_scan_card.py
Due: ruff-format, ruff

fix(sboms): match the Sbom element type by name, not by substring
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/tests/test_spdx3_document_subject.py
Due: ruff-format, ruff

perf(core): exclude skipped runs in the database, not after loading them
  sbomify/apps/core/tests/test_artifact_scan_card.py
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff

feat(deploy): Helm chart for running sbomify on Kubernetes
  .dockerignore
  .github/workflows/ci-cd.yml
  .github/workflows/helm.yml
  README.md
  bin/kind-up.sh
  bin/release.py
  charts/sbomify/.helmignore
  charts/sbomify/Chart.yaml
  charts/sbomify/README.md
  charts/sbomify/templates/NOTES.txt
  charts/sbomify/templates/_helpers.tpl
  charts/sbomify/templates/_validation.tpl
  charts/sbomify/templates/caddy-configmap.yaml
  charts/sbomify/templates/caddy-deployment.yaml
  charts/sbomify/templates/caddy-service.yaml
  charts/sbomify/templates/configmap.yaml
  charts/sbomify/templates/deployment-scheduler.yaml
  charts/sbomify/templates/deployment-web.yaml
  charts/sbomify/templates/deployment-worker.yaml
  charts/sbomify/templates/hpa.yaml
  charts/sbomify/templates/job-migrations-hookenv.yaml
  charts/sbomify/templates/job-migrations.yaml
  charts/sbomify/templates/networkpolicy.yaml
  charts/sbomify/templates/poddisruptionbudget.yaml
  charts/sbomify/templates/secret.yaml
  charts/sbomify/templates/service.yaml
  charts/sbomify/templates/serviceaccount.yaml
  charts/sbomify/templates/tests/test-edge.yaml
  charts/sbomify/templates/tests/test-health.yaml
  charts/sbomify/values-local.yaml
  charts/sbomify/values.yaml
  deploy/local/coredns-rewrite.sh
  deploy/local/dependencies.yaml
  deploy/local/kind-cluster.yaml
  sbomify/apps/core/tests/test_release_script.py
Due: markdownlint, ruff-format, ruff

fix(tests): patch StorageClient, not the renamed S3Client
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/tests/test_spdx_document_subject.py
  sbomify/apps/sboms/tests/test_spdx_upload_failure_is_logged.py
Due: ruff-format, ruff

fix(helm): the health test reads caddy.healthPath instead of repeating it
  charts/sbomify/templates/tests/test-health.yaml
Due: none

fix(vulns): a suppressed finding is not a vulnerability count
  sbomify/apps/core/services/product_page.py
  sbomify/apps/core/tests/test_embedded_vex_on_artifact_card.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/sboms/services/sboms_table.py
  sbomify/apps/vulnerability_scanning/utils.py
Due: ruff-format, ruff

fix(ci): validate the Caddyfile with the image the chart deploys
  .github/workflows/helm.yml
Due: none

fix(tests): patch boto3.resource in the compliance S3 fixture
  sbomify/apps/compliance/tests/conftest.py
Due: ruff-format, ruff

fix(plugins): an external-reference type written as an IRI is the same type
  sbomify/apps/plugins/builtins/_spdx_shared.py
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/tests/test_spdx2_identifier_iri.py
Due: ruff-format, ruff

fix(ci): read the caddy image inline, not through a dedented heredoc
  .github/workflows/helm.yml
Due: none

test(plugins): match the finding by its id, and drop guards the helper makes dead
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/tests/test_spdx2_identifier_iri.py
Due: ruff-format, ruff

test(vulns): cover the other two surfaces the fix changed
  sbomify/apps/core/tests/test_embedded_vex_on_artifact_card.py
Due: ruff-format, ruff

perf(vulns): count the rows in one pass
  sbomify/apps/vulnerability_scanning/utils.py
Due: ruff-format, ruff

fix(sboms): the vulnerabilities page says which advisories the scan cleared
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/tests/test_vulnerabilities_view_vex.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(sboms): the folded state agrees with the folded flag
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/tests/test_vulnerabilities_view_vex.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: select the DT prune in batches and keep the unexpected traceback
  sbomify/apps/plugins/retention.py
  sbomify/apps/plugins/tests/test_retention.py
Due: ruff-format, ruff

test: pin the uploaded-VEX half of the page's precedence
  sbomify/apps/sboms/tests/test_vulnerabilities_view_vex.py
Due: ruff-format, ruff

fix: a live fold clears the flag, not every state
  sbomify/apps/sboms/tests/test_vulnerabilities_view_vex.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
Due: ruff-format, ruff

perf: index the page's VEX statements once, not once per finding
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/drift.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

test: read the VEX through the loader's own seam, not S3Client
  sbomify/apps/sboms/tests/test_vulnerabilities_view_vex.py
Due: ruff-format, ruff

perf: read the component's VEX only when a finding needs it
  sbomify/apps/sboms/tests/test_vulnerabilities_view_vex.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
Due: ruff-format, ruff

refactor: the row summary's suppressed count is the same badge as the row
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
Due: djlint-check, djlint-lint

perf: one Dependency-Track client per server, not per row
  sbomify/apps/plugins/retention.py
  sbomify/apps/plugins/tests/test_retention.py
Due: ruff-format, ruff

fix(plugins): a malformed tools entry scores, it does not fail the run
  sbomify/apps/plugins/builtins/cisa_2025.py
  sbomify/apps/plugins/tests/test_cisa_2025_plugin.py
Due: ruff-format, ruff

fix(mcp): follow master's storage rename and correct the authz docstring
  sbomify/apps/mcp/tests/test_write_tools.py
  sbomify/apps/mcp/tools/_base.py
Due: ruff-format, ruff

refactor(mcp): the tool surface says artifact, like v2 does
  docs/ADR/0008-mcp-server.md
  docs/mcp.md
  sbomify/apps/mcp/limits.py
  sbomify/apps/mcp/serializers.py
  sbomify/apps/mcp/server.py
  sbomify/apps/mcp/tests/test_artifact_parsing.py
  sbomify/apps/mcp/tests/test_registry.py
  sbomify/apps/mcp/tests/test_security.py
  sbomify/apps/mcp/tools/artifacts.py
Due: markdownlint, ruff-format, ruff

feat(mcp): reach every artifact kind, BOMs and documents alike
  docs/ADR/0008-mcp-server.md
  docs/mcp.md
  sbomify/apps/mcp/tests/test_artifact_surface.py
  sbomify/apps/mcp/tests/test_registry.py
  sbomify/apps/mcp/tests/test_security.py
  sbomify/apps/mcp/tools/artifacts.py
Due: markdownlint, ruff-format, ruff

feat(mcp): read the workspace's advisories, and draft one
  sbomify/apps/mcp/serializers.py
  sbomify/apps/mcp/server.py
  sbomify/apps/mcp/tests/test_advisories.py
  sbomify/apps/mcp/tests/test_registry.py
  sbomify/apps/mcp/tests/test_security.py
  sbomify/apps/mcp/tools/advisories.py
Due: ruff-format, ruff

test(mcp): hold the artifact tools to every kind, not the one in the fixture
  sbomify/apps/mcp/tests/test_artifact_surface.py
Due: ruff-format, ruff

feat(mcp): upload any BOM kind, not only the two with their own tool
  docs/ADR/0008-mcp-server.md
  sbomify/apps/mcp/registry.py
  sbomify/apps/mcp/server.py
  sbomify/apps/mcp/tests/test_auth.py
  sbomify/apps/mcp/tests/test_protocol.py
  sbomify/apps/mcp/tests/test_registry.py
  sbomify/apps/mcp/tests/test_security.py
  sbomify/apps/mcp/tests/test_write_tools.py
  sbomify/apps/mcp/tools/artifacts.py
  sbomify/apps/mcp/tools/publish.py
Due: markdownlint, ruff-format, ruff

fix(mcp): run the role check on the three tools that skipped it
  sbomify/apps/mcp/tests/test_security.py
  sbomify/apps/mcp/tools/_base.py
  sbomify/apps/mcp/tools/advisories.py
  sbomify/apps/mcp/tools/risk.py
Due: ruff-format, ruff

fix(mcp): read nested components, paginate profiles, report sizes honestly
  sbomify/apps/mcp/limits.py
  sbomify/apps/mcp/tests/test_artifact_parsing.py
  sbomify/apps/mcp/tests/test_risk_semantics.py
  sbomify/apps/mcp/tests/test_security.py
  sbomify/apps/mcp/tests/test_write_tools.py
  sbomify/apps/mcp/tools/artifacts.py
  sbomify/apps/mcp/tools/profiles.py
  sbomify/apps/mcp/tools/publish.py
  sbomify/apps/mcp/tools/risk.py
Due: ruff-format, ruff

fix(mcp): page advisories in the database, and name what a tool may not require
  sbomify/apps/core/apis.py
  sbomify/apps/mcp/registry.py
  sbomify/apps/mcp/tests/test_advisories.py
  sbomify/apps/mcp/tests/test_security.py
  sbomify/apps/mcp/tools/advisories.py
  sbomify/apps/security_advisories/services/advisories.py
Due: ruff-format, ruff

docs(mcp): say what an unfiltered vulnerability page costs
  sbomify/apps/mcp/tools/risk.py
Due: ruff-format, ruff

feat(mcp): publish the behaviour hints a client reads before asking
  sbomify/apps/mcp/tests/test_registry.py
  sbomify/apps/mcp/tools/_base.py
  sbomify/apps/mcp/tools/advisories.py
  sbomify/apps/mcp/tools/profiles.py
  sbomify/apps/mcp/tools/publish.py
Due: ruff-format, ruff

feat(mcp): search the lists, and let the agent ask for less
  sbomify/apps/mcp/tests/test_artifact_surface.py
  sbomify/apps/mcp/tools/_base.py
  sbomify/apps/mcp/tools/artifacts.py
  sbomify/apps/mcp/tools/catalog.py
  sbomify/apps/mcp/tools/risk.py
Due: ruff-format, ruff

feat(vulns): give a finding a row of its own
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/vulnerability_scanning/findings.py
  sbomify/apps/vulnerability_scanning/management/commands/backfill_findings.py
  sbomify/apps/vulnerability_scanning/migrations/0011_findings_table.py
  sbomify/apps/vulnerability_scanning/models.py
  sbomify/apps/vulnerability_scanning/tests/test_findings_table.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff
