Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

test(core): stop the purge test depending on row order
  sbomify/apps/core/tests/test_cron.py
Due: ruff-format, ruff

fix(advisories): guard the writes, and stop an edit changing a severity nobody chose
  sbomify/apps/core/templates/core/security_advisory_detail.html.j2
  sbomify/apps/core/views/security_advisories.py
  sbomify/apps/security_advisories/services/advisories.py
  sbomify/apps/security_advisories/tests/test_advisory_service.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(teams): drop an unused fixture from the bot-membership test
  sbomify/apps/teams/tests/test_teams.py
Due: ruff-format, ruff

test(e2e): regenerate snapshot baselines against a fresh tailwind build
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[992].jpg
Due: none

fix(posture): a namespace that is named must agree, like the ecosystem
  sbomify/apps/vulnerability_scanning/posture.py
  sbomify/apps/vulnerability_scanning/tests/test_posture.py
Due: ruff-format, ruff

feat(advisories): publish an advisory, which is what puts it on the Trust Center
  sbomify/apps/core/templates/core/security_advisory_detail.html.j2
  sbomify/apps/core/views/security_advisories.py
  sbomify/apps/security_advisories/services/advisories.py
  sbomify/apps/security_advisories/tests/test_advisory_service.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(hbom): Phase 0 — hardware BOMs stop being graded and scanned as software
  sbomify/apps/plugins/builtins/_component_scope.py
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/sdk/results.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_component_scope.py
  sbomify/apps/plugins/tests/test_models.py
  sbomify/apps/plugins/tests/test_orchestrator.py
  sbomify/apps/plugins/tests/test_sdk.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/freshness.py
  sbomify/apps/sboms/migrations/0068_sbom_has_hardware_components.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/apps/sboms/tests/test_data/README.md
  sbomify/apps/sboms/tests/test_data/hbom_pcie_sata_adapter.cdx.json
  sbomify/apps/sboms/tests/test_hbom_detection.py
  sbomify/apps/sboms/tests/test_vulnerability_column_branches.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/tests/test_apis.py
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

feat(design-system): dev-only /design-system component gallery
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/test_design_system_view.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/design_system.py
  sbomify/apps/core/views/tailwind_test.py
Due: ruff-format, ruff, djlint-check, djlint-lint

style(toast): redesign toasts — accent chip instead of left border
  sbomify/assets/css/tailwind.src.css
Due: none

chore(design-system): drop the Tooltips & Notifications section
  sbomify/apps/core/templates/core/design_system.html.j2
Due: djlint-check, djlint-lint

style(cards): remove dashboard card hover animations
  sbomify/assets/css/tailwind.src.css
Due: none

style(buttons): derive every tw-btn variant from the new primary recipe
  sbomify/assets/css/tailwind.src.css
Due: none

style(buttons): speed up the gradient CTA hover animation to 1s
  sbomify/assets/css/tailwind.src.css
Due: none

style(stats): tighten space under the stat card icon chip
  sbomify/assets/css/tailwind.src.css
Due: none

style(stats): close the gap under the stat card icon chip
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/assets/css/tailwind.src.css
Due: djlint-check, djlint-lint

fix(toggle) + style(progress): repair the toggle and redesign progress bars
  sbomify/apps/core/templates/components/tw/progress.html.j2
  sbomify/apps/core/templates/components/tw/toggle.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/assets/css/tailwind.src.css
Due: djlint-check, djlint-lint

docs(design-system): ship the consumption contract for agents and tools
  .claude/skills/design-system/SKILL.md
  AGENTS.md
  docs/design-system.md
Due: markdownlint

docs(design-system): add the creation path — when and how new components join the library
  .claude/skills/design-system/SKILL.md
  docs/design-system.md
Due: markdownlint

style(stats): redesign stat cards as instrument readouts
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/assets/css/tailwind.src.css
Due: djlint-check, djlint-lint

refactor(cards): remove the settings card component entirely
  sbomify/apps/billing/templates/billing/select_plan.html.j2
  sbomify/apps/controls/templates/controls/controls_table.html.j2
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
  sbomify/apps/core/js/components/standard-card.spec.ts
  sbomify/apps/core/templates/components/tw/card.html.j2
  sbomify/apps/core/templates/core/components/standard_card.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/apps/teams/templates/teams/dashboard.html.j2
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/account.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/billing.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/branding.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/general.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/members.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/plugins.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/tokens.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
  sbomify/assets/css/tailwind.src.css
  sbomify/static/css/components/standard-card.css
Due: bun-lint, djlint-check, djlint-lint

test(e2e): regenerate visual baselines for the design-system restyle
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_artifacts_page_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_cbom_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_vex_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_crypto_snapshot[1920].jpg
Due: none

feat(hbom): Phase 1 — an HBOM behaves like a first-class artifact
  sbomify/apps/core/analytics/events.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/release-artifacts.spec.ts
  sbomify/apps/core/js/components/release-artifacts.ts
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/tests/e2e/test_components.py
  sbomify/apps/core/tests/test_analytics_events_registry.py
  sbomify/apps/core/tests/test_hbom_release_and_detail.py
  sbomify/apps/core/tests/test_release_apis.py
  sbomify/apps/core/tests/test_release_hbom_download_ui.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/sboms/hbom.py
  sbomify/apps/sboms/management/commands/backfill_hbom_retag.py
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/apps/sboms/tests/test_backfill_hbom_retag.py
  sbomify/apps/sboms/tests/test_hbom_lifecycle.py
  sbomify/apps/sboms/tests/test_release_hbom.py
  sbomify/apps/tea/tests/test_apis.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

refactor(design-system): make the library the single source of app UI
  docs/design-system.md
  sbomify/apps/compliance/templates/compliance/components/_assessment_stale_banner.html.j2
  sbomify/apps/compliance/templates/compliance/components/cra_product_card.html.j2
  sbomify/apps/compliance/templates/compliance/components/document_card.html.j2
  sbomify/apps/compliance/templates/compliance/cra_product_list.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_3.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_5.html.j2
  sbomify/apps/core/templates/components/tw/avatar.html.j2
  sbomify/apps/core/templates/components/tw/badge.html.j2
  sbomify/apps/core/templates/components/tw/empty_state.html.j2
  sbomify/apps/core/templates/components/tw/pagination.html.j2
  sbomify/apps/core/templates/components/tw/progress.html.j2
  sbomify/apps/core/templates/components/tw/radio.html.j2
  sbomify/apps/core/templates/components/tw/skeleton.html.j2
  sbomify/apps/core/templates/components/tw/tag.html.j2
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templatetags/design_system.py
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/test_design_system_tags.py
  sbomify/apps/core/views/design_system.py
  sbomify/apps/oidc/templates/oidc/_trusted_publishers_section.html.j2
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/assets/css/tailwind.src.css
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

feat(hbom): Phase 2 — derived hardware inventory, structure assessment, posture page
  sbomify/apps/core/services/component_security.py
  sbomify/apps/core/templates/core/component_details_private_sbom.html.j2
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/component_item_public.html.j2
  sbomify/apps/core/templates/core/components/component_hbom_issues.html.j2
  sbomify/apps/core/tests/test_component_views.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/hbom_structure.py
  sbomify/apps/plugins/tests/test_builtin_reconciliation.py
  sbomify/apps/plugins/tests/test_hbom_structure_plugin.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/hardware_inventory.py
  sbomify/apps/sboms/templates/sboms/component_hardware.html.j2
  sbomify/apps/sboms/templates/sboms/components/hardware_inventory_card.html.j2
  sbomify/apps/sboms/tests/test_component_hardware_view.py
  sbomify/apps/sboms/tests/test_hardware_inventory.py
  sbomify/apps/sboms/tests/test_hardware_inventory_views.py
  sbomify/apps/sboms/urls.py
  sbomify/apps/sboms/views/component_hardware.py
  sbomify/apps/sboms/views/sbom_hardware_inventory.py
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(search): delete the two superseded result builders
  sbomify/apps/core/views/search.py
Due: ruff-format, ruff

fix(core): a dead socket must not raise into the ASGI server
  sbomify/apps/core/consumers.py
  sbomify/apps/core/tests/test_consumers.py
Due: ruff-format, ruff

chore(compliance): merge the two 0015 migration leaves
  sbomify/apps/compliance/migrations/0016_merge_20260805_0551.py
Due: ruff-format, ruff

feat(design-system): add the primitives the app was hand-rolling
  docs/design-system.md
  sbomify/apps/core/templates/components/tw/loading_state.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templatetags/design_system.py
  sbomify/apps/core/views/design_system.py
  sbomify/assets/css/tailwind.src.css
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

fix(hbom): point the CPE link at a search that returns something
  sbomify/apps/sboms/hardware_inventory.py
  sbomify/apps/sboms/tests/test_hardware_inventory.py
Due: ruff-format, ruff

fix(hbom): read manufacturer as a supplier, warn on nothing to grade, lift the root device
  sbomify/apps/core/services/component_security.py
  sbomify/apps/core/tests/test_component_views.py
  sbomify/apps/plugins/builtins/_component_scope.py
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/tests/test_component_scope.py
  sbomify/apps/sboms/hardware_inventory.py
  sbomify/apps/sboms/tests/test_component_hardware_view.py
  sbomify/apps/sboms/tests/test_hardware_inventory.py
  sbomify/apps/sboms/tests/test_hardware_inventory_views.py
Due: ruff-format, ruff

fix(hbom): match component type case-insensitively, like the plugins already do
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/migrations/0069_alter_sbom_has_hardware_components.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/test_hbom_detection.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

style(templates): apply djlint formatting
  sbomify/apps/compliance/templates/compliance/cra_step_3.html.j2
  sbomify/apps/core/templates/components/tw/pagination.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
Due: djlint-check, djlint-lint

fix(design-system): silence bandit on the tag layer's mark_safe calls
  sbomify/apps/core/templatetags/design_system.py
Due: ruff-format, ruff

Merge Phase 2, rename the HBOM type set, and correct the stamp's help text
  sbomify/apps/sboms/hardware_inventory.py
  sbomify/apps/sboms/hbom.py
  sbomify/apps/sboms/migrations/0070_alter_sbom_has_hardware_components.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

fix(settings): let a settings section handle the forms it renders
  sbomify/apps/teams/tests/test_settings_tab_post.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

fix(cache): a Redis outage should cost latency, not the page
  sbomify/apps/access_tokens/throttling.py
  sbomify/apps/core/tests/test_cache_outage.py
  sbomify/settings.py
  sbomify/test_settings.py
Due: ruff-format, ruff

fix(vulns): a scanner's own failure is not a vulnerability
  sbomify/apps/plugins/lifecycle.py
  sbomify/apps/vulnerability_scanning/posture.py
  sbomify/apps/vulnerability_scanning/tests/test_operational_findings.py
  sbomify/apps/vulnerability_scanning/utils.py
Due: ruff-format, ruff

feat(settings): one way in to Plugins, not two
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/teams/settings_tabs.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/plugins.html.j2
  sbomify/apps/teams/utils.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(vulns): prove lifecycle reads this predicate, do not read its source
  sbomify/apps/vulnerability_scanning/tests/test_operational_findings.py
Due: ruff-format, ruff
