Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

Enhance URL normalization and expand email notification templates
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/core/url_utils.py
Due: ruff-format, ruff

Remove unnecessary blank line in access request notification email template
  sbomify/apps/documents/templates/documents/emails/access_request_notification.txt
Due: none

Update team invitation and Trust Center access email templates for clarity
  sbomify/apps/teams/templates/teams/emails/team_invite_email.txt
  sbomify/apps/teams/templates/teams/emails/trust_center_invite_email.html.j2
Due: djlint-check, djlint-lint

Enhance team invitation emails with role specification and add Stripe configuration to docker-compose
  sbomify/apps/teams/templates/teams/emails/team_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/team_invite_email.txt
Due: djlint-check, djlint-lint

Enhance HTMX and Alpine.js integration for improved UI responsiveness
  sbomify/apps/core/js/htmx-lifecycle.ts
  sbomify/apps/core/js/notifications-modal.ts
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/components/messages.htmx.j2
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/assets/css/tailwind.src.css
Due: bun-lint, djlint-check, djlint-lint

Enhance notifications and body reveal logic for improved user experience
  sbomify/apps/core/js/notifications-modal.ts
  sbomify/apps/core/templates/core/base.html.j2
Due: bun-lint, djlint-check, djlint-lint

Add media query for reduced motion in Tailwind CSS
  sbomify/assets/css/tailwind.src.css
Due: none

Refactor HTMX lifecycle handling for Alpine.js initialization
  sbomify/apps/core/js/htmx-lifecycle.ts
Due: bun-lint

Refactor onboarding wizard and update templates for improved user experience
  sbomify/apps/core/templates/core/auth_base.html.j2
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/teams/js/onboarding-wizard.spec.ts
  sbomify/apps/teams/js/onboarding-wizard.ts
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/onboarding_wizard.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Enhance onboarding wizard with goal tracking feature
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/migrations/0028_team_onboarding_goal.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Update onboarding wizard templates and forms for improved user experience
  sbomify/apps/core/templates/core/auth_base.html.j2
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Update email templates to streamline footer links
  keycloak/themes/sbomify/email/html/template.ftl
  sbomify/apps/core/templates/core/emails/base.html.j2
Due: djlint-check, djlint-lint

Refactor notifications handling and improve theme validation
  sbomify/apps/core/js/htmx-lifecycle.ts
  sbomify/apps/core/js/notifications-modal.ts
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/components/messages.htmx.j2
  sbomify/assets/css/tailwind.src.css
Due: bun-lint, djlint-check, djlint-lint

Refactor HTMX and Alpine.js integration for improved UI responsiveness
  sbomify/apps/core/js/htmx-lifecycle.ts
  sbomify/apps/core/js/notifications-modal.ts
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/components/messages.htmx.j2
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/assets/css/tailwind.src.css
Due: bun-lint, djlint-check, djlint-lint

Enhance component descriptions and accessibility in dashboard templates
  sbomify/apps/core/templates/core/components_dashboard.html.j2
  sbomify/apps/core/templates/core/products_dashboard.html.j2
  sbomify/apps/core/templates/core/projects_dashboard.html.j2
Due: djlint-check, djlint-lint

Refactor date formatting functions and enhance utility imports across components
  sbomify/apps/billing/js/plan-selection.ts
  sbomify/apps/core/js/components/access-tokens-list.ts
  sbomify/apps/core/js/components/date-picker.ts
  sbomify/apps/core/js/components/items-list-table.ts
  sbomify/apps/core/js/components/product-releases.ts
  sbomify/apps/core/js/components/release-artifacts.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/js/notifications-modal.ts
  sbomify/apps/core/js/utils.spec.ts
  sbomify/apps/core/js/utils.ts
  sbomify/apps/core/templates/core/components/editable_single_field.html.j2
  sbomify/apps/core/templates/core/components/footer.html.j2
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/components/item_assignment_manager.html.j2
  sbomify/apps/core/templates/core/components/product_identifiers_card.html.j2
  sbomify/apps/core/templates/core/components/product_links_card.html.j2
  sbomify/apps/core/templates/core/components/product_releases.html.j2
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/templates/core/components/public_product_links.html.j2
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/core/templates/core/components_dashboard.html.j2
  sbomify/apps/core/templates/core/components_table.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/products_dashboard.html.j2
  sbomify/apps/core/templates/core/products_table.html.j2
  sbomify/apps/core/templates/core/projects_dashboard.html.j2
  sbomify/apps/core/templates/core/projects_table.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/templates/core/releases_table.html.j2
  sbomify/apps/teams/js/team-branding.ts
  sbomify/apps/teams/templates/teams/contact_profiles/partials/alpine_components.html.j2
  sbomify/assets/css/tailwind.src.css
Due: bun-lint, djlint-check, djlint-lint

Enhance date formatting functions and improve utility tests
  sbomify/apps/core/js/utils.spec.ts
  sbomify/apps/core/js/utils.ts
  sbomify/apps/core/templates/core/components/sidebar.html.j2
Due: bun-lint, djlint-check, djlint-lint

Refactor sidebar template for improved HTML structure
  sbomify/apps/core/templates/core/components/sidebar.html.j2
Due: djlint-check, djlint-lint

Enhance Tailwind CSS border and background utilities with opacity variants
  sbomify/assets/css/tailwind.src.css
Due: none

Bump version to 0.26.0 and upgrade bandit to 1.9.3
  package.json
  pyproject.toml
  uv.lock
Due: none

Raise bandit minimum version to 1.9.3 for Python 3.14 compatibility
  pyproject.toml
  uv.lock
Due: none

Upgrade python-keycloak from 7.0.1 (yanked) to 7.1.1
  pyproject.toml
  uv.lock
Due: none

Upgrade django-health-check, gunicorn, ipython, and ruff
  pyproject.toml
  uv.lock
Due: none

Upgrade alpinejs from 3.15.5 to 3.15.8
  bun.lock
  package.json
Due: none

Use targeted nosec B105 instead of global skip
  pyproject.toml
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/plugins/templatetags/plugins_extras.py
Due: ruff-format, ruff

Revert django-health-check upgrade (4.0.0 -> 3.24.0)
  pyproject.toml
  uv.lock
Due: none

Refactor admin base template to improve maintainability and streamline design
  sbomify/apps/documents/migrations/0008_remove_accessrequest_documents_access_requests_team_user_unique_and_more.py
  sbomify/apps/onboarding/migrations/0004_alter_onboardingemail_email_type.py
  sbomify/apps/sboms/migrations/0047_rename_sboms_component_visibility_idx_sboms_compo_visibil_03f093_idx_and_more.py
Due: ruff-format, ruff

Refactor CSS styles for improved consistency and maintainability
  sbomify/static/css/component-detailed-private.css
  sbomify/static/css/components/assessment-badge.css
  sbomify/static/css/components/assessment-results-card.css
  sbomify/static/css/components/items-list-table.css
  sbomify/static/css/components/vulnerability-trends.css
  sbomify/static/css/pages.css
  sbomify/static/css/product-releases-private.css
  sbomify/static/css/public-base.css
  sbomify/static/css/public-pages.css
  sbomify/static/css/responsive.css
Due: none

Add HtmxMessagesMiddleware to handle session messages for HTMX requests
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_htmx_messages_middleware.py
  sbomify/apps/teams/templates/teams/dashboard.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Enhance HtmxMessagesMiddleware to handle invalid JSON formats in HX-Trigger
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_htmx_messages_middleware.py
Due: ruff-format, ruff

Enhance HtmxMessagesMiddleware to preserve headers and handle comma-separated HX-Trigger strings
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_htmx_messages_middleware.py
Due: ruff-format, ruff

Refactor CSS styles to enhance consistency and maintainability
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/static/css/base.css
  sbomify/static/css/components.css
  sbomify/static/css/components/assessment-results-card.css
  sbomify/static/css/components/download-card.css
  sbomify/static/css/components/standard-card.css
  sbomify/static/css/components/vulnerability-trends.css
  sbomify/static/css/layout.css
  sbomify/static/css/pages.css
  sbomify/static/css/public-base.css
  sbomify/static/css/public-pages.css
  sbomify/static/css/responsive.css
  sbomify/static/css/tokens.css
  sbomify/static/css/utilities.css
Due: djlint-check, djlint-lint

Update CSS styles to improve color consistency and theming
  sbomify/static/css/components/standard-card.css
  sbomify/static/css/layout.css
  sbomify/static/css/pages.css
  sbomify/static/css/public-pages.css
  sbomify/static/css/tokens.css
Due: none

Update CI/CD workflow and improve logging in billing tasks
  .github/workflows/ci-cd.yml
  sbomify/apps/billing/tasks/__init__.py
Due: ruff-format, ruff

Enhance billing and onboarding functionalities
  sbomify/apps/billing/billing_helpers.py
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/onboarding/tests/test_plan_selection.py
  sbomify/apps/onboarding/views.py
  sbomify/apps/teams/utils.py
Due: ruff-format, ruff

Refactor billing helpers and improve error handling
  sbomify/apps/billing/billing_helpers.py
  sbomify/apps/billing/schemas.py
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/team_pricing_service.py
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

Refactor billing forms and templates to use Tailwind CSS classes
  sbomify/apps/billing/forms.py
  sbomify/apps/billing/templates/billing/_enterprise_contact_form.html.j2
  sbomify/apps/billing/templates/billing/public_enterprise_contact.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
