Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

Refactor and remove danger zone components; update delete confirmation modals
  sbomify/apps/core/js/components/DangerZone.spec.ts
  sbomify/apps/core/js/components/DangerZone.vue
  sbomify/apps/core/js/components/DeleteConfirmationModal.spec.ts
  sbomify/apps/core/js/components/ProductDangerZone.spec.ts
  sbomify/apps/core/js/components/ProductDangerZone.vue
  sbomify/apps/core/js/components/ProjectDangerZone.spec.ts
  sbomify/apps/core/js/components/ProjectDangerZone.vue
  sbomify/apps/core/js/components/ReleaseDangerZone.vue
  sbomify/apps/core/js/components/SbomDangerZone.spec.ts
  sbomify/apps/core/js/components/SbomDangerZone.vue
  sbomify/apps/core/js/components/TeamDangerZone.vue
  sbomify/apps/core/templates/components/component_danger_zone.html.j2
  sbomify/apps/core/templates/components/delete_confirmation_modal.html.j2
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/components/project_danger_zone.html.j2
  sbomify/apps/core/templates/components/release_danger_zone.html.j2
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
  sbomify/apps/core/tests/test_asgi.py
  sbomify/apps/teams/templates/teams/components/team_danger_zone.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Refactor Danger Zone Components and Templates
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/components/component_danger_zone.html.j2
  sbomify/apps/core/templates/components/delete_confirmation_modal.html.j2
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/components/project_danger_zone.html.j2
  sbomify/apps/core/templates/components/release_danger_zone.html.j2
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/project_details_private.html.j2
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/teams/templates/teams/components/team_danger_zone.html.j2
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/static/css/components/danger_zones.css
Due: bun-lint, djlint-check, djlint-lint

Fix ASGI test event loop conflicts with function-scoped anyio_backend fixture
  sbomify/apps/core/tests/test_asgi.py
Due: ruff-format, ruff

Fix: consolidate Alpine.js x-data scopes and add success handler fallback
  sbomify/apps/core/templates/components/component_danger_zone.html.j2
  sbomify/apps/core/templates/components/delete_confirmation_modal.html.j2
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/components/project_danger_zone.html.j2
  sbomify/apps/core/templates/components/release_danger_zone.html.j2
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
Due: djlint-check, djlint-lint

Fix: address additional PR review comments
  .agent/rules/uv-run.md
  sbomify/apps/core/templates/components/component_danger_zone.html.j2
  sbomify/apps/core/templates/components/delete_confirmation_modal.html.j2
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/components/project_danger_zone.html.j2
  sbomify/apps/core/templates/components/release_danger_zone.html.j2
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
  sbomify/apps/teams/templates/teams/components/team_danger_zone.html.j2
  sbomify/static/css/components/danger_zones.css
Due: markdownlint, djlint-check, djlint-lint

Fix: XSS vulnerability in on_success parameter
  sbomify/apps/core/templates/components/component_danger_zone.html.j2
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/components/project_danger_zone.html.j2
  sbomify/apps/core/templates/components/release_danger_zone.html.j2
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
Due: djlint-check, djlint-lint

Refactor: delete modal JS and fix XSS correctly
  sbomify/apps/core/templates/components/component_danger_zone.html.j2
  sbomify/apps/core/templates/components/delete_confirmation_modal.html.j2
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/components/project_danger_zone.html.j2
  sbomify/apps/core/templates/components/release_danger_zone.html.j2
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
Due: djlint-check, djlint-lint

Fix: address final PR comments (XSS, cleanups)
  sbomify/apps/core/templates/components/component_danger_zone.html.j2
  sbomify/apps/core/templates/components/delete_confirmation_modal.html.j2
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/components/project_danger_zone.html.j2
  sbomify/apps/core/templates/components/release_danger_zone.html.j2
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
  sbomify/apps/core/tests/test_asgi.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix: improve readability of enter key handler in delete confirmation input
  sbomify/apps/core/tests/test_asgi.py
  sbomify/apps/teams/templates/teams/components/team_danger_zone.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

update locator for danger zone in product details snapshot tests
  sbomify/apps/core/tests/e2e/test_products.py
Due: ruff-format, ruff

update danger zone locator and ensure visibility in product details tests
  sbomify/apps/core/tests/e2e/test_products.py
  sbomify/apps/core/tests/e2e/test_projects.py
Due: ruff-format, ruff

update delete confirmation modal to use redirect_url for navigation
  sbomify/apps/core/templates/components/component_danger_zone.html.j2
  sbomify/apps/core/templates/components/delete_confirmation_modal.html.j2
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/components/project_danger_zone.html.j2
  sbomify/apps/core/templates/components/release_danger_zone.html.j2
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/static/css/components/delete_modal.css
  sbomify/static/css/components/standard-card.css
Due: djlint-check, djlint-lint

New: e2e snapshot tests for Releases pages
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_public_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_public_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_public_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_public_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_private_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_private_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_private_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_private_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_private_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_private_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_private_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_private_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_public_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_public_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_public_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_public_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_public_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_public_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_public_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_public_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_releases_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_releases_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_releases_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_releases_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/factories.py
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/e2e/test_releases.py
Due: ruff-format, ruff

migrate danger zone components to Django templates and update test locators
  DEVELOPER.md
  sbomify/apps/core/tests/e2e/test_components.py
Due: markdownlint, ruff-format, ruff

delete un necessary file
  .agent/rules/uv-run.md
Due: markdownlint

enhance delete confirmation modal with accessibility features and dynamic CSRF token handling; update danger zone components to use dynamic URLs
  sbomify/apps/core/templates/components/delete_confirmation_modal.html.j2
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/components/project_danger_zone.html.j2
  sbomify/static/css/components/danger_zones.css
Due: djlint-check, djlint-lint

update files for snapshot images in e2e tests
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot__when_empty[992].jpg
Due: none

Update sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/js/sbom-upload.ts
Due: bun-lint

Implement SBOM upload component with drag-and-drop functionality and validation
  sbomify/apps/core/templates/core/component_details_private_sbom.html.j2
  sbomify/apps/sboms/js/components/SbomUpload.spec.ts
  sbomify/apps/sboms/js/components/SbomUpload.vue
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
  sbomify/static/css/components/sbom-upload.css
Due: bun-lint, djlint-check, djlint-lint

Enhance SBOM upload component to prevent concurrent uploads and reset drag state
  sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
Due: bun-lint, djlint-check, djlint-lint

Add unit tests for SBOM upload component and enhance upload logic
  sbomify/apps/sboms/js/sbom-upload.spec.ts
  sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
  sbomify/static/css/components/sbom-upload.css
Due: bun-lint, djlint-check, djlint-lint

Fix selector for SBOM upload header in component details snapshot test
  sbomify/apps/core/tests/e2e/test_components.py
Due: ruff-format, ruff

Bumps UV
  pyproject.toml
  uv.lock
Due: none

Fix E2E test diffs upload step to handle ownership and improve artifact naming
  .github/workflows/ci-cd.yml
Due: none

Fix permissions for E2E test diffs upload step
  .github/workflows/ci-cd.yml
Due: none

Updated files for SBOM snapshot images in E2E tests
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[992].jpg
Due: none

Cut v0.22
  pyproject.toml
  uv.lock
Due: none

Fix E2E snapshot tests: add 0.5% threshold and deterministic IDs
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Add dependency on sbomify-redis service in docker-compose
  docker-compose.yml
Due: none

Fix Redis connection issue in tests by using StubBroker
  sbomify/test_settings.py
Due: ruff-format, ruff

Add DbConnectionsMiddleware to Dramatiq broker settings for improved connection handling
  sbomify/test_settings.py
Due: ruff-format, ruff

Refactor vulnerability scanning module and add document upload styles
  sbomify/apps/core/js/alpine-init.ts
  sbomify/apps/core/js/csrf.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/core/component_details_private_document.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/test_components.py
  sbomify/apps/core/tests/e2e/utils.py
  sbomify/apps/documents/js/components/DocumentUpload.vue
  sbomify/apps/documents/js/document-upload.spec.ts
  sbomify/apps/documents/js/document-upload.ts
  sbomify/apps/documents/js/main.ts
  sbomify/apps/documents/templates/documents/components/document_upload.html.j2
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
  sbomify/apps/vulnerability_scanning/js/components/VulnerabilityTimeSeries.vue
  sbomify/apps/vulnerability_scanning/js/main.ts
  sbomify/static/css/components/document-upload.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Add SBOM upload functionality and update E2E tests for document snapshots
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_components.py
  sbomify/apps/sboms/js/main.ts
Due: bun-lint, ruff-format, ruff

Update sbomify/apps/core/js/main.ts
  sbomify/apps/core/js/main.ts
Due: bun-lint

Update screenshot assertion threshold and improve document upload icon behavior
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/utils.py
  sbomify/apps/documents/templates/documents/components/document_upload.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Adds OSV to SBOM
  .github/workflows/ci-cd.yml
  Dockerfile
  bin/generate_additional_packages.sh
Due: none

feat(sboms): add CycloneDX 1.3 and 1.4 support
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/cyclonedx_validator.py
  sbomify/apps/sboms/sbom_format_schemas/README.md
  sbomify/apps/sboms/sbom_format_schemas/cyclonedx_1_3.py
  sbomify/apps/sboms/sbom_format_schemas/cyclonedx_1_4.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/schemas/cdx_bom-1.3.schema.json
  sbomify/apps/sboms/schemas/cdx_bom-1.4.schema.json
  sbomify/apps/sboms/tests/test_cyclonedx_validator.py
  sbomify/apps/sboms/tests/test_data/dependencytrack_frontend.cdx.1.3.json
  sbomify/apps/sboms/tests/test_sbom_schemas.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/sboms/versioning.py
Due: markdownlint, ruff-format, ruff

Bumps dependencies
  README.md
  bun.lock
  package.json
  pyproject.toml
  uv.lock
Due: markdownlint

Split out and temporarily disable e2e tests
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
