Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix(cbom): honor PATs, consistent summary counts, query + UI nits
  sbomify/apps/plugins/builtins/pqc.py
  sbomify/apps/plugins/sdk/results.py
  sbomify/apps/plugins/tests/test_pqc_plugin.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/templates/sboms/components/crypto_inventory_card.html.j2
  sbomify/apps/sboms/tests/test_crypto_inventory_api.py
  sbomify/apps/sboms/views/component_crypto_posture.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(authz): route workspace read endpoints through can() to honour token scopes
  sbomify/apps/billing/apis.py
  sbomify/apps/billing/tests/test_api.py
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/tests/test_apis.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/tests/test_apis.py
Due: ruff-format, ruff

fix(authz): enforce token read scope on PAT-reachable artifact reads
  sbomify/apps/documents/services/documents.py
  sbomify/apps/documents/tests/test_apis.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/services/sboms.py
  sbomify/apps/sboms/tests/test_crypto_inventory_api.py
  sbomify/apps/sboms/tests/test_signature_provenance_apis.py
Due: ruff-format, ruff

fix(authz): scope dashboard summary to the token's workspace
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_crud_apis.py
Due: ruff-format, ruff

refactor(authz): consistent can() truthiness + cover provenance download
  sbomify/apps/documents/services/documents.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/services/sboms.py
  sbomify/apps/sboms/tests/test_signature_provenance_apis.py
Due: ruff-format, ruff

fix(deps): remediate residual High vulns + VEX the irreducible (#1020)
  Dockerfile
  uv.lock
  vex/README.md
  vex/container.vex.cdx.json
  vex/frontend-stack.vex.cdx.json
Due: markdownlint

fix(vex): correct VEX metadata + justifications after source verification
  vex/README.md
  vex/container.vex.cdx.json
  vex/frontend-stack.vex.cdx.json
Due: markdownlint

fix(vex): use CycloneDX type 'container' for the container VEX subject
  vex/container.vex.cdx.json
Due: none

fix(vex): drop misleading 'trusted inputs' claim from container VEX
  vex/container.vex.cdx.json
Due: none

fix(email): set Reply-To to the submitter on inbound notifications
  sbomify/apps/billing/tasks/__init__.py
  sbomify/apps/billing/tests/test_enterprise_contact_turnstile.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/tests/test_access_requests.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff

fix(deps): bump pyjwt, cryptography, msgpack to clear High advisories
  uv.lock
Due: none

chore(deps): raise pyjwt/cryptography floors to the patched versions
  pyproject.toml
  uv.lock
Due: none

feat(vex): generate self-VEX from a curated justification ledger
  sbomify/apps/vulnerability_scanning/management/commands/generate_self_vex.py
  sbomify/apps/vulnerability_scanning/tests/test_generate_self_vex.py
  vex/container.vex.cdx.json
  vex/frontend-stack.vex.cdx.json
  vex/justifications.yaml
Due: ruff-format, ruff

fix(cbom): treat missing SBOM object as 404, not an outage
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/sboms/services/sboms.py
Due: ruff-format, ruff

fix(vex): validate before OSV fetch; use sbomify's CycloneDX validator in tests
  sbomify/apps/vulnerability_scanning/management/commands/generate_self_vex.py
  sbomify/apps/vulnerability_scanning/tests/test_generate_self_vex.py
Due: ruff-format, ruff

fix(vex): align affects[].ref with CycloneDX (declare components[]) + review fixes
  pyproject.toml
  sbomify/apps/vulnerability_scanning/management/commands/generate_self_vex.py
  sbomify/apps/vulnerability_scanning/tests/test_generate_self_vex.py
  uv.lock
  vex/container.vex.cdx.json
  vex/frontend-stack.vex.cdx.json
Due: ruff-format, ruff

test(e2e): tolerate sub-pixel snapshot jitter across machines
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

fix(vex): key --check on (id, purl); justification optional per CDX; enrich severity
  sbomify/apps/vulnerability_scanning/management/commands/generate_self_vex.py
  sbomify/apps/vulnerability_scanning/tests/test_generate_self_vex.py
Due: ruff-format, ruff

fix(cbom): never 500 the posture card on any storage error
  sbomify/apps/sboms/services/sboms.py
Due: ruff-format, ruff

ci(vex): gated jobs that publish the generated VEX as bom_type=vex
  .github/scripts/publish-vex.sh
  .github/workflows/ci-cd.yml
Due: none

refactor(vex): hand-maintain CycloneDX VEX directly; drop the bespoke ledger
  .github/workflows/ci-cd.yml
  sbomify/apps/vulnerability_scanning/management/commands/check_self_vex.py
  sbomify/apps/vulnerability_scanning/management/commands/generate_self_vex.py
  sbomify/apps/vulnerability_scanning/tests/test_check_self_vex.py
  sbomify/apps/vulnerability_scanning/tests/test_generate_self_vex.py
  vex/README.md
  vex/container.vex.cdx.json
  vex/frontend-stack.vex.cdx.json
  vex/justifications.yaml
Due: markdownlint, ruff-format, ruff

fix(e2e): public component snapshots captured a 403, not the page
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_components.py
Due: ruff-format, ruff

feat(vex): suppress VEX'd findings from the vulnerability dashboard
  .github/workflows/ci-cd.yml
  sbomify/apps/core/views/component_item.py
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/tests/test_vex.py
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/vex.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
  vex/README.md
Due: markdownlint, ruff-format, ruff

fix(releases): preserve nulls-last ordering on public releases table
  sbomify/apps/core/views/product_details_public.py
Due: ruff-format, ruff

feat(vex): suppress VEX'd findings server-side at the scanner-plugin layer
  sbomify/apps/core/views/component_item.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/schemas.py
  sbomify/apps/plugins/sdk/results.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/tests/test_vex.py
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/vex.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

fix(tls): exempt internal API from SSL redirect so on-demand certs work
  sbomify/settings.py
Due: ruff-format, ruff

test(tls): assert internal ask endpoint isn't SSL-redirected
  sbomify/apps/teams/tests/test_internal_apis.py
Due: ruff-format, ruff

ci: generate the CBOM via the action (GENERATE_CBOM) for source components
  .github/workflows/ci-cd.yml
Due: none

fix(authz): let the OIDC/CI bot publish releases
  sbomify/apps/core/apis.py
  sbomify/apps/core/authz.py
  sbomify/apps/core/tests/test_authz.py
Due: ruff-format, ruff

test: update publish-scope-preset assertions for the release actions
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/teams/tests/test_team_tokens.py
Due: ruff-format, ruff

fix(controls): return 400 not 422 for invalid status / evidence_type
  sbomify/apps/controls/schemas.py
Due: ruff-format, ruff

feat(tokens): track AccessToken.last_used_at and surface it in the UI
  sbomify/apps/access_tokens/admin.py
  sbomify/apps/access_tokens/migrations/0009_accesstoken_last_used_at.py
  sbomify/apps/access_tokens/models.py
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/access_tokens/utils.py
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
  sbomify/apps/teams/tests/test_team_tokens.py
  sbomify/settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

perf(releases): parallelize cold aggregate builds and GC orphaned cache keys
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/s3_fixtures.py
  sbomify/apps/core/utils.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/tests/test_release_aggregate_cache.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

refactor(controls): source schema value descriptions from model choices
  sbomify/apps/controls/schemas.py
Due: ruff-format, ruff

refactor(controls): collapse value descriptions to a single reused constant
  sbomify/apps/controls/schemas.py
Due: ruff-format, ruff

fix(tokens): make the last_used_at throttle a conditional UPDATE
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/access_tokens/utils.py
Due: ruff-format, ruff

fix(tokens): address Copilot re-review on last_used_at
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/access_tokens/utils.py
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
  sbomify/apps/teams/tests/test_team_tokens.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(tokens): only treat far-future last_used_at as stale
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/access_tokens/utils.py
Due: ruff-format, ruff

fix(tokens): clamp throttle to >=0 and mirror DB value on lost UPDATE race
  sbomify/apps/access_tokens/utils.py
  sbomify/settings.py
Due: ruff-format, ruff
