Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

feat: convert account deletion to soft-delete with Stripe and invitation cleanup
  sbomify/apps/core/services/account_deletion.py
  sbomify/apps/core/tests/test_account_deletion.py
Due: ruff-format, ruff

feat: add periodic Dramatiq task to purge soft-deleted users after 14 days
  sbomify/apps/core/cron.py
Due: ruff-format, ruff

feat: add GDPR data export endpoint (GET /api/v1/user/export)
  sbomify/apps/core/apis.py
  sbomify/apps/core/services/data_export.py
  sbomify/apps/core/tests/test_data_export.py
Due: ruff-format, ruff

docs: update delete account API docstring for soft-delete behavior
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

feat: update danger zone UI with data export, token warning, and grace period messaging
  sbomify/apps/core/js/components/account-danger-zone.ts
  sbomify/apps/core/migrations/0019_user_deleted_at.py
  sbomify/apps/core/templates/core/settings.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix: correct StripeClient import and test mock paths for account deletion
  sbomify/apps/core/services/account_deletion.py
  sbomify/apps/core/tests/test_account_deletion.py
Due: ruff-format, ruff

feat: move account deletion UI to workspace settings as Account tab
  sbomify/apps/core/templates/core/settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/account.html.j2
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: address review findings for user self-deletion feature
  sbomify/apps/access_tokens/utils.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/cron.py
  sbomify/apps/core/js/components/account-danger-zone.ts
  sbomify/apps/core/keycloak_utils.py
  sbomify/apps/core/services/account_deletion.py
  sbomify/apps/core/services/data_export.py
  sbomify/apps/core/tests/test_account_deletion.py
  sbomify/apps/core/tests/test_cron.py
  sbomify/apps/core/tests/test_keycloak_utils.py
Due: bun-lint, ruff-format, ruff

Add gzip request body decompression middleware
  conftest.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/management/commands/inspect_product.py
  sbomify/apps/core/middleware.py
  sbomify/apps/core/models.py
  sbomify/apps/core/tests/test_middleware.py
  sbomify/settings.py
Due: ruff-format, ruff

Add unique constraint on encoded_token, optimize data migration
  sbomify/apps/access_tokens/migrations/0003_auto_assign_single_team_tokens.py
  sbomify/apps/access_tokens/migrations/0004_alter_accesstoken_encoded_token.py
  sbomify/apps/access_tokens/models.py
Due: ruff-format, ruff

fix: address critical review findings for user self-deletion
  sbomify/apps/billing/tests/test_stripe_client.py
  sbomify/apps/core/adapters.py
  sbomify/apps/core/cron.py
  sbomify/apps/core/services/account_deletion.py
  sbomify/apps/core/tests/test_account_deletion.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/account.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Address Copilot review: streaming decompression, Content-Encoding parsing, test_settings
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_middleware.py
  sbomify/test_settings.py
Due: ruff-format, ruff

Address Copilot round 3: drop redundant index, fix security tip, remove unused param
  sbomify/apps/access_tokens/migrations/0005_remove_accesstoken_access_toke_encoded_af10d4_idx.py
  sbomify/apps/access_tokens/models.py
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
  sbomify/apps/teams/tests/test_team_tokens.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix conftest.py formatting (ruff-format)
  conftest.py
Due: ruff-format, ruff

Address Copilot round 2: reject gzip in any multi-encoding position, reduce memory copies
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_middleware.py
Due: ruff-format, ruff

refactor: remove data export UI from Account tab (deferred to phase 2)
  sbomify/apps/core/js/components/account-danger-zone.ts
  sbomify/apps/teams/templates/teams/team_settings_tabs/account.html.j2
Due: bun-lint, djlint-check, djlint-lint

Add logging to gzip decompression middleware
  sbomify/apps/core/middleware.py
Due: ruff-format, ruff

fix: wrap Account tab danger zone in tw-settings-card parent
  sbomify/apps/teams/templates/teams/team_settings_tabs/account.html.j2
Due: djlint-check, djlint-lint

Fix BrandingInfo validation error when prefer_logo_over_icon is null
  sbomify/apps/teams/apis.py
Due: ruff-format, ruff

Fix scoped tokens ignored by _get_user_team_id() causing 403
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

feat: enhance account deletion API to handle conflict errors
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/account-danger-zone.ts
  sbomify/apps/core/schemas.py
  sbomify/apps/core/services/account_deletion.py
  sbomify/apps/core/tests/test_account_deletion.py
Due: bun-lint, ruff-format, ruff

Refactor alert and toast components for consistency and improved structure
  sbomify/apps/core/templates/components/tw/alert.html.j2
  sbomify/apps/core/templates/components/tw/toast.html.j2
  sbomify/apps/core/templates/core/settings.html.j2
  sbomify/apps/core/templates/core/tw_test.html.j2
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/billing.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
Due: djlint-check, djlint-lint

fix: mask sensitive information in Stripe logs during account deletion
  sbomify/apps/core/services/account_deletion.py
Due: ruff-format, ruff

fix: simplify Stripe logging during account deletion
  sbomify/apps/core/services/account_deletion.py
Due: ruff-format, ruff

Refactor notification handling to simplify dismissal logic
  sbomify/apps/notifications/apis.py
  sbomify/apps/notifications/utils.py
Due: ruff-format, ruff

fix: reduce time limit for user purge cron job
  sbomify/apps/core/cron.py
  sbomify/apps/core/tests/test_account_deletion.py
Due: ruff-format, ruff

Refactor notifications modal and alert component for improved clarity
  sbomify/apps/core/js/notifications-modal.ts
  sbomify/apps/core/templates/components/tw/alert.html.j2
Due: bun-lint, djlint-check, djlint-lint

fix: enhance user retrieval and account deletion processes
  sbomify/apps/access_tokens/utils.py
  sbomify/apps/core/cron.py
  sbomify/apps/core/services/account_deletion.py
Due: ruff-format, ruff

Fix WebSocket-triggered table flicker with Alpine morph + debounce
  sbomify/apps/core/templates/core/components_table.html.j2
  sbomify/apps/core/templates/core/products_table.html.j2
  sbomify/apps/core/templates/core/projects_table.html.j2
  sbomify/apps/core/templates/core/releases_table.html.j2
  sbomify/apps/documents/templates/documents/documents_table.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table.html.j2
Due: djlint-check, djlint-lint

fix: enhance Stripe customer deletion documentation and improve error handling in user data export
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/services/account_deletion.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/account.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix stale data in sboms/documents tables after morph swap
  sbomify/apps/documents/js/documents-table.ts
  sbomify/apps/documents/templates/documents/documents_table.html.j2
  sbomify/apps/sboms/js/sboms-table.ts
  sbomify/apps/sboms/templates/sboms/sboms_table.html.j2
Due: bun-lint, djlint-check, djlint-lint

fix: prevent soft-deleted users from re-authenticating via SSO and improve logging during account deletion
  sbomify/apps/core/adapters.py
  sbomify/apps/core/services/account_deletion.py
  sbomify/templates/account/account_deactivated.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Remove duplicate data serialization, use parseJsonScript, add tests
  sbomify/apps/documents/js/documents-table.spec.ts
  sbomify/apps/documents/js/documents-table.ts
  sbomify/apps/documents/templates/documents/documents_table.html.j2
  sbomify/apps/sboms/js/sboms-table.spec.ts
  sbomify/apps/sboms/js/sboms-table.ts
  sbomify/apps/sboms/templates/sboms/sboms_table.html.j2
Due: bun-lint, djlint-check, djlint-lint

Fix CI failures: TypeScript casts and djlint formatting
  sbomify/apps/documents/js/documents-table.spec.ts
  sbomify/apps/documents/templates/documents/documents_table.html.j2
  sbomify/apps/sboms/js/sboms-table.spec.ts
Due: bun-lint, djlint-check, djlint-lint

Use $el.closest() for scoped container lookup and fix test isolation
  sbomify/apps/documents/js/documents-table.spec.ts
  sbomify/apps/documents/js/documents-table.ts
  sbomify/apps/sboms/js/sboms-table.spec.ts
  sbomify/apps/sboms/js/sboms-table.ts
Due: bun-lint

Refactor afterSettle tests to exercise real Alpine component code
  sbomify/apps/documents/js/documents-table.spec.ts
  sbomify/apps/sboms/js/sboms-table.spec.ts
Due: bun-lint

Enhance build_tea_server_url to accept request parameter for dynamic URL generation
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_wellknown.py
  sbomify/apps/tea/wellknown.py
Due: ruff-format, ruff

Implement authentication error handling and redirect for logged-in users
  sbomify/apps/core/adapters.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

Refactor login and password reset forms to streamline user input handling
  keycloak/themes/sbomify/login/forgot-password.ftl
  keycloak/themes/sbomify/login/login.ftl
  sbomify/apps/core/js/notifications-modal.ts
  sbomify/apps/core/views/__init__.py
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/apps/teams/notifications.py
  sbomify/apps/teams/queries.py
  sbomify/apps/teams/templates/teams/dashboard.html.j2
  sbomify/apps/teams/templates/teams/team_selection_dropdown.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/members.html.j2
  sbomify/apps/teams/views/team_settings.py
  sbomify/settings.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Refactor release queries to exclude "latest" alias releases
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/mappers.py
Due: ruff-format, ruff
