Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

test(e2e): refetch the tokens list the way the settings tab does
  sbomify/apps/core/tests/e2e/test_critical_paths.py
Due: ruff-format, ruff

fix(accounts): match and store email addresses without case
  sbomify/apps/core/adapters.py
  sbomify/apps/core/management/commands/migrate_to_keycloak.py
  sbomify/apps/core/migrations/0029_user_email_case_insensitive_unique.py
  sbomify/apps/core/models.py
  sbomify/apps/core/services/account_deletion.py
  sbomify/apps/core/tests/test_user_email_case.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/tests/test_services.py
Due: ruff-format, ruff

fix(billing): retry a checkout's first invoice instead of calling its workspace gone
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/tests/test_billing_processing.py
  sbomify/apps/billing/tests/test_views.py
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

fix(core): send settings posts to the settings page, not the tokens fragment
  sbomify/apps/core/tests/test_views.py
  sbomify/apps/core/views/__init__.py
Due: ruff-format, ruff

test(core): pin that an inflated gzip body is held in memory once
  sbomify/apps/core/tests/test_gzip_middleware_limits.py
Due: ruff-format, ruff

Improve dashboard actions and table card navigation
  sbomify/apps/core/services/component_security.py
  sbomify/apps/core/templates/core/components/component_cbom_issues.html.j2
  sbomify/apps/core/templates/core/components/component_vulnerabilities.html.j2
  sbomify/apps/core/templates/core/components/component_vulnerabilities_table.html.j2
  sbomify/apps/core/templates/core/components/priority_triage_modal.html.j2
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/core/tests/test_component_vulnerabilities_panel.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/component_vulnerabilities.py
  sbomify/apps/plugins/templates/plugins/components/triage_modal.html.j2
  sbomify/templates/components/cards/collapsible_header.html
  sbomify/templates/components/layout/action_tile.html
  sbomify/templates/components/overview/priority.html
  sbomify/templates/components/overview/priority_actions.html
  sbomify/templates/components/overview/products.html
  sbomify/templates/components/tables/actions_cell.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(teams): the Trust Center slug pattern compiles under the v flag
  sbomify/apps/teams/js/trust-center-slug-pattern.spec.ts
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
Due: bun-lint, djlint-check, djlint-lint

test(export): let Team.save() set the workspace key
  sbomify/apps/core/tests/test_user_export_guest_scope.py
Due: ruff-format, ruff

fix(sboms): report expired download tokens as expired
  sbomify/apps/sboms/tests/test_signed_urls.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

fix(core): refuse social sign-in for accounts scheduled for deletion
  sbomify/apps/core/adapters.py
  sbomify/apps/core/tests/test_keycloak_adapter.py
Due: ruff-format, ruff

fix(teams): log the invitation id, not its token, on acceptance
  sbomify/apps/teams/tests/test_invite_accept_post_only.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

fix(core): redact the token query value in the server access log
  sbomify/apps/core/tests/test_logging_filter.py
  sbomify/logging_filters.py
  sbomify/settings.py
Due: ruff-format, ruff

fix(billing): keep a scheduled downgrade while its cancel is still due
  sbomify/apps/billing/stripe_cache.py
  sbomify/apps/billing/tests/test_scheduled_downgrade_readers.py
Due: ruff-format, ruff

fix(billing): no "trial ends soon" email for a trial that has ended
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/test_billing_processing.py
Due: ruff-format, ruff

fix(billing): send one payment receipt per payment
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/test_payment_receipt_count.py
Due: ruff-format, ruff

fix(billing): leave a workspace alone when its subscription changed during a sync
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/tests/test_stripe_sync.py
Due: ruff-format, ruff

fix(core): show the payment failed banner to past due workspaces
  sbomify/apps/core/templates/core/components/site_notifications.html.j2
  sbomify/apps/core/tests/test_count_noun_agreement.py
  sbomify/apps/core/tests/test_site_notifications.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(core): pin that product and component creation insert in the transaction that took the lock
  sbomify/apps/core/tests/test_billing_limit_race.py
Due: ruff-format, ruff

test(billing): keep the replaced-subscription sync test at the end of its file
  sbomify/apps/billing/tests/test_stripe_sync.py
Due: ruff-format, ruff

fix(billing): downgrade only the subscription the caller fetched
  sbomify/apps/billing/billing_helpers.py
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/management/commands/sync_stripe_subscriptions.py
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/tasks/__init__.py
  sbomify/apps/billing/tests/test_ended_subscription_entitlements.py
Due: ruff-format, ruff

test(core): start the limit spy after signing in
  sbomify/apps/core/tests/test_billing_limit_race.py
Due: ruff-format, ruff

fix(keycloak): pass the event filter as get_events(query=...)
  sbomify/apps/core/keycloak_events.py
  sbomify/apps/core/tests/test_keycloak_utils.py
Due: ruff-format, ruff

fix(teams): show invitations by the role they grant
  sbomify/apps/core/authz.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/queries.py
  sbomify/apps/teams/templates/teams/invite.html.j2
  sbomify/apps/teams/tests/test_owner_invitation_authority.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): point the card's controls at the artifact's workspace
  sbomify/apps/core/views/component_item.py
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/services/coverage.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/_rerun_button.html.j2
  sbomify/apps/plugins/templates/plugins/components/_unassessed_plugin_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
  sbomify/apps/plugins/tests/test_assessment_coverage.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Refresh narrow scan empty-state baselines for stacked summary cards
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_scans_found_dark_375.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_scans_found_light_375.jpg
Due: none

fix(core): answer 503 when the identity provider is unreachable at sign-in
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_identity_provider_unavailable.py
  sbomify/settings.py
  sbomify/test_settings.py
Due: ruff-format, ruff

perf(plugins): read a component's assessment runs in one batch
  sbomify/apps/plugins/public_assessment_utils.py
  sbomify/apps/plugins/tests/test_public_assessment_batching.py
Due: ruff-format, ruff

fix(core): write the payment banner's titles and buttons in sentence case
  sbomify/apps/core/templates/core/components/site_notifications.html.j2
  sbomify/apps/core/tests/test_site_notifications.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): drop the removed CRA plugin from workspace settings
  sbomify/apps/controls/services/automation_service.py
  sbomify/apps/plugins/migrations/0019_drop_cra_compliance_from_team_settings.py
  sbomify/apps/plugins/tests/test_drop_removed_plugin_migration.py
Due: ruff-format, ruff

fix(plugins): keep run status badges on one line and pluralise the issue chip
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
  sbomify/apps/plugins/tests/test_assessment_coverage.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(core): redact credentials carried in the URL path from the access log
  sbomify/apps/core/tests/test_logging_filter.py
  sbomify/logging_filters.py
  sbomify/settings.py
Due: ruff-format, ruff

fix(core): redact the code and state on provider callbacks in the access log
  sbomify/apps/core/tests/test_logging_filter.py
  sbomify/logging_filters.py
Due: ruff-format, ruff

Align inventory route tests and product baselines with master
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_inventory.py
  sbomify/apps/core/tests/test_inventory_fragments.py
Due: ruff-format, ruff

perf(vulns): pick the latest security runs by id before reading results
  sbomify/apps/vulnerability_scanning/posture.py
  sbomify/apps/vulnerability_scanning/tests/test_posture_latest_runs.py
Due: ruff-format, ruff

fix(tasks): stop actors returning values dramatiq cannot store
  sbomify/apps/access_tokens/tasks.py
  sbomify/apps/access_tokens/tests/test_expiry_warnings.py
  sbomify/apps/core/tests/test_actor_results.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/vulnerability_scanning/tasks/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_vex_drift.py
Due: ruff-format, ruff

fix(documents): refuse to reopen an access request that is not closed
  sbomify/apps/documents/access_models.py
  sbomify/apps/documents/tests/test_access_request_decision_history.py
Due: ruff-format, ruff

fix(teams): delete an older-style branding key only when it has an extension
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_branding_field_keys.py
Due: ruff-format, ruff

fix(accounts): keep saved addresses in step with their rows and flag shared addresses
  sbomify/apps/core/adapters.py
  sbomify/apps/core/management/commands/migrate_to_keycloak.py
  sbomify/apps/core/migrations/0029_user_email_case_insensitive_unique.py
  sbomify/apps/core/models.py
  sbomify/apps/core/tests/test_user_email_case.py
Due: ruff-format, ruff

fix(sboms): remove an unused stored SBOM file only after the delete commits
  sbomify/apps/sboms/services/sboms.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/tests/test_shared_sbom_files.py
Due: ruff-format, ruff

test(teams): read the slug input's attributes in any order and check its length bounds
  sbomify/apps/teams/js/trust-center-slug-pattern.spec.ts
Due: bun-lint
