Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix(emails): address Copilot review on PR #956
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(emails): render-based dark-mode test via Playwright
  sbomify/apps/core/tests/e2e/test_email_dark_mode.py
Due: ruff-format, ruff

chore(dev): replace MailHog with Mailpit
  docker-compose.dev.yml
  sbomify/apps/core/management/commands/send_test_emails.py
Due: ruff-format, ruff

fix(emails): always-visible logo on dark panel; drop high-cost CSS
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_sbom.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/quick_start.html.j2
  sbomify/static/img/sbomify-white.png
Due: djlint-check, djlint-lint

fix(emails): round-1 Copilot — inline tagline color + aria-hidden checkmarks
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_sbom.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/quick_start.html.j2
Due: djlint-check, djlint-lint

fix(emails): round-2 Copilot — inline list-style + backend-agnostic dev cmd
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/onboarding/templates/onboarding/emails/first_sbom.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/quick_start.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(emails): round-3 Copilot — inline padding on body/footer/wrapper td
  sbomify/apps/core/templates/core/emails/base.html.j2
Due: djlint-check, djlint-lint

fix(emails): round-4 Copilot — print EMAIL_BACKEND, gate SMTP details
  sbomify/apps/core/management/commands/send_test_emails.py
Due: ruff-format, ruff

fix(emails): round-5 Copilot — add horizontal gutter on wrapper cell
  sbomify/apps/core/templates/core/emails/base.html.j2
Due: djlint-check, djlint-lint

chore: post-audit cleanup — kill remaining Project-layer breadcrumbs
  AGENTS.md
  DEVELOPER.md
  README.md
  docs/billing.md
  sbomify/apps/core/admin.py
  sbomify/apps/core/js/components/components-list.spec.ts
  sbomify/apps/core/js/components/item-assignment-manager.spec.ts
  sbomify/apps/core/js/components/item-assignment-manager.ts
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/admin/dashboard.html
  sbomify/apps/core/views/__init__.py
  sbomify/apps/sboms/admin.py
  sbomify/apps/sboms/schemas.py
  sbomify/templates/admin/dashboard_health.html
  screencasts/conftest.py
  screencasts/product_creation.py
Due: bun-lint, markdownlint, ruff-format, ruff

chore: drop final stale Project breadcrumb in type_defs comment
  sbomify/apps/sboms/js/type_defs.d.ts
Due: bun-lint

chore: comprehensive-review fixes — P0/P1/P2 cleanup
  CHANGELOG.md
  docker-compose.yml
  docs/ADR/0007-remove-project-layer.md
  docs/onboarding.d2
  docs/onboarding.svg
  sbomify/apps/core/apis.py
  sbomify/apps/core/management/commands/inspect_product.py
  sbomify/apps/core/signals.py
  sbomify/apps/core/templatetags/breadcrumb_tags.py
  sbomify/apps/sboms/migrations/0060_backfill_productcomponent.py
  sbomify/apps/sboms/migrations/0062_remove_product_projects_remove_project_products_and_more.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/test_product_component_tenancy.py
Due: markdownlint, ruff-format, ruff

chore: second-pass comprehensive-review fixes — close remaining gaps
  .github/workflows/ci-cd.yml
  bin/release.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_public_private_constraints.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_scope.py
  sbomify/apps/sboms/migrations/0062_remove_product_projects_remove_project_products_and_more.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/test_product_component_tenancy.py
Due: ruff-format, ruff

fix: round-1 Copilot + CI — markdownlint MD040 + breadcrumb slug comment
  CHANGELOG.md
  docs/ADR/0007-remove-project-layer.md
  sbomify/apps/core/templatetags/breadcrumb_tags.py
Due: markdownlint, ruff-format, ruff

fix: round-2 CI — add missing migration for Component.is_global help_text
  CHANGELOG.md
  sbomify/apps/sboms/migrations/0064_alter_component_is_global.py
Due: markdownlint, ruff-format, ruff

fix(emails): switch logo back from PNG to SVG
  sbomify/static/img/sbomify-white.png
Due: none

fix(emails): update base template to reference SVG logo
  sbomify/apps/core/templates/core/emails/base.html.j2
Due: djlint-check, djlint-lint

feat(ui): use relative time + tooltip for 'Created at' columns (#919)
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/components/pending_items.html.j2
  sbomify/apps/core/templates/core/components/relative_time.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/members.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
Due: djlint-check, djlint-lint

fix(emails): djlint formatter — split long x-tooltip line
  sbomify/apps/core/templates/core/components/relative_time.html.j2
Due: djlint-check, djlint-lint

fix: round-2 Copilot — keyboard a11y + aria-label on relative_time
  sbomify/apps/core/templates/core/components/relative_time.html.j2
Due: djlint-check, djlint-lint

fix: round-3 Copilot — hoist date format into {% with %} block
  sbomify/apps/core/templates/core/components/relative_time.html.j2
Due: djlint-check, djlint-lint

fix(api): out-of-range pagination must return empty, not fall back (#949)
  sbomify/apps/core/apis.py
  sbomify/apps/core/services/querysets.py
  sbomify/apps/core/tests/test_pagination_out_of_range.py
Due: ruff-format, ruff

fix: round-1 CI — update test_api_pagination_invalid_params for new contract
  sbomify/apps/core/tests/test_apis.py
Due: ruff-format, ruff

fix: round-2 Copilot — add id tie-breaker + clarify page-clamp docs
  sbomify/apps/core/apis.py
  sbomify/apps/core/services/querysets.py
Due: ruff-format, ruff

fix(api): preserve field-level errors on 400 responses (#952)
  sbomify/apps/core/schemas.py
  sbomify/apps/core/tests/test_error_response_field_errors.py
Due: ruff-format, ruff

fix: round-1 CI — update test_contact_profiles for the new errors field
  sbomify/apps/teams/tests/test_contact_profiles.py
Due: ruff-format, ruff

fix: round-2 Copilot — clarify exclude_none comment in test docstring
  sbomify/apps/core/tests/test_error_response_field_errors.py
Due: ruff-format, ruff

feat(analytics): wire up PostHog Tier 2 events (#817)
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_posthog_tier2_events.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/search.py
  sbomify/apps/core/views/toggle_public_status.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/team_branding.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff

fix: round-2 Copilot — extract capture helper + align event properties
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/tests/test_posthog_tier2_events.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/search.py
  sbomify/apps/core/views/toggle_public_status.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/team_branding.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff

fix(migrations): reorder ProjectComponent ops in 0062 to drop unique before field
  sbomify/apps/sboms/migrations/0062_remove_product_projects_remove_project_products_and_more.py
Due: ruff-format, ruff

fix(migrations): make 0062 idempotent so it recovers from partial-apply
  sbomify/apps/sboms/migrations/0062_remove_product_projects_remove_project_products_and_more.py
Due: ruff-format, ruff

fix(deps): resolve Dependabot security alerts; fold in #958
  pyproject.toml
  uv.lock
Due: none

fix(ui): tighten trust-center pages — design tokens, hierarchy, mobile
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/templates/core/components/public_product_lifecycle.html.j2
  sbomify/apps/core/templates/core/components/public_product_links.html.j2
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/components/public_section_header.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/assets/css/tailwind.src.css
  sbomify/static/css/public-base.css
  sbomify/static/css/public-pages.css
Due: djlint-check, djlint-lint

fix: round-1 Copilot — default_if_none, drop |safe on trailing, restore barcode max-width
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/components/public_section_header.html.j2
Due: djlint-check, djlint-lint

fix: round-2 CI — escape <style>/<html> in template comments; use {% comment %} block
  sbomify/apps/core/templates/core/components/public_section_header.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: djlint-check, djlint-lint

fix: round-2 Copilot — reformat public_base via djlint; match mobile spacing-lg
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/static/css/public-pages.css
Due: djlint-check, djlint-lint

fix(ui): trust-center UX review pass — mobile layout, consistency, breadcrumbs
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/templates/core/components/public_product_links.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/tests/e2e/test_ux_review_trust_center.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/product_releases_public.py
  sbomify/apps/core/views/release_details_public.py
  sbomify/apps/documents/templates/documents/documents_table_content.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(ui): tighter tw-table cell padding at <=640px
  sbomify/assets/css/tailwind.src.css
Due: none

fix: round-3 Copilot — a11y, test gating, fixture semantics, synthetic-latest test
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/tests/e2e/test_ux_review_trust_center.py
  sbomify/apps/core/tests/test_product_details_public_view.py
  sbomify/static/css/public-pages.css
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: round-3 Copilot — mobile responsiveness + alt-text contrast
  sbomify/apps/core/templates/core/emails/base.html.j2
Due: djlint-check, djlint-lint
