Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

Refactor Keycloak theme to use Tailwind CSS and simplify login UI
  Dockerfile
  bun.lock
  keycloak/themes/sbomify/login/login.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/theme.properties
  package.json
  sbomify/apps/core/tests/test_views.py
Due: ruff-format, ruff

Add workspace name editing and fix custom domain URLs for public links
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/project_details_private.html.j2
  sbomify/apps/core/templates/core/public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/templatetags/public_url_tags.py
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/general.html.j2
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/team_general.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Refs code review feedback
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/views/team_general.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Refactor product lookup to separate data retrieval from response formatting
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Fixes more code review feedback
  sbomify/apps/core/templatetags/public_url_tags.py
  sbomify/apps/teams/views/team_general.py
Due: ruff-format, ruff

DRY up copy function
  sbomify/apps/core/js/clipboard-global.ts
  sbomify/apps/core/js/clipboard.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
Due: bun-lint, djlint-check, djlint-lint

Refactor color lightness functions to reduce code duplication
  sbomify/apps/teams/branding.py
Due: ruff-format, ruff

More feedback
  sbomify/apps/teams/views/team_general.py
Due: ruff-format, ruff

Fix type hint for transform parameter in _apply_lightness_transform
  sbomify/apps/teams/branding.py
Due: ruff-format, ruff

More review feedback
  sbomify/apps/teams/templates/teams/team_general.html.j2
Due: djlint-check, djlint-lint

Update Keycloak theme styling for login/logout pages
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/template.ftl
  sbomify/apps/core/tests/test_keycloak_adapter.py
Due: ruff-format, ruff

Add custom domain UI to workspace branding settings
  sbomify/apps/teams/js/main.ts
  sbomify/apps/teams/js/team-branding.ts
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/tests/test_custom_domain_ui.py
  sbomify/apps/teams/views/team_branding.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Fix Copilot review feedback for custom domain UI
  sbomify/apps/teams/js/team-branding.ts
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/tests/test_custom_domain_ui.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Replace sales email with billing upgrade link in custom domain UI
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/tests/test_custom_domain_ui.py
  sbomify/static/css/components/team-branding.css
Due: ruff-format, ruff, djlint-check, djlint-lint

Address Copilot review feedback: improve naming and add docs
  sbomify/apps/teams/js/team-branding.ts
  sbomify/apps/teams/tests/test_custom_domain_ui.py
  sbomify/apps/teams/views/team_branding.py
Due: bun-lint, ruff-format, ruff

Address Copilot review feedback
  sbomify/apps/teams/templates/teams/team_branding.html.j2
Due: djlint-check, djlint-lint

Address additional Copilot feedback
  sbomify/apps/teams/js/team-branding.ts
  sbomify/apps/teams/tests/test_custom_domain_ui.py
Due: bun-lint, ruff-format, ruff

Improve get_app_hostname docstring to document port/path handling
  sbomify/apps/teams/views/team_branding.py
Due: ruff-format, ruff

Updates dependencies as per depandabot
  bun.lock
  package.json
Due: none

Bumps python dependencies as per dependabot
  pyproject.toml
  uv.lock
Due: none

Refs feedback from copilot
  bun.lock
  package.json
Due: none

feat(onboarding): redesign wizard as single-step SBOM identity setup
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Address all Copilot feedback on onboarding wizard
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/teams/models.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Address additional Copilot feedback
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/teams/models.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Address third round of Copilot feedback
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Address fourth round of Copilot feedback
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Address fifth round of Copilot feedback
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Fix step numbering in onboarding wizard comments
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Update datamodel-code-generator[http] to 0.43.1
  pyproject.toml
  uv.lock
Due: none

Address sixth round of Copilot feedback
  pyproject.toml
  sbomify/apps/teams/views/__init__.py
  uv.lock
Due: ruff-format, ruff

Handle whitespace-only email input in onboarding
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Add team key validation to redirect_to_team_settings helper
  sbomify/apps/teams/tests/test_team_settings_tabs.py
  sbomify/apps/teams/utils.py
Due: ruff-format, ruff

Add team settings tab persistence and invitation toast notifications
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/components/messages.htmx.j2
  sbomify/apps/core/views/__init__.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/members.html.j2
  sbomify/apps/teams/tests/test_team_settings_tabs.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Replace token validation with database lookup in team redirect utility
  sbomify/apps/teams/tests/test_team_settings_tabs.py
  sbomify/apps/teams/utils.py
Due: ruff-format, ruff

Refactor JavaScript configuration and improve URL encoding in team settings
  sbomify/apps/core/templates/core/components/messages.htmx.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/utils.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat: modernize SBOM identity wizard and redirect new users on first login
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/core/tests/integration/test_ui_workflows.py
  sbomify/apps/core/tests/templates/test_base_template.py
  sbomify/apps/core/tests/test_views.py
  sbomify/apps/core/views/dashboard.py
  sbomify/apps/teams/js/main.ts
  sbomify/apps/teams/js/onboarding-wizard.ts
  sbomify/apps/teams/tests/test_onboarding_wizard.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

More test fixes
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/onboarding/tasks.py
  sbomify/apps/onboarding/tests.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/js/onboarding-wizard.ts
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/__init__.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Refactor Keycloak theme build process and improve accessibility
  .github/workflows/ci-cd.yml
  Dockerfile
  bin/keycloak-bootstrap.sh
  bun.lock
  docker-compose.dev.yml
  keycloak/bun.lock
  keycloak/package.json
  keycloak/tailwind.config.ts
  keycloak/themes/sbomify/login/login.ftl
  keycloak/themes/sbomify/login/register.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  package.json
  sbomify/apps/core/tests/test_keycloak_integration.py
Due: bun-lint, ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
