Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

validate credential pairs in _create_store
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
Due: ruff-format, ruff

fix(dt): track actual increment state from _select_dt_server + add tests
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/tests/test_dt_scan_count.py
Due: ruff-format, ruff

add __repr__ to S3ObjectStoreClient that omits credentials
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
Due: ruff-format, ruff

reject non-positive expires_in in generate_presigned_url
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
Due: ruff-format, ruff

rename __client to _client_instance, add thread safety comment
  sbomify/apps/core/object_store.py
Due: ruff-format, ruff

normalize AWS_REGION empty string to None
  sbomify/apps/core/object_store.py
Due: ruff-format, ruff

add test for empty endpoint_url and region normalization to None
  sbomify/apps/core/tests/integration/test_object_store.py
Due: ruff-format, ruff

expand bucket-type guard tests to cover all domain methods
  sbomify/apps/core/tests/integration/test_object_store.py
Due: ruff-format, ruff

add presigned URL error propagation tests
  sbomify/apps/core/tests/integration/test_object_store.py
Due: ruff-format, ruff

refactor(dt): simplify scan count code per review
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_dt_scan_count.py
Due: ruff-format, ruff

move credential pair validation to AppConfig.ready()
  sbomify/apps/core/apps.py
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
  sbomify/apps/core/tests/test_apps.py
Due: ruff-format, ruff

fix(dt): update existing tests for _select_dt_server tuple return + handle RuntimeError
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/tests/test_plugin_config.py
Due: ruff-format, ruff

feat(plugins): add PluginsPageView for standalone page
  sbomify/apps/plugins/views.py
Due: ruff-format, ruff

feat(plugins): add /plugins/ URL route for standalone page
  sbomify/apps/plugins/urls.py
Due: ruff-format, ruff

feat(plugins): create standalone plugins page template
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
Due: djlint-check, djlint-lint

feat(plugins): add Plugins item to sidebar navigation
  sbomify/apps/core/templates/core/components/sidebar.html.j2
Due: djlint-check, djlint-lint

fix(plugins): use team context variable instead of current_team
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
Due: djlint-check, djlint-lint

fix(plugins): extend dashboard_base for sidebar/header/footer layout
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
Due: djlint-check, djlint-lint

feat(plugins): enhance standalone page with stats cards and improved layout
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
  sbomify/apps/plugins/views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(plugins): polish page design with gradient header and hover states
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
Due: djlint-check, djlint-lint

fix(plugins): match page header style with other dashboard pages
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
Due: djlint-check, djlint-lint

fix(plugins): use dashboard_content block and space-y-6 to match other pages
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
Due: djlint-check, djlint-lint

fix(plugins): replace stat cards with compact summary bar
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
Due: djlint-check, djlint-lint

fix(plugins): reload page on save to update counts, rename Save Settings to Save
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
Due: djlint-check, djlint-lint

fix(plugins): refresh summary bar via HTMX on save instead of page reload
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
  sbomify/apps/plugins/templates/plugins/plugins_summary.html.j2
  sbomify/apps/plugins/urls.py
  sbomify/apps/plugins/views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): remove refreshPluginSettings trigger from content container to prevent toggle flash
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
Due: djlint-check, djlint-lint

fix(plugins): address review findings
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
  sbomify/apps/plugins/views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): use request.session.current_team.role for sidebar role check
  sbomify/apps/core/templates/core/components/sidebar.html.j2
Due: djlint-check, djlint-lint

feat(plugins): remove Plugins tab from Settings (now in sidebar)
  sbomify/apps/teams/templates/teams/team_settings.html.j2
Due: djlint-check, djlint-lint

fix(plugins): address PR review feedback
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
  sbomify/apps/plugins/views.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: Caddy KC_HOSTNAME as bare domain, robust settings parsing, dev env fixes
  Caddyfile
  docker-compose.dev.yml
  docker-compose.yml
  docs/deployment.md
  sbomify/settings.py
  screencasts/output/.gitkeep
Due: markdownlint, ruff-format, ruff

fix: add missing @types/dompurify and @types/marked dev dependencies
  bun.lock
  package.json
Due: none

feat: add TLS, custom CA, and Redis password support for production deployments
  .env.example
  docker-compose.yml
  docs/deployment.md
  sbomify/settings.py
Due: markdownlint, ruff-format, ruff

docs: simplify PKI docs — use root CA cert directly, no bundle needed
  docs/deployment.md
Due: markdownlint

refactor: simplify Redis config — use REDIS_URL only, drop REDIS_HOST/PASSWORD/TLS
  .env.example
  docker-compose.tests.yml
  docker-compose.yml
  docs/deployment.md
  sbomify/settings.py
Due: markdownlint, ruff-format, ruff

refactor: REDIS_URL is base URL without database number
  docker-compose.tests.yml
  docker-compose.yml
  docs/deployment.md
  sbomify/settings.py
Due: markdownlint, ruff-format, ruff

fix: address PR feedback — use profiles for ca-cert, pin Alpine version
  docker-compose.yml
  docs/deployment.md
Due: markdownlint

fix: address PR feedback — redact credentials in log, validate TLS, use urlparse
  .env.example
  sbomify/settings.py
Due: ruff-format, ruff

fix: reduce Redis cache pool to 10 connections, remove redundant MAX_CONNECTIONS
  sbomify/settings.py
Due: ruff-format, ruff

fix: validate REDIS_URL scheme and netloc to fail fast on bad input
  sbomify/settings.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
