Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=html.j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=html.j2 --lint
  language: system
  pass_filenames: false

Update Django static files configuration and use correct STORAGES setting
  sbomify/settings.py
Due: ruff-format, ruff

Replace deprecated STATICFILES_STORAGE with STORAGES configuration in test settings
  sbomify/test_settings.py
Due: ruff-format, ruff

Add lenient static files storage to handle missing manifest entries
  sbomify/apps/core/storage/lenient.py
  sbomify/settings.py
Due: ruff-format, ruff

Fix manifest.webmanifest path and replace custom storage backend
  sbomify/apps/core/storage/lenient.py
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/settings.py
  vite.config.ts
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Adds first set of ADRs
  docs/ADR/ADR-001.md
  docs/ADR/ADR-002.md
Due: markdownlint

Refactor layout interactions into separate module to fix dropdown initialization
  sbomify/apps/billing/js/main.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/layout-interactions.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/documents/js/main.ts
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/teams/js/main.ts
  sbomify/apps/vulnerability_scanning/js/main.ts
  sbomify/static/css/layout.css
Due: bun-lint

Enhance NTIA compliance validation with partial status and detailed reporting
  sbomify/apps/core/apis.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/project_details_private.html.j2
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/sboms/js/components/NTIAComplianceAssistant.vue
  sbomify/apps/sboms/js/components/NTIAComplianceBadge.vue
  sbomify/apps/sboms/js/components/NTIAComplianceProgress.vue
  sbomify/apps/sboms/js/components/SbomsDataTable.vue
  sbomify/apps/sboms/js/components/SbomsTable.vue
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/ntia_validator.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/templates/sboms/sbom_details_private.html.j2
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/tests/test_ntia_task.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/sboms/views.py
  sbomify/tasks.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Migration: team settings
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  docker-compose.dev.yml
  pyproject.toml
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/js/components/TeamBilling.vue
  sbomify/apps/teams/js/components/TeamDangerZone.spec.ts
  sbomify/apps/teams/js/components/TeamDangerZone.vue
  sbomify/apps/teams/js/components/TeamInvitations.vue
  sbomify/apps/teams/js/components/TeamMembers.vue
  sbomify/apps/teams/js/main.ts
  sbomify/apps/teams/permissions.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/team_details.html.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/billing.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/branding.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/integrations.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/members.html.j2
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/team_settings.py
  sbomify/settings.py
  sbomify/static/css/components/team-billing.css
  sbomify/static/css/components/team-invitations.css
  sbomify/static/css/components/team-members.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Fix formatting in permissions.py by removing extra space in import statement
  sbomify/apps/teams/permissions.py
Due: ruff-format, ruff

Refactor TeamRoleRequiredMixin to use Member model for permission checks and update error messages for clarity. Enhance tests for team settings access based on user roles.
  sbomify/apps/teams/permissions.py
  sbomify/apps/teams/tests/test_teams.py
Due: ruff-format, ruff

Remove commented-out test for team settings access based on user roles in test_teams.py to clean up the codebase.
  sbomify/apps/teams/tests/test_teams.py
Due: ruff-format, ruff

Add support for stopping containers via developer_mode.sh
  README.md
  bin/developer_mode.sh
Due: markdownlint

Work in progress - CNAME and caddy support
  Caddyfile
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  docs/caddy-custom-domains.md
  pyproject.toml
  sbomify/apps/teams/admin.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/migrations/0016_create_custom_domain.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/tasks.py
  sbomify/apps/teams/tests/test_custom_domain_integration.py
  sbomify/apps/teams/tests/test_custom_domains.py
  sbomify/apps/teams/tests/test_tls_endpoint.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/tls.py
  sbomify/tasks.py
  sbomify/urls.py
  uv.lock
Due: markdownlint, ruff-format, ruff

Wrap NTIA compliance modal in Teleport and add team key prop for billing upgrades
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/sboms/js/components/NTIAComplianceBadge.vue
  sbomify/apps/sboms/js/components/SbomsDataTable.vue
  sbomify/apps/sboms/js/components/SbomsTable.vue
  sbomify/apps/sboms/templates/sboms/sbom_details_private.html.j2
Due: bun-lint, djlint-check, djlint-lint

More dev fixes
  Caddyfile
  README.md
  bin/developer_mode.sh
  docker-compose.dev.yml
  docker-compose.yml
  docs/caddy-custom-domains.md
  sbomify/apps/teams/tests/test_custom_domain_integration.py
Due: markdownlint, ruff-format, ruff

Fixes caddy file
  Caddyfile
Due: none

Don't pull when running in dev mode
  docker-compose.dev.yml
Due: none

Fixes logic in dev script
  bin/developer_mode.sh
Due: none

Grants caddy access to appserver
  sbomify/settings.py
Due: ruff-format, ruff

Fixes non-fqdn cases
  Caddyfile
  docs/caddy-custom-domains.md
  sbomify/apps/teams/tests/test_tls_endpoint.py
  sbomify/apps/teams/views/tls.py
Due: markdownlint, ruff-format, ruff

Configure dramatiq worker processes and threads via environment variables
  .env.example
  docker-compose.yml
Due: none

Update workspace display names and improve current workspace indicators
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/teams/templates/teams/dashboard.html.j2
  sbomify/apps/teams/templates/teams/team_selection_dropdown.html.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/templatetags/teams.py
  sbomify/static/css/layout.css
Due: ruff-format, ruff, djlint-check, djlint-lint

Update documentation to reflect team → workspace terminology change
  DEVELOPER.md
  README.md
  docs/notifications.md
  docs/onboarding.d2
  docs/onboarding.svg
Due: markdownlint

Update terminology from "team" to "workspace" in user-facing messages and documentation
  README.md
  docs/onboarding.d2
  docs/onboarding.svg
  sbomify/apis.py
  sbomify/apps/billing/apis.py
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/js/components/PlanSelection.vue
  sbomify/apps/billing/notifications.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/DangerZone.vue
  sbomify/apps/core/js/components/EditableSingleField.spec.ts
  sbomify/apps/core/js/components/EditableSingleField.vue
  sbomify/apps/core/js/components/ItemSelectModal.vue
  sbomify/apps/core/js/components/ReleaseArtifacts.vue
  sbomify/apps/core/js/layout-interactions.ts
  sbomify/apps/core/templates/admin/dashboard.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/welcome.html.j2
  sbomify/apps/sboms/management/commands/cleanup_test_sbom_environment.py
  sbomify/apps/sboms/management/commands/create_test_sbom_environment.py
  sbomify/apps/sboms/tests/test_views.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/invite.html.j2
  sbomify/apps/teams/templates/teams/new_user_email.txt
  sbomify/apps/teams/templates/teams/team_invite_email.html.j2
  sbomify/apps/teams/templates/teams/team_invite_email.txt
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/members.html.j2
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/views/dashboard.py
  sbomify/apps/teams/views/team_settings.py
  sbomify/apps/vulnerability_scanning/admin.py
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/js/components/VulnerabilityTimeSeries.vue
  sbomify/apps/vulnerability_scanning/tasks.py
  sbomify/settings.py
  sbomify/urls.py
Due: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Rename teams to workspaces in frontend components and tests
  README.md
  docs/notifications.md
  sbomify/apps/core/js/components/DangerZone.spec.ts
  sbomify/apps/core/js/components/DangerZone.vue
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/teams/apps.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/views/__init__.py
  sbomify/static/css/layout.css
Due: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Add released_at field to Release model with UI support
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/ProductReleases.vue
  sbomify/apps/core/migrations/0013_alter_release_options_and_more.py
  sbomify/apps/core/migrations/0014_alter_release_created_at.py
  sbomify/apps/core/models.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/product_releases_private.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/templates/core/releases_dashboard.html.j2
  sbomify/apps/core/tests/test_release_apis.py
  sbomify/apps/core/tests/test_release_models.py
  sbomify/apps/core/views/product_releases_private.py
  sbomify/apps/vulnerability_scanning/apis.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Make released_at field optional in Release model
  sbomify/apps/core/models.py
Due: ruff-format, ruff

Add nullable released_at field to Release model with validation
  sbomify/apps/core/migrations/0013_alter_release_options_and_more.py
  sbomify/apps/core/models.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/tests/test_release_models.py
  sbomify/apps/vulnerability_scanning/apis.py
Due: ruff-format, ruff

Set released_at during Release creation in test instead of updating after
  sbomify/apps/core/tests/test_release_models.py
Due: ruff-format, ruff

Fix test path for teams module in README
  README.md
Due: markdownlint

fix: use template literal for billing API endpoint URL
  sbomify/apps/billing/js/components/PlanSelection.vue
Due: bun-lint

fix: add missing VITE_API_BASE_URL environment variable and minor formatting cleanup
  README.md
  sbomify/apps/billing/js/components/PlanSelection.vue
  sbomify/apps/core/js/components/DangerZone.spec.ts
  sbomify/apps/core/js/components/DangerZone.vue
  sbomify/apps/core/js/components/EditableSingleField.spec.ts
  sbomify/apps/onboarding/templates/onboarding/emails/welcome.html.j2
Due: bun-lint, markdownlint, djlint-check, djlint-lint

Update schema docstrings to clarify workspace terminology migration
  sbomify/apps/teams/schemas.py
Due: ruff-format, ruff

Add datetime support to release date fields with proper API normalization
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/EditableSingleField.vue
  sbomify/apps/core/templates/core/release_details_private.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Remove current workspace display elements from team templates
  sbomify/apps/teams/templates/teams/team_selection_dropdown.html.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
Due: djlint-check, djlint-lint

Add vulnerability scans dashboard with filtering and pagination
  sbomify/apps/teams/urls.py
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/apps/vulnerability_scanning/views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

New: migration contact profiles
  sbomify/apps/core/templates/core/components/messages.htmx.j2
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/js/components/ContactProfiles.vue
  sbomify/apps/teams/js/main.ts
  sbomify/apps/teams/signals.py
  sbomify/apps/teams/templates/teams/contact_profiles/forms/contact.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_form.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_list.html.j2
  sbomify/apps/teams/templates/teams/emails/new_user_email.html.j2
  sbomify/apps/teams/templates/teams/emails/new_user_email.txt
  sbomify/apps/teams/templates/teams/emails/team_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/team_invite_email.txt
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/contact_profiles.py
  sbomify/static/css/components/contact-profiles.css
  sbomify/templates/components/modals/delete_modal.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Refactor form hx-post attributes in contact profile template for improved readability
  sbomify/apps/teams/templates/teams/contact_profiles/profile_form.html.j2
Due: djlint-check, djlint-lint

Add contact profile fixtures and tests for access control and retrieval
  sbomify/apps/teams/fixtures.py
  sbomify/apps/teams/tests/test_contact_profiles.py
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.html\.j2$
  djlint-lint: any of: \.html\.j2$
