Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

refactor(compliance): remove an unrouted view and test-only helpers
  sbomify/apps/compliance/models.py
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/tests/test_cra_models.py
  sbomify/apps/compliance/tests/test_wizard_service.py
  sbomify/apps/compliance/views/vdp_public.py
Due: ruff-format, ruff

refactor(vulnerability-scanning): drop the unread vulnerability_provider setting
  sbomify/apps/vulnerability_scanning/admin.py
  sbomify/apps/vulnerability_scanning/migrations/0014_remove_teamvulnerabilitysettings_vulnerability_provider.py
  sbomify/apps/vulnerability_scanning/models.py
  sbomify/apps/vulnerability_scanning/services/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_dt_pool_owned_servers.py
  sbomify/apps/vulnerability_scanning/tests/test_models.py
Due: ruff-format, ruff

chore: remove empty packages and re-export shims
  sbomify/apps/compliance/admin.py
  sbomify/apps/documents/api/__init__.py
  sbomify/apps/documents/domain/__init__.py
  sbomify/apps/documents/integrations/__init__.py
  sbomify/apps/vulnerability_scanning/api/__init__.py
  sbomify/apps/vulnerability_scanning/domain/__init__.py
  sbomify/apps/vulnerability_scanning/integrations/__init__.py
Due: ruff-format, ruff

refactor(vulnerability-scanning): share the exploited-feed cache between KEV and EUVD
  sbomify/apps/vulnerability_scanning/euvd.py
  sbomify/apps/vulnerability_scanning/kev.py
  sbomify/apps/vulnerability_scanning/tests/test_euvd.py
Due: ruff-format, ruff

refactor(controls): serve workspace and product status updates from one view
  sbomify/apps/controls/tests/test_page_actions.py
  sbomify/apps/controls/urls.py
  sbomify/apps/controls/views.py
Due: ruff-format, ruff

refactor(documents): remove unused Document methods
  sbomify/apps/documents/models.py
  sbomify/apps/documents/tests/test_trust_center_badges.py
Due: ruff-format, ruff

refactor(compliance): take the EU member states from the country-language map
  sbomify/apps/compliance/services/wizard_service.py
Due: ruff-format, ruff

refactor(vulnerability-scanning): remove the component VEX loader wrapper and matches_query
  sbomify/apps/vulnerability_scanning/services/finding_browse.py
  sbomify/apps/vulnerability_scanning/tests/test_vex.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

refactor(documents): share access-request state changes between the views and the API
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/services/access_requests.py
  sbomify/apps/documents/tests/test_access_request_queue_responses.py
  sbomify/apps/documents/tests/test_access_request_service.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff

refactor(controls): share the API's workspace checks and public summary
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/services/public_service.py
  sbomify/apps/controls/tests/test_apis.py
  sbomify/apps/controls/tests/test_public_service.py
Due: ruff-format, ruff

fix(controls): take control-group icons from the catalogs
  sbomify/apps/controls/services/status_service.py
  sbomify/apps/controls/tests/test_status_service.py
Due: ruff-format, ruff

refactor(documents): build the access-request queue response once
  sbomify/apps/documents/tests/test_access_request_queue_responses.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff

refactor(vulnerability-scanning): import dramatiq_crontab directly
  sbomify/apps/vulnerability_scanning/tasks/__init__.py
Due: ruff-format, ruff

refactor(frontend): remove window globals and helpers nobody reads
  sbomify/apps/core/js/alerts-global.ts
  sbomify/apps/core/js/alerts.ts
  sbomify/apps/core/js/clipboard-global.ts
  sbomify/apps/core/js/clipboard.ts
  sbomify/apps/core/js/components/access-tokens-list.ts
  sbomify/apps/core/js/components/account-danger-zone.ts
  sbomify/apps/core/js/components/delete-modal.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/js/utils.spec.ts
  sbomify/apps/core/js/utils.ts
Due: bun-lint

chore(deps): drop unused npm packages and scripts
  bun.lock
  package.json
  sbomify/apps/core/js/alpine-declarations.d.ts
  sbomify/apps/core/js/alpine-init.ts
Due: bun-lint

refactor(frontend): remove members of live Alpine components nobody reads
  sbomify/apps/compliance/js/cra-step-2.ts
  sbomify/apps/core/js/component-meta-info-editor.spec.ts
  sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/core/js/components/editable-single-field.ts
  sbomify/apps/core/js/components/file-drag-and-drop.spec.ts
  sbomify/apps/core/js/components/file-drag-and-drop.ts
  sbomify/apps/core/js/components/release-artifacts.ts
  sbomify/apps/core/js/components/websocket-store.ts
  sbomify/apps/documents/js/document-upload.ts
  sbomify/apps/documents/js/documents-table.ts
  sbomify/apps/sboms/js/sboms-table.ts
  sbomify/apps/teams/js/team-branding.spec.ts
  sbomify/apps/teams/js/team-branding.ts
Due: bun-lint

refactor(frontend): drop the hand-rolled focus trap from the delete modal
  sbomify/apps/core/js/components/delete-modal.spec.ts
  sbomify/apps/core/js/components/delete-modal.ts
Due: bun-lint

refactor(frontend): remove four Alpine components no template mounts
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/js/components/copy-token.ts
  sbomify/apps/core/js/components/date-picker.ts
  sbomify/apps/core/js/components/product-identifiers.spec.ts
  sbomify/apps/core/js/components/product-identifiers.ts
  sbomify/apps/core/js/components/workspace-switcher.spec.ts
  sbomify/apps/core/js/components/workspace-switcher.ts
  sbomify/static/css/layout.css
Due: bun-lint

refactor(frontend): remove modules nothing imports
  sbomify/apps/core/js/components/pagination-controls.ts
  sbomify/apps/core/js/components/product-releases.spec.ts
  sbomify/apps/core/js/constants.ts
  sbomify/apps/core/js/constants/colors.ts
  sbomify/apps/core/js/enums.ts
  sbomify/apps/core/js/type_defs.d.ts
  sbomify/apps/documents/js/documents-table.spec.ts
  sbomify/apps/sboms/js/enums.ts
  sbomify/apps/sboms/js/sboms-table.spec.ts
  sbomify/apps/sboms/js/type_defs.d.ts
  sbomify/static/manifest.json
Due: bun-lint

refactor(frontend): trim alpine-components.ts to what templates mount
  sbomify/apps/core/js/alpine-components.ts
Due: bun-lint

build(frontend): ship the web manifest as a static file instead of vite-plugin-pwa
  bun.lock
  package.json
  sbomify/assets/public/manifest.webmanifest
  vite.config.ts
Due: bun-lint

refactor(frontend): remove Vite entries nothing loads or that do nothing
  AGENTS.md
  sbomify/apps/billing/js/billing.spec.ts
  sbomify/apps/billing/js/billing.ts
  sbomify/apps/billing/js/main.ts
  sbomify/apps/billing/templates/billing/select_plan.html.j2
  sbomify/apps/core/templates/core/component_details_private_sbom.html.j2
  sbomify/apps/core/templates/core/component_details_public_sbom.html.j2
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/sboms/templates/sboms/component_artifacts.html.j2
  sbomify/apps/vulnerability_scanning/js/main.ts
  vite.config.ts
Due: bun-lint, markdownlint, djlint-check, djlint-lint

refactor(frontend): remove HTMX lifecycle hooks with no consumer
  sbomify/apps/core/js/htmx-lifecycle.ts
  sbomify/apps/plugins/js/assessment-results-card.spec.ts
  sbomify/apps/plugins/js/assessment-results-card.ts
Due: bun-lint

build(frontend): drop postcss, autoprefixer, dotenv and dead Vite options
  Dockerfile
  bun.lock
  package.json
  postcss.config.js
  vite.config.ts
Due: bun-lint

chore(frontend): remove the Prettier toolchain nobody runs
  .prettierignore
  .prettierrc.js
  Dockerfile
  bun.lock
  package.json
Due: bun-lint

refactor(frontend): remove the Bootstrap-era layout-interactions module
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/layout-interactions.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/documents/js/main.ts
  sbomify/apps/teams/js/main.ts
Due: bun-lint

refactor(frontend): fold three small duplicates
  sbomify/apps/compliance/js/eu-countries.ts
  sbomify/apps/core/js/components/release-editor.ts
  sbomify/apps/core/js/utils.spec.ts
  sbomify/apps/core/js/utils.ts
  sbomify/apps/teams/js/team-branding.ts
Due: bun-lint

refactor(sboms): remove the legacy supplier and contacts editor
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/tests/templates/test_component_meta_info_templates.py
  sbomify/apps/sboms/js/contacts-editor.spec.ts
  sbomify/apps/sboms/js/contacts-editor.ts
  sbomify/apps/sboms/js/supplier-editor.spec.ts
  sbomify/apps/sboms/js/supplier-editor.ts
  sbomify/apps/sboms/templates/sboms/components/contacts_editor.html.j2
  sbomify/apps/sboms/templates/sboms/components/contacts_editor_base.html.j2
  sbomify/apps/sboms/templates/sboms/components/supplier_editor.html.j2
  sbomify/apps/sboms/templates/sboms/components/supplier_editor_base.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

chore(deps): drop the fast-uri override
  bun.lock
  package.json
Due: none

refactor(frontend): drop the unused license category styles
  sbomify/apps/sboms/js/sboms-table.ts
  sbomify/static/css/components.css
  sbomify/static/css/public-pages.css
Due: bun-lint

fix(core): show one toast per metadata action
  sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/core/js/component-meta-info.spec.ts
  sbomify/apps/core/js/component-meta-info.ts
  sbomify/apps/core/js/events.ts
Due: bun-lint

fix(frontend): show the component metadata alerts
  sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/core/js/component-meta-info.spec.ts
  sbomify/apps/core/js/component-meta-info.ts
  sbomify/apps/core/js/events.ts
Due: bun-lint

refactor(frontend): replace axios with fetch
  bun.lock
  package.json
  sbomify/apps/compliance/js/cra-step-3.spec.ts
  sbomify/apps/core/js/components/delete-modal.spec.ts
  sbomify/apps/core/js/components/editable-single-field.spec.ts
  sbomify/apps/core/js/components/editable-single-field.ts
  sbomify/apps/core/js/components/product-releases.spec.ts
  sbomify/apps/core/js/components/release-artifacts.spec.ts
  sbomify/apps/core/js/components/release-artifacts.ts
  sbomify/apps/core/js/components/release-editor.spec.ts
  sbomify/apps/core/js/components/release-editor.ts
  sbomify/apps/core/js/components/site-notifications.spec.ts
  sbomify/apps/core/js/components/site-notifications.ts
  sbomify/apps/core/js/utils.spec.ts
  sbomify/apps/core/js/utils.ts
  sbomify/apps/teams/js/team-branding.spec.ts
Due: bun-lint

chore(config): drop dead coverage, mypy and test settings
  pyproject.toml
  sbomify/test_settings.py
Due: ruff-format, ruff

chore(deps): drop four Python packages nothing uses
  pyproject.toml
  sbomify/settings.py
  uv.lock
Due: ruff-format, ruff

refactor(settings): read the Sentry traces rate once
  sbomify/settings.py
Due: ruff-format, ruff

chore(settings): drop settings.py lines that change nothing
  sbomify/settings.py
Due: ruff-format, ruff

chore(settings): remove settings nothing reads
  .env.example
  .github/workflows/ci-cd.yml
  DEVELOPER.md
  README.md
  docs/deployment.md
  docs/notifications.md
  sbomify/settings.py
  sbomify/test_settings.py
Due: markdownlint, ruff-format, ruff

chore(deps): drop django-cors-headers
  pyproject.toml
  sbomify/settings.py
  uv.lock
Due: ruff-format, ruff

refactor(settings): drop the STRIPE_API_KEY alias
  sbomify/settings.py
  sbomify/test_settings.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
