Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

docs: drop environment variables nothing reads
  .env.example
  README.md
Due: markdownlint

ci: stop setting STRIPE_ENDPOINT_SECRET and DJANGO_TEST
  .github/workflows/ci-cd.yml
  .github/workflows/screencasts.yml
Due: none

chore(deps): drop the comment justifying a sigstore fallback
  pyproject.toml
Due: none

refactor(templates): render form fields without widget_tweaks
  sbomify/apps/billing/templates/billing/_enterprise_contact_form.html.j2
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/core/templates/core/components/component_metadata_form.html.j2
  sbomify/apps/core/templates/core/support_contact.html.j2
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/templates/components/modals/delete_modal.html.j2
Due: djlint-check, djlint-lint

fix(messages): use Django's default message tags
  sbomify/apps/billing/tests/test_enterprise_contact_messages.py
  sbomify/apps/core/js/django-messages.spec.ts
  sbomify/apps/core/js/django-messages.ts
  sbomify/apps/core/tests/e2e/test_messages.py
  sbomify/settings.py
Due: bun-lint, ruff-format, ruff

fix(admin): list the plugin, access token and onboarding models in the admin
  sbomify/apps/access_tokens/admin.py
  sbomify/apps/core/tests/test_admin_site_registrations.py
  sbomify/apps/onboarding/admin.py
  sbomify/apps/plugins/admin.py
Due: ruff-format, ruff

refactor(admin): drop registrations on the unmounted default admin site
  sbomify/apps/sboms/admin.py
  sbomify/apps/teams/admin.py
Due: ruff-format, ruff

refactor(core): remove the unused design_system template tags
  sbomify/apps/compliance/templates/compliance/cra_product_list.html.j2
  sbomify/apps/compliance/templates/compliance/cra_scope_screening.html.j2
  sbomify/apps/core/templates/components/tw/actions_menu.html.j2
  sbomify/apps/core/templates/components/tw/alert.html.j2
  sbomify/apps/core/templates/components/tw/avatar.html.j2
  sbomify/apps/core/templates/components/tw/badge.html.j2
  sbomify/apps/core/templates/components/tw/breadcrumb.html.j2
  sbomify/apps/core/templates/components/tw/button.html.j2
  sbomify/apps/core/templates/components/tw/button_link.html.j2
  sbomify/apps/core/templates/components/tw/checkbox.html.j2
  sbomify/apps/core/templates/components/tw/choice_group.html.j2
  sbomify/apps/core/templates/components/tw/code_block.html.j2
  sbomify/apps/core/templates/components/tw/dropdown.html.j2
  sbomify/apps/core/templates/components/tw/empty_state.html.j2
  sbomify/apps/core/templates/components/tw/icon_button.html.j2
  sbomify/apps/core/templates/components/tw/input.html.j2
  sbomify/apps/core/templates/components/tw/loading_state.html.j2
  sbomify/apps/core/templates/components/tw/modal.html.j2
  sbomify/apps/core/templates/components/tw/pagination.html.j2
  sbomify/apps/core/templates/components/tw/progress.html.j2
  sbomify/apps/core/templates/components/tw/radio.html.j2
  sbomify/apps/core/templates/components/tw/select.html.j2
  sbomify/apps/core/templates/components/tw/skeleton.html.j2
  sbomify/apps/core/templates/components/tw/spinner.html.j2
  sbomify/apps/core/templates/components/tw/table_pager.html.j2
  sbomify/apps/core/templates/components/tw/tabs.html.j2
  sbomify/apps/core/templates/components/tw/tag.html.j2
  sbomify/apps/core/templates/components/tw/textarea.html.j2
  sbomify/apps/core/templates/components/tw/toast.html.j2
  sbomify/apps/core/templates/components/tw/toast_container.html.j2
  sbomify/apps/core/templates/components/tw/toggle.html.j2
  sbomify/apps/core/templates/components/tw/token_display.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/apps/core/templatetags/design_system.py
  sbomify/apps/core/tests/test_cotton_feedback.py
  sbomify/apps/core/tests/test_design_system_tags.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(core): remove unused Component and Release helpers
  sbomify/apps/core/models.py
  sbomify/apps/core/tests/test_release_models.py
Due: ruff-format, ruff

refactor(core): remove the dead custom-domain helpers in url_utils
  sbomify/apps/core/tests/test_url_utils.py
  sbomify/apps/core/url_utils.py
Due: ruff-format, ruff

refactor(core): remove the dead public URL template tags
  sbomify/apps/core/templatetags/public_url_tags.py
  sbomify/apps/core/tests/test_public_url_tags.py
Due: ruff-format, ruff

refactor(core): remove the unused task decorator and logging helpers
  sbomify/apps/core/services/logging.py
  sbomify/apps/core/tests/test_task_utils.py
  sbomify/task_utils.py
Due: ruff-format, ruff

refactor(core): remove the unused breadcrumb template tag
  sbomify/apps/core/templates/core/components/breadcrumb.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templatetags/breadcrumb_tags.py
  sbomify/apps/core/tests/test_breadcrumb_tags.py
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(core): remove unused template filters
  sbomify/apps/core/templatetags/brand_tags.py
  sbomify/apps/core/templatetags/utils.py
Due: ruff-format, ruff

refactor(core): remove schemas nothing references
  sbomify/apps/core/apis.py
  sbomify/apps/core/schemas.py
Due: ruff-format, ruff

refactor(core): drop settings checks that only ever go one way
  sbomify/apps/core/keycloak_utils.py
  sbomify/apps/core/tests/test_views.py
  sbomify/apps/core/views/__init__.py
Due: ruff-format, ruff

refactor(core): remove the unused EOL announcement helpers
  sbomify/apps/core/services/eol.py
  sbomify/apps/core/tests/test_eol_transition.py
Due: ruff-format, ruff

refactor(core): generate IDs with secrets.choice
  sbomify/apps/core/utils.py
Due: ruff-format, ruff

refactor(core): remove helpers and context keys nothing reads
  sbomify/apps/core/admin.py
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/integrations/http.py
  sbomify/apps/core/keycloak_utils.py
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_context_processors.py
  sbomify/apps/core/utils.py
Due: ruff-format, ruff

refactor(core): derive product identifier and link labels from the models
  sbomify/apps/core/services/product_identifiers.py
  sbomify/apps/core/services/product_links.py
Due: ruff-format, ruff

refactor(core): remove legacy inventory and metadata view shims
  docs/ui-action-audit-routes.csv
  sbomify/apps/core/tests/integration/test_ui_workflows.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/components_dashboard.py
  sbomify/apps/core/views/products_dashboard.py
  sbomify/apps/core/views/releases_dashboard.py
Due: ruff-format, ruff

refactor(core): inline the one-line helpers in core/apis.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_public_private_constraints.py
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff

refactor(core): drive the CLE service from one per-level table
  sbomify/apps/core/cle_apis.py
  sbomify/apps/core/services/cle.py
Due: ruff-format, ruff

refactor(core): share one component metadata builder with the sboms API
  sbomify/apps/core/apis.py
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff

docs(core): show the copy-field component in the trust center URL tag example
  sbomify/apps/core/templatetags/public_url_tags.py
Due: ruff-format, ruff

test(core): drop the form-retention cases for the removed list-URL POST
  sbomify/apps/core/tests/test_inventory_creation.py
Due: ruff-format, ruff

docs(core): drop a docstring reference to the removed ProductsTableView
  sbomify/apps/core/views/security_advisories.py
Due: ruff-format, ruff

refactor(ui): remove Cotton variants only the gallery and probes use
  sbomify/apps/core/templates/core/cotton_probes/badges_tags.html.j2
  sbomify/apps/core/templates/core/cotton_probes/buttons.html.j2
  sbomify/apps/core/templates/core/cotton_probes/layout.html.j2
  sbomify/apps/core/templates/core/cotton_probes/navigation.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/test_cotton_badges_tags.py
  sbomify/apps/core/tests/test_cotton_buttons.py
  sbomify/apps/core/tests/test_cotton_layout.py
  sbomify/apps/core/tests/test_cotton_navigation.py
  sbomify/templates/components/badges/accent.html
  sbomify/templates/components/buttons/gradient.html
  sbomify/templates/components/buttons/outline.html
  sbomify/templates/components/buttons/outline_success.html
  sbomify/templates/components/buttons/success.html
  sbomify/templates/components/layout/section_body.html
  sbomify/templates/components/layout/section_header.html
  sbomify/templates/components/layout/stat/change.html
  sbomify/templates/components/layout/stat/change_down.html
  sbomify/templates/components/layout/stat/change_up.html
  sbomify/templates/components/layout/stat_card.html
  sbomify/templates/components/navigation/stepper.html
  sbomify/templates/components/navigation/stepper_connector.html
  sbomify/templates/components/navigation/stepper_vertical.html
  sbomify/templates/components/tags/success.html
  sbomify/templates/components/tags/warning.html
Due: ruff-format, ruff, djlint-check, djlint-lint

docs: point the product controls status route at ControlsStatusView
  docs/ui-action-audit-routes.csv
Due: none

docs(core): name the task that runs the daily subscription sync
  sbomify/apps/core/context_processors.py
Due: ruff-format, ruff

refactor(documents): import the access-request cache helper from its service
  sbomify/apps/documents/tests/test_cache_invalidation.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

chore(deps): drop django-widget-tweaks
  pyproject.toml
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/tests/test_add_team_form.py
  sbomify/settings.py
  sbomify/templates/components/modals/form_modal.html.j2
  uv.lock
Due: ruff-format, ruff, djlint-check, djlint-lint

docs: describe list-returning notification providers and the moved drip cron
  docs/email-triggers.md
  docs/notifications.md
Due: markdownlint

chore(css): drop a comment naming a removed template
  sbomify/assets/css/tailwind.src.css
Due: none

fix(plugins): label every assessment run reason
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/plugins/tests/test_templatetags.py
Due: ruff-format, ruff

refactor(core): read upload fields with getattr instead of obj_extract
  sbomify/apps/core/utils.py
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff

test(core): mock the alerts module in the django-messages spec
  sbomify/apps/core/js/django-messages.spec.ts
Due: bun-lint

fix(ui): let surface corners follow the surface's curve
  sbomify/apps/core/tests/test_cotton_cards.py
  sbomify/apps/core/tests/test_cotton_tables.py
  sbomify/assets/css/tailwind.src.css
  sbomify/templates/components/cards/card.html
  sbomify/templates/components/dropdowns/dropdown.html
  sbomify/templates/components/feedback/callout.html
  sbomify/templates/components/tables/header_cell.html
  sbomify/templates/components/tables/shell.html
Due: ruff-format, ruff

feat(assessments): aggregate compliance checks by SBOM requirement
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_an_open_scan_uses_the_shared_vulnerability_table[dark].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_an_open_scan_uses_the_shared_vulnerability_table[light].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_requirements_matrix[dark-1280].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_requirements_matrix[dark-390].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_requirements_matrix[light-1280].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_requirements_matrix[light-390].jpg
  sbomify/apps/core/tests/e2e/test_assessment_requirements.py
  sbomify/apps/core/tests/test_count_noun_agreement.py
  sbomify/apps/core/tests/test_run_findings_filtering.py
  sbomify/apps/core/tests/test_stat_card_values.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/core/views/design_system.py
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/plugins/js/main.ts
  sbomify/apps/plugins/services/assessment_scorecard.py
  sbomify/apps/plugins/services/requirements.py
  sbomify/apps/plugins/services/run_findings.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_findings.html.j2
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/_requirements_matrix.html.j2
  sbomify/apps/plugins/templates/plugins/components/_unassessed_plugin_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/plugins/tests/test_assessment_coverage.py
  sbomify/apps/plugins/tests/test_assessment_run_item_badge.py
  sbomify/apps/plugins/tests/test_assessment_scorecard.py
  sbomify/apps/plugins/tests/test_requirements.py
  sbomify/apps/plugins/tests/test_templatetags.py
  sbomify/apps/plugins/views.py
  sbomify/static/css/components/assessment-results-card.css
  sbomify/templates/components/assessments/bar.html
  sbomify/templates/components/assessments/check.html
  sbomify/templates/components/assessments/row.html
  sbomify/templates/components/assessments/verdict.html
  sbomify/templates/components/vulnerabilities/table.html
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

chore(assessments): satisfy bandit and the djlint format check
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/plugins/services/requirements.py
  sbomify/apps/plugins/services/run_findings.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/_requirements_matrix.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
