Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

Refactor custom domain validation to use middleware
  DYNAMIC_HOSTS_FIX_SUMMARY.md
  sbomify/apps/teams/utils.py
  sbomify/settings.py
  sbomify/test_settings.py
Due: markdownlint, ruff-format, ruff

linting
  DYNAMIC_HOSTS_FIX_SUMMARY.md
  sbomify/apps/core/middleware.py
  sbomify/apps/teams/tests/test_domain_middleware.py
Due: markdownlint, ruff-format, ruff

refs feedback
  sbomify/apps/core/middleware.py
Due: ruff-format, ruff

Fixes bandit feedback
  sbomify/apps/core/middleware.py
  sbomify/apps/teams/tests/test_domain_middleware.py
  sbomify/apps/teams/utils.py
Due: ruff-format, ruff

Extend cached for valid domains - they are invalidated on API change
  sbomify/apps/core/middleware.py
Due: ruff-format, ruff

Add custom domain routing for public pages
  sbomify/apps/core/js/composables/useUrlGeneration.ts
  sbomify/apps/core/middleware.py
  sbomify/apps/core/templatetags/public_url_tags.py
  sbomify/apps/core/tests/test_custom_domain_middleware.py
  sbomify/apps/core/tests/test_custom_domain_redirects.py
  sbomify/apps/core/tests/test_custom_domain_routing.py
  sbomify/apps/core/tests/test_url_utils.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_detailed_private.py
  sbomify/apps/core/views/component_detailed_public.py
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/product_details_private.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/product_releases_private.py
  sbomify/apps/core/views/product_releases_public.py
  sbomify/apps/core/views/project_details_private.py
  sbomify/apps/core/views/project_details_public.py
  sbomify/apps/core/views/release_details_private.py
  sbomify/apps/core/views/release_details_public.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/documents/views.py
  sbomify/apps/teams/branding.py
  sbomify/apps/teams/utils.py
  sbomify/settings.py
  sbomify/test_settings.py
  sbomify/urls.py
Due: bun-lint, ruff-format, ruff

Opus 4.5 self code review
  sbomify/apps/core/js/composables/useUrlGeneration.ts
  sbomify/apps/core/middleware.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/core/views/component_detailed_public.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/product_releases_public.py
  sbomify/apps/core/views/project_details_public.py
  sbomify/apps/core/views/release_details_public.py
  sbomify/apps/documents/views.py
  sbomify/apps/teams/models.py
Due: bun-lint, ruff-format, ruff

Slugify URLs on cname
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/composables/useUrlGeneration.ts
  sbomify/apps/core/models.py
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/project_details_public.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/templatetags/public_url_tags.py
  sbomify/apps/core/tests/test_slug_urls.py
  sbomify/apps/core/tests/test_url_utils.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/core/views/component_detailed_public.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/product_releases_public.py
  sbomify/apps/core/views/project_details_public.py
  sbomify/apps/core/views/release_details_public.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/sboms/models.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Fixes feedback and redirect issues
  sbomify/apps/core/js/composables/useUrlGeneration.ts
  sbomify/apps/core/middleware.py
  sbomify/apps/core/templatetags/public_url_tags.py
  sbomify/apps/core/tests/test_custom_domain_redirects.py
  sbomify/apps/core/tests/test_slug_urls.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/core/views/component_detailed_public.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/product_releases_public.py
  sbomify/apps/core/views/project_details_public.py
  sbomify/apps/core/views/release_details_public.py
  sbomify/apps/core/views/workspace_public.py
Due: bun-lint, ruff-format, ruff

Potential fix for code scanning alert no. 85: Incomplete URL substring sanitization
  sbomify/apps/core/tests/test_custom_domain_redirects.py
Due: ruff-format, ruff

More review
  sbomify/apps/core/url_utils.py
Due: ruff-format, ruff

Update sbomify/apps/core/url_utils.py
  sbomify/apps/core/url_utils.py
Due: ruff-format, ruff

Potential fix for code scanning alert no. 87: Incomplete URL substring sanitization
  sbomify/apps/core/tests/test_custom_domain_redirects.py
Due: ruff-format, ruff

Potential fix for code scanning alert no. 88: Incomplete URL substring sanitization
  sbomify/apps/core/tests/test_slug_urls.py
Due: ruff-format, ruff

More feedback
  sbomify/apps/core/middleware.py
  sbomify/apps/core/models.py
  sbomify/apps/core/tests/test_slug_urls.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

Fixes issues with documents and releases
  sbomify/apps/core/url_utils.py
  sbomify/apps/documents/urls.py
  sbomify/apps/documents/views.py
Due: ruff-format, ruff

More public page fixes
  sbomify/apps/core/js/components/ProductReleases.vue
  sbomify/apps/core/js/components/PublicProductProjects.vue
  sbomify/apps/core/js/components/PublicProjectComponents.vue
  sbomify/apps/core/js/composables/useReleaseDisplay.ts
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/tests/test_custom_domain_redirects.py
  sbomify/apps/core/tests/test_custom_domain_routing.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/core/views/component_detailed_public.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/product_releases_public.py
  sbomify/apps/core/views/project_details_public.py
  sbomify/apps/core/views/release_details_public.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/documents/views.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Refactoring and code review
  sbomify/apps/core/url_utils.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/documents/views.py
Due: ruff-format, ruff

Add custom sbomify login theme with Tailwind CSS
  bun.lock
  keycloak/themes/sbomify/login/login.ftl
  keycloak/themes/sbomify/login/logout-confirm.ftl
  keycloak/themes/sbomify/login/register.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/resources/img/sbomify.svg
  keycloak/themes/sbomify/login/theme.properties
  package.json
  sbomify/apps/core/templates/socialaccount/login.html
  sbomify/apps/core/tests/test_views.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/settings.py
  sbomify/urls.py
  tailwind.keycloak.config.ts
Due: bun-lint, ruff-format, ruff

Include Keycloak theme CSS in production Docker build
  Dockerfile
  docker-compose.dev.yml
Due: none

Remove unused appBaseUrl realm attribute
  bin/keycloak-bootstrap.sh
Due: none

Fix trailing whitespace in package.json
  package.json
Due: none

Add tailwind.keycloak.config.ts to Docker build context
  Dockerfile
Due: none

Move import
  sbomify/apps/core/url_utils.py
Due: ruff-format, ruff

Fixes top logo on public pages
  sbomify/apps/core/templates/core/public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templatetags/public_url_tags.py
  sbomify/apps/core/tests/test_public_url_tags.py
  sbomify/apps/teams/branding.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Code review
  sbomify/apps/core/templates/core/public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: djlint-check, djlint-lint

Fixes feedback
  sbomify/apps/core/templates/core/public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: djlint-check, djlint-lint

Fixes PR feedback
  sbomify/apps/core/templates/core/components/pending_invitations.html.j2
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/dashboard.py
  sbomify/apps/teams/permissions.py
  sbomify/apps/teams/tests/test_admin_permissions.py
  sbomify/apps/teams/tests/test_deletion_edge_cases.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
  sbomify/static/css/base.css
Due: ruff-format, ruff, djlint-check, djlint-lint

Fixes feedback
  sbomify/apps/core/views/__init__.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

More feedback
  sbomify/apps/teams/tests/test_deletion_edge_cases.py
  sbomify/apps/teams/utils.py
Due: ruff-format, ruff

Minor comment
  sbomify/apps/core/views/__init__.py
Due: ruff-format, ruff

Optimize workspace session management with caching and TTL
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/templatetags/teams.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/dashboard.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix workspace switching cache invalidation and datetime import
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/teams/templatetags/teams.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix workspace switching cache invalidation and session tracking
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/teams/utils.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix timezone handling and TTL refresh in user teams session management
  sbomify/apps/teams/templatetags/teams.py
  sbomify/apps/teams/tests/test_teams.py
Due: ruff-format, ruff

Fix duplicate block scripts in base.htmx.j2 and fix delete_member to use remove_member_safely
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Add comprehensive branding color security and functionality improvements
  sbomify/apps/core/apis.py
  sbomify/apps/core/templates/core/component_details_public.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/project_details_public.html.j2
  sbomify/apps/core/templates/core/public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/templatetags/brand_tags.py
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/teams/branding.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/tests/test_branding.py
  sbomify/apps/teams/tests/test_team_model.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix code formatting and style issues in branding module
  sbomify/apps/core/apis.py
  sbomify/apps/core/templatetags/brand_tags.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/teams/branding.py
  sbomify/apps/teams/models.py
Due: ruff-format, ruff

Fix branding color fallback handling and exception specificity
  sbomify/apps/core/templatetags/brand_tags.py
  sbomify/apps/teams/branding.py
Due: ruff-format, ruff

Update cache key for header to fix workspace switching
  sbomify/apps/core/templates/core/base.htmx.j2
Due: djlint-check, djlint-lint
