Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix: round-4 Copilot — drop !important from responsive rules
  sbomify/apps/core/templates/core/emails/base.html.j2
Due: djlint-check, djlint-lint

fix: round-3 Copilot — auto-accept event, trial idempotency, token PII
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/core/tests/test_posthog_tier2_events.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff

fix: round-4 Copilot — visibility prop, missing capture paths, marker race
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/toggle_public_status.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff

fix: round-5 Copilot — state-change guards, auto-approve events, lock-reserved markers
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

fix: round-6 Copilot — gate document:access_approved on real trust-center transitions
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

fix: round-7 Copilot — re-add created-case for trust-center invites to new users
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

fix: round-8 Copilot — two-marker state machine for trial_expired side effects
  sbomify/apps/billing/billing_processing.py
Due: ruff-format, ruff

test(analytics): cover team:custom_domain_added first-time-only behavior
  sbomify/apps/core/tests/test_posthog_tier2_events.py
Due: ruff-format, ruff

feat(compliance): hide "use sbomify-action" CTA when SBOM is already from it
  sbomify/apps/compliance/services/sbom_compliance_service.py
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
  sbomify/apps/compliance/tests/test_sbom_compliance_service.py
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(auth): require auth on list endpoints and reject invalid bearer tokens
  sbomify/apps/access_tokens/auth.py
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/core/tests/test_permission_consistency.py
Due: ruff-format, ruff

fix(auth): harden bearer-token parsing against malformed Authorization headers
  sbomify/apps/access_tokens/auth.py
  sbomify/apps/access_tokens/tests.py
Due: ruff-format, ruff

fix: round-4 Copilot — barcode race, mobile error fallback, CSS scope, test side effect
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/tests/e2e/test_ux_review_trust_center.py
  sbomify/assets/css/tailwind.src.css
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: round-4 hotfix — wrap multi-line docstring in {% comment %}
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
Due: djlint-check, djlint-lint

fix: round-5 Copilot — drop !important in applyTheme; aria-hidden on gated-state icons; releases-page test; doc cleanup
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/tests/e2e/test_ux_review_trust_center.py
  sbomify/apps/core/tests/test_product_details_public_view.py
  sbomify/apps/core/views/release_details_public.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: round-6 Copilot — aria-hidden on remaining decorative icons
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
Due: djlint-check, djlint-lint

fix: round-6 Copilot — workspace icons aria-hidden + restore SBOM mobile version info
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
Due: djlint-check, djlint-lint

fix: round-8 Copilot — append ?from_public=true on public SBOM downloads
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
Due: djlint-check, djlint-lint

fix: round-9 Copilot — restore Version + Created in release artifacts mobile meta
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
Due: djlint-check, djlint-lint

fix: round-1 Copilot — fail-safe detection + lazy S3 fetch
  issue-902-comparison.png
  sbomify/apps/compliance/services/sbom_compliance_service.py
  sbomify/apps/compliance/tests/test_sbom_compliance_service.py
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

chore: untrack ad-hoc browser-test screenshot
  issue-902-comparison.png
Due: none

fix: round-2 Copilot — short negative TTL for transient detection failures
  .gitignore
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

fix: round-3 Copilot — tolerate cache backend outage
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

fix: round-4 Copilot — SPDX hyphen-version matching + TS interface sync
  sbomify/apps/compliance/js/cra-step-2.ts
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/utils.py
Due: bun-lint, ruff-format, ruff

fix(auth): case-insensitive Bearer scheme + tighten public-endpoint assertion
  sbomify/apps/access_tokens/auth.py
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/core/tests/test_permission_consistency.py
Due: ruff-format, ruff

test: round-5 Copilot — exercise CycloneDX malformed-shape guards
  sbomify/apps/sboms/tests/test_utils.py
Due: ruff-format, ruff

fix: round-6 Copilot — version-aware SPDX match + test relocation
  sbomify/apps/compliance/tests/test_sbom_compliance_service.py
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

fix: round-7 Copilot — strict SemVer match + parallel S3 prefetch
  sbomify/apps/compliance/services/sbom_compliance_service.py
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

fix(compliance): stop CRA Step 2 leaking template-comment tail into check titles
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
Due: djlint-check, djlint-lint

fix(trust-center): stop leaking HTML comments + collapse redundant footer divider
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
Due: djlint-check, djlint-lint

fix: convert 4 multi-line {# … #} comments to {% comment %} blocks
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
Due: djlint-check, djlint-lint

fix(trust-center): soften hard-line dividers between public component rows
  sbomify/apps/core/templates/core/product_details_public.html.j2
Due: djlint-check, djlint-lint

fix(trust-center): soften card-footer dividers on workspace home
  sbomify/apps/core/templates/core/workspace_public.html.j2
Due: djlint-check, djlint-lint

fix(css): make divide-border/N fallbacks actually render the hairlines
  sbomify/assets/css/tailwind.src.css
Due: none

fix(css): colour both border edges in divide-border/N fallbacks
  sbomify/assets/css/tailwind.src.css
Due: none

fix: address Copilot round-1 on PR #971
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/assets/css/tailwind.src.css
Due: djlint-check, djlint-lint

fix(compliance): replace 404 BSI guidance URLs with published page
  sbomify/apps/compliance/services/sbom_compliance_service.py
Due: ruff-format, ruff

fix(compliance): point default guidance URL at /compliance/ index
  sbomify/apps/compliance/services/sbom_compliance_service.py
Due: ruff-format, ruff

docs(screencasts): drop stale 'projects' from release_creation hierarchy
  screencasts/release_creation.py
Due: ruff-format, ruff

fix(docker): ship WeasyPrint runtime libs in distroless prod image
  Dockerfile
Due: none

fix(docker): pin Chainguard wolfi-base by digest
  Dockerfile
Due: none
