Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix(docker): slim WeasyPrint runtime payload via explicit .so allowlist
  Dockerfile
Due: none

fix(docker): drop unused SansBoldItalic font weight
  Dockerfile
Due: none

docs(dockerfile): make font set explicit in stage 7b comment
  Dockerfile
Due: none

docs(dockerfile): correct wolfi-base reproducibility claim
  Dockerfile
Due: none

fix(public): invert CycloneDX/SPDX format logos in dark mode
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
Due: djlint-check, djlint-lint

fix(public): apply dark Tailwind variables when trust-center is in dark mode
  sbomify/apps/core/js/theme-manager.ts
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: bun-lint, djlint-check, djlint-lint

refactor(compliance): rename guidance constants + DRY override URL
  sbomify/apps/compliance/services/sbom_compliance_service.py
  sbomify/apps/compliance/tests/test_sbom_compliance_service.py
Due: ruff-format, ruff

docs(compliance): align docstrings with current behavior
  sbomify/apps/compliance/services/sbom_compliance_service.py
  sbomify/apps/compliance/tests/test_sbom_compliance_service.py
Due: ruff-format, ruff

refactor(compliance): rename BSI constant to a neutral guidance name
  sbomify/apps/compliance/services/sbom_compliance_service.py
  sbomify/apps/compliance/tests/test_sbom_compliance_service.py
Due: ruff-format, ruff

fix(css): declare @custom-variant dark for Tailwind v4 class mode
  sbomify/assets/css/tailwind.src.css
Due: none

fix(public): drop duplicate <span> text next to format-logo wordmarks
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
Due: djlint-check, djlint-lint

fix(compliance): signature pad zoom-in bug on reload
  sbomify/apps/compliance/js/cra-doc-signature.ts
Due: bun-lint

test+chore: theme-manager guard test + drop redundant data-theme rule
  sbomify/apps/core/js/theme-manager.spec.ts
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: bun-lint, djlint-check, djlint-lint

test: real-module coverage for theme-manager guard + signature-pad ratio
  sbomify/apps/compliance/js/cra-doc-signature.spec.ts
  sbomify/apps/core/js/theme-manager.spec.ts
Due: bun-lint

test: source-guard the signature pad restore call site
  sbomify/apps/compliance/js/cra-doc-signature.spec.ts
Due: bun-lint

fix(compliance): redact signing Place on the public DoC view
  sbomify/apps/compliance/tests/test_doc_public.py
  sbomify/apps/compliance/tests/test_public_helpers.py
  sbomify/apps/compliance/views/_public_helpers.py
  sbomify/apps/compliance/views/doc_public.py
Due: ruff-format, ruff

fix(compliance): drop Place bullet entirely from public DoC (not placeholder)
  sbomify/apps/compliance/tests/test_doc_public.py
  sbomify/apps/compliance/tests/test_public_helpers.py
  sbomify/apps/compliance/views/_public_helpers.py
  sbomify/apps/compliance/views/doc_public.py
Due: ruff-format, ruff

fix(public): make <code> inline blocks readable in trust-center dark mode
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: djlint-check, djlint-lint

fix: Copilot round 1 on PR #976 — EOF-safe regex + reuse dark tokens
  sbomify/apps/compliance/tests/test_public_helpers.py
  sbomify/apps/compliance/views/_public_helpers.py
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

test: scrub real-identifying values from compliance test fixtures
  sbomify/apps/compliance/tests/test_doc_public.py
  sbomify/apps/compliance/tests/test_public_helpers.py
Due: ruff-format, ruff

fix(analytics): workspace-key distinct_id + PII guards (C1, H5, M6, H6)
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/tests/test_posthog_tier2_events.py
  sbomify/apps/core/views/search.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

fix(analytics): defer trial_expired capture via on_commit
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/core/tests/test_posthog_tier2_events.py
Due: ruff-format, ruff

fix(analytics): defer post-write Tier 2 captures via on_commit (H4)
  sbomify/apps/core/tests/test_posthog_tier2_events.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff

refactor(analytics): hoist capture_for_request imports to module top (M1)
  sbomify/apps/core/apis.py
  sbomify/apps/core/signals.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/search.py
  sbomify/apps/core/views/toggle_public_status.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/onboarding/signals.py
  sbomify/apps/sboms/views/sbom_download.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/team_branding.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff

feat(analytics): add team:role_changed and document:access_denied events (C2)
  sbomify/apps/core/tests/test_posthog_tier2_events.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/signals/handlers.py
Due: ruff-format, ruff

test(analytics): split Tier 2 test file by domain + shared helpers (M5, H3)
  sbomify/apps/core/tests/posthog_helpers.py
  sbomify/apps/core/tests/test_posthog_tier2_billing.py
  sbomify/apps/core/tests/test_posthog_tier2_documents.py
  sbomify/apps/core/tests/test_posthog_tier2_events.py
  sbomify/apps/core/tests/test_posthog_tier2_service.py
  sbomify/apps/core/tests/test_posthog_tier2_teams.py
Due: ruff-format, ruff

refactor(billing): extract TrialExpiryEmissionGuard (M3)
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/test_trial_expiry_guard.py
  sbomify/apps/billing/trial_expiry.py
Due: ruff-format, ruff

feat(analytics): event registry with property schema + drift detection (M2, M4)
  sbomify/apps/core/analytics/__init__.py
  sbomify/apps/core/analytics/events.py
  sbomify/apps/core/tests/test_analytics_events_registry.py
Due: ruff-format, ruff

fix: round-9 Copilot — enum payloads, registry shape, thread-safe snapshot
  sbomify/apps/core/analytics/events.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_analytics_events_registry.py
  sbomify/apps/core/tests/test_posthog_tier2_teams.py
  sbomify/apps/core/views/toggle_public_status.py
  sbomify/apps/teams/signals/handlers.py
Due: ruff-format, ruff

fix: round-10 Copilot — on_commit for created/deleted, docstring + schema sync
  sbomify/apps/core/analytics/events.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_posthog_tier2_teams.py
  sbomify/apps/core/views/__init__.py
Due: ruff-format, ruff

fix: round-11 Copilot — snapshot leak, send-then-capture, comment grammar
  sbomify/apps/core/tests/test_posthog_tier2_teams.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff

fix: round-12 Copilot — defer remaining Tier 2 captures via on_commit
  sbomify/apps/core/tests/test_posthog_tier2_teams.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/toggle_public_status.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/team_branding.py
Due: ruff-format, ruff

fix: round-13 Copilot — runtime drift, scope skip, missing tests
  sbomify/apps/core/analytics/events.py
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/tests/test_analytics_events_registry.py
  sbomify/apps/core/tests/test_posthog_tier2_entities.py
  sbomify/apps/core/views/__init__.py
Due: ruff-format, ruff

fix: round-14 Copilot — empty team_key must skip, never fall back to user PK
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/tests/test_posthog_tier2_service.py
  sbomify/apps/core/views/search.py
  sbomify/apps/core/views/toggle_public_status.py
Due: ruff-format, ruff

fix: round-15 Copilot — always clear role snapshot + naive datetime guard
  sbomify/apps/billing/tests/test_trial_expiry_guard.py
  sbomify/apps/billing/trial_expiry.py
  sbomify/apps/teams/signals/handlers.py
Due: ruff-format, ruff

feat(oidc): scaffold OIDC Trusted Publishing models (#828, OIDC-1)
  sbomify/apps/access_tokens/migrations/0006_accesstoken_expires_at_and_more.py
  sbomify/apps/access_tokens/models.py
  sbomify/apps/oidc/__init__.py
  sbomify/apps/oidc/apps.py
  sbomify/apps/oidc/migrations/0001_initial.py
  sbomify/apps/oidc/migrations/__init__.py
  sbomify/apps/oidc/models.py
  sbomify/apps/teams/migrations/0035_alter_invitation_role_alter_member_role.py
  sbomify/settings.py
Due: ruff-format, ruff

feat(oidc): GitHub OIDC verification helper + 12 tests (#828, OIDC-2)
  sbomify/apps/oidc/tests/__init__.py
  sbomify/apps/oidc/tests/conftest.py
  sbomify/apps/oidc/tests/test_utils.py
  sbomify/apps/oidc/utils.py
Due: ruff-format, ruff

feat(oidc): pin immutable repo+owner IDs to defeat account resurrection (#828)
  sbomify/apps/oidc/github_api.py
  sbomify/apps/oidc/migrations/0002_remove_oidcbinding_oidc_binding_unique_per_component_repo_and_more.py
  sbomify/apps/oidc/models.py
  sbomify/apps/oidc/tests/test_github_api.py
Due: ruff-format, ruff

feat(oidc): bot-user provisioning + binding-revocation cleanup (#828, OIDC-3)
  sbomify/apps/oidc/apps.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/signals.py
  sbomify/apps/oidc/tests/test_services.py
Due: ruff-format, ruff

feat(oidc): token-exchange endpoint + 13 integration tests (#828, OIDC-4)
  sbomify/apis.py
  sbomify/apps/oidc/apis.py
  sbomify/apps/oidc/tests/test_apis.py
Due: ruff-format, ruff
