Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix(spdx3): read the spec's field names, resolve every legal Agent shape
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/tests/test_spdx3_helpers.py
  sbomify/apps/sboms/schemas.py
Due: ruff-format, ruff

fix(spdx3): the BOM subject is rootElement, not whichever package came first
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/tests/test_spdx3_primary_package.py
Due: ruff-format, ruff

fix(spdx3): three single-field reads pointed at properties the spec has
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/tests/test_spdx3_field_fixes.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

test(spdx3): a conformant corpus the plugins cannot drift from
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/tests/spdx3_corpus.py
  sbomify/apps/plugins/tests/test_bsi_plugin.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
  sbomify/apps/plugins/tests/test_fda_medical_device_plugin.py
  sbomify/apps/plugins/tests/test_ntia_plugin.py
  sbomify/apps/plugins/tests/test_spdx3_corpus.py
Due: ruff-format, ruff

feat(spdx3): validate 3.0.1 claims against the vendored schema, speak clearly at the version edges
  pyproject.toml
  sbomify/apps/sboms/sbom_validator.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/spdx3_validation.py
  sbomify/apps/sboms/tests/fixtures.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/tests/test_sbom_validator.py
  sbomify/apps/sboms/tests/test_spdx3_upload_validation.py
  uv.lock
Due: ruff-format, ruff

refactor(spdx3): one detector, honest edge messages, 453 dead lines gone
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/tests/test_spdx3_honest_edges.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/sbom_format_schemas/spdx_3_0.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/tests/test_spdx_linking.py
  sbomify/apps/vulnerability_scanning/clients.py
Due: ruff-format, ruff

fix(spdx3): bound schema validation — measured at 9 ms per element
  sbomify/apps/sboms/spdx3_validation.py
  sbomify/apps/sboms/tests/test_spdx3_upload_validation.py
Due: ruff-format, ruff

build: declare jsonschema — the corpus guard and upload validation import it
  pyproject.toml
  uv.lock
Due: none

fix(spdx3): one identifier scan, and hostile graph entries cannot crash extraction
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/tests/test_spdx3_helpers.py
Due: ruff-format, ruff

fix(spdx3): normalize a compact describes target before indexing it
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/tests/test_spdx3_primary_package.py
Due: ruff-format, ruff

fix(spdx3): a root violation gets an honest pointer, the 3.1 rejection stays true above 3.1
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/spdx3_validation.py
Due: ruff-format, ruff

fix(spdx3): name SPDX only when it is SPDX, and @graph must be a list
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/tests/test_spdx3_honest_edges.py
  sbomify/apps/vulnerability_scanning/clients.py
Due: ruff-format, ruff

fix(spdx3): a null @graph extracts to nothing instead of a TypeError
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/tests/test_spdx3_helpers.py
Due: ruff-format, ruff

fix(dt): non-UTF-8 upload bytes raise the controlled error, not UnicodeDecodeError
  sbomify/apps/vulnerability_scanning/clients.py
  sbomify/apps/vulnerability_scanning/tests/test_clients.py
Due: ruff-format, ruff

feat(advisories): make New Advisory a page, and stop HTMX panels stealing focus
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/core/js/htmx-lifecycle.ts
  sbomify/apps/core/templates/core/components/advisory_product_picker.html.j2
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/apps/core/templates/core/security_advisories_table.html.j2
  sbomify/apps/core/templates/core/security_advisory_new.html.j2
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/security_advisories.py
  sbomify/assets/css/tailwind.src.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

feat(advisories): two-pane product picker, and set the status on creation
  sbomify/apps/core/js/components/advisory-product-picker.spec.ts
  sbomify/apps/core/js/components/advisory-product-picker.ts
  sbomify/apps/core/templates/core/components/advisory_product_picker.html.j2
  sbomify/apps/core/templates/core/security_advisory_new.html.j2
  sbomify/apps/core/views/security_advisories.py
  sbomify/apps/security_advisories/forms.py
  sbomify/apps/security_advisories/services/advisories.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

feat(design-system): a shared actions menu, and choices that look like their badges
  docs/design-system.md
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/js/components/actions-menu.spec.ts
  sbomify/apps/core/js/components/actions-menu.ts
  sbomify/apps/core/js/components/advisory-product-picker.spec.ts
  sbomify/apps/core/js/components/advisory-product-picker.ts
  sbomify/apps/core/templates/components/tw/actions_menu.html.j2
  sbomify/apps/core/templates/components/tw/choice_group.html.j2
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/core/templates/core/components/advisory_product_picker.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/products_table.html.j2
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/apps/core/templates/core/security_advisories_table.html.j2
  sbomify/apps/core/templates/core/security_advisory_detail.html.j2
  sbomify/apps/core/templates/core/security_advisory_new.html.j2
  sbomify/apps/core/templatetags/design_system.py
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_artifacts_page_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_artifacts_page_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_crypto_snapshot[576].jpg
  sbomify/apps/core/views/design_system.py
  sbomify/apps/core/views/security_advisories.py
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/assets/css/tailwind.src.css
Due: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

style(design-system): a copy rule, and date columns that stay on one line
  AGENTS.md
  docs/design-system.md
  sbomify/apps/compliance/templates/compliance/cra_product_list.html.j2
  sbomify/apps/core/templates/core/components/advisory_product_picker.html.j2
  sbomify/apps/core/templates/core/components/product_releases.html.j2
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/releases_table.html.j2
  sbomify/apps/core/templates/core/security_advisories_table.html.j2
  sbomify/apps/core/templates/core/security_advisory_new.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/documents/templates/documents/documents_table_content.html.j2
  sbomify/apps/oidc/templates/oidc/_trusted_publishers_section.html.j2
  sbomify/apps/sboms/templates/sboms/components/crypto_inventory_card.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/apps/sboms/templates/sboms/vex_documents.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_list.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/assets/css/tailwind.src.css
Due: markdownlint, djlint-check, djlint-lint

refactor(design-system): one page header, and one table shell
  docs/design-system.md
  sbomify/apps/compliance/templates/compliance/cra_product_list.html.j2
  sbomify/apps/core/templates/components/tw/page_header.html.j2
  sbomify/apps/core/templates/core/components_dashboard.html.j2
  sbomify/apps/core/templates/core/components_table.html.j2
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/products_dashboard.html.j2
  sbomify/apps/core/templates/core/products_table.html.j2
  sbomify/apps/core/templates/core/releases_dashboard.html.j2
  sbomify/apps/core/templates/core/releases_table.html.j2
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/apps/core/templates/core/security_advisories_table.html.j2
  sbomify/apps/core/templates/core/settings.html.j2
  sbomify/apps/core/templatetags/design_system.py
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[992].jpg
  sbomify/apps/core/views/dashboard.py
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
  sbomify/apps/teams/templates/teams/suppliers.html.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/assets/css/tailwind.src.css
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

style(design-system): tighten the table gutter to 1rem
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[992].jpg
  sbomify/assets/css/tailwind.src.css
Due: none

fix(design-system): drop the advisories header button, and stop comments leaking
  docs/design-system.md
  sbomify/apps/core/templates/components/tw/actions_menu.html.j2
  sbomify/apps/core/templates/core/products_table.html.j2
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/plugins/templates/plugins/components/triage_modal.html.j2
Due: markdownlint, djlint-check, djlint-lint

fix(design-system): cards stop fading in, and copying confirms in white on green
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/assets/css/tailwind.src.css
Due: djlint-check, djlint-lint

docs(design-system): audit of what still does not use the library
  docs/design-system-audit.md
Due: markdownlint

refactor(design-system): every form input comes from the library
  sbomify/apps/compliance/templates/compliance/cra_scope_screening.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_1.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_3.html.j2
  sbomify/apps/core/templates/core/components/create_modals.html.j2
  sbomify/apps/core/templates/core/components/editable_single_field.html.j2
  sbomify/apps/core/templates/core/components/file_drag_and_drop.html.j2
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/components/item_assignment_manager.html.j2
  sbomify/apps/core/templates/core/components/public_status_toggle.html.j2
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/release_form_modal.html.j2
  sbomify/apps/core/templates/core/components_dashboard.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/product_releases_private.html.j2
  sbomify/apps/core/templates/core/security_advisory_detail.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_crypto_snapshot[375].jpg
  sbomify/apps/documents/templates/documents/components/document_upload.html.j2
  sbomify/apps/documents/templates/documents/request_access.html.j2
  sbomify/apps/documents/templates/documents/sign_nda.html.j2
  sbomify/apps/sboms/templates/sboms/components/contacts_editor_base.html.j2
  sbomify/apps/sboms/templates/sboms/components/licenses_editor.html.j2
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
  sbomify/apps/sboms/templates/sboms/components/supplier_editor_base.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/forms/contact.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/forms/entity.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/partials/alpine_components.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_form.html.j2
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
  sbomify/assets/css/tailwind.src.css
Due: djlint-check, djlint-lint

docs(design-system): brief for finishing the conversion in a fresh session
  docs/design-system-conversion-brief.md
Due: markdownlint

fix(spdx3): content-addressable identifiers count, sbomType declares context
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/spdx3_corpus.py
  sbomify/apps/plugins/tests/test_spdx3_helpers.py
  sbomify/apps/plugins/tests/test_spdx3_honest_edges.py
Due: ruff-format, ruff

feat(design-system): the library surface the final conversion needs
  docs/design-system.md
  sbomify/apps/core/templates/components/tw/page_header.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/views/design_system.py
  sbomify/assets/css/tailwind.src.css
  sbomify/templates/components/date_picker.html.j2
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

feat(onboarding): one Get started action instead of a checklist
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/views/dashboard.py
  sbomify/apps/sboms/templates/sboms/components/ci_cd_info.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(components): cotton engine and the buttons set, the componentization pilot
  pyproject.toml
  sbomify/apps/core/templates/core/cotton_probes/buttons.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/tests/test_cotton_buttons.py
  sbomify/settings.py
  sbomify/templates/components/buttons/button.html
  sbomify/templates/components/buttons/danger.html
  sbomify/templates/components/buttons/ghost.html
  sbomify/templates/components/buttons/gradient.html
  sbomify/templates/components/buttons/icon.html
  sbomify/templates/components/buttons/link.html
  sbomify/templates/components/buttons/outline.html
  sbomify/templates/components/buttons/outline_danger.html
  sbomify/templates/components/buttons/outline_primary.html
  sbomify/templates/components/buttons/outline_warning.html
  sbomify/templates/components/buttons/primary.html
  sbomify/templates/components/buttons/secondary.html
  sbomify/templates/components/buttons/success.html
  sbomify/templates/components/buttons/warning.html
  uv.lock
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(components): buttons carry plain Tailwind utilities, the precedent set
  sbomify/apps/core/templates/core/cotton_probes/buttons.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/test_cotton_buttons.py
  sbomify/templates/components/buttons/button.html
  sbomify/templates/components/buttons/danger.html
  sbomify/templates/components/buttons/ghost.html
  sbomify/templates/components/buttons/gradient.html
  sbomify/templates/components/buttons/icon.html
  sbomify/templates/components/buttons/link.html
  sbomify/templates/components/buttons/outline.html
  sbomify/templates/components/buttons/outline_danger.html
  sbomify/templates/components/buttons/outline_primary.html
  sbomify/templates/components/buttons/outline_warning.html
  sbomify/templates/components/buttons/primary.html
  sbomify/templates/components/buttons/secondary.html
  sbomify/templates/components/buttons/success.html
  sbomify/templates/components/buttons/warning.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(keycloak): use canonical login template names so themed pages render
  keycloak/themes/sbomify/login/login-reset-password.ftl
  keycloak/themes/sbomify/login/login-update-password.ftl
  keycloak/themes/sbomify/login/verify-email.ftl
Due: none

fix(keycloak): point aria-describedby at error spans that actually render
  keycloak/themes/sbomify/login/login-update-password.ftl
Due: none

feat(dev): wire dev realm SMTP to mailpit in keycloak bootstrap
  bin/keycloak-bootstrap.sh
Due: none

Revert "feat(dev): wire dev realm SMTP to mailpit in keycloak bootstrap"
  bin/keycloak-bootstrap.sh
Due: none

test: assert the retitled Get started dialog heading
  sbomify/apps/core/tests/templates/test_component_meta_info_templates.py
Due: ruff-format, ruff

refactor: route the onboarding component lookup through the service layer
  sbomify/apps/core/services/dashboard_page.py
  sbomify/apps/core/views/dashboard.py
  sbomify/apps/sboms/templates/sboms/components/ci_cd_info.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

docs(components): the component library contract
  docs/component-library.md
Due: markdownlint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
