Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix(plugins): read skipped through the result alias, reword a docstring
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/tests/test_assessment_run_item_badge.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test: make the suite pass on a clean checkout and in parallel worktrees
  docker-compose.tests.yml
  sbomify/test_settings.py
Due: ruff-format, ruff

feat(mcp): add a Model Context Protocol server for AI agents
  .github/workflows/ci-cd.yml
  AGENTS.md
  README.md
  docs/ADR/0008-mcp-server.md
  docs/access-tokens.md
  docs/mcp.md
  pyproject.toml
  sbomify/apps/core/authz.py
  sbomify/apps/core/routing.py
  sbomify/apps/core/tests/test_authz.py
  sbomify/apps/mcp/__init__.py
  sbomify/apps/mcp/apps.py
  sbomify/apps/mcp/auth.py
  sbomify/apps/mcp/limits.py
  sbomify/apps/mcp/registry.py
  sbomify/apps/mcp/serializers.py
  sbomify/apps/mcp/server.py
  sbomify/apps/mcp/tests/__init__.py
  sbomify/apps/mcp/tests/conftest.py
  sbomify/apps/mcp/tests/test_auth.py
  sbomify/apps/mcp/tests/test_protocol.py
  sbomify/apps/mcp/tests/test_registry.py
  sbomify/apps/mcp/tests/test_security.py
  sbomify/apps/mcp/tests/test_write_tools.py
  sbomify/apps/mcp/tools/__init__.py
  sbomify/apps/mcp/tools/_base.py
  sbomify/apps/mcp/tools/artifacts.py
  sbomify/apps/mcp/tools/catalog.py
  sbomify/apps/mcp/tools/profiles.py
  sbomify/apps/mcp/tools/publish.py
  sbomify/apps/mcp/tools/risk.py
  sbomify/apps/vulnerability_scanning/posture.py
  sbomify/asgi.py
  sbomify/settings.py
  uv.lock
Due: markdownlint, ruff-format, ruff

fix(mcp): harden artifact parsing, and de-flake the user-purge cron test
  sbomify/apps/core/tests/test_cron.py
  sbomify/apps/mcp/tests/test_artifact_parsing.py
  sbomify/apps/mcp/tools/artifacts.py
Due: ruff-format, ruff

fix(plugins): a skipped security scan reads as skipped too
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/tests/test_assessment_run_item_badge.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(sboms): anonymous request to the private artifacts table no longer 500s
  sbomify/apps/sboms/tests/test_views.py
  sbomify/apps/sboms/views/sboms_table.py
Due: ruff-format, ruff

fix(teams): unscoped-token banner stops promising a deprecation
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
  sbomify/apps/teams/tests/test_team_tokens.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(plugins): exercise the KEV badge from catalog lookup to markup
  sbomify/apps/plugins/tests/test_kev_badge.py
Due: ruff-format, ruff

feat(advisories): link advisory ids to the database that holds them
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/components/component_vulnerabilities.html.j2
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templatetags/advisory_tags.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/security_advisories/references.py
  sbomify/apps/security_advisories/tests/test_references.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(core): validate CPE identifiers and make identifier values copyable
  sbomify/apps/core/cpe.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/components/copyable_value.html.j2
  sbomify/apps/core/templates/core/components/product_identifiers_card.html.j2
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/tests/test_cpe.py
Due: ruff-format, ruff, djlint-check, djlint-lint

docs(mcp): split the MCP docs by audience
  AGENTS.md
  README.md
  docs/access-tokens.md
  docs/mcp.md
Due: markdownlint

fix(core): correct a truncated CPE fixture and refresh the identifier baselines
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[992].jpg
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

fix(core): require a concrete CPE part, wrap long identifier values
  sbomify/apps/core/cpe.py
  sbomify/apps/core/templates/core/components/copyable_value.html.j2
  sbomify/apps/core/tests/test_cpe.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(e2e): refresh the 375px identifier baseline with the wrapped value
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
Due: none

feat(plugins): on-demand assessment re-run
  sbomify/apps/core/views/component_item.py
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/_rerun_button.html.j2
  sbomify/apps/plugins/tests/test_rerun_api.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(plugins): capture EPSS and CVSS 4.0 from both scanner paths
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/sdk/results.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/tests/test_epss_and_cvss4.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(security): per-IP rate limit for anonymous and public endpoints
  .github/workflows/ci-cd.yml
  bin/check_ci_test_matrix.py
  sbomify/apis.py
  sbomify/apps/access_tokens/tests/test_anonymous_throttle.py
  sbomify/apps/access_tokens/throttling.py
  sbomify/settings.py
Due: ruff-format, ruff

feat(trust-center): sub-processors for products
  sbomify/apps/core/templates/core/components/public_sub_processors.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/sboms/migrations/0067_subprocessor.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/test_sub_processors.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): a missing settings row means nothing enabled, not everything
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/tests/test_rerun_api.py
Due: ruff-format, ruff

fix(plugins): honest EPSS comment, and a CVSS 0.0 no longer disappears
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(security): an unidentifiable caller is throttled, not exempted
  sbomify/apis.py
  sbomify/apps/access_tokens/tests/test_anonymous_throttle.py
  sbomify/apps/access_tokens/throttling.py
Due: ruff-format, ruff

fix(trust-center): reject cross-tenant sub-processor links
  sbomify/apps/core/signals.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/test_sub_processors.py
Due: ruff-format, ruff

feat(trust-center): manage sub-processors from workspace settings
  sbomify/apps/core/apis.py
  sbomify/apps/core/schemas.py
  sbomify/apps/sboms/tests/test_sub_processors.py
  sbomify/apps/teams/templates/teams/components/sub_processors_card.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(brand): new visual identity — logo, palette, Figtree, animated loader
  sbomify/apps/billing/templates/billing/public_enterprise_contact.html.j2
  sbomify/apps/core/js/constants/colors.ts
  sbomify/apps/core/static/img/logo.svg
  sbomify/apps/core/templates/core/auth_base.html.j2
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/components/_loading_indicator.html.j2
  sbomify/apps/core/templates/core/components/brand/emblem.html.j2
  sbomify/apps/core/templates/core/components/brand/loader.html.j2
  sbomify/apps/core/templates/core/components/brand/logo.html.j2
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/tw_test.html.j2
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/onboarding/templates/onboarding/select_plan.html.j2
  sbomify/apps/teams/branding.py
  sbomify/apps/teams/js/team-branding.spec.ts
  sbomify/apps/teams/tests/test_branding.py
  sbomify/assets/css/tailwind.src.css
  sbomify/static/css/tokens.css
  sbomify/static/img/favicons/android-chrome-192x192.png
  sbomify/static/img/favicons/android-chrome-512x512.png
  sbomify/static/img/favicons/apple-touch-icon.png
  sbomify/static/img/favicons/favicon-16x16.png
  sbomify/static/img/favicons/favicon-32x32.png
  sbomify/static/img/favicons/favicon.ico
  sbomify/static/img/favicons/favicon.svg
  sbomify/static/img/logo-circle.svg
  sbomify/static/img/sbomify-black.svg
  sbomify/static/img/sbomify-icon.svg
  sbomify/static/img/sbomify-social.png
  sbomify/static/img/sbomify-white.svg
  sbomify/static/img/sbomify.svg
  tailwind.config.js
  vite.config.ts
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(trust-center): roll back a duplicate sub-processor to a savepoint
  sbomify/apps/core/apis.py
  sbomify/apps/sboms/tests/test_sub_processors.py
Due: ruff-format, ruff

refactor(ui): clean up sidebar buttons, spacing and hover styles
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/core/templates/core/components/sidebar_link.html.j2
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/assets/css/tailwind.src.css
Due: djlint-check, djlint-lint

feat(brand): home icon, emblem ratio fix, animated logo on Keycloak auth pages
  keycloak/bun.lock
  keycloak/themes/sbomify/email/resources/img/logo-white.svg
  keycloak/themes/sbomify/email/resources/img/logo.svg
  keycloak/themes/sbomify/login/components.ftl
  keycloak/themes/sbomify/login/error.ftl
  keycloak/themes/sbomify/login/forgot-password.ftl
  keycloak/themes/sbomify/login/info.ftl
  keycloak/themes/sbomify/login/login-config.ftl
  keycloak/themes/sbomify/login/login-idp-link-confirm.ftl
  keycloak/themes/sbomify/login/login-idp-link-email.ftl
  keycloak/themes/sbomify/login/login-page-expired.ftl
  keycloak/themes/sbomify/login/login-update-profile.ftl
  keycloak/themes/sbomify/login/login-username.ftl
  keycloak/themes/sbomify/login/login.ftl
  keycloak/themes/sbomify/login/register.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/resources/img/sbomify.svg
  keycloak/themes/sbomify/login/terms.ftl
  keycloak/themes/sbomify/login/update-email.ftl
  keycloak/themes/sbomify/login/update-password.ftl
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/assets/css/tailwind.src.css
Due: djlint-check, djlint-lint

fix(brand): 2 units of bottom headroom in brand mark viewBoxes
  keycloak/themes/sbomify/email/resources/img/logo-white.svg
  keycloak/themes/sbomify/email/resources/img/logo.svg
  keycloak/themes/sbomify/login/components.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/resources/img/sbomify.svg
  sbomify/apps/core/static/img/logo.svg
  sbomify/apps/core/templates/core/components/brand/emblem.html.j2
  sbomify/apps/core/templates/core/components/brand/loader.html.j2
  sbomify/apps/core/templates/core/components/brand/logo.html.j2
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/assets/css/tailwind.src.css
  sbomify/static/img/sbomify-black.svg
  sbomify/static/img/sbomify-icon.svg
  sbomify/static/img/sbomify-white.svg
  sbomify/static/img/sbomify.svg
Due: djlint-check, djlint-lint

manual Button tweaks
  sbomify/assets/css/tailwind.src.css
Due: none

style(sidebar): size dropdown Create Workspace with tw-btn-sm
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/assets/css/tailwind.src.css
Due: djlint-check, djlint-lint

minor text change
  sbomify/apps/core/templates/core/dashboard.html.j2
Due: djlint-check, djlint-lint

refactor(brand): lean-up pass from branch audit
  keycloak/README.md
  keycloak/themes/sbomify/login/resources/img/sbomify.svg
  sbomify/apps/compliance/templates/compliance/cra_step_5.html.j2
  sbomify/apps/core/static/img/logo.svg
  sbomify/apps/core/templates/components/tw/spinner.html.j2
  sbomify/apps/core/templates/core/component_details_private_document.html.j2
  sbomify/apps/core/templates/core/component_details_private_sbom.html.j2
  sbomify/apps/core/templates/core/component_details_public_document.html.j2
  sbomify/apps/core/templates/core/component_details_public_sbom.html.j2
  sbomify/apps/core/templates/core/components/_loading_indicator.html.j2
  sbomify/apps/core/templates/core/components/brand/emblem.html.j2
  sbomify/apps/core/templates/core/components/brand/loader.html.j2
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/components/product_releases.html.j2
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/core/templates/core/components/sidebar_link.html.j2
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/sidebar.html.j2
  sbomify/apps/core/templates/core/tw_test.html.j2
  sbomify/apps/core/tests/test_template_recursion.py
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/apps/sboms/templates/sboms/component_artifacts.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/branding.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/general.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/plugins.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/tokens.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/assets/css/tailwind.src.css
  sbomify/static/img/sbomify-black.svg
  sbomify/static/img/sbomify-icon.svg
  tailwind.config.js
Due: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

style(emails): brand navy behind the email logo cell
  sbomify/apps/core/templates/core/emails/base.html.j2
Due: djlint-check, djlint-lint

feat(vuln): surface malicious packages as their own class
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/vulnerability_scanning/malicious.py
  sbomify/apps/vulnerability_scanning/posture.py
  sbomify/apps/vulnerability_scanning/tests/test_malicious.py
  sbomify/apps/vulnerability_scanning/utils.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(sboms): SBOM freshness window and stale flag
  sbomify/apps/core/apis.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/components_table.html.j2
  sbomify/apps/core/views/components_dashboard.py
  sbomify/apps/sboms/freshness.py
  sbomify/apps/sboms/migrations/0067_component_sbom_freshness_days.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/test_freshness.py
  sbomify/apps/teams/migrations/0038_team_sbom_freshness_days.py
  sbomify/apps/teams/models.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(plugins): OpenChain Telco SBOM Guide v1.1 conformance plugin
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/openchain_telco.py
  sbomify/apps/plugins/tests/test_builtin_reconciliation.py
  sbomify/apps/plugins/tests/test_openchain_telco.py
Due: ruff-format, ruff

refactor(plugins): retention for assessment runs, and drop the summary aliases
  sbomify/apps/core/apis.py
  sbomify/apps/plugins/retention.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_retention.py
  sbomify/apps/sboms/services/sboms_table.py
  sbomify/apps/vulnerability_scanning/tests/test_result_annotations.py
  sbomify/apps/vulnerability_scanning/utils.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

feat(plugins): vulnerability lifecycle for age and MTTR
  sbomify/apps/plugins/lifecycle.py
  sbomify/apps/plugins/migrations/0017_vulnerabilitylifecycle.py
  sbomify/apps/plugins/models.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/tests/test_lifecycle.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
