Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

Enhance theming by integrating CSS variables across components
  sbomify/apps/core/js/components/product-identifiers-barcodes.ts
  sbomify/apps/core/js/utils.ts
  sbomify/apps/teams/js/team-branding.ts
  sbomify/apps/vulnerability_scanning/js/vulnerability-chart.ts
Due: bun-lint

Add error_code to duplicate SBOM 409 responses
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/tests/test_sbom_uniqueness.py
Due: ruff-format, ruff

Fix TimeLimitExceeded in github-attestation plugin
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
  sbomify/apps/plugins/tests/test_integration.py
Due: ruff-format, ruff

Add Sentry release and environment tracking
  .env.example
  sbomify/settings.py
Due: ruff-format, ruff

Reduce log level for invalid JWT tokens from error to warning
  sbomify/apps/access_tokens/utils.py
Due: ruff-format, ruff

Fix: Handle malformed Host headers gracefully in middleware
  sbomify/apps/core/middleware.py
  sbomify/apps/teams/tests/test_domain_middleware.py
Due: ruff-format, ruff

Bumps dependencies
  bun.lock
  package.json
  pyproject.toml
  uv.lock
Due: none

Add Sentry error tracking to frontend
  .env.example
  bun.lock
  package.json
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/js/sentry.ts
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/tests/test_context_processors.py
  sbomify/settings.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Fix memory leaks and add ultimate fallback for scan status page
  sbomify/apps/core/js/components/site-notifications.ts
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
Due: bun-lint, djlint-check, djlint-lint

Fix NDA audit trail IP capture and improve modal UI
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/documents/tests/test_access_apis.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Refactor CSS styles for improved consistency and maintainability
  sbomify/static/css/apps/billing/plan-selection.css
  sbomify/static/css/components-dashboard.css
  sbomify/static/css/components/ci-cd-info.css
  sbomify/static/css/components/danger_zones.css
  sbomify/static/css/components/delete_modal.css
  sbomify/static/css/components/documents-table.css
  sbomify/static/css/components/file-drag-and-drop.css
  sbomify/static/css/components/public-compliance-badge.css
  sbomify/static/css/components/public-page-layout.css
  sbomify/static/css/components/public-product-projects.css
  sbomify/static/css/components/public-project-components.css
  sbomify/static/css/components/team-billing.css
  sbomify/static/css/components/team-branding.css
  sbomify/static/css/components/team-invitations.css
  sbomify/static/css/components/team-members.css
  sbomify/static/css/components/vulnerability-settings.css
  sbomify/static/css/layout.css
  sbomify/static/css/pages.css
  sbomify/static/css/product-releases-private.css
  sbomify/static/css/product-releases-public.css
  sbomify/static/css/projects-dashboard.css
  sbomify/static/css/public-base.css
  sbomify/static/css/public-pages.css
  sbomify/static/css/release-details-private.css
  sbomify/static/css/release-details-public.css
  sbomify/static/css/releases-dashboard.css
  sbomify/static/css/responsive.css
Due: none

Add stylelint configuration and custom rules for CSS linting
  .stylelintignore
  .stylelintrc.cjs
  bun.lock
  package.json
  sbomify/static/css/components.css
  sbomify/static/css/components/contacts-editor.css
  sbomify/static/css/components/licenses-editor.css
  sbomify/static/css/components/public-page-layout.css
  sbomify/static/css/components/supplier-editor.css
  sbomify/static/css/public-pages.css
  sbomify/static/css/tokens.css
  stylelint-custom-rules.cjs
Due: none

Update CSS styles to replace hardcoded Bootstrap colors with brand colors
  sbomify/static/css/components/assessment-badge.css
  sbomify/static/css/components/assessment-results-card.css
  sbomify/static/css/components/contact-profiles.css
  sbomify/static/css/components/documents-table.css
  sbomify/static/css/components/onboarding-wizard.css
  sbomify/static/css/components/pagination-controls.css
  sbomify/static/css/components/plugin-settings.css
  sbomify/static/css/components/public-status-toggle.css
  sbomify/static/css/components/sbom-upload.css
  sbomify/static/css/components/sboms-table.css
  sbomify/static/css/components/vulnerability-scans.css
  sbomify/static/css/components/vulnerability-trends.css
  sbomify/static/css/layout.css
  sbomify/static/css/tokens.css
Due: none

Refactor dropdown manager and modal components for improved usability and styling
  sbomify/apps/core/js/components/dropdown-manager.ts
  sbomify/apps/core/templates/components/delete_confirmation_modal.html.j2
  sbomify/apps/core/templates/core/components/component_meta_info_editor.html.j2
  sbomify/apps/core/templates/core/components/create_entity_modals.html.j2
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/core/templates/core/components/topnav.html.j2
  sbomify/apps/core/templates/core/components_dashboard.html.j2
  sbomify/apps/core/templates/core/dashboard_base.html.j2
  sbomify/apps/core/templates/core/dashboard_base.htmx.j2
  sbomify/apps/core/templates/core/products_dashboard.html.j2
  sbomify/apps/core/templates/core/projects_dashboard.html.j2
  sbomify/apps/core/templates/core/settings.html.j2
  sbomify/apps/core/templates/core/user-dropdown.html.j2
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/documents/templates/documents/components/edit_document_modal.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_badge.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/vulnerability_trends.html.j2
  sbomify/static/css/components.css
  sbomify/static/css/components/component-meta-info-editor.css
  sbomify/static/css/components/delete-modal.css
  sbomify/static/css/components/vulnerability-trends.css
  sbomify/static/css/layout.css
  sbomify/static/css/responsive.css
  sbomify/static/css/tokens.css
  sbomify/templates/components/modals/delete_modal.html.j2
  sbomify/templates/components/modals/form_modal.html.j2
Due: bun-lint, djlint-check, djlint-lint

Add IP capture tests for Django view NDA signing
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/documents/tests/test_access_requests.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Enhance HTML templates by integrating Vite asset management for CSS
  sbomify/apps/billing/templates/billing/public_enterprise_contact.html.j2
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/dashboard_base.htmx.j2
  sbomify/apps/core/templates/core/products_dashboard.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templatetags/breadcrumb_tags.py
  sbomify/apps/sboms/templates/sboms/sboms_table.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix AssessmentRun not found on retry due to transaction rollback
  sbomify/apps/plugins/tasks/__init__.py
Due: ruff-format, ruff

More markdown linting
  CLAUDE.md
Due: markdownlint

More Claude optimization
  CLAUDE.md
Due: markdownlint

Add version field to Release model for TEA alignment
  sbomify/apps/core/apis.py
  sbomify/apps/core/migrations/0016_add_release_version_field.py
  sbomify/apps/core/models.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/tests/test_release_apis.py
Due: ruff-format, ruff

Add Keycloak sbomify theme and login templates
  bin/keycloak-bootstrap.sh
  keycloak/README.md
  keycloak/themes/sbomify/login/error.ftl
  keycloak/themes/sbomify/login/forgot-password.ftl
  keycloak/themes/sbomify/login/info.ftl
  keycloak/themes/sbomify/login/login-config.ftl
  keycloak/themes/sbomify/login/login-idp-link-confirm.ftl
  keycloak/themes/sbomify/login/login-idp-link-email.ftl
  keycloak/themes/sbomify/login/login-page-expired.ftl
  keycloak/themes/sbomify/login/login-update-profile.ftl
  keycloak/themes/sbomify/login/login-username.ftl
  keycloak/themes/sbomify/login/login-verify-email.ftl
  keycloak/themes/sbomify/login/login.ftl
  keycloak/themes/sbomify/login/messages/Messages.properties
  keycloak/themes/sbomify/login/register.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/terms.ftl
  keycloak/themes/sbomify/login/update-email.ftl
  keycloak/themes/sbomify/login/update-password.ftl
  keycloak/themes/sbomify/login/verify-email.ftl
  keycloak/themes/sbomify/theme.properties
  sbomify/apps/core/apis.py
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/templates/socialaccount/authentication_error.html
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Add version display to releases UI
  sbomify/apps/core/js/components/product-releases.ts
  sbomify/apps/core/templates/core/components/product_releases.html.j2
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/templates/core/releases_table.html.j2
Due: bun-lint, djlint-check, djlint-lint

Add version badge to public releases list
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/static/css/public-pages.css
Due: djlint-check, djlint-lint

Update keycloak/themes/sbomify/login/error.ftl
  keycloak/themes/sbomify/login/error.ftl
Due: none

Update keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
Due: none

Address PR feedback: fix version normalization and add tests
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_release_apis.py
Due: ruff-format, ruff

Add formScripts macro to streamline form handling in Keycloak sbomify theme
  keycloak/themes/sbomify/login/components.ftl
  keycloak/themes/sbomify/login/forgot-password.ftl
  keycloak/themes/sbomify/login/login-update-profile.ftl
  keycloak/themes/sbomify/login/login-username.ftl
  keycloak/themes/sbomify/login/login.ftl
  keycloak/themes/sbomify/login/register.ftl
  keycloak/themes/sbomify/login/update-password.ftl
Due: none

Refactor error and warning message styles in Keycloak sbomify theme
  keycloak/themes/sbomify/login/error.ftl
  keycloak/themes/sbomify/login/login-idp-link-confirm.ftl
  keycloak/themes/sbomify/login/login-page-expired.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Fix version filter when API called directly from views
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Add graceful shutdown for zero-downtime deployments
  Dockerfile
  bin/deploy.sh
  docker-compose.yml
Due: none

Update keycloak/themes/sbomify/login/info.ftl
  keycloak/themes/sbomify/login/info.ftl
Due: none

Update sbomify/apps/core/apis.py
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Update keycloak/themes/sbomify/login/login-config.ftl
  keycloak/themes/sbomify/login/login-config.ftl
Due: none

Refactor sidebar template and update login messages
  keycloak/themes/sbomify/login/messages/Messages.properties
  sbomify/apps/core/templates/core/sidebar.html.j2
Due: djlint-check, djlint-lint

Add email verification content macro to sbomify theme
  keycloak/themes/sbomify/login/components.ftl
  keycloak/themes/sbomify/login/login-verify-email.ftl
  keycloak/themes/sbomify/login/register.ftl
  keycloak/themes/sbomify/login/verify-email.ftl
Due: none

Enhance user experience in sbomify theme login templates
  keycloak/themes/sbomify/login/components.ftl
  keycloak/themes/sbomify/login/info.ftl
  keycloak/themes/sbomify/login/login-idp-link-confirm.ftl
  keycloak/themes/sbomify/login/login-update-profile.ftl
  keycloak/themes/sbomify/login/messages/Messages.properties
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/templates/socialaccount/authentication_error.html
Due: ruff-format, ruff, djlint-check, djlint-lint

Remove redundant feature section from sbomify theme registration template
  keycloak/themes/sbomify/login/register.ftl
Due: none

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
