Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix: use a comment tag for the multi-line branding note
  sbomify/apps/teams/templates/teams/team_branding.html.j2
Due: djlint-check, djlint-lint

fix: honour page_size=-1 in the available-artifact branch too
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_release_artifacts_api.py
  sbomify/apps/teams/apis.py
Due: ruff-format, ruff

fix: act on the review of the email sync
  sbomify/apps/billing/email_notifications.py
  sbomify/apps/billing/templates/billing/emails/payment_failed.html.j2
  sbomify/apps/billing/templates/billing/emails/payment_past_due.html.j2
  sbomify/apps/billing/templates/billing/emails/subscription_cancelled.html.j2
  sbomify/apps/billing/templates/billing/emails/subscription_ended.html.j2
  sbomify/apps/billing/templates/billing/emails/trial_ending.html.j2
  sbomify/apps/billing/templates/billing/emails/trial_ending.txt
  sbomify/apps/billing/templates/billing/emails/trial_expired.html.j2
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/core/tests/test_email_templates.py
  sbomify/apps/documents/templates/documents/emails/access_request_notification.html.j2
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/templates/onboarding/emails/quick_start.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/welcome.html.j2
  sbomify/apps/onboarding/utils.py
  sbomify/apps/teams/signals.py
  sbomify/apps/teams/templates/teams/emails/new_user_email.html.j2
  sbomify/apps/teams/templates/teams/emails/new_user_email.txt
  sbomify/apps/teams/templates/teams/emails/team_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/trust_center_invite_email.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: act on the review of the QA follow-up
  sbomify/apps/core/apis.py
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/documents/templates/documents/request_access.html.j2
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/templates/teams/team_branding.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: match the paginate contract in available mode
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_release_artifacts_api.py
Due: ruff-format, ruff

fix: catch entity dashes and stop the aria-hidden rule spanning tags
  sbomify/apps/core/tests/test_email_templates.py
  sbomify/apps/onboarding/utils.py
Due: ruff-format, ruff

fix(email): one sender, one access-request mailer, and an opt-out
  docker-compose.yml
  sbomify/apps/access_tokens/tasks.py
  sbomify/apps/access_tokens/templates/access_tokens/emails/token_expiry_email.html.j2
  sbomify/apps/access_tokens/templates/access_tokens/emails/token_expiry_email.txt
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/core/tests/test_email_sender.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/services/access_emails.py
  sbomify/apps/documents/tests/test_access_requests.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/onboarding/migrations/0007_onboardingstatus_drip_unsubscribed_at.py
  sbomify/apps/onboarding/models.py
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/templates/onboarding/emails/collaboration.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_component.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_sbom.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/quick_start.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/welcome.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/welcome.txt
  sbomify/apps/onboarding/templates/onboarding/unsubscribe.html.j2
  sbomify/apps/onboarding/tests/test_unsubscribe.py
  sbomify/apps/onboarding/urls.py
  sbomify/apps/onboarding/utils.py
  sbomify/apps/onboarding/views.py
  sbomify/apps/teams/apps.py
  sbomify/apps/teams/signals.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/templates/teams/emails/new_user_email.html.j2
  sbomify/apps/teams/templates/teams/emails/new_user_email.txt
  sbomify/apps/teams/tests/test_guest_promotion.py
  sbomify/settings.py
  sbomify/static/img/sbomify-white-email.png
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: say something when a workspace invitation is accepted for you
  sbomify/apps/teams/notifications.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/tests/test_invite_notifications.py
Due: ruff-format, ruff

test: identify email templates by path, not bare filename
  sbomify/apps/core/tests/test_email_templates.py
Due: ruff-format, ruff

style: satisfy pre-commit
  bun.lock
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/collaboration.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_component.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_sbom.html.j2
  sbomify/apps/onboarding/templates/onboarding/unsubscribe.html.j2
  sbomify/apps/onboarding/views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: one wording for how long a trial has left
  sbomify/apps/billing/email_notifications.py
  sbomify/apps/billing/templates/billing/emails/trial_ending.html.j2
  sbomify/apps/billing/templates/billing/emails/trial_ending.txt
  sbomify/apps/billing/tests/test_email_notifications.py
  sbomify/apps/core/management/commands/send_test_emails.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: announce the join once, wherever it happens
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/tests/test_invite_notifications.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

refactor: name the broadcast helper for what it now covers
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

fix: address code review of the email work
  sbomify/apps/access_tokens/tasks.py
  sbomify/apps/access_tokens/tests/test_expiry_warnings.py
  sbomify/apps/core/tests/test_posthog_tier2_documents.py
  sbomify/apps/documents/services/access_emails.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/onboarding/tests/test_unsubscribe.py
  sbomify/apps/onboarding/views.py
Due: ruff-format, ruff

fix(osv): a spec version the scanner cannot read is a skip, not a failure
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/sdk/base.py
  sbomify/apps/plugins/tests/test_dt_unsupported_spec_version.py
  sbomify/apps/plugins/tests/test_osv_unsupported_spec_version.py
  sbomify/apps/plugins/tests/test_release_dependent_trigger.py
  sbomify/apps/plugins/tests/test_unsupported_input_backoff.py
  sbomify/apps/vulnerability_scanning/utils.py
Due: ruff-format, ruff

fix(osv): the SPDX 3.0 non-scan says so too, and the skip copy drops raw stderr
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/tests/test_osv_unsupported_spec_version.py
Due: ruff-format, ruff

fix: render the branding-off notice instead of binding it to nothing
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/tests/test_branding.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(e2e): regenerate the branding baselines
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[992].jpg
Due: none

feat(screencasts): a second capture path, and the GPU flags that make either one sharp
  pyproject.toml
  screencasts/conftest.py
  screencasts/narration/audio/281fe668549fc04c9736ce174d44db6580386fdc3ed6e5d1cd7b2bd67a237d6a.opus
  screencasts/narration/audio/2c4e4ce00565f7d903f4118b9f44dcafe2062d16e1c486f35111970b29d1dc9c.opus
  screencasts/narration/audio/5c9bd38476f248c904ff081a5ed3e387a774890b77b9ce9e378f49649766112a.opus
  screencasts/narration/audio/62a8ac59f80674421b8adce4b4246c8248d3b103d0606ed6da0ae7e0d8cd2d8d.opus
  screencasts/narration/audio/81bfb2de2036c5e7ee0f526a44efda2232256f543ee1e5f47e7223ccac14ad61.opus
  screencasts/narration/audio/887a6e57d9966ba570e7e19f2682878b0e56057967b03a5032075396f495f938.opus
  screencasts/narration/audio/a46f5b7c358b570caa7ca1d8d59025ca9113556424e4971c9fe3da97eeea545a.opus
  screencasts/narration/audio/be28a808ba3dc2e8f3a714a41a8df0d7de56cd70de5df6811051600c381c2684.opus
  screencasts/narration/audio/c394f06e7455f6defccd66711aed485d3181dbf80e8506e999fd6ec5309af65d.opus
  screencasts/narration/audio/c670513425071fad7cc36d2cf1f6d1f339a8883f03a7971409a4470e0004c68d.opus
  screencasts/narration/audio/cfd0394c009f96b774df5b5fd629ea574a4b47a804329f6cd1cb3b8493c59f5a.opus
  screencasts/narration/audio/e6365f9c40b445e58a95eef415d203c23f798184097a0c087e676554be6831d5.opus
  screencasts/narration/audio/e6ffa6ff5df4a53b11cd9986238581aeffc1dba80ee94345192b0d10ed131e2b.opus
  screencasts/narration/audio/eb3d595fb3d36f64cca2b9165bcaabb48021c106117be70609f20259399b8bdc.opus
  screencasts/narration/index.json
  screencasts/wayland_capture.py
Due: ruff-format, ruff

fix(screencasts): keep the VEX target on one version, and stop transcoding temp files
  screencasts/narration/walkthrough_chapters_vulnerabilities.yaml
  screencasts/transcode.py
  screencasts/walkthrough_chapters.py
Due: ruff-format, ruff

docs(screencasts): install the app font on the recording machine
  screencasts/README.md
Due: markdownlint

copy: rewrite the branding-off notice
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/tests/test_branding.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(e2e): regenerate the 992 branding baseline for the new wording
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[992].jpg
Due: none

fix(screencasts): give the security advisory a timeline worth showing
  screencasts/transcode.py
  screencasts/walkthrough_chapters.py
Due: ruff-format, ruff

fix: clear the Sentry backlog, and stop the backing services filling it
  sbomify/apps/core/apis.py
  sbomify/apps/core/consumers.py
  sbomify/apps/core/models.py
  sbomify/apps/core/object_store.py
  sbomify/apps/core/routing.py
  sbomify/apps/core/tests/integration/test_object_store.py
  sbomify/apps/core/tests/test_backend_resilience.py
  sbomify/apps/core/tests/test_release_dates.py
  sbomify/apps/core/tests/test_websocket_unknown_path.py
  sbomify/apps/core/views/toggle_public_status.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_deleted_sbom_is_not_a_failure.py
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/tests/test_triage.py
  sbomify/sentry_config.py
  sbomify/settings.py
Due: ruff-format, ruff

fix: act on the review of the Sentry work
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_backend_resilience.py
  sbomify/apps/core/tests/test_release_conflict_detection.py
  sbomify/sentry_config.py
  sbomify/settings.py
Due: ruff-format, ruff

docs(screencasts): name the scored mix as the file to ship
  screencasts/README.md
  screencasts/score.py
Due: markdownlint, ruff-format, ruff

docs: keep infrastructure and artifact identifiers out of these comments
  sbomify/apps/core/consumers.py
  sbomify/apps/core/routing.py
  sbomify/apps/core/tests/test_backend_resilience.py
  sbomify/apps/core/tests/test_release_dates.py
  sbomify/apps/core/tests/test_websocket_unknown_path.py
  sbomify/apps/plugins/tests/test_deleted_sbom_is_not_a_failure.py
  sbomify/sentry_config.py
Due: ruff-format, ruff

test(e2e): regenerate the remaining branding baselines
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[576].jpg
Due: none

fix(screencasts): score every recording, and give the mix the plain name
  screencasts/README.md
  screencasts/mux_narration.py
  screencasts/score.py
  screencasts/transcode.py
Due: markdownlint, ruff-format, ruff

docs(screencasts): correct drift in the narrated-screencast skill
  .claude/skills/narrated-screencast/SKILL.md
Due: markdownlint

docs(screencasts): a failed transcode must not reach the mux
  screencasts/README.md
  screencasts/transcode.py
Due: markdownlint, ruff-format, ruff

feat(advisories): make "which advisories affect this release" answerable
  sbomify/apps/security_advisories/migrations/0003_alter_advisoryproductstatus_recommended_release_and_more.py
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/services/release_impact.py
  sbomify/apps/security_advisories/tests/test_release_impact.py
Due: ruff-format, ruff

feat(advisories): let an advisory name a component, not just a product
  sbomify/apps/security_advisories/migrations/0004_advisorycomponent_and_more.py
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/services/release_impact.py
  sbomify/apps/security_advisories/tests/test_advisory_component.py
Due: ruff-format, ruff

feat(core): name the release to component-release join
  sbomify/apps/core/models.py
  sbomify/apps/core/tests/test_component_release.py
Due: ruff-format, ruff

docs: settle the glossary, and stop new code drifting from it
  .pre-commit-config.yaml
  AGENTS.md
  bin/check_workspace_glossary.py
  sbomify/apps/core/glossary.py
  sbomify/apps/core/tests/test_workspace_glossary_check.py
Due: markdownlint, ruff-format, ruff

feat: P1 of the terminology plan, wire and copy
  sbomify/apps/billing/apis.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/components/trust_center/restricted_notice.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/tests/test_public_access_apis.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/tests/test_assessment_run_item_badge.py
  sbomify/apps/teams/admin.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/decorators.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/tests/test_workspace_wire_fields.py
  sbomify/apps/vulnerability_scanning/apis.py
Due: ruff-format, ruff, djlint-check, djlint-lint

style: markdownlint's table separators
  AGENTS.md
Due: markdownlint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
