Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix(sboms): patch CycloneDX 1.5 RefLinkType to accept string values
  sbomify/apps/sboms/sbom_format_schemas/README.md
  sbomify/apps/sboms/sbom_format_schemas/cyclonedx_1_5.py
  uv.lock
Due: markdownlint, ruff-format, ruff

Adds test
  sbomify/apps/sboms/tests/test_cyclonedx_validator.py
Due: ruff-format, ruff

Refs copilot feedback about DRY
  sbomify/apps/sboms/sbom_format_schemas/README.md
  sbomify/apps/sboms/sbom_format_schemas/cyclonedx_1_5.py
Due: markdownlint, ruff-format, ruff

Improve test quality
  sbomify/apps/sboms/tests/test_cyclonedx_validator.py
Due: ruff-format, ruff

Updates test to align with changes
  sbomify/apps/sboms/tests/test_ntia_integration.py
Due: ruff-format, ruff

Fixes more feedback
  sbomify/apps/sboms/sbom_format_schemas/cyclonedx_1_5.py
  sbomify/apps/sboms/tests/test_cyclonedx_validator.py
Due: ruff-format, ruff

Implement delete modal functionality with focus trapping and CSRF handling
  sbomify/apps/core/js/components/delete-modal.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/components/delete_confirmation_modal.html.j2
  sbomify/apps/core/views/__init__.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Update sbomify/apps/core/js/components/delete-modal.ts
  sbomify/apps/core/js/components/delete-modal.ts
Due: bun-lint

Enhance delete modal functionality with improved focus management and error handling
  sbomify/apps/core/js/components/delete-modal.ts
Due: bun-lint

Implement SBOM upload component with drag-and-drop functionality and validation
  sbomify/apps/core/templates/core/component_details_private_sbom.html.j2
  sbomify/apps/sboms/js/components/SbomUpload.spec.ts
  sbomify/apps/sboms/js/components/SbomUpload.vue
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
  sbomify/static/css/components/sbom-upload.css
Due: bun-lint, djlint-check, djlint-lint

Update sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/js/sbom-upload.ts
Due: bun-lint

Add unit tests for SBOM upload component and enhance upload logic
  sbomify/apps/sboms/js/sbom-upload.spec.ts
  sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
  sbomify/static/css/components/sbom-upload.css
Due: bun-lint, djlint-check, djlint-lint

Enhance SBOM upload component to prevent concurrent uploads and reset drag state
  sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
Due: bun-lint, djlint-check, djlint-lint

Fix selector for SBOM upload header in component details snapshot test
  sbomify/apps/core/tests/e2e/test_components.py
Due: ruff-format, ruff

Fix E2E test diffs upload step to handle ownership and improve artifact naming
  .github/workflows/ci-cd.yml
Due: none

Fix permissions for E2E test diffs upload step
  .github/workflows/ci-cd.yml
Due: none

Fix E2E snapshot tests: add 0.5% threshold and deterministic IDs
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Refactor vulnerability scanning module and add document upload styles
  sbomify/apps/core/js/alpine-init.ts
  sbomify/apps/core/js/csrf.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/core/component_details_private_document.html.j2
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/test_components.py
  sbomify/apps/core/tests/e2e/utils.py
  sbomify/apps/documents/js/components/DocumentUpload.vue
  sbomify/apps/documents/js/document-upload.spec.ts
  sbomify/apps/documents/js/document-upload.ts
  sbomify/apps/documents/js/main.ts
  sbomify/apps/documents/templates/documents/components/document_upload.html.j2
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
  sbomify/apps/vulnerability_scanning/js/components/VulnerabilityTimeSeries.vue
  sbomify/apps/vulnerability_scanning/js/main.ts
  sbomify/static/css/components/document-upload.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Update sbomify/apps/core/js/main.ts
  sbomify/apps/core/js/main.ts
Due: bun-lint

Add SBOM upload functionality and update E2E tests for document snapshots
  sbomify/apps/core/tests/e2e/test_components.py
  sbomify/apps/sboms/js/main.ts
Due: bun-lint, ruff-format, ruff

Update screenshot assertion threshold and improve document upload icon behavior
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/utils.py
  sbomify/apps/documents/templates/documents/components/document_upload.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Adjust spacing and improve test reliability in component UI
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_components.py
  sbomify/apps/core/tests/templates/test_component_meta_info_templates.py
  sbomify/apps/sboms/js/licenses-editor.spec.ts
  sbomify/static/css/components/ci-cd-info.css
Due: bun-lint, ruff-format, ruff

Enhance lifecycle badge styles and update component metadata display
  sbomify/apps/core/js/component-meta-info.ts
  sbomify/apps/core/templates/core/components/component_meta_info_display.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[992].jpg
  sbomify/apps/sboms/js/licenses-editor.ts
  sbomify/static/css/components/component-meta-info-display.css
Due: bun-lint, djlint-check, djlint-lint

Add snapshot and diff directories to .dockerignore
  .dockerignore
Due: none

Migrate SBOM components to Alpine.js and add license expression utilities
  bun.lock
  package.json
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/chart-setup.ts
  sbomify/apps/core/js/components/AccessTokensList.vue
  sbomify/apps/core/js/components/CopyableValue.vue
  sbomify/apps/core/js/components/DeleteConfirmationModal.vue
  sbomify/apps/core/js/components/access-tokens-list.spec.ts
  sbomify/apps/core/js/components/access-tokens-list.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/licensing_utils.py
  sbomify/apps/core/templates/components/component_danger_zone.html.j2
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/components/project_danger_zone.html.j2
  sbomify/apps/core/templates/components/release_danger_zone.html.j2
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
  sbomify/apps/core/templates/core/settings.html.j2
  sbomify/apps/core/tests/test_views.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/licensing/loader.py
  sbomify/apps/licensing/tests/test_loader.py
  sbomify/apps/sboms/js/licenses-editor.ts
  sbomify/apps/sboms/js/licenses-parser.spec.ts
  sbomify/apps/sboms/js/licenses-utils.test.ts
  sbomify/apps/sboms/js/licenses-utils.ts
  sbomify/apps/sboms/js/sboms-table.ts
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/teams/templates/teams/components/team_danger_zone.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Add license expression optimization and SSR configuration to Vite
  vite.config.ts
Due: bun-lint

Bumps to 0.23
  pyproject.toml
  uv.lock
Due: none

Enhance license expression tooltip and normalize operators in licenses editor
  sbomify/apps/core/templates/core/components/component_meta_info_editor.html.j2
  sbomify/apps/sboms/js/licenses-editor.ts
  sbomify/static/css/components/licenses-editor.css
Due: bun-lint, djlint-check, djlint-lint

fix: enable domain verification cron job registration
  sbomify/apps/core/templatetags/public_url_tags.py
  sbomify/apps/onboarding/tasks.py
  sbomify/apps/teams/cron.py
  sbomify/apps/teams/tasks.py
Due: ruff-format, ruff

feat(admin): add multi-page SaaS dashboard with performance indexes
  sbomify/apps/core/admin.py
  sbomify/apps/core/migrations/0015_alter_release_options_and_more.py
  sbomify/apps/core/models.py
  sbomify/apps/core/templates/admin/dashboard.html
  sbomify/apps/core/templates/admin/dashboard.html.j2
  sbomify/apps/core/templates/admin/index.html
  sbomify/apps/onboarding/migrations/0003_onboardingstatus_onboarding__has_com_62b3b2_idx_and_more.py
  sbomify/apps/onboarding/models.py
  sbomify/apps/sboms/migrations/0040_component_sboms_compo_is_publ_ccec78_idx_and_more.py
  sbomify/apps/sboms/models.py
  sbomify/apps/teams/migrations/0019_alter_team_billing_plan_alter_team_is_public_and_more.py
  sbomify/apps/teams/models.py
  sbomify/templates/admin/dashboard.html
  sbomify/templates/admin/dashboard_base.html
  sbomify/templates/admin/dashboard_billing.html
  sbomify/templates/admin/dashboard_funnel.html
  sbomify/templates/admin/dashboard_growth.html
  sbomify/templates/admin/dashboard_health.html
  sbomify/templates/admin/index.html
Due: ruff-format, ruff, djlint-check, djlint-lint

Refs feedback and adds documents
  sbomify/apps/core/admin.py
  sbomify/apps/documents/migrations/0005_document_documents_d_created_bd50af_idx_and_more.py
  sbomify/apps/documents/models.py
  sbomify/templates/admin/dashboard_funnel.html
  sbomify/templates/admin/dashboard_health.html
Due: ruff-format, ruff

fix(billing): add safety nets for missed Stripe webhooks
  docs/billing.md
  sbomify/apps/billing/README.md
  sbomify/apps/billing/cron.py
  sbomify/apps/billing/management/__init__.py
  sbomify/apps/billing/management/commands/__init__.py
  sbomify/apps/billing/management/commands/sync_stripe_subscriptions.py
  sbomify/apps/billing/tasks.py
  sbomify/apps/billing/tests/test_sync_stripe_subscriptions.py
Due: markdownlint, ruff-format, ruff

fix(billing): address Copilot review feedback
  sbomify/apps/billing/management/commands/sync_stripe_subscriptions.py
  sbomify/apps/billing/tasks.py
Due: ruff-format, ruff

adds comment
  sbomify/apps/billing/tasks.py
Due: ruff-format, ruff

Restores in-memory db locally and fixes tests
  sbomify/apps/billing/tests/test_sync_stripe_subscriptions.py
  sbomify/test_settings.py
Due: ruff-format, ruff

Fixes feedback
  sbomify/apps/billing/tests/test_sync_stripe_subscriptions.py
Due: ruff-format, ruff

feat(plugins): implement core plugin-based assessment framework
  sbomify/apps/plugins/__init__.py
  sbomify/apps/plugins/admin.py
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/__init__.py
  sbomify/apps/plugins/builtins/checksum.py
  sbomify/apps/plugins/migrations/0001_initial.py
  sbomify/apps/plugins/migrations/__init__.py
  sbomify/apps/plugins/models.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/sdk/__init__.py
  sbomify/apps/plugins/sdk/base.py
  sbomify/apps/plugins/sdk/enums.py
  sbomify/apps/plugins/sdk/results.py
  sbomify/apps/plugins/tasks.py
  sbomify/apps/plugins/tests/__init__.py
  sbomify/apps/plugins/tests/test_checksum_plugin.py
  sbomify/apps/plugins/tests/test_integration.py
  sbomify/apps/plugins/tests/test_models.py
  sbomify/apps/plugins/tests/test_orchestrator.py
  sbomify/apps/plugins/tests/test_sdk.py
  sbomify/apps/plugins/tests/test_utils.py
  sbomify/apps/plugins/utils.py
  sbomify/settings.py
Due: ruff-format, ruff

refactor(tests): use constant for test timestamps in SDK tests
  sbomify/apps/plugins/tests/test_sdk.py
Due: ruff-format, ruff
