Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

test(e2e): regenerate baselines after merging master
  sbomify/apps/core/tests/e2e/__snapshots__/test_contact_profile_form_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_onboarding_plan_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_billing_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_billing_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_trust_center_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_trust_center_snapshot[576].jpg
Due: none

fix(billing): one downgrade alert on the Community card
  sbomify/apps/billing/tests/test_plan_card_downgrade_alert.py
  sbomify/templates/components/billing/plan_card.html
Due: ruff-format, ruff

test(e2e): regenerate baselines after merging master
  sbomify/apps/core/tests/e2e/__snapshots__/test_onboarding_plan_snapshot[1280].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_onboarding_plan_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_billing_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_billing_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_billing_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_general_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_trust_center_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_trust_center_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_trust_center_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_trust_center_snapshot[992].jpg
Due: none

test(billing): restore the downgrade guard tests master merged
  sbomify/apps/billing/services/plan_selection.py
  sbomify/apps/billing/templates/billing/select_plan.html.j2
  sbomify/apps/billing/tests/test_plan_selection_service.py
  sbomify/apps/billing/tests/test_views.py
  sbomify/apps/teams/tests/test_template_filters.py
Due: ruff-format, ruff, djlint-check, djlint-lint

docs(onboarding): say why the welcome sweep repeats the send gates
  sbomify/apps/onboarding/tasks/__init__.py
Due: ruff-format, ruff

fix(copy): drop the em dashes from the lines this change rewords
  sbomify/apps/compliance/document_templates/declaration_of_conformity.md.dtl
  sbomify/apps/compliance/services/sbom_compliance_service.py
  sbomify/apps/plugins/builtins/bsi.py
Due: ruff-format, ruff

fix(overview): offer triage on the Overview to every role that may triage
  AGENTS.md
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/tests/test_operator_reads.py
  sbomify/templates/components/overview/priority_actions.html
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

docs(screencasts): say a GPU host, not macOS, and close the font block's fence
  screencasts/README.md
Due: markdownlint

fix(plugins): keep the newest completed run's payload in the database
  sbomify/apps/plugins/offload.py
  sbomify/apps/plugins/tests/test_result_offload.py
Due: ruff-format, ruff

fix(htmx): leave morph-preserve's registration to registerHtmxConfig
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/tests/e2e/test_sbom_vulnerabilities.py
Due: bun-lint, ruff-format, ruff

fix(plugins): collect result objects a failed prune left behind
  sbomify/apps/plugins/result_store.py
  sbomify/apps/plugins/retention.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_result_offload.py
Due: ruff-format, ruff

fix(inventory): count products from the list already loaded, and show the tab link in the gallery
  sbomify/apps/core/services/inventory_page.py
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/test_design_system_view.py
  sbomify/apps/core/tests/test_inventory_page.py
  sbomify/apps/core/views/design_system.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(e2e): regenerate the dashboard baselines after merging master
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[576].jpg
Due: none

fix(vulnerabilities): read the report from the runs the card counts
  sbomify/apps/sboms/services/vulnerability_report.py
  sbomify/apps/sboms/tests/test_sbom_vulnerabilities_view.py
Due: ruff-format, ruff

fix(plugins): page the offload sweep's candidates
  sbomify/apps/plugins/offload.py
  sbomify/apps/plugins/tests/test_result_offload.py
Due: ruff-format, ruff

fix(plugins): stream the orphan sweep's object listing
  sbomify/apps/core/object_store.py
  sbomify/apps/plugins/result_store.py
  sbomify/apps/plugins/tests/test_result_offload.py
Due: ruff-format, ruff

fix(loading): draw every subline a list row is asked for
  sbomify/apps/core/templates/core/cotton_probes/feedback.html.j2
  sbomify/apps/core/tests/test_cotton_feedback.py
  sbomify/templates/components/feedback/loading_list.html
Due: ruff-format, ruff, djlint-check, djlint-lint

test(htmx): assert what a signed-out or guest plain visit gets, view by view
  sbomify/apps/documents/tests/test_views.py
  sbomify/apps/oidc/tests/test_views.py
  sbomify/apps/sboms/tests/test_views.py
  sbomify/apps/teams/tests/test_team_tokens.py
Due: ruff-format, ruff

test(mcp): give the contact-profile fixture the entity master now requires
  sbomify/apps/mcp/tests/conftest.py
Due: ruff-format, ruff

fix(mcp): refuse owner grants, access decisions and any form of delete
  sbomify/apps/mcp/registry.py
  sbomify/apps/mcp/tests/test_security.py
Due: ruff-format, ruff

test(e2e): wait for htmx to settle before the next filter change
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/core/tests/e2e/test_inventory.py
Due: ruff-format, ruff

test(e2e): cancel the page scroll before each settings tab click
  sbomify/apps/core/tests/e2e/test_settings_navigation.py
Due: ruff-format, ruff

fix(htmx): one rule, a direct visit to a fragment is a 404 whoever asks
  sbomify/apps/controls/tests/test_page_actions.py
  sbomify/apps/controls/views.py
  sbomify/apps/core/htmx.py
  sbomify/apps/core/tests/test_component_vulnerabilities_panel.py
  sbomify/apps/core/tests/test_htmx_fragments.py
  sbomify/apps/core/views/component_vulnerabilities.py
  sbomify/apps/documents/tests/test_views.py
  sbomify/apps/documents/views/documents_table.py
  sbomify/apps/integrations/tests/test_views.py
  sbomify/apps/integrations/views.py
  sbomify/apps/plugins/tests/test_plugin_settings_survive_a_downgrade.py
  sbomify/apps/sboms/tests/test_views.py
  sbomify/apps/sboms/views/sboms_table.py
Due: ruff-format, ruff

fix: bring master's new callers in line with the cleanup
  sbomify/apps/core/tests/test_cotton_badges_tags.py
  sbomify/apps/documents/tests/test_access_request_queue_responses.py
  sbomify/apps/integrations/tests/test_settings_tab.py
  sbomify/apps/onboarding/tests/test_onboarding.py
  sbomify/apps/plugins/migrations/0022_remove_assessmentrun_triggered_by_token.py
  sbomify/apps/plugins/migrations/0023_remove_assessmentrun_raw_output_key.py
  sbomify/apps/plugins/migrations/0024_drop_unproduced_category_and_run_reason_choices.py
Due: ruff-format, ruff

test(e2e): wait for a run's findings to land before measuring the section
  sbomify/apps/core/tests/e2e/test_assessment_refresh.py
Due: ruff-format, ruff

test(e2e): wait for the page to load before deleting a catalog
  sbomify/apps/core/tests/e2e/test_ui_action_repairs.py
Due: ruff-format, ruff

fix(authz): name the check that keeps operators out of VEX upload
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff

docs(css): say why dark lifts the danger and accent ink
  sbomify/assets/css/tailwind.src.css
Due: none

fix(plugins): store offloaded payloads outside the sweep's transaction
  sbomify/apps/plugins/offload.py
  sbomify/apps/plugins/result_store.py
  sbomify/apps/plugins/retention.py
  sbomify/apps/plugins/tests/test_result_offload.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

fix(teams): show members, invitations and billing limits to admins only
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_workspace_response_audience.py
Due: ruff-format, ruff

perf(plugins): index the offload sweep's candidate pages
  sbomify/apps/plugins/migrations/0023_assessmentrun_plugins_ar_offload_idx.py
  sbomify/apps/plugins/models.py
  sbomify/apps/plugins/offload.py
  sbomify/apps/plugins/tests/test_result_offload.py
Due: ruff-format, ruff

fix(triage): authorise a workspace-wide bulk triage with the triage action
  sbomify/apps/teams/tests/test_token_workspace_scoping.py
  sbomify/apps/vulnerability_scanning/apis.py
Due: ruff-format, ruff

fix(triage): post the component's workspace from the triage modal
  sbomify/apps/core/services/component_security.py
  sbomify/apps/core/tests/test_component_vulnerabilities_panel.py
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/core/views/component_vulnerabilities.py
Due: ruff-format, ruff

fix(authz): offer SBOM deletion only to a role that can delete
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/tests/test_operator_reads.py
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): keep the last scan the lifecycle check reads inline
  sbomify/apps/plugins/offload.py
  sbomify/apps/plugins/tests/test_result_offload.py
Due: ruff-format, ruff

fix(plugins): delete the object a missed offload stored
  sbomify/apps/plugins/offload.py
  sbomify/apps/plugins/result_store.py
  sbomify/apps/plugins/retention.py
  sbomify/apps/plugins/tests/test_result_offload.py
Due: ruff-format, ruff

docs(billing): say when the locked downgrade check applies
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

fix(plugins): cut the findings from a moved run's history row too
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/tests/test_result_offload.py
Due: ruff-format, ruff

test(plugins): pick the moved run for the VEX re-apply tests
  sbomify/apps/plugins/tests/test_result_offload.py
Due: ruff-format, ruff

test(e2e): regenerate the five baselines both sides re-rendered
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_releases_list_snapshot[576].jpg
Due: none
