Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix(compliance): autoescape OFF for markdown render + R1 Copilot risk_assessment ---
  sbomify/apps/compliance/document_templates/risk_assessment.md.dtl
  sbomify/apps/compliance/services/document_generation_service.py
  sbomify/apps/compliance/tests/test_document_generation.py
Due: ruff-format, ruff

fix(compliance): R2 Copilot — markdown-escape finding fields + clearer loop
  sbomify/apps/compliance/document_templates/risk_assessment.md.dtl
  sbomify/apps/compliance/services/document_generation_service.py
Due: ruff-format, ruff

test(compliance): regression for tight-list rendering in risk_assessment
  sbomify/apps/compliance/tests/test_document_generation.py
Due: ruff-format, ruff

docs(compliance): clarify autoescape docstring — name the actual renderer
  sbomify/apps/compliance/services/document_generation_service.py
Due: ruff-format, ruff

docs(compliance): correct autoescape docstring's safety invariant
  sbomify/apps/compliance/services/document_generation_service.py
Due: ruff-format, ruff

fix(api): return DUPLICATE_NAME on component name collision (closes #953)
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/core/tests/test_error_response_field_errors.py
Due: ruff-format, ruff

fix(api): also catch validate_unique() in contact-profile handlers
  sbomify/apps/core/apis.py
  sbomify/apps/core/services/validation_response.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_contact_profiles.py
Due: ruff-format, ruff

fix(api): detect unique-violation under any message_dict key
  sbomify/apps/core/services/validation_response.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/core/tests/test_error_response_field_errors.py
Due: ruff-format, ruff

fix(api): scope-label parameter on duplicate-name detail string
  sbomify/apps/core/services/validation_response.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_contact_profiles.py
Due: ruff-format, ruff

fix(api): detect unique violations by error code, not message substring
  sbomify/apps/core/services/validation_response.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/teams/apis.py
Due: ruff-format, ruff

fix(oidc): accept string repository_id/owner_id claims from GitHub
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/tests/conftest.py
  sbomify/apps/oidc/tests/test_apis.py
Due: ruff-format, ruff

fix(oidc): tighten _coerce_repo_int_claim — ASCII-decimal + int64 bound
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/tests/test_apis.py
Due: ruff-format, ruff

style(oidc): ruff format
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/tests/test_apis.py
Due: ruff-format, ruff

test: pin PAT workspace scope and OIDC upload-only restrictions
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/oidc/tests/test_permissions.py
Due: ruff-format, ruff

fix(authz): enforce membership on branding read and redact private product names
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_sbom_tagging.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_teams.py
Due: ruff-format, ruff

fix(dashboard): repair vuln-trends filter dropdowns, add releases filter, format counts
  sbomify/apps/core/templates/core/components/_dashboard_stats_card_inner.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_body.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_results.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/vulnerability_trends.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(dashboard): align vuln-trends filters with label-over-select layout
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_body.html.j2
Due: djlint-check, djlint-lint

fix(dashboard): address Copilot review on vuln-trends filters
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_body.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_results.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(dashboard): preserve hide_recent_scans across vuln-trends filter swaps
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_body.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(dashboard): carry product_id in a hidden input when product selector hidden
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_body.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(dashboard): destroy chart before canvas check to avoid zero-state leak
  sbomify/apps/vulnerability_scanning/js/vulnerability-chart.spec.ts
  sbomify/apps/vulnerability_scanning/js/vulnerability-chart.ts
Due: bun-lint

test(dashboard): exercise real initVulnerabilityChart for the zero-state leak
  sbomify/apps/vulnerability_scanning/js/vulnerability-chart.spec.ts
Due: bun-lint

a11y(dashboard): label the vuln-trends chart canvas for screen readers
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_results.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(dashboard): default the Release filter to the latest release
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

feat(dashboard): default Release filter to Latest, usable under All Products
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_body.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(dashboard): All Releases default on component view; drop synthetic latest dup
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_body.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(oidc): authenticated binding-management API (list/create/delete)
  sbomify/apps/oidc/apis.py
  sbomify/apps/oidc/tests/test_apis.py
Due: ruff-format, ruff

feat(oidc): accept caller-supplied repo IDs for private-repo bindings
  sbomify/apps/oidc/apis.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/tests/test_apis.py
Due: ruff-format, ruff

feat(oidc): defer ID pinning to first publish for private-repo bindings
  sbomify/apps/oidc/apis.py
  sbomify/apps/oidc/migrations/0002_remove_oidcbinding_oidc_binding_unique_per_component_repo_ids_and_more.py
  sbomify/apps/oidc/models.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/templates/oidc/_trusted_publishers_section.html.j2
  sbomify/apps/oidc/tests/test_apis.py
  sbomify/apps/oidc/tests/test_views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(oidc): address Copilot review on deferred pinning
  sbomify/apps/oidc/migrations/0002_remove_oidcbinding_oidc_binding_unique_per_component_repo_ids_and_more.py
  sbomify/apps/oidc/models.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/tests/test_apis.py
Due: ruff-format, ruff

chore(screencasts): use dummy repo + IDs in OIDC demo, not real ones
  screencasts/oidc_trusted_publishing.py
Due: ruff-format, ruff

fix(oidc): enforce both-or-neither IDs at the DB; align defer docstring
  sbomify/apps/oidc/migrations/0002_remove_oidcbinding_oidc_binding_unique_per_component_repo_ids_and_more.py
  sbomify/apps/oidc/models.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/tests/test_apis.py
Due: ruff-format, ruff

test(oidc): end-to-end private-repo trusted publishing through SBOM upload
  sbomify/apps/oidc/tests/test_permissions.py
Due: ruff-format, ruff

test(oidc): derive sub/owner/workflow_ref from repository in token factory
  sbomify/apps/oidc/tests/conftest.py
Due: ruff-format, ruff

test(oidc): add public-repo end-to-end trusted-publishing test
  sbomify/apps/oidc/tests/test_permissions.py
Due: ruff-format, ruff

fix(billing): retry transient Stripe webhook failures instead of dropping them
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/tests/test_billing_processing.py
  sbomify/apps/billing/tests/test_billing_processing_updates.py
  sbomify/apps/billing/tests/test_views.py
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

fix(billing): retry transient failures on the trialing subscription.updated path
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/test_billing_processing.py
  sbomify/apps/billing/tests/test_views.py
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

refactor(billing): classify transient Stripe errors, centralize webhook policy, harden retries
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/tests/test_billing_processing.py
  sbomify/apps/billing/tests/test_stripe_client.py
Due: ruff-format, ruff

refactor(billing): polish from comprehensive review (docs, idempotency, best-effort)
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/schemas.py
  sbomify/apps/billing/tests/test_billing_processing.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
