Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

Refactor Keycloak theme build process and improve accessibility
  .github/workflows/ci-cd.yml
  Dockerfile
  bin/keycloak-bootstrap.sh
  bun.lock
  docker-compose.dev.yml
  keycloak/bun.lock
  keycloak/package.json
  keycloak/tailwind.config.ts
  keycloak/themes/sbomify/login/login.ftl
  keycloak/themes/sbomify/login/register.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  package.json
  sbomify/apps/core/tests/test_keycloak_integration.py
Due: bun-lint, ruff-format, ruff

Improve vulnerability trends and scans views, URLs, and templates
  sbomify/apps/core/js/components/SbomDangerZone.spec.ts
  sbomify/apps/core/js/components/SbomDangerZone.vue
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/project_details_private.html.j2
  sbomify/apps/core/tests/integration/test_ui_workflows.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_dashboard.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/urls.py
  sbomify/apps/vulnerability_scanning/js/main.ts
  sbomify/apps/vulnerability_scanning/js/vulnerability-chart.ts
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/vulnerability_trends.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/apps/vulnerability_scanning/urls.py
  sbomify/apps/vulnerability_scanning/views/__init__.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
  sbomify/apps/vulnerability_scanning/views_scans.py
  sbomify/static/css/component-detailed-private.css
  sbomify/static/css/components/public-status-toggle.css
  sbomify/static/css/components/stat-card.css
  sbomify/static/css/components/vulnerability-trends.css
  sbomify/static/css/product-details-private.css
  sbomify/static/css/project-details-private.css
  sbomify/test_settings.py
  sbomify/urls.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Enhance vulnerability trends view by optimizing select_related queries and improve tooltip initialization logic
  sbomify/apps/core/js/components/SbomDangerZone.vue
  sbomify/apps/core/js/layout-interactions.ts
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
  sbomify/test_settings.py
Due: bun-lint, ruff-format, ruff

Enhance accessibility and user experience by adding tabindex attributes to registration form fields
  keycloak/themes/sbomify/login/register.ftl
  sbomify/apps/core/tests/test_keycloak_integration.py
Due: ruff-format, ruff

Update sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

Update sbomify/apps/vulnerability_scanning/js/vulnerability-chart.ts
  sbomify/apps/vulnerability_scanning/js/vulnerability-chart.ts
Due: bun-lint

Remove unnecessary warning log for missing upgrade notification in billing
  sbomify/apps/billing/notifications.py
Due: ruff-format, ruff

Refactor billing notifications logging and improve settings context handling
  sbomify/apps/billing/notifications.py
  sbomify/apps/core/js/notifications-modal.ts
  sbomify/apps/core/views/__init__.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/team_branding.py
  sbomify/apps/teams/views/team_custom_domain.py
  sbomify/apps/teams/views/team_general.py
  sbomify/static/css/responsive.css
Due: bun-lint, ruff-format, ruff

Enhance security by logging hashed workspace keys and optimize vulnerability trends data aggregation
  sbomify/apps/teams/templatetags/teams.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
  sbomify/static/css/responsive.css
Due: ruff-format, ruff

Fix import order by moving logging import below hashlib in teams.py
  sbomify/apps/teams/templatetags/teams.py
Due: ruff-format, ruff

Refactor logging levels in billing notifications and team views for improved clarity
  sbomify/apps/billing/notifications.py
  sbomify/apps/core/js/components/ItemAssignmentManager.vue
  sbomify/apps/teams/templatetags/teams.py
  sbomify/apps/teams/views/team_general.py
  sbomify/static/css/responsive.css
Due: bun-lint, ruff-format, ruff

Remove custom domain configuration from team branding view and fix search
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/views/team_branding.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Refactor team branding tests to use custom domain endpoint
  sbomify/apps/teams/tests/test_custom_domain_ui.py
Due: ruff-format, ruff

Enhance component details views and URL generation
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/ReleaseArtifacts.vue
  sbomify/apps/core/js/components/workspace-switcher.ts
  sbomify/apps/core/js/composables/useUrlGeneration.ts
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/core/templates/core/component_details_private_document.html.j2
  sbomify/apps/core/templates/core/component_details_private_sbom.html.j2
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/component_details_public_document.html.j2
  sbomify/apps/core/templates/core/component_details_public_sbom.html.j2
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/core/templatetags/breadcrumb_tags.py
  sbomify/apps/core/tests/test_breadcrumb_tags.py
  sbomify/apps/core/tests/test_component_views.py
  sbomify/apps/core/tests/test_slug_urls.py
  sbomify/apps/core/tests/test_url_utils.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/teams/templates/teams/dashboard.html.j2
  sbomify/static/css/components/documents-table.css
  sbomify/static/css/layout.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Improve component templates and add null safety to artifact mapping
  sbomify/apps/core/js/components/ReleaseArtifacts.vue
  sbomify/apps/core/js/components/workspace-switcher.ts
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
Due: bun-lint, djlint-check, djlint-lint

Enhance artifact loading with improved error handling and focus restoration in workspace switcher
  sbomify/apps/core/js/components/ReleaseArtifacts.vue
  sbomify/apps/core/js/components/workspace-switcher.ts
  sbomify/apps/core/templates/core/components/sidebar.html.j2
Due: bun-lint, djlint-check, djlint-lint

Update sbomify/apps/core/tests/test_component_views.py
  sbomify/apps/core/tests/test_component_views.py
Due: ruff-format, ruff

Add component_slug to release artifact responses and improve error logging
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/ReleaseArtifacts.vue
  sbomify/apps/core/schemas.py
  sbomify/apps/core/tests/test_release_artifacts_api.py
Due: bun-lint, ruff-format, ruff

Bumps django packages
  pyproject.toml
  uv.lock
Due: none

Bumps deps
  bun.lock
  package.json
Due: none

Cuts v0.21
  pyproject.toml
  uv.lock
Due: none

New: Playwright e2e snapshot tests
  pyproject.toml
  sbomify/apps/core/tests/e2e/__diffs__/.empty
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/core/tests/e2e/utils.py
  sbomify/test_settings.py
  sbomify/urls.py
  uv.lock
Due: ruff-format, ruff

Add E2E test image patterns to .gitignore
  .gitignore
Due: none

Install Playwright browsers in CI/CD workflow for end-to-end testing
  .github/workflows/ci-cd.yml
Due: none

Enhance CI/CD workflow to separately count E2E tests and update screenshot output naming convention
  .github/workflows/ci-cd.yml
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Refactor CI/CD workflow to improve test counting by categorizing tests based on the "anyio" marker
  .github/workflows/ci-cd.yml
Due: none

Update CI/CD workflow to install Playwright WebKit and modify E2E tests to use WebKit browser; update snapshot images for consistency.
  .github/workflows/ci-cd.yml
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/conftest.py
Due: ruff-format, ruff

Debug
  .github/workflows/ci-cd.yml
Due: none

Update CI/CD workflow to use the latest version of the upload-artifact action for improved artifact management
  .github/workflows/ci-cd.yml
Due: none

Update CI/CD workflow to install Playwright Chromium and modify E2E tests to use Chromium browser; adjust screenshot assertion threshold for improved accuracy.
  .github/workflows/ci-cd.yml
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Refactor screenshot assertion in E2E tests to use NamedTemporaryFile for improved file handling and adjust threshold for better accuracy.
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Update screenshot assertion threshold to 0.0 for improved accuracy in E2E tests and update snapshot images for consistency.
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Update screenshot assertion threshold to 0.005 for improved accuracy in E2E tests
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Refactor CI/CD workflow to streamline test counting by adjusting the order of arguments in pytest commands for better clarity and consistency.
  .github/workflows/ci-cd.yml
Due: none

Revert screenshot assertion threshold to 0.0 for improved accuracy in E2E tests, aligning with previous configurations.
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Enhance CI/CD workflow by separating synchronous and asynchronous test executions, capturing results in distinct files for better clarity and reporting.
  .github/workflows/ci-cd.yml
Due: none

Consolidate test results in CI/CD workflow by merging synchronous and asynchronous outputs into a single file for improved reporting and clarity.
  .github/workflows/ci-cd.yml
Due: none

Adjust CI/CD workflow to treat specific pytest exit code (5) as a success, enhancing test result handling and reporting.
  .github/workflows/ci-cd.yml
Due: none

Refine CI/CD workflow to consistently treat pytest exit code (5) as a success for both synchronous and asynchronous tests, improving overall test result handling.
  .github/workflows/ci-cd.yml
Due: none

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
