Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

feat(core): improve client IP detection for enterprise contact emails and rate limiting
  sbomify/apps/billing/views.py
  sbomify/apps/billing/webhook_handler.py
  sbomify/apps/core/tests/test_utils.py
  sbomify/apps/core/utils.py
  sbomify/apps/core/views/__init__.py
Due: ruff-format, ruff

Adopt IP logic fully
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_middleware.py
  sbomify/settings.py
Due: ruff-format, ruff

Reverts unnecessary changes after middleware adoption
  sbomify/apps/billing/views.py
  sbomify/apps/billing/webhook_handler.py
  sbomify/apps/core/views/__init__.py
Due: ruff-format, ruff

Adds better protection against spoofing
  sbomify/apps/core/tests/test_middleware.py
  sbomify/apps/core/tests/test_utils.py
  sbomify/apps/core/utils.py
Due: ruff-format, ruff

feat(core): secure client IP resolution logic
  Caddyfile
  sbomify/apps/core/middleware.py
  sbomify/apps/core/utils.py
Due: ruff-format, ruff

Delgate header creation/validation to Caddy
  sbomify/apps/core/tests/test_middleware.py
  sbomify/apps/core/tests/test_utils.py
  sbomify/apps/core/utils.py
Due: ruff-format, ruff

Refs feedback
  Caddyfile
  sbomify/apps/core/middleware.py
Due: ruff-format, ruff

Refactor: reorganize task imports and update Dramatiq configurations
  docker-compose.yml
  sbomify/apps/billing/tests/test_user_limits.py
  sbomify/apps/sboms/signals.py
  sbomify/apps/sboms/tasks.py
  sbomify/apps/sboms/tests/test_ntia_integration.py
  sbomify/apps/sboms/tests/test_ntia_task.py
  sbomify/apps/sboms/tests/test_signal_exceptions.py
  sbomify/apps/sboms/tests/test_vulnerability_scanning.py
  sbomify/settings.py
  sbomify/tasks.py
Due: ruff-format, ruff

Initial plumbing for CNAME/domain support
  sbomify/apps/billing/models.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/migrations/0016_team_custom_domain_team_custom_domain_validated.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/tests/test_domain_management.py
Due: ruff-format, ruff

Refactor variable names and reorder component type options
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/ItemAssignmentManager.vue
  sbomify/apps/core/templates/core/components_dashboard.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

feat(teams): add custom domain support for workspaces
  sbomify/apps/teams/admin.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/cron.py
  sbomify/apps/teams/middleware.py
  sbomify/apps/teams/migrations/0016_team_custom_domain_and_more.py
  sbomify/apps/teams/migrations/0017_team_teams_teams_custom__db3a3f_idx_and_more.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/tasks.py
  sbomify/apps/teams/tests/test_domain_management.py
  sbomify/apps/teams/tests/test_domain_middleware.py
  sbomify/apps/teams/tests/test_domain_validator.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/validators.py
  sbomify/settings.py
  sbomify/test_settings.py
Due: ruff-format, ruff

Hooks up Caddy with backend for TLS
  Caddyfile
  sbomify/apis.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_domain_management.py
Due: ruff-format, ruff

Clean up Caddy
  Caddyfile
Due: none

Fixes Caddy -> backend domain verification
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_domain_management.py
Due: ruff-format, ruff

Enforce TLS on probes - first is expected to fail
  sbomify/apps/teams/tasks.py
Due: ruff-format, ruff

Clean up domain verification
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_domain_management.py
  sbomify/apps/teams/tests/test_domain_middleware.py
Due: ruff-format, ruff

Refs feedback
  sbomify/apps/teams/tests/test_domain_middleware.py
Due: ruff-format, ruff

Merge migrations
  sbomify/apps/teams/migrations/0016_team_custom_domain_and_more.py
  sbomify/apps/teams/migrations/0017_team_teams_teams_custom__db3a3f_idx_and_more.py
Due: ruff-format, ruff

Increases timeout for task
  sbomify/apps/teams/migrations/0016_team_custom_domain_and_more.py
  sbomify/apps/teams/tasks.py
Due: ruff-format, ruff

Fixes documentation
  sbomify/apps/teams/tasks.py
Due: ruff-format, ruff

feat: add Let's Encrypt custom domain support with performance optimization
  sbomify/apps/teams/cron.py
  sbomify/apps/teams/middleware.py
  sbomify/apps/teams/tasks.py
  sbomify/apps/teams/tests/test_domain_middleware.py
  sbomify/apps/teams/urls.py
  sbomify/settings.py
  sbomify/test_settings.py
  sbomify/urls.py
Due: ruff-format, ruff

Addresses possible race condition
  sbomify/apps/teams/cron.py
  sbomify/apps/teams/tasks.py
  sbomify/apps/teams/urls.py
Due: ruff-format, ruff

Fixes linting
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/utils.py
  sbomify/settings.py
Due: ruff-format, ruff

More review feedback
  sbomify/apps/teams/tasks.py
  sbomify/apps/teams/validators.py
Due: ruff-format, ruff

Fix private visibility billing check to prevent bypassing restrictions
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Add workspace visibility controls with billing plan restrictions
  sbomify/apps/core/apis.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/tests/test_public_private_constraints.py
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/teams/admin.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/migrations/0016_team_is_public.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix billing plan validation to prevent 500 errors on invalid plans
  sbomify/apps/core/tests/test_public_private_constraints.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

Refactor test structure and fix community plan billing validation
  sbomify/apps/core/schemas.py
  sbomify/apps/core/tests/test_public_private_constraints.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Update trust center visibility terminology from "Private" to "Disabled
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Improve workspace visibility card styling and form controls
  sbomify/apps/teams/templates/teams/team_settings.html.j2
Due: djlint-check, djlint-lint

Remove duplicate can_be_private field and method from TeamSchema
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/migrations/0017_team_is_public.py
  sbomify/apps/teams/schemas.py
Due: ruff-format, ruff

Fix is_public field in product schema
  sbomify/apps/core/schemas.py
Due: ruff-format, ruff

Code review as diff :)
  assets/Screenshot_2025-12-05_at_8.33.00_AM-0e0a96ac-f11d-4140-9fd2-0f5182a9befe.png
  sbomify/apps/core/apis.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/core/tests/test_global_components_api.py
  sbomify/apps/core/tests/test_public_private_constraints.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

Removes accidental screenshot
  assets/Screenshot_2025-12-05_at_8.33.00_AM-0e0a96ac-f11d-4140-9fd2-0f5182a9befe.png
Due: none

Improve development environment configuration and fix Keycloak authentication bug
  .gitignore
  Caddyfile
  Caddyfile.dev
  DEVELOPER.md
  bin/developer_mode.sh
  bin/keycloak-bootstrap.sh
  docker-compose.dev.yml
  sbomify/settings.py
Due: markdownlint, ruff-format, ruff

Adds stop argument to dev mode
  bin/developer_mode.sh
Due: none

Fix copyable value component initialization and add default values
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/core/components/copyable-value.html.j2
Due: bun-lint, djlint-check, djlint-lint

Various fixes to Caddyfile
  Caddyfile
  Caddyfile.dev
Due: none

Tweaks replica count
  docker-compose.dev.yml
  docker-compose.yml
Due: none

Add branding toggle and improve color picker UX in team branding
  sbomify/apps/core/templates/core/public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/core/views/component_detailed_public.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/product_releases_public.py
  sbomify/apps/core/views/project_details_public.py
  sbomify/apps/core/views/release_details_public.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/documents/views.py
  sbomify/apps/sboms/views.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/branding.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/js/team-branding.ts
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/views/team_branding.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint
