Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

feat(oidc): enforce AccessToken.expires_at in the auth path (#828, OIDC-5)
  sbomify/apps/access_tokens/utils.py
  sbomify/apps/oidc/tests/test_auth_expiry.py
Due: ruff-format, ruff

feat(oidc): scope OIDC tokens to their bound component on upload (#828, OIDC-6)
  sbomify/apps/documents/apis.py
  sbomify/apps/oidc/permissions.py
  sbomify/apps/oidc/tests/test_permissions.py
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff

feat(oidc): Trusted Publishers UI on component settings (#828, OIDC-7+8)
  sbomify/apps/core/templates/core/component_details_private_document.html.j2
  sbomify/apps/core/templates/core/component_details_private_sbom.html.j2
  sbomify/apps/oidc/forms.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/templates/oidc/_trusted_publishers_section.html.j2
  sbomify/apps/oidc/tests/test_views.py
  sbomify/apps/oidc/urls.py
  sbomify/apps/oidc/views.py
  sbomify/urls.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(oidc): security-CRITICAL — liveness + role-coercion + JWT-level expiry
  sbomify/apps/access_tokens/utils.py
  sbomify/apps/oidc/apis.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/tests/test_auth_expiry.py
  sbomify/apps/oidc/tests/test_services.py
Due: ruff-format, ruff

refactor(oidc): service-layer + nullable bot_user + squashed migration
  sbomify/apps/oidc/apis.py
  sbomify/apps/oidc/migrations/0001_initial.py
  sbomify/apps/oidc/migrations/0002_remove_oidcbinding_oidc_binding_unique_per_component_repo_and_more.py
  sbomify/apps/oidc/models.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/templates/oidc/_trusted_publishers_section.html.j2
  sbomify/apps/oidc/tests/test_views.py
  sbomify/apps/oidc/views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(oidc): harden JWKS cache against poisoning + amplification (#828, P1-A)
  sbomify/apps/oidc/tests/conftest.py
  sbomify/apps/oidc/tests/test_apis.py
  sbomify/apps/oidc/tests/test_utils.py
  sbomify/apps/oidc/utils.py
Due: ruff-format, ruff

fix(teams,oidc): contain bot role — exclude from seats/UI, forbid manual assign (P1-C, P1-H)
  sbomify/apps/oidc/apps.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/signals.py
  sbomify/apps/oidc/tests/test_services.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/queries.py
  sbomify/apps/teams/tests/test_team_tokens.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff

refactor(oidc): hoist imports + dedupe slug pattern + rename shadow (P1-F)
  sbomify/apps/documents/apis.py
  sbomify/apps/oidc/forms.py
  sbomify/apps/oidc/github_api.py
  sbomify/apps/oidc/services.py
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff

fix(oidc): rate-limit exchange endpoint to 60/min per IP (#828, P1-B)
  pyproject.toml
  sbomify/apps/oidc/apis.py
  sbomify/apps/oidc/tests/test_apis.py
  uv.lock
Due: ruff-format, ruff

test(oidc): close highest-priority coverage gaps from review (#828, P1-G)
  sbomify/apps/oidc/tests/test_apis.py
  sbomify/apps/oidc/tests/test_permissions.py
  sbomify/apps/oidc/tests/test_utils.py
  sbomify/apps/oidc/tests/test_views.py
Due: ruff-format, ruff

fix(oidc): partial index + SSRF guard + safer test mocking (P2/P3)
  sbomify/apps/access_tokens/migrations/0007_remove_accesstoken_access_tokens_expires_at_idx_and_more.py
  sbomify/apps/access_tokens/models.py
  sbomify/apps/oidc/tests/test_auth_expiry.py
  sbomify/apps/oidc/tests/test_utils.py
  sbomify/apps/oidc/utils.py
Due: ruff-format, ruff

fix(oidc): round-2 Copilot — fail-closed orphan bots + invitation guard + 4 more
  sbomify/apps/oidc/apis.py
  sbomify/apps/oidc/permissions.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/signals.py
  sbomify/apps/oidc/templates/oidc/_trusted_publishers_section.html.j2
  sbomify/apps/oidc/tests/test_permissions.py
  sbomify/apps/oidc/views.py
  sbomify/apps/teams/migrations/0036_alter_invitation_role.py
  sbomify/apps/teams/models.py
  sbomify/settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(oidc): round-3 Copilot — peek decode, ORM in service, squash 0006+0007
  sbomify/apps/access_tokens/migrations/0006_accesstoken_expires_at_and_more.py
  sbomify/apps/access_tokens/migrations/0007_remove_accesstoken_access_tokens_expires_at_idx_and_more.py
  sbomify/apps/access_tokens/utils.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/views.py
Due: ruff-format, ruff

fix(oidc,teams): round-4 Copilot — Invitation.save() validates + bot invariants always enforced
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/tests/test_services.py
  sbomify/apps/teams/migrations/0036_alter_invitation_role.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/tests/test_deletion_edge_cases.py
  sbomify/apps/teams/tests/test_invite_limit_loophole.py
  sbomify/settings.py
Due: ruff-format, ruff

fix(oidc,teams): round-5 Copilot — DB-level Invitation guard + scoped ratelimit test cache
  sbomify/apps/oidc/tests/test_apis.py
  sbomify/apps/teams/migrations/0037_invitation_invitation_role_not_bot.py
  sbomify/apps/teams/models.py
Due: ruff-format, ruff

fix(oidc): round-6 Copilot — verify_iat + race-safe bot Member upsert + docstring drift
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/tests/test_utils.py
  sbomify/apps/oidc/utils.py
Due: ruff-format, ruff

fix(teams): round-7 Copilot — drop full_clean() override + accurate comments
  sbomify/apps/teams/models.py
  sbomify/apps/teams/tests/test_team_tokens.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff

fix(access_tokens): round-8 Copilot — docstring ordering + INFO-level expired-token log
  sbomify/apps/access_tokens/utils.py
Due: ruff-format, ruff

docs(oidc): round-9 Copilot — fix three docstring inaccuracies
  sbomify/apps/oidc/tests/test_permissions.py
  sbomify/apps/oidc/utils.py
  sbomify/apps/oidc/views.py
Due: ruff-format, ruff

fix(oidc): round-10 Copilot + browser-test findings
  sbomify/apps/oidc/templates/oidc/_trusted_publishers_section.html.j2
  sbomify/apps/oidc/tests/test_utils.py
  sbomify/apps/oidc/tests/test_views.py
  sbomify/apps/oidc/utils.py
  sbomify/apps/oidc/views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(oidc): round-11 Copilot — normalise APP_BASE_URL in workflow snippet
  sbomify/apps/oidc/tests/test_views.py
  sbomify/apps/oidc/views.py
Due: ruff-format, ruff

fix(oidc): use h4 for Trusted Publishers section heading
  sbomify/apps/oidc/templates/oidc/_trusted_publishers_section.html.j2
Due: djlint-check, djlint-lint

fix(oidc): round-12 Copilot — belt-and-suspenders OIDC marker
  sbomify/apps/oidc/permissions.py
  sbomify/apps/oidc/tests/test_permissions.py
Due: ruff-format, ruff

docs(oidc): round-13 Copilot — three accuracy fixes (log + 2 comments)
  sbomify/apps/access_tokens/utils.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/views.py
Due: ruff-format, ruff

docs(oidc): round-14 Copilot — three docstring accuracy fixes
  sbomify/apps/oidc/models.py
  sbomify/apps/oidc/views.py
Due: ruff-format, ruff

fix(oidc): round-15 Copilot — gate binding lookup on bot-name + relax docstring
  sbomify/apps/oidc/permissions.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/tests/test_permissions.py
  sbomify/apps/oidc/views.py
Due: ruff-format, ruff

fix(oidc): round-16 Copilot — drop renamable bot gate; use real client IP
  sbomify/apps/oidc/apis.py
  sbomify/apps/oidc/permissions.py
  sbomify/apps/oidc/tests/test_permissions.py
Due: ruff-format, ruff

fix(oidc): squash round-14 help_text update into 0001_initial migration
  sbomify/apps/oidc/migrations/0001_initial.py
Due: ruff-format, ruff

fix(oidc): use tw-table not tw-data-table on the bindings <table>
  sbomify/apps/oidc/templates/oidc/_trusted_publishers_section.html.j2
Due: djlint-check, djlint-lint

ui(oidc): polish trusted-publishers section + djlint formatting
  sbomify/apps/oidc/templates/oidc/_trusted_publishers_section.html.j2
Due: djlint-check, djlint-lint

fix(oidc): round-18 Copilot — three small precision fixes
  sbomify/apps/oidc/apis.py
  sbomify/apps/oidc/permissions.py
  sbomify/apps/oidc/signals.py
Due: ruff-format, ruff

docs(oidc): round-19 Copilot — fix two stale comments
  sbomify/apps/oidc/templates/oidc/_trusted_publishers_section.html.j2
  sbomify/apps/oidc/tests/test_permissions.py
Due: ruff-format, ruff, djlint-check, djlint-lint

docs(oidc): round-20 Copilot — two comment-accuracy fixes
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/views.py
Due: ruff-format, ruff

fix(access_tokens): round-21 Copilot — couple expires_at to token_type=oidc
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/access_tokens/utils.py
Due: ruff-format, ruff

test(screencasts): add oidc_trusted_publishing demo recording
  screencasts/oidc_trusted_publishing.py
Due: ruff-format, ruff

test(screencasts): extend oidc demo with end-to-end token-exchange flow
  screencasts/oidc_trusted_publishing.py
Due: ruff-format, ruff

fix(compliance): swap GFM pipe tables for bullets in CRA docs
  sbomify/apps/compliance/document_templates/risk_assessment.md.dtl
  sbomify/apps/compliance/services/export_service.py
  sbomify/apps/compliance/tests/test_export_service.py
Due: ruff-format, ruff

fix(compliance): remove single-asterisk italic markers from CRA doc templates
  sbomify/apps/compliance/document_templates/declaration_of_conformity.md.dtl
  sbomify/apps/compliance/document_templates/decommissioning_guide.md.dtl
  sbomify/apps/compliance/document_templates/early_warning.md.dtl
  sbomify/apps/compliance/document_templates/final_report.md.dtl
  sbomify/apps/compliance/document_templates/full_notification.md.dtl
  sbomify/apps/compliance/document_templates/user_instructions.md.dtl
  sbomify/apps/compliance/document_templates/vdp.md.dtl
Due: none
