Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

Refactor tooltip implementation across templates to use x-tooltip directive
  sbomify/apps/core/templates/core/sidebar.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_badge.html.j2
  sbomify/apps/plugins/templates/plugins/components/public_assessment_icon.html.j2
  sbomify/apps/sboms/templates/sboms/components/ci_cd_info.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/partials/alpine_components.html.j2
  sbomify/static/css/components.css
Due: djlint-check, djlint-lint

Refactor Danger Zone components for improved styling and consistency
  sbomify/apps/core/templates/components/component_danger_zone.html.j2
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/components/project_danger_zone.html.j2
  sbomify/apps/core/templates/components/release_danger_zone.html.j2
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
  sbomify/apps/teams/templates/teams/components/team_danger_zone.html.j2
  sbomify/static/css/tailwind.src.css
Due: djlint-check, djlint-lint

Refactor plan selection and remove unused console logs
  sbomify/apps/billing/js/plan-selection.ts
  sbomify/apps/core/js/components/components-list.spec.ts
  sbomify/apps/core/js/components/editable-single-field.spec.ts
  sbomify/apps/core/js/components/item-assignment-manager.spec.ts
  sbomify/apps/core/js/components/items-list-table.spec.ts
  sbomify/apps/core/js/components/pagination-controls.spec.ts
  sbomify/apps/core/js/components/plan-card.spec.ts
  sbomify/apps/core/js/components/standard-card.spec.ts
  sbomify/apps/core/js/htmx-lifecycle.ts
  sbomify/apps/core/js/notifications-modal.ts
  sbomify/apps/core/js/tooltip.ts
  sbomify/apps/core/templates/socialaccount/authentication_error.html.j2
  sbomify/apps/teams/js/team-branding.ts
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/static/css/components/assessment-badge.css
  sbomify/static/css/components/assessment-results-card.css
  sbomify/static/css/main.css
Due: bun-lint, djlint-check, djlint-lint

Refactor product details and recent activity templates for improved styling
  sbomify/apps/core/templates/core/components/recent_activity.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
Due: djlint-check, djlint-lint

Refactor Tailwind CSS integration and add Alpine.js tooltip tests
  sbomify/apps/core/js/alpine-tooltip.spec.ts
  sbomify/apps/core/js/alpine-tooltip.ts
  sbomify/apps/core/js/constants/colors.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/js/theme-manager.ts
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/components/component_meta_info_editor.html.j2
  sbomify/apps/core/templates/core/components/component_visibility_selector.html.j2
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/components/product_lifecycle_card.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/tw_test.html.j2
  sbomify/assets/css/tailwind.src.css
  vite.config.ts
Due: bun-lint, djlint-check, djlint-lint

feat: add reusable confirm modal component and improve UI consistency
  keycloak/themes/sbomify/login/update-password.ftl
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/js/alpine-tooltip.ts
  sbomify/apps/core/js/components/confirm-modal.ts
  sbomify/apps/core/js/components/item-assignment-manager.ts
  sbomify/apps/core/js/components/product-releases.ts
  sbomify/apps/core/templates/components/tw/confirm_modal.html.j2
  sbomify/apps/core/templates/core/components/standard_card.html.j2
  sbomify/apps/core/templates/core/components/workspace_health.html.j2
Due: bun-lint, djlint-check, djlint-lint

Enhance component schemas and improve UI templates
  sbomify/apps/core/js/components/product-releases.spec.ts
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/components/pending_items.html.j2
  sbomify/apps/core/templates/core/components/quick_actions.html.j2
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/sboms/templates/sboms/components/ci_cd_info.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Enhance asset management and improve UI component styling
  Dockerfile
  sbomify/apps/core/js/components/item-assignment-manager.ts
  sbomify/apps/core/templates/core/components/quick_actions.html.j2
  sbomify/apps/core/templates/core/components/recent_activity.html.j2
Due: bun-lint, djlint-check, djlint-lint

Remove flowbite dependency and clean up Tailwind CSS configuration
  bun.lock
  package.json
  tailwind.config.js
Due: bun-lint

Refactor UI components and enhance Tailwind CSS integration
  sbomify/apps/billing/templates/billing/public_enterprise_contact.html.j2
  sbomify/apps/core/js/component-meta-info.ts
  sbomify/apps/core/js/components/item-assignment-manager.ts
  sbomify/apps/core/js/components/product-releases.ts
  sbomify/apps/core/templates/components/tw/dropdown.html.j2
  sbomify/apps/core/templates/components/tw/pagination.html.j2
  sbomify/apps/core/templates/components/tw/token_display.html.j2
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/components/component_meta_info_display.html.j2
  sbomify/apps/core/templates/core/components/component_meta_info_editor.html.j2
  sbomify/apps/core/templates/core/components_table.html.j2
  sbomify/apps/core/templates/core/products_table.html.j2
  sbomify/apps/core/templates/core/projects_table.html.j2
  sbomify/templates/components/date_picker.html.j2
Due: bun-lint, djlint-check, djlint-lint

Enhance plan selection template with improved button logic and user feedback
  sbomify/apps/billing/templates/billing/select_plan.html.j2
Due: djlint-check, djlint-lint

Refactor form modal template for improved structure and readability
  sbomify/templates/components/modals/form_modal.html.j2
Due: djlint-check, djlint-lint

Refactor UI components and enhance functionality
  CLAUDE.md
  sbomify/apps/core/js/component-meta-info.ts
  sbomify/apps/core/js/theme-manager.ts
  sbomify/apps/core/js/utils.ts
  sbomify/apps/core/templates/components/tw/code_block.html.j2
  sbomify/apps/core/templates/components/tw/toast.html.j2
  sbomify/apps/core/templates/core/components/_form_field.html.j2
  sbomify/apps/core/templates/core/components/component_visibility_selector.html.j2
  sbomify/apps/core/templates/core/components/copyable_value.html.j2
  sbomify/apps/core/templates/core/components/pagination_controls.html.j2
Due: bun-lint, markdownlint, djlint-check, djlint-lint

Refactor form field template for improved layout and responsiveness
  keycloak/themes/sbomify/login/register.ftl
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/core/components/_form_field.html.j2
Due: bun-lint, djlint-check, djlint-lint

Enhance component meta info and add CSRF interceptor tests
  sbomify/apps/core/js/component-meta-info.ts
  sbomify/apps/core/js/components/product-releases.ts
  sbomify/apps/core/js/utils.spec.ts
Due: bun-lint

Update UI components for improved styling and deprecation handling
  sbomify/apps/core/js/htmx-lifecycle.ts
  sbomify/apps/core/templates/components/tw/breadcrumb.html.j2
  sbomify/apps/core/templates/components/tw/code_block.html.j2
  sbomify/apps/core/templates/components/tw/dropdown.html.j2
  sbomify/apps/core/templates/components/tw/empty_state.html.j2
  sbomify/apps/core/templates/components/tw/toast_container.html.j2
  sbomify/apps/core/templates/core/base.html.j2
Due: bun-lint, djlint-check, djlint-lint

Add unit tests for Theme Manager functionality
  sbomify/apps/core/js/theme-manager.spec.ts
  sbomify/apps/core/templates/components/tw/toast_container.html.j2
  sbomify/apps/core/templates/core/components/file_drag_and_drop.html.j2
Due: bun-lint, djlint-check, djlint-lint

Add CLAUDE.md for project documentation and guidance
  CLAUDE.md
  sbomify/apps/core/urls.py
Due: markdownlint, ruff-format, ruff

Refactor Dockerfile and Tailwind CSS source paths
  Dockerfile
  sbomify/assets/css/tailwind.src.css
Due: none

Refactor Dockerfile to improve application source file organization
  Dockerfile
Due: none

Update Dockerfile to optimize dependency installation order
  Dockerfile
Due: none

Update Tailwind CSS asset inclusion in HTML templates
  sbomify/apps/billing/templates/billing/public_enterprise_contact.html.j2
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: djlint-check, djlint-lint

Update Dockerfile and HTML templates for Tailwind CSS integration
  Dockerfile
  sbomify/apps/billing/templates/billing/public_enterprise_contact.html.j2
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: djlint-check, djlint-lint

Update favicon paths in Vite configuration
  vite.config.ts
Due: bun-lint

Refactor billing email notifications and templates
  sbomify/apps/billing/email_notifications.py
  sbomify/apps/billing/templates/billing/emails/base.html.j2
  sbomify/apps/billing/templates/billing/emails/payment_failed.html.j2
  sbomify/apps/billing/templates/billing/emails/payment_failed.txt
  sbomify/apps/billing/templates/billing/emails/payment_past_due.html.j2
  sbomify/apps/billing/templates/billing/emails/payment_past_due.txt
  sbomify/apps/billing/templates/billing/emails/payment_succeeded.html.j2
  sbomify/apps/billing/templates/billing/emails/payment_succeeded.txt
  sbomify/apps/billing/templates/billing/emails/subscription_cancelled.html.j2
  sbomify/apps/billing/templates/billing/emails/subscription_cancelled.txt
  sbomify/apps/billing/templates/billing/emails/subscription_ended.html.j2
  sbomify/apps/billing/templates/billing/emails/subscription_ended.txt
  sbomify/apps/billing/templates/billing/emails/test_template.html.j2
  sbomify/apps/billing/templates/billing/emails/trial_ending.html.j2
  sbomify/apps/billing/templates/billing/emails/trial_ending.txt
  sbomify/apps/billing/templates/billing/emails/trial_expired.html.j2
  sbomify/apps/billing/templates/billing/emails/trial_expired.txt
  sbomify/apps/billing/tests/test_email_notifications.py
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/templates/documents/emails/access_approved.html.j2
  sbomify/apps/documents/templates/documents/emails/access_approved.txt
  sbomify/apps/documents/templates/documents/emails/access_rejected.html.j2
  sbomify/apps/documents/templates/documents/emails/access_rejected.txt
  sbomify/apps/documents/templates/documents/emails/access_request_notification.html.j2
  sbomify/apps/documents/templates/documents/emails/access_request_notification.txt
  sbomify/apps/documents/templates/documents/emails/access_revoked.html.j2
  sbomify/apps/documents/templates/documents/emails/access_revoked.txt
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/onboarding/templates/onboarding/emails/welcome.txt
  sbomify/apps/teams/templates/teams/emails/new_user_email.html.j2
  sbomify/apps/teams/templates/teams/emails/new_user_email.txt
  sbomify/apps/teams/templates/teams/emails/team_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/team_invite_email.txt
  sbomify/apps/teams/templates/teams/emails/trust_center_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/trust_center_invite_email.txt
Due: ruff-format, ruff, djlint-check, djlint-lint

Enhance sbomify email themes and templates
  bin/keycloak-bootstrap.sh
  keycloak/themes/sbomify/email/html/email-verification.ftl
  keycloak/themes/sbomify/email/html/executeActions.ftl
  keycloak/themes/sbomify/email/html/password-reset.ftl
  keycloak/themes/sbomify/email/html/template.ftl
  keycloak/themes/sbomify/email/text/email-verification.ftl
  keycloak/themes/sbomify/email/text/executeActions.ftl
  keycloak/themes/sbomify/email/text/password-reset.ftl
  keycloak/themes/sbomify/email/theme.properties
  sbomify/apps/billing/templates/billing/emails/subscription_ended.html.j2
  sbomify/apps/billing/templates/billing/emails/subscription_ended.txt
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Refactor email templates for improved readability
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/documents/templates/documents/emails/access_approved.html.j2
  sbomify/apps/documents/templates/documents/emails/access_rejected.html.j2
  sbomify/apps/documents/templates/documents/emails/access_request_notification.html.j2
  sbomify/apps/documents/templates/documents/emails/access_revoked.html.j2
  sbomify/apps/teams/templates/teams/emails/team_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/team_invite_email.txt
  sbomify/apps/teams/templates/teams/emails/trust_center_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/trust_center_invite_email.txt
Due: djlint-check, djlint-lint

Standardize base URL handling in email contexts
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Update email templates to include logo dimensions
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/base.html.j2
Due: djlint-check, djlint-lint

Enhance email templates and context handling
  keycloak/themes/sbomify/email/html/template.ftl
  keycloak/themes/sbomify/email/theme.properties
  sbomify/apps/billing/email_notifications.py
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/base.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Standardize base URL handling in email contexts
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff

Update email templates to personalize greetings
  sbomify/apps/billing/templates/billing/emails/subscription_ended.html.j2
  sbomify/apps/billing/templates/billing/emails/subscription_ended.txt
  sbomify/apps/billing/templates/billing/emails/trial_ending.html.j2
  sbomify/apps/billing/templates/billing/emails/trial_ending.txt
  sbomify/apps/billing/templates/billing/emails/trial_expired.html.j2
  sbomify/apps/billing/templates/billing/emails/trial_expired.txt
Due: djlint-check, djlint-lint

Refactor base URL handling and update email styles
  sbomify/apps/billing/email_notifications.py
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/core/url_utils.py
  sbomify/apps/onboarding/templates/onboarding/emails/base.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Refactor base URL handling in access request notifications
  sbomify/apps/core/url_utils.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Update access request review links for consistency
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff

Refactor base URL handling in email contexts
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/onboarding/utils.py
  sbomify/apps/teams/signals.py
  sbomify/apps/teams/utils.py
Due: ruff-format, ruff

Enhance email delivery error handling in billing notifications
  sbomify/apps/billing/email_notifications.py
  sbomify/apps/core/management/commands/send_test_emails.py
Due: ruff-format, ruff

Update email notification test to enforce error handling
  sbomify/apps/billing/tests/test_email_notifications.py
Due: ruff-format, ruff
