Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

Add contextual actions to empty states
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_products_yet_dark_1920.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_products_yet_dark_375.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_products_yet_dark_576.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_products_yet_dark_992.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_products_yet_light_1920.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_products_yet_light_375.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_products_yet_light_576.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_products_yet_light_992.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/test_empty_states.py
  sbomify/apps/core/tests/test_empty_state_actions.py
  sbomify/apps/documents/templates/documents/documents_table_content.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/apps/sboms/templates/sboms/vex_documents.html.j2
  sbomify/templates/components/inventory/results.html
Due: ruff-format, ruff, djlint-check, djlint-lint

Type branding uploads from their bytes
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_branding_upload_types.py
  sbomify/apps/teams/tests/test_teams.py
Due: ruff-format, ruff

Add CRA assessment entry point and restore sidebar links
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/templates/compliance/components/cra_start_dialog.html.j2
  sbomify/apps/compliance/templates/compliance/cra_product_list.html.j2
  sbomify/apps/compliance/tests/test_views.py
  sbomify/apps/compliance/views/cra_product_list.py
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/core/js/components/table-sorting.ts
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/products_inventory.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_product_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_product_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_product_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_product_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_start_assessment_from_empty_list[dark-1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_start_assessment_from_empty_list[dark-375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_start_assessment_from_empty_list[light-1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_start_assessment_from_empty_list[light-375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_tokens_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/test_cra_compliance.py
  sbomify/apps/core/tests/e2e/test_inventory.py
  sbomify/apps/core/tests/e2e/test_sidebar_initial_render.py
  sbomify/apps/core/tests/test_dashboard_chrome.py
  sbomify/apps/core/tests/test_spotlight.py
  sbomify/apps/core/views/products_dashboard.py
  sbomify/templates/components/chrome/inventory_nav.html
  sbomify/templates/components/chrome/sidebar.html
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Cap SVG branding uploads and refuse xml:base
  sbomify/apps/core/tests/s3_fixtures.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_branding_upload_types.py
Due: ruff-format, ruff

Use dedicated inventory URLs and simplify sidebar navigation
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/core/services/inventory_page.py
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/e2e/test_inventory.py
  sbomify/apps/core/tests/e2e/test_navbar_search.py
  sbomify/apps/core/tests/e2e/test_sidebar_initial_render.py
  sbomify/apps/core/tests/test_dashboard_chrome.py
  sbomify/apps/core/tests/test_inventory_page.py
  sbomify/apps/core/views/products_dashboard.py
  sbomify/apps/core/views/release_create.py
  sbomify/templates/components/chrome/inventory_nav.html
  sbomify/templates/components/inventory/table.html
Due: ruff-format, ruff, djlint-check, djlint-lint

Simplify product details and stabilize tab navigation
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/core/components/product_details_section.html.j2
  sbomify/apps/core/templates/core/product_content.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/test_product_navigation.py
  sbomify/apps/core/tests/e2e/test_ui_action_repairs.py
  sbomify/apps/core/tests/e2e/test_visibility_selector.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Confirm workspace invitations before accepting them
  sbomify/apps/core/tests/test_posthog_tier2_teams.py
  sbomify/apps/teams/templates/teams/accept_invite.html.j2
  sbomify/apps/teams/tests/test_invite_accept_post_only.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Check SVG branding uploads without building an element tree
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
  sbomify/apps/core/tests/s3_fixtures.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_branding_upload_types.py
Due: ruff-format, ruff

Simplify CRA wizard layout and required-field guidance
  sbomify/apps/compliance/js/cra-step-1.ts
  sbomify/apps/compliance/js/cra-step-4.ts
  sbomify/apps/compliance/js/cra-validation.spec.ts
  sbomify/apps/compliance/js/cra-validation.ts
  sbomify/apps/compliance/templates/compliance/components/cra_required_fields.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_1.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_3.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_4.html.j2
  sbomify/apps/compliance/templates/compliance/cra_wizard_base.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[1-1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[1-375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[1-576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[1-992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[2-1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[3-1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[4-1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[4-375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[4-576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[4-992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[5-1920].jpg
  sbomify/templates/components/layout/description_row.html
  sbomify/templates/components/layout/form_section.html
Due: bun-lint, djlint-check, djlint-lint

Import the SVG check inside the one test that needs it
  sbomify/apps/teams/tests/test_branding_upload_types.py
Due: ruff-format, ruff

Verify custom domains with a challenge fetched from the domain
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_custom_domain_challenge.py
  sbomify/apps/core/tests/test_custom_domain_middleware.py
  sbomify/apps/security_advisories/tests/test_csaf_wellknown.py
  sbomify/apps/teams/cron.py
  sbomify/apps/teams/tasks/__init__.py
  sbomify/apps/teams/tests/test_domain_middleware.py
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/utils.py
Due: ruff-format, ruff

Simplify CRA required-field notice using existing components
  sbomify/apps/compliance/templates/compliance/components/cra_required_fields.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[1-1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[1-375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[1-576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[1-992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[4-1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[4-375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[4-576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_wizard_step_snapshot[4-992].jpg
Due: djlint-check, djlint-lint

Confine OIDC bot release reads to products holding its component
  sbomify/apps/core/apis.py
  sbomify/apps/oidc/permissions.py
  sbomify/apps/oidc/tests/test_bot_release_read_scope.py
Due: ruff-format, ruff

fix(billing): read invoice and subscription fields in both Stripe payload shapes
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/tests/test_invoice_payload_shapes.py
Due: ruff-format, ruff

Fix chrome and navigation defects found reviewing the prototype UI
  sbomify/apps/compliance/templates/compliance/cra_product_list.html.j2
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/component_new.html.j2
  sbomify/apps/core/templates/core/product_new.html.j2
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/apps/core/templates/core/security_advisory_new.html.j2
  sbomify/apps/core/tests/e2e/test_chrome_controls.py
  sbomify/apps/core/tests/e2e/test_critical_paths.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/templates/components/chrome/account_menu.html
  sbomify/templates/components/chrome/create_menu.html
  sbomify/templates/components/chrome/header.html
  sbomify/templates/components/chrome/nav_item.html
  sbomify/templates/components/chrome/notifications.html
  sbomify/templates/components/chrome/sidebar.html
  sbomify/templates/components/chrome/theme_picker.html
  sbomify/templates/components/chrome/workspace_switcher.html
  sbomify/templates/components/dropdowns/divider.html
Due: ruff-format, ruff, djlint-check, djlint-lint

Update CRA settings navigation test for new-tab editing
  sbomify/apps/core/tests/e2e/test_ui_action_repairs.py
Due: ruff-format, ruff

Handle modal Escape before focus trap activates
  sbomify/apps/core/tests/e2e/test_empty_states.py
  sbomify/templates/components/modal.html
Due: ruff-format, ruff

fix(billing): ignore webhook events older than the newest one applied
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/test_webhook_event_ordering.py
Due: ruff-format, ruff

Put the article before the role on the invitation page
  sbomify/apps/teams/templates/teams/accept_invite.html.j2
  sbomify/apps/teams/tests/test_invite_accept_post_only.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(billing): record a payment whose event arrives late
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/test_webhook_event_ordering.py
Due: ruff-format, ruff

Require a confirmed email to link an account or match an invitation
  sbomify/apps/core/adapters.py
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/keycloak_events.py
  sbomify/apps/core/migrations/0029_user_email_verified_from_last_login.py
  sbomify/apps/core/services/account_deletion.py
  sbomify/apps/core/tests/e2e/test_settings.py
  sbomify/apps/core/tests/test_account_deletion.py
  sbomify/apps/core/tests/test_keycloak_adapter.py
  sbomify/apps/core/tests/test_posthog_tier2_teams.py
  sbomify/apps/core/tests/test_social_login_email_verified.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/notifications.py
  sbomify/apps/teams/permissions.py
  sbomify/apps/teams/queries.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/tests/test_admin_permissions.py
  sbomify/apps/teams/tests/test_deletion_edge_cases.py
  sbomify/apps/teams/tests/test_invite_notifications.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Verify email addresses in the development Keycloak realm
  bin/keycloak-bootstrap.sh
  keycloak/README.md
Due: markdownlint

Resolve the invitation from its link, not a saved session token
  sbomify/apps/teams/tests/test_invite_accept_post_only.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Count and probe a custom domain only while it is still pending
  sbomify/apps/core/tests/test_custom_domain_challenge.py
  sbomify/apps/teams/tasks/__init__.py
Due: ruff-format, ruff

Clear the saved invitation token on every visit
  sbomify/apps/teams/tests/test_invite_accept_post_only.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

fix(tokens): await the clipboard write before claiming the copy worked
  sbomify/apps/core/templates/core/components/copy_token.html.j2
  sbomify/apps/core/tests/test_cotton_singletons.py
  sbomify/apps/teams/templates/teams/components/token_row.html.j2
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
  sbomify/templates/components/token_display.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(billing): count members against plan limits, and say what a downgrade does
  sbomify/apps/billing/plan_features.py
  sbomify/apps/billing/services/plan_selection.py
  sbomify/apps/billing/team_pricing_service.py
  sbomify/apps/billing/tests/test_plan_selection_service.py
  sbomify/apps/billing/tests/test_team_pricing_service.py
  sbomify/templates/components/billing/plan_card.html
Due: ruff-format, ruff

feat(design-system): a role badge, and give the members table its tones back
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/views/design_system.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/members.html.j2
  sbomify/templates/components/badges/role.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(settings): one name per thing, and sentence case across the tabs
  sbomify/apps/core/tests/e2e/test_contact_profiles.py
  sbomify/apps/core/tests/e2e/test_settings_navigation.py
  sbomify/apps/core/tests/e2e/test_ui_action_repairs.py
  sbomify/apps/core/tests/test_cotton_cards.py
  sbomify/apps/teams/templates/teams/contact_profiles/partials/profile_details.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_form.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_list.html.j2
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/billing.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/views/team_general.py
  sbomify/templates/components/cards/dangerzone_collapsible.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(forms): make a read-only field look read-only, and fix the account copy
  sbomify/apps/core/tests/test_cotton_forms.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/account.html.j2
  sbomify/templates/components/forms/input.html
Due: ruff-format, ruff, djlint-check, djlint-lint

chore(settings): drop the tab description nothing reads
  sbomify/apps/teams/settings_tabs.py
Due: ruff-format, ruff

fix(branding): lead with the switch that turns branding on
  sbomify/apps/teams/templates/teams/team_branding.html.j2
Due: djlint-check, djlint-lint

refactor(trust-center): compose the access-request queue from the library
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/teams/templates/teams/components/settings_access_modals.html.j2
Due: djlint-check, djlint-lint

Probe a custom domain with one request and reject an oversized answer
  sbomify/apps/core/tests/test_custom_domain_challenge.py
  sbomify/apps/teams/tasks/__init__.py
Due: ruff-format, ruff

Refresh security panels in place instead of reloading the page
  docs/prototype-ui-migration.md
  sbomify/apps/core/js/components/release-artifacts.ts
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/components/component_vulnerabilities_table.html.j2
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_cbom_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_cbom_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_cbom_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_cbom_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_vex_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_vex_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_vex_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_vex_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/factories.py
  sbomify/apps/core/tests/e2e/test_assessment_refresh.py
  sbomify/apps/core/tests/test_security_surface_refresh.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_findings.html.j2
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
  sbomify/apps/plugins/templates/plugins/components/triage_modal.html.j2
  sbomify/apps/plugins/tests/test_assessment_run_item_badge.py
  sbomify/apps/sboms/templates/sboms/components/scan_vulnerabilities.html.j2
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/vulnerability_scanning/tasks/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_reapply_broadcast.py
  sbomify/templates/components/vulnerabilities/table.html
Due: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Start a saved custom domain's verification backoff over
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_domain_management.py
Due: ruff-format, ruff

fix(tokens): store a SHA-256 of each access token instead of the token
  sbomify/apps/access_tokens/migrations/0012_store_token_hash.py
  sbomify/apps/access_tokens/models.py
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/access_tokens/utils.py
  sbomify/apps/core/services/repository_setup.py
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/core/tests/test_access_token_storage.py
  sbomify/apps/oidc/permissions.py
  sbomify/apps/oidc/services.py
  sbomify/apps/oidc/tests/test_apis.py
  sbomify/apps/oidc/tests/test_auth_expiry.py
  sbomify/apps/oidc/tests/test_permissions.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/teams/tests/test_team_tokens.py
  sbomify/apps/teams/views/ci_token.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff

Log an invitation acceptance only when the POST runs
  sbomify/apps/teams/tests/test_invite_accept_post_only.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Preserve inventory controls during result updates
  sbomify/apps/core/templates/core/products_inventory.html.j2
  sbomify/apps/core/templates/core/products_inventory_results.html.j2
  sbomify/apps/core/tests/e2e/test_inventory.py
  sbomify/apps/core/tests/test_inventory_fragments.py
  sbomify/apps/core/views/products_dashboard.py
  sbomify/templates/components/inventory/filters.html
  sbomify/templates/components/inventory/list_results.html
  sbomify/templates/components/inventory/results.html
  sbomify/templates/components/inventory/table.html
Due: ruff-format, ruff, djlint-check, djlint-lint
