Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix(billing): scope the queued email to its workspace, and say workspace
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tasks/__init__.py
  sbomify/apps/billing/tests/test_billing_review_fixes.py
  sbomify/apps/teams/tests/test_deletion_edge_cases.py
Due: ruff-format, ruff

fix(billing): a trial runs its full length, and the cancel leaves the request
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/email_notifications.py
  sbomify/apps/billing/stripe_pricing_service.py
  sbomify/apps/billing/tasks/__init__.py
  sbomify/apps/billing/tests/test_billing_review_fixes.py
  sbomify/apps/billing/tests/test_stripe_pricing_service.py
  sbomify/apps/core/services/account_deletion.py
  sbomify/apps/teams/tests/test_deletion_edge_cases.py
  sbomify/apps/teams/views/dashboard.py
Due: ruff-format, ruff

fix(billing): a Stripe outage retries the cleanup instead of giving up on it
  sbomify/apps/billing/tasks/__init__.py
  sbomify/apps/core/services/account_deletion.py
  sbomify/apps/teams/tests/test_deletion_edge_cases.py
Due: ruff-format, ruff

fix(billing): prove the pinned API version, and stop claiming a cancellation
  sbomify/apps/billing/tests/test_billing_review_fixes.py
  sbomify/apps/billing/tests/test_stripe_api_version.py
  sbomify/apps/core/services/account_deletion.py
  sbomify/apps/teams/tests/test_deletion_edge_cases.py
  sbomify/settings.py
Due: ruff-format, ruff

feat(spdx3): resolve licence relationships to expressions, not booleans
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/spdx3_corpus.py
  sbomify/apps/plugins/tests/test_spdx3_license_resolution.py
Due: ruff-format, ruff

refactor(spdx3): narrow the resolved members instead of silencing mypy
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
Due: ruff-format, ruff

fix(spdx3): read the package id honestly before matching relationships
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/tests/test_spdx3_license_resolution.py
Due: ruff-format, ruff

fix: cloak sidebar until Alpine initializes
  sbomify/apps/core/templates/core/components/sidebar.html.j2
Due: djlint-check, djlint-lint

fix: render saved sidebar layout before Alpine initializes
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/components/footer.html.j2
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/core/templates/core/components/sidebar_link.html.j2
  sbomify/apps/core/templates/core/dashboard_base.html.j2
  sbomify/apps/core/templates/core/dashboard_base.htmx.j2
  sbomify/apps/core/tests/e2e/test_sidebar_initial_render.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(api): the CSAF self reference is a URI even without APP_BASE_URL
  sbomify/apps/security_advisories/apis.py
  sbomify/apps/security_advisories/services/trust_center.py
  sbomify/apps/security_advisories/tests/test_apis.py
Due: ruff-format, ruff

fix(plugins): a declared unknown says so, and the fixtures match the plugin
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/test_cisa_integration.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
Due: ruff-format, ruff

feat(plugins): score the CISA 2026 minimum elements, and register the plugin
  README.md
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/tests/spdx3_corpus.py
  sbomify/apps/plugins/tests/test_builtin_reconciliation.py
  sbomify/apps/plugins/tests/test_cisa_integration.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
  sbomify/apps/sboms/tests/test_sbom_schemas.py
Due: markdownlint, ruff-format, ruff

fix(readme): the CISA row lines its pipes up with the rest of the table
  README.md
Due: markdownlint

fix(plugins): read the CycloneDX identifiers in the shapes the schema gives them
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
Due: ruff-format, ruff

fix(plugins): count only shipped components toward the dependency element
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
Due: ruff-format, ruff

fix(plugins): read a bare purl on an SPDX 2 package
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
Due: ruff-format, ruff

fix(plugins): the error flag reads like every other plugin's
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/test_cisa_integration.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
Due: ruff-format, ruff

fix(plugins): the plugins page baselines, and two output-shape gaps
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[992].jpg
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
Due: ruff-format, ruff

fix(plugins): a format claim must name the format, a phase must be a word
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
Due: ruff-format, ruff

feat(plugins): keep the 2025 elements as their own plugin
  README.md
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[992].jpg
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/cisa_2025.py
  sbomify/apps/plugins/tests/test_builtin_reconciliation.py
  sbomify/apps/plugins/tests/test_cisa_2025_plugin.py
Due: markdownlint, ruff-format, ruff

fix(plugins): the SPDX context is decided by its host, not by a substring
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
Due: ruff-format, ruff

fix(plugins): a malformed SPDX 2 document is scored, not raised on
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
Due: ruff-format, ruff

fix(plugins): SPDX 3 has to name SPDX as well
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
Due: ruff-format, ruff

fix(plugins): a licence relationship has to land on a licence
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/cisa_2025.py
  sbomify/apps/plugins/tests/test_cisa_integration.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
Due: ruff-format, ruff

fix(plugins): the 2025 plugin reads what the draft actually asks for
  sbomify/apps/plugins/builtins/cisa_2025.py
  sbomify/apps/plugins/tests/test_cisa_integration.py
Due: ruff-format, ruff

fix(deps): bump fast-uri override to 3.1.6 to clear High advisories
  bun.lock
  package.json
Due: none

fix(sbom): emit Go major-version suffix in the shipped binaries' PURLs
  bin/generate_additional_packages.sh
  sbomify/apps/core/tests/test_additional_packages_purls.py
Due: ruff-format, ruff

fix(vulns): an advisory body is prose on the page, not its own markup
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/plugins/tests/test_templatetags.py
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/tests/test_sbom_vulnerabilities_view.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(trust-center): a release page does not publish vulnerabilities until asked
  sbomify/apps/core/tests/test_release_public_posture.py
  sbomify/apps/core/views/release_details_public.py
  sbomify/apps/teams/migrations/0043_team_publish_vulnerability_posture.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/views/team_settings.py
  sbomify/apps/vulnerability_scanning/posture.py
  sbomify/apps/vulnerability_scanning/tests/test_posture.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(vex): the preview counts advisories, not scan rows
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/tests/test_triage.py
Due: ruff-format, ruff

fix(upload): the declared artifact type has to match the document
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

fix(vulns): GitHub's alert marker comes off with its quote
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/plugins/tests/test_templatetags.py
Due: ruff-format, ruff

fix(upload): the VEX guard belongs on the dropdown path too, and a VEX may list components
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

fix(vex): fold the preview the way the component page folds
  sbomify/apps/vulnerability_scanning/apis.py
Due: ruff-format, ruff

test: drop type: ignore in favour of asserting the regex match
  sbomify/apps/core/tests/test_additional_packages_purls.py
Due: ruff-format, ruff

fix(vulns): a code span is literal, and a dunder is not emphasis
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/plugins/tests/test_templatetags.py
  sbomify/apps/sboms/tests/test_sbom_vulnerabilities_view.py
Due: ruff-format, ruff

fix(vex): the preview streams the runs it folds
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/tests/test_triage.py
  sbomify/apps/vulnerability_scanning/utils.py
Due: ruff-format, ruff

fix(vulns): a component that is not an object must not 500 the merge
  sbomify/apps/vulnerability_scanning/tests/test_result_annotations.py
  sbomify/apps/vulnerability_scanning/utils.py
Due: ruff-format, ruff

fix(vulns): the merge walks only what it can walk
  sbomify/apps/vulnerability_scanning/tests/test_result_annotations.py
  sbomify/apps/vulnerability_scanning/utils.py
Due: ruff-format, ruff

chore(tests): ruff format test_trust_center.py
  sbomify/apps/security_advisories/tests/test_trust_center.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
