Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

refactor(authz): address Copilot review on #1016
  sbomify/apps/core/tests/test_authz.py
  sbomify/apps/oidc/views.py
  sbomify/apps/sboms/tests/test_views.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
Due: ruff-format, ruff

refactor(authz): address Copilot review on #1017
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_authz.py
Due: ruff-format, ruff

refactor(authz): address Copilot re-review (mock fidelity + resource action)
  sbomify/apps/core/management/commands/create_pagination_test_data.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/management/commands/create_test_sbom_environment.py
Due: ruff-format, ruff

test(authz): scope the catalog-drift scan + use platform-independent paths
  sbomify/apps/core/tests/test_authz.py
Due: ruff-format, ruff

docs(authz): refresh can() module docstring for the completed consolidation
  sbomify/apps/core/authz.py
Due: ruff-format, ruff

ci: drop redundant OIDC_AUDIENCE — the action derives it from API_BASE_URL
  .github/workflows/ci-cd.yml
Due: none

chore: bump version to 26.3.0
  package.json
  pyproject.toml
  uv.lock
Due: none

fix(vuln-trends): make dashboard summary cards a point-in-time snapshot
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

fix(deps): bump frontend dependencies to clear High advisories (#1020)
  bun.lock
  package.json
Due: none

fix(deps): bump compliance-trestle 4.0.1 -> 4.0.3 (#1020)
  uv.lock
Due: none

fix(docker): bump base image + osv-scanner/cosign to clear container High/Critical (#1020)
  Dockerfile
Due: none

fix(docker): exclude test_data fixtures from the image to kill phantom CVEs (#1020)
  .dockerignore
Due: none

fix(deps): align manifest floors with resolved versions, pin overrides (Copilot review)
  bun.lock
  package.json
Due: none

fix(vuln-trends): make the snapshot truly time-range-independent (Copilot review)
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

fix(vuln-trends): resolve the snapshot without Postgres-only DISTINCT ON (Copilot review)
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

fix(docker): strip test_data fixtures in the prod-only collectstatic stage (Copilot review)
  .dockerignore
  Dockerfile
Due: none

fix(docker): scope test_data cleanup to /code/sbomify (Copilot review)
  Dockerfile
Due: none

refactor(vuln-trends): efficient snapshot on Postgres, portable fallback (Copilot review)
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

fix(vuln-trends): break created_at ties deterministically in the snapshot (Copilot review)
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

refactor(vuln-trends): drop redundant .distinct() on the product-scoped queries (Copilot review)
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

feat(authz): enforce API-token action scopes in can() (#215, #1002 phase 3)
  sbomify/apps/access_tokens/migrations/0008_accesstoken_scopes.py
  sbomify/apps/access_tokens/models.py
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/core/authz.py
  sbomify/apps/core/tests/test_authz.py
Due: ruff-format, ruff

feat(tokens): scope picker in the token-creation form (#215, #1002 phase 3)
  sbomify/apps/core/forms.py
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
  sbomify/apps/teams/tests/test_team_tokens.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(authz): validate action before scope gate; read-only scope covers ABAC (Copilot review)
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/core/authz.py
  sbomify/apps/core/tests/test_authz.py
Due: ruff-format, ruff

fix(tokens): harden form.scopes() — direct preset index + defensive copy (Copilot review)
  sbomify/apps/core/forms.py
Due: ruff-format, ruff

fix(authz): correct sbom delete authz + admin-403 delete regression tests (Copilot review)
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/core/tests/test_release_apis.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/services/sboms.py
  sbomify/apps/sboms/tests/test_apis.py
Due: ruff-format, ruff

feat(authz): owner-only delete + guest upload (#468, #1002 phase 3)
  sbomify/apps/core/apis.py
  sbomify/apps/core/authz.py
  sbomify/apps/core/tests/test_authz.py
  sbomify/apps/documents/services/documents.py
  sbomify/apps/documents/tests/test_apis.py
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff

fix(authz): enforce token read-scope on the components-list endpoint (#1028)
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_crud_apis.py
Due: ruff-format, ruff

feat(cbom): derive crypto-asset inventory from CycloneDX on read
  sbomify/apps/sboms/crypto_inventory.py
  sbomify/apps/sboms/tests/test_crypto_inventory.py
  sbomify/apps/sboms/tests/test_data/cbom_sample_1.6.cdx.json
  sbomify/apps/sboms/tests/test_data/cbom_sample_1.7.cdx.json
Due: ruff-format, ruff

feat(cbom): expose crypto inventory via read API endpoint
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/services/sboms.py
  sbomify/apps/sboms/tests/test_crypto_inventory_api.py
Due: ruff-format, ruff

fix(cbom): treat empty artifact body as missing (404)
  sbomify/apps/sboms/services/sboms.py
  sbomify/apps/sboms/tests/test_crypto_inventory_api.py
Due: ruff-format, ruff

feat(cbom): lazy-loaded crypto inventory card on the SBOM detail page
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/component_item_public.html.j2
  sbomify/apps/sboms/templates/sboms/components/crypto_inventory_card.html.j2
  sbomify/apps/sboms/tests/test_crypto_inventory_card.py
  sbomify/apps/sboms/urls.py
  sbomify/apps/sboms/views/__init__.py
  sbomify/apps/sboms/views/sbom_crypto_inventory.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(cbom): harden inventory derivation against malformed field types
  sbomify/apps/sboms/crypto_inventory.py
  sbomify/apps/sboms/services/sboms.py
  sbomify/apps/sboms/tests/test_crypto_inventory.py
  sbomify/apps/sboms/tests/test_crypto_inventory_api.py
Due: ruff-format, ruff

feat(cbom): NIST-grounded post-quantum readiness classification
  sbomify/apps/sboms/pqc.py
  sbomify/apps/sboms/tests/test_pqc.py
Due: ruff-format, ruff

feat(cbom): surface PQC readiness in the inventory API and card
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/services/sboms.py
  sbomify/apps/sboms/templates/sboms/components/crypto_inventory_card.html.j2
  sbomify/apps/sboms/templatetags/pqc_extras.py
  sbomify/apps/sboms/tests/test_crypto_inventory_api.py
  sbomify/apps/sboms/tests/test_crypto_inventory_card.py
Due: ruff-format, ruff, djlint-check, djlint-lint

docs(cbom): correct stale card comment about PQC display
  sbomify/apps/sboms/templates/sboms/components/crypto_inventory_card.html.j2
Due: djlint-check, djlint-lint

feat(cbom): post-quantum readiness assessment plugin
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/pqc.py
  sbomify/apps/plugins/tests/test_builtin_reconciliation.py
  sbomify/apps/plugins/tests/test_pqc_plugin.py
Due: ruff-format, ruff

fix(cbom): label unclassified certificates/protocols as not-assessed
  sbomify/apps/plugins/builtins/pqc.py
  sbomify/apps/plugins/tests/test_pqc_plugin.py
Due: ruff-format, ruff

feat(cbom): component-level post-quantum posture card
  sbomify/apps/core/templates/core/component_details_private_sbom.html.j2
  sbomify/apps/core/templates/core/component_details_public_sbom.html.j2
  sbomify/apps/sboms/templates/sboms/components/crypto_posture_card.html.j2
  sbomify/apps/sboms/tests/test_crypto_posture_card.py
  sbomify/apps/sboms/urls.py
  sbomify/apps/sboms/views/__init__.py
  sbomify/apps/sboms/views/component_crypto_posture.py
Due: ruff-format, ruff, djlint-check, djlint-lint

ci(cbom): self-publish sbomify's Cryptography BOM (CBOM)
  .github/workflows/ci-cd.yml
  cbom/sbomify-backend.cbom.cdx.json
Due: none

ci(cbom): gate prod CBOM job on push event + ground PBKDF2 evidence
  .github/workflows/ci-cd.yml
  cbom/sbomify-backend.cbom.cdx.json
Due: none

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
