Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

test(compliance): prove the audit record is delivered, not just enabled
  sbomify/apps/compliance/tests/test_audit_logging.py
Due: ruff-format, ruff

fix(billing): keep the Stripe call out of the create transaction
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_billing_limit_race.py
Due: ruff-format, ruff

test(billing): make the plan fixture deterministic and fail clearly
  sbomify/apps/core/tests/test_billing_limit_race.py
Due: ruff-format, ruff

fix(uploads): match the messages to the check, and stop the big test allocation
  sbomify/apps/documents/apis.py
  sbomify/apps/documents/js/document-upload.spec.ts
  sbomify/apps/documents/js/document-upload.ts
  sbomify/apps/documents/tests/test_apis.py
Due: bun-lint, ruff-format, ruff

docs(test-data): say what the gzip wrapper is, and drop the em dashes
  sbomify/apps/sboms/tests/test_data/README.md
Due: markdownlint

docs(settings): correct the module path and say what the helper actually does
  sbomify/settings.py
Due: ruff-format, ruff

test: read the large Yocto fixture, and make the element table add up
  sbomify/apps/sboms/tests/test_data/README.md
  sbomify/apps/sboms/tests/test_yocto_sato_sdk_fixture.py
Due: markdownlint, ruff-format, ruff

test(uploads): read the Yocto fixture as utf-8 explicitly
  sbomify/apps/sboms/tests/test_large_upload.py
Due: ruff-format, ruff

test: run the VEX reader over the scale fixture, not just the raw JSON
  sbomify/apps/sboms/tests/test_yocto_sato_sdk_fixture.py
Due: ruff-format, ruff

docs(controls): the public query needs both flags, so say both
  sbomify/apps/controls/services/public_service.py
Due: ruff-format, ruff

fix(integrations): four more defects from the review round
  sbomify/apps/controls/migrations/0008_controlcatalog_unique_catalog_per_external_id.py
  sbomify/apps/controls/models.py
  sbomify/apps/integrations/services/connections.py
  sbomify/apps/integrations/services/vanta_sync.py
  sbomify/apps/integrations/tasks/__init__.py
  sbomify/apps/integrations/tests/test_connections.py
  sbomify/apps/integrations/tests/test_sync_runner.py
  sbomify/apps/integrations/tests/test_vanta_sync.py
Due: ruff-format, ruff

fix(integrations): four defects from the second review round
  sbomify/apps/integrations/oauth.py
  sbomify/apps/integrations/providers/vanta.py
  sbomify/apps/integrations/services/connections.py
  sbomify/apps/integrations/services/sync.py
  sbomify/apps/integrations/templates/integrations/integrations_panel.html.j2
  sbomify/apps/integrations/tests/test_connections.py
  sbomify/apps/integrations/tests/test_oauth.py
  sbomify/apps/integrations/tests/test_sync_runner.py
  sbomify/apps/integrations/tests/test_vanta_client.py
  sbomify/apps/integrations/tests/test_views.py
  sbomify/apps/integrations/views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(controls): keep on the trust center what was already on it
  sbomify/apps/controls/migrations/0009_publish_hand_maintained_catalogs.py
  sbomify/apps/controls/services/catalog_service.py
  sbomify/apps/controls/tests/test_catalog_service.py
Due: ruff-format, ruff

fix(integrations): three defects from the third review round
  sbomify/apps/integrations/services/connections.py
  sbomify/apps/integrations/services/vanta_sync.py
  sbomify/apps/integrations/tests/test_connections.py
  sbomify/apps/integrations/tests/test_vanta_sync.py
Due: ruff-format, ruff

chore(release): 26.9.0 (YY.MM.MICRO CalVer)
  package.json
  pyproject.toml
  uv.lock
Due: none

chore(chart): the chart packages 26.9.0
  charts/sbomify/Chart.yaml
Due: none

fix: reject empty contact profiles and route deletion correctly
  sbomify/apps/core/tests/e2e/test_contact_profile_actions.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/templates/teams/contact_profiles/profile_form.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_list.html.j2
  sbomify/apps/teams/tests/test_contact_profile_validation.py
  sbomify/apps/teams/tests/test_contact_profiles.py
  sbomify/apps/teams/tests/test_token_workspace_scoping.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(core): let a document be made workspace-wide from its own page
  sbomify/apps/core/templates/core/component_details_private_document.html.j2
  sbomify/apps/core/tests/test_component_views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Stop the log stream drowning the 500 alert
  commitmsg.txt
  sbomify/apps/core/tests/test_backend_resilience.py
  sbomify/apps/core/tests/test_logging_filter.py
  sbomify/logging_filters.py
  sbomify/sentry_config.py
  sbomify/settings.py
Due: ruff-format, ruff

fix(uploads): one artifact ceiling, stated where it is enforced
  sbomify/apps/documents/templates/documents/components/document_upload.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/tests/test_company_nda_versioning.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Remove commitmsg.txt committed by mistake
  commitmsg.txt
Due: none

test(sboms): hash the Yocto fixture, so the provenance claim can fail
  sbomify/apps/sboms/tests/test_yocto_sato_sdk_fixture.py
Due: ruff-format, ruff

feat(plugins): enable and disable a workspace's plugins over the API
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/tests/test_plugin_settings_api.py
Due: ruff-format, ruff

perf(vuln): index VEX statements once per run, and cache the derivation
  sbomify/apps/vulnerability_scanning/tests/test_vex_statement_cache.py
  sbomify/apps/vulnerability_scanning/utils.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

fix(components): page the vulnerabilities panel on the server
  sbomify/apps/core/services/component_security.py
  sbomify/apps/core/templates/core/components/component_vulnerabilities.html.j2
  sbomify/apps/core/templates/core/components/component_vulnerabilities_table.html.j2
  sbomify/apps/core/tests/test_component_views.py
  sbomify/apps/core/tests/test_component_vulnerabilities_panel.py
  sbomify/apps/core/tests/test_vex_state_labels.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/core/views/component_vulnerabilities.py
  sbomify/apps/vulnerability_scanning/services/finding_browse.py
  sbomify/apps/vulnerability_scanning/tests/test_finding_browse.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(sboms): page the full scan report
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/tests/test_sbom_vulnerabilities_paging.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(components): reproduce the incident at its reported size
  sbomify/apps/core/tests/test_component_vulnerabilities_panel.py
Due: ruff-format, ruff

test(e2e): regenerate the document component baselines for the scope switch
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[992].jpg
Due: none

Raise a sustained-fault signal instead of counting throttled lines
  sbomify/apps/core/tests/test_backend_resilience.py
  sbomify/apps/core/tests/test_console_logging_config.py
  sbomify/apps/core/tests/test_logging_filter.py
  sbomify/logging_filters.py
  sbomify/sentry_config.py
Due: ruff-format, ruff

fix(integrations): the provider reaches the page as fields, not as a spec
  sbomify/apps/integrations/services/connections.py
  sbomify/apps/integrations/tests/test_connections.py
Due: ruff-format, ruff

fix(plugins): declare team_plan on the settings response
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/tests/test_plugin_settings_api.py
Due: ruff-format, ruff

docs(sboms): say that the provenance test is a second pass
  sbomify/apps/sboms/tests/test_yocto_sato_sdk_fixture.py
Due: ruff-format, ruff

test(teams): prove the size check is what refused the upload
  sbomify/apps/teams/tests/test_company_nda_versioning.py
Due: ruff-format, ruff

fix(core): scope is not visibility, and the hint is a component
  sbomify/apps/core/templates/core/component_details_private_document.html.j2
  sbomify/apps/core/tests/test_component_views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(vuln): close two holes in the VEX statement cache
  sbomify/apps/vulnerability_scanning/tests/test_vex_statement_cache.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

fix(components): publishing a component must not publish its findings
  sbomify/apps/core/services/component_security.py
  sbomify/apps/core/tests/test_component_vulnerabilities_panel.py
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/core/views/component_vulnerabilities.py
Due: ruff-format, ruff

fix(vuln): make the filter parser do what its docstring promised
  sbomify/apps/vulnerability_scanning/services/finding_browse.py
  sbomify/apps/vulnerability_scanning/tests/test_finding_browse.py
Due: ruff-format, ruff

test(plugins): cover the scope gate on the read as well as the write
  sbomify/apps/plugins/tests/test_plugin_settings_api.py
Due: ruff-format, ruff

style(plugins): ruff format the settings API tests
  sbomify/apps/plugins/tests/test_plugin_settings_api.py
Due: ruff-format, ruff

test(teams): bracket the ceiling at 1MB rather than allocating 60
  sbomify/apps/teams/tests/test_company_nda_versioning.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
