Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

chore(sboms): restore the vendored CycloneDX and SPDX 2 schemas
  sbomify/apps/sboms/schemas/cdx_bom-1.3.schema.json
  sbomify/apps/sboms/schemas/cdx_bom-1.4.schema.json
  sbomify/apps/sboms/schemas/spdx_2.2-schema.json
  sbomify/apps/sboms/schemas/spdx_2.3-schema.json
  sbomify/apps/sboms/schemas/spdx_2.3.1-schema.json
Due: none

chore(sboms): add the CycloneDX 1.2 JSON schema
  sbomify/apps/sboms/schemas/cdx_bom-1.2.schema.json
Due: none

fix(sboms): bind the upload filename before the transaction block
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff

fix(plugins): keep the sigstore imports inside the cosign try block
  sbomify/apps/plugins/builtins/verification.py
  sbomify/apps/plugins/tests/test_verification_plugin.py
Due: ruff-format, ruff

fix(plugins): keep what an admin sets when builtins re-register
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/tests/test_builtin_reconciliation.py
Due: ruff-format, ruff

fix(billing): merge plan limits into workspaces in one statement
  sbomify/apps/billing/models.py
  sbomify/apps/billing/tests/test_plan_limit_propagation.py
Due: ruff-format, ruff

fix(admin): stop the token and onboarding admins offering add forms that fail
  sbomify/apps/access_tokens/admin.py
  sbomify/apps/core/tests/test_admin_site_registrations.py
  sbomify/apps/onboarding/admin.py
Due: ruff-format, ruff

fix(billing): restore the admin action that syncs prices from Stripe
  sbomify/apps/billing/admin.py
  sbomify/apps/billing/tests/test_dynamic_pricing.py
  sbomify/apps/billing/tests/test_price_sync.py
Due: ruff-format, ruff

fix(components): save a cleared lifecycle date and show readable save errors
  sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/core/js/component-meta-info.spec.ts
Due: bun-lint

fix(plugins): treat a timestamp that is not a string as a failed check
  sbomify/apps/plugins/builtins/_spdx_shared.py
  sbomify/apps/plugins/tests/test_ntia_plugin.py
  sbomify/apps/plugins/tests/test_spdx_shared.py
Due: ruff-format, ruff

fix(controls): hold the write endpoints to the scope of the token
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/tests/test_apis.py
Due: ruff-format, ruff

fix(controls): stop marking controls compliant from a scan that did not run
  sbomify/apps/controls/services/automation_service.py
  sbomify/apps/controls/tests/test_automation_service.py
Due: ruff-format, ruff

fix(sboms): name an SPDX 2 member after the package it describes
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/tests/test_spdx2_primary_package.py
Due: ruff-format, ruff

fix(documents): announce an NDA signature only while the request is pending
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/tests/test_access_apis.py
  sbomify/apps/documents/tests/test_access_requests.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff

fix(documents): return the NDA fields from the create access request API
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/access_schemas.py
  sbomify/apps/documents/tests/test_access_apis.py
Due: ruff-format, ruff

fix(core): ignore return_instance on the component and contact profile GET endpoints
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_permission_consistency.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_contact_profiles.py
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff

fix(releases): bind the artifacts page size as a number
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/tests/test_release_artifacts_template.py
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(vulnerability_scanning): take the dashboard roles from ADMINISTER
  sbomify/apps/vulnerability_scanning/apis.py
Due: ruff-format, ruff

fix(vulnerability_scanning): label the trigger column on the scans page
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_views_scans.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(sboms): refuse a name or version too long to save before storing the file
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/vulnerability_scanning/tests/test_vex_formats.py
Due: ruff-format, ruff

fix(documents): fetch the access-request queue once after each action
  sbomify/apps/documents/tests/test_access_request_queue_responses.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff

fix(htmx): register the morph-preserve swap on app pages
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/htmx-config.spec.ts
  sbomify/apps/core/js/htmx-config.ts
Due: bun-lint

fix(sentry): migrate sendDefaultPii to dataCollection for SDK v11
  sbomify/apps/core/js/sentry.ts
Due: bun-lint

chore(release): 26.10.0 (YY.MM.MICRO CalVer)
  package.json
  pyproject.toml
  uv.lock
Due: none

test(e2e): refresh the vulnerability scans page baselines at 1920 and 992 px
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[992].jpg
Due: none

fix(billing): keep the plan while a subscription is unpaid or paused
  sbomify/apps/billing/billing_helpers.py
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/management/commands/sync_stripe_subscriptions.py
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/tasks/__init__.py
  sbomify/apps/billing/tests/test_ended_subscription_entitlements.py
  sbomify/apps/billing/tests/test_stripe_sync.py
Due: ruff-format, ruff

fix(ui): keep the requirements matrix side by side on phones
  sbomify/apps/plugins/templates/plugins/components/_requirements_matrix.html.j2
Due: djlint-check, djlint-lint

test: bound the stacked-table rules at their own section
  sbomify/apps/core/tests/test_audit_high_fixes.py
Due: ruff-format, ruff

test(e2e): regenerate baselines after merging master
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_artifacts_page_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_artifacts_page_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_advisories_yet_dark_576.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisories_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisories_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_trusted_publishers_snapshot[576].jpg
Due: none

fix(ui): stop stacked tables repeating hidden columns on phones
  sbomify/apps/core/templates/core/security_advisories_table.html.j2
  sbomify/apps/documents/templates/documents/documents_table_content.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
Due: djlint-check, djlint-lint

fix(auth): stop a Keycloak blip from turning into a failed login
  sbomify/apps/core/adapters.py
  sbomify/apps/core/apps.py
  sbomify/apps/core/tests/test_oidc_discovery_cache.py
Due: ruff-format, ruff

test(e2e): regenerate product and CRA baselines after merging master
  sbomify/apps/core/tests/e2e/__snapshots__/test_cra_product_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[992].jpg
Due: none

fix(vulnerabilities): count the same on the card, panel and report
  sbomify/apps/sboms/services/vulnerability_report.py
  sbomify/apps/sboms/tests/test_sbom_vulnerabilities_view.py
  sbomify/apps/vulnerability_scanning/posture.py
  sbomify/apps/vulnerability_scanning/tests/test_package_scopes.py
  sbomify/apps/vulnerability_scanning/tests/test_posture.py
  sbomify/apps/vulnerability_scanning/utils.py
Due: ruff-format, ruff

fix(sboms): stop one non-string field rejecting a whole SPDX 3 upload
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/tests/test_spdx3_primary_package.py
Due: ruff-format, ruff

test(e2e): wait for htmx to settle before the next filter change
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/core/tests/e2e/test_inventory.py
Due: ruff-format, ruff

test(e2e): cancel the page scroll before each settings tab click
  sbomify/apps/core/tests/e2e/test_settings_navigation.py
Due: ruff-format, ruff

style: djlint format the dashboard template
  sbomify/apps/core/templates/core/dashboard.html.j2
Due: djlint-check, djlint-lint

fix(overview): bump the dashboard cache version, and restore the SLA label
  sbomify/apps/core/services/dashboard_page.py
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/test_dashboard_chrome.py
  sbomify/apps/core/views/design_system.py
Due: ruff-format, ruff, djlint-check, djlint-lint
