Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix: conditionally exclude latest releases instead of unconditionally
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_apis.py
Due: ruff-format, ruff

fix: apply per-product latest-exclusion logic instead of global
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_apis.py
Due: ruff-format, ruff

fix: preserve original queryset ordering in _exclude_latest_duplicates
  sbomify/apps/tea/mappers.py
Due: ruff-format, ruff

fix: skip latest-exclusion when explicit version is requested in TEI
  sbomify/apps/tea/mappers.py
Due: ruff-format, ruff

Bump version to v0.27.0 for release
  pyproject.toml
  uv.lock
Due: none

Add data migration to deduplicate encoded tokens before unique constraint
  sbomify/apps/access_tokens/migrations/0004_alter_accesstoken_encoded_token.py
Due: ruff-format, ruff

fix: add migration to rename deleted_at index to match Django's auto-naming
  sbomify/apps/core/migrations/0020_rename_core_users_deleted_1de106_idx_core_users_deleted_f498ea_idx.py
Due: ruff-format, ruff

fix: wrap .iterator() in transaction.atomic() to prevent cursor errors under ASGI
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

fix: apply same transaction.atomic() cursor fix to views_scans.py
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views_scans.py
Due: ruff-format, ruff

fix: simplify test fixtures per PR review feedback
  sbomify/apps/vulnerability_scanning/tests/test_views.py
Due: ruff-format, ruff

fix: add upper bound (365) to days parameter in VulnerabilityScansView
  sbomify/apps/vulnerability_scanning/views_scans.py
Due: ruff-format, ruff

test: add 16 tests for VulnerabilityScansView
  sbomify/apps/vulnerability_scanning/tests/conftest.py
  sbomify/apps/vulnerability_scanning/tests/test_views_scans.py
Due: ruff-format, ruff

test: add unit tests for days parameter validation
  sbomify/apps/vulnerability_scanning/tests/test_days_param.py
Due: ruff-format, ruff

fix: add required plugin_config_hash and run_reason to test fixtures
  sbomify/apps/vulnerability_scanning/tests/test_views.py
Due: ruff-format, ruff

fix: address PR review comments on test suite
  sbomify/apps/vulnerability_scanning/tests/test_views_scans.py
Due: ruff-format, ruff

fix: add missing plugin_config_hash and run_reason in loop create
  sbomify/apps/vulnerability_scanning/tests/test_views.py
Due: ruff-format, ruff

feat: add beta badge to TEA section in workspace settings
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
Due: djlint-check, djlint-lint

Markdown linting
  CLAUDE.md
  README.md
  docs/ADR/ADR-005.md
  keycloak/README.md
Due: markdownlint

fix: standardize on artifacts_count key for release artifact counts
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/product-releases.spec.ts
  sbomify/apps/core/js/components/product-releases.ts
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/components/product_releases.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

feat: enhance SBOM handling and response formatting
  sbomify/apps/tea/apis.py
Due: ruff-format, ruff

fix: auto-validate custom domains in middleware to unblock .well-known/tea
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_custom_domain_middleware.py
Due: ruff-format, ruff

fix: address Copilot review — harden auto-validation filter and fix race
  sbomify/apps/core/middleware.py
Due: ruff-format, ruff

refactor: improve SBOM query performance and response structure
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/tests/test_apis.py
Due: ruff-format, ruff

refactor: deduplicate custom domain auto-validation logic
  sbomify/apps/teams/tests/test_domain_middleware.py
  sbomify/apps/teams/urls.py
Due: ruff-format, ruff

fix: only set in-memory validated flag when DB update succeeds
  sbomify/apps/core/middleware.py
Due: ruff-format, ruff

fix: verify cached team's custom_domain matches host before using it
  sbomify/apps/core/middleware.py
  sbomify/apps/teams/urls.py
Due: ruff-format, ruff

feat: add base URL handling for artifact downloads
  sbomify/apps/tea/apis.py
Due: ruff-format, ruff

feat: enhance tea_tei_mapper to prioritize version field
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

feat: improve base URL handling for artifact download links
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/tests/test_apis.py
Due: ruff-format, ruff

fix: improve test names and assertions for domain validation
  sbomify/apps/core/tests/test_custom_domain_middleware.py
  sbomify/apps/teams/tests/test_domain_middleware.py
Due: ruff-format, ruff

fix: register confirmModal Alpine component in teams bundle
  sbomify/apps/teams/js/main.ts
Due: bun-lint

fix: register confirmModal in alpine-init to fix ReferenceError on all pages
  sbomify/apps/core/js/alpine-init.ts
  sbomify/apps/teams/js/main.ts
Due: bun-lint

refactor: remove redundant confirmModal from component registries
  sbomify/apps/core/js/alpine-components.ts
Due: bun-lint

fix: use request.get_host() and correct docstring in domain_check
  sbomify/apps/teams/urls.py
Due: ruff-format, ruff

fix: respect BILLING=False across the codebase
  sbomify/apps/billing/notifications.py
  sbomify/apps/billing/team_pricing_service.py
  sbomify/apps/core/context_processors.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/signals.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: guard Stripe pricing calls in schema_tags and onboarding wizard
  sbomify/apps/core/templatetags/schema_tags.py
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

Add contact profile editing screencast and DRY up screencast infrastructure
  .gitignore
  bin/record_screencasts.sh
  docker-compose.tests.yml
  pyproject.toml
  screencasts/account_deletion.py
  screencasts/click_indicator.js
  screencasts/conftest.py
  screencasts/profile_editing.py
  screencasts/workspace_deletion.py
Due: bun-lint, ruff-format, ruff

Install Inter, DejaVu, and Liberation fonts in chromium container
  docker-compose.tests.yml
  screencasts/Dockerfile.chromium
Due: none

Use Silicon Valley characters as bogus data in screencasts
  screencasts/account_deletion.py
  screencasts/profile_editing.py
Due: ruff-format, ruff

Select Author role on entity in profile editing screencast
  screencasts/profile_editing.py
Due: ruff-format, ruff
