Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix(security-txt): fix contact selection error + canonical URL for custom domains
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

fix(security-txt): only show enabled/disabled toast when state changes
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

test(security-txt): add tests for contact ID, cross-team rejection, toast message
  sbomify/apps/teams/tests/test_security_txt.py
Due: ruff-format, ruff

chore: bump version to 26.1 (switch to CalVer)
  package.json
  pyproject.toml
  uv.lock
Due: none

feat: migrate production image to Chainguard distroless Python
  .dockerignore
  Dockerfile
  bin/release.py
  docker-compose.yml
  pyproject.toml
  uv.lock
Due: ruff-format, ruff

chore: fix CalVer format to YY.MINOR.PATCH (26.1.0)
  package.json
  pyproject.toml
Due: none

fix: address Copilot review feedback
  Dockerfile
  docker-compose.yml
Due: none

refactor: rewrite release.py to use Django APIs directly
  bin/release.py
Due: ruff-format, ruff

refactor: add .venv/bin to PATH, simplify all command references
  Dockerfile
  docker-compose.yml
Due: none

fix: pin Chainguard image digest and align CI Python to 3.14
  .github/workflows/ci-cd.yml
  Dockerfile
Due: none

fix: address remaining Copilot review feedback
  .github/workflows/screencasts.yml
  Dockerfile
  bin/release.sh
Due: none

fix: clear Chainguard ENTRYPOINT to fix deploy migrations
  AGENTS.md
  Dockerfile
Due: markdownlint

fix: add tzdata dependency for Chainguard distroless timezone support
  pyproject.toml
  uv.lock
Due: none

fix: catch asyncio.CancelledError in team_context context processor
  sbomify/apps/core/context_processors.py
Due: ruff-format, ruff

fix: catch CancelledError explicitly, not broad BaseException
  sbomify/apps/core/context_processors.py
Due: ruff-format, ruff

fix: re-raise CancelledError instead of swallowing it
  sbomify/apps/core/context_processors.py
Due: ruff-format, ruff

fix: re-raise CancelledError, suppress noise in Sentry
  sbomify/apps/core/context_processors.py
  sbomify/settings.py
Due: ruff-format, ruff

fix: swap except order, add debug log, add CancelledError test
  sbomify/apps/billing/tests/test_stripe_sync.py
  sbomify/apps/core/context_processors.py
Due: ruff-format, ruff

fix: add missing @patch decorator on CancelledError test
  sbomify/apps/billing/tests/test_stripe_sync.py
Due: ruff-format, ruff

fix(docker): add PATH to dev stage so bare python finds Django
  Dockerfile
Due: none

feat(sboms): add BomType discriminator and BOM component type (ADR-006)
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/migrations/0053_add_bom_type_discriminator.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/test_bom_type.py
Due: ruff-format, ruff

test(sboms): add CycloneDX VEX test fixture
  sbomify/apps/sboms/tests/fixtures.py
  sbomify/apps/sboms/tests/fixtures/__init__.py
  sbomify/apps/sboms/tests/fixtures/sample_cyclonedx_vex.json
Due: ruff-format, ruff

feat(sboms): expose bom_type in schemas and service layer
  sbomify/apps/core/schemas.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/services/sboms.py
  sbomify/apps/sboms/tests/fixture_data/sample_cyclonedx_vex.json
  sbomify/apps/sboms/tests/fixtures.py
  sbomify/apps/sboms/tests/fixtures/__init__.py
  sbomify/apps/sboms/tests/test_bom_type.py
Due: ruff-format, ruff

feat(sboms): accept bom_type on all upload endpoints with validation
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff

feat(plugins): add bom_type to SBOMContext and supported_bom_types filtering
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/checksum.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/sdk/base.py
  sbomify/apps/plugins/sdk/results.py
  sbomify/apps/plugins/tests/test_models.py
  sbomify/apps/plugins/tests/test_public_assessment_utils.py
Due: ruff-format, ruff

feat(ui): add BOM type column to component detail table
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
Due: djlint-check, djlint-lint

fix(sboms): validate bom_type input, fix error messages and race condition
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff

fix: handle component_type="bom" across views, tasks, signals, templates
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/core/templates/core/component_item_public.html.j2
  sbomify/apps/core/templates/core/components/public_product_projects.html.j2
  sbomify/apps/core/templates/core/components_table.html.j2
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/onboarding/signals.py
  sbomify/apps/plugins/sdk/base.py
  sbomify/apps/plugins/sdk/results.py
  sbomify/apps/plugins/tasks/__init__.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: address Copilot review feedback on PR #839
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/core/templates/core/component_item_public.html.j2
  sbomify/apps/core/templates/core/components_table.html.j2
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/apps/sboms/tests/fixtures.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: update docstring and variable naming per review feedback
  sbomify/apps/onboarding/signals.py
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff

fix: address second round of review feedback on PR #839
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: add missing teams migration and truncate BSI failure lists
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/teams/migrations/0034_alter_team_security_txt_config.py
Due: ruff-format, ruff

fix(teams): fix pending invite removal modal not opening
  sbomify/templates/components/modals/delete_modal.html.j2
Due: djlint-check, djlint-lint

fix(bsi): keep "Missing for:" prefix consistent and add truncation tests
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/tests/test_bsi_plugin.py
Due: ruff-format, ruff

docs: add ADR-0007 GCS support and cloud workload identity
  docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
Due: markdownlint

docs: expand ADR-0007 alternatives with django-storages detail and obstore
  docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
Due: markdownlint

options
  docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
Due: markdownlint

Update docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
  docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
Due: markdownlint

take signing in to considereation
  docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
Due: markdownlint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
