Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix(core): the scope message must not promise the Trust Center either
  sbomify/apps/core/tests/test_component_views.py
  sbomify/apps/core/views/component_scope.py
Due: ruff-format, ruff

Add an 'operator' role: read the workspace, triage its vulnerabilities
  AGENTS.md
  sbomify/apps/core/authz.py
  sbomify/apps/core/tests/test_authz.py
  sbomify/apps/teams/fixtures.py
  sbomify/apps/teams/migrations/0045_operator_role.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/settings_tabs.py
  sbomify/apps/teams/tests/test_team_settings_tabs.py
  sbomify/settings.py
Due: markdownlint, ruff-format, ruff

fix(integrations): four defects from the fourth review round
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/tests/test_apis.py
  sbomify/apps/integrations/services/sync.py
  sbomify/apps/integrations/services/vanta_sync.py
  sbomify/apps/integrations/tests/test_sync_runner.py
  sbomify/apps/integrations/tests/test_vanta_sync.py
Due: ruff-format, ruff

docs(teams): name the env var that actually sets the ceiling
  sbomify/apps/teams/tests/test_company_nda_versioning.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

fix(logging): the route going missing is not a denial
  sbomify/apps/core/tests/test_logging_filter.py
  sbomify/logging_filters.py
Due: ruff-format, ruff

style(core): ruff format the logging filter tests
  sbomify/apps/core/tests/test_logging_filter.py
Due: ruff-format, ruff

fix(vuln): a document we cannot parse is a failed read, not an empty VEX
  sbomify/apps/vulnerability_scanning/tests/test_vex_statement_cache.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

fix(components): drop the em dash from the findings table
  sbomify/apps/core/templates/core/components/component_vulnerabilities_table.html.j2
Due: djlint-check, djlint-lint

fix(sboms): bound the advisory cards, not just the package groups
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/tests/test_sbom_vulnerabilities_paging.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(vuln): one place that derives statements from VEX rows
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

test(core): log the tls denial the way Django logs it
  sbomify/apps/core/tests/test_console_logging_config.py
Due: ruff-format, ruff

perf(tests): stop the suite doing 0.13 s of PBKDF2 per password
  sbomify/test_settings.py
Due: ruff-format, ruff

build(tests): install pytest-xdist, so the documented -n auto works
  AGENTS.md
  pyproject.toml
  uv.lock
Due: markdownlint

fix(vuln): a scanned artifact that will not parse is not a missing VEX
  sbomify/apps/vulnerability_scanning/tests/test_spdx3_embedded_vex.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

fix(components): the vulnerabilities panel keeps its place on a refresh
  sbomify/apps/core/templates/core/components/component_vulnerabilities_table.html.j2
  sbomify/apps/core/tests/test_component_vulnerabilities_panel.py
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(core): drop ComponentVulnerabilitiesContext.has_findings
  sbomify/apps/core/services/component_security.py
Due: ruff-format, ruff

perf(vuln): only build the search haystack when there is a search
  sbomify/apps/vulnerability_scanning/services/finding_browse.py
  sbomify/apps/vulnerability_scanning/tests/test_finding_browse.py
Due: ruff-format, ruff

fix(core): the artifact page asks for what it renders
  sbomify/apps/core/tests/test_artifact_scan_card.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/plugins/apis.py
Due: ruff-format, ruff

fix(plugins): fetch a run's findings when the card is opened
  sbomify/apps/core/tests/test_artifact_scan_card.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_findings.html.j2
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/tests/test_assessment_run_item_badge.py
  sbomify/apps/plugins/tests/test_kev_badge.py
  sbomify/apps/plugins/urls.py
  sbomify/apps/plugins/views.py
  sbomify/apps/vulnerability_scanning/tests/test_euvd.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): clamp the findings bound at zero
  sbomify/apps/core/tests/test_artifact_scan_card.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/plugins/apis.py
Due: ruff-format, ruff

fix(plugins): send a plain visit to the findings URL back to the page
  sbomify/apps/core/tests/test_artifact_scan_card.py
  sbomify/apps/plugins/views.py
Due: ruff-format, ruff

fix(plugins): give the findings placeholder a real id
  sbomify/apps/core/tests/test_artifact_scan_card.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(plugins): move the findings lookup behind a service
  sbomify/apps/plugins/services/run_findings.py
  sbomify/apps/plugins/views.py
Due: ruff-format, ruff

fix(plugins): bound findings for every category, not just security
  sbomify/apps/core/tests/test_artifact_scan_card.py
  sbomify/apps/plugins/apis.py
Due: ruff-format, ruff

fix(plugins): block guests from the findings fragment
  sbomify/apps/core/tests/test_artifact_scan_card.py
  sbomify/apps/plugins/views.py
Due: ruff-format, ruff

perf(core): run context processors once per request
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/tests/test_context_processor_caching.py
Due: ruff-format, ruff

fix(teams): delete a contact profile you just created
  sbomify/apps/teams/templates/teams/contact_profiles/profile_list.html.j2
  sbomify/apps/teams/tests/test_contact_profile_delete_target.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(vulns): triage from the panel, and choose how many rows it shows
  sbomify/apps/core/templates/core/component_details_private_sbom.html.j2
  sbomify/apps/core/templates/core/components/component_vulnerabilities_table.html.j2
  sbomify/apps/core/tests/test_panel_triage_and_page_size.py
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/core/views/component_vulnerabilities.py
  sbomify/apps/vulnerability_scanning/services/finding_browse.py
  sbomify/apps/vulnerability_scanning/utils.py
Due: ruff-format, ruff, djlint-check, djlint-lint

perf(sboms): compile the SPDX 3 schema instead of walking its refs
  pyproject.toml
  sbomify/apps/sboms/spdx3_validation.py
  sbomify/apps/sboms/tests/test_spdx3_validator_budget.py
  uv.lock
Due: ruff-format, ruff

fix(billing): lock the workspace row while a user seat is taken
  sbomify/apps/billing/tests/test_user_seat_race.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

fix(vulns): one lookup for both verdicts, and a page size the toolbar can show
  sbomify/apps/core/services/component_security.py
  sbomify/apps/core/tests/test_panel_triage_and_page_size.py
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/core/views/component_vulnerabilities.py
  sbomify/apps/vulnerability_scanning/services/finding_browse.py
Due: ruff-format, ruff

feat(plugins): filter and search the plugin report's findings
  sbomify/apps/core/tests/test_artifact_scan_card.py
  sbomify/apps/core/tests/test_run_findings_filtering.py
  sbomify/apps/plugins/services/run_findings.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_findings.html.j2
  sbomify/apps/plugins/views.py
  sbomify/apps/vulnerability_scanning/services/finding_browse.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(billing): assert the race workers actually finished
  sbomify/apps/billing/tests/test_user_seat_race.py
Due: ruff-format, ruff

perf(core): read the dashboard digest from the findings table
  sbomify/apps/core/services/dashboard_page.py
  sbomify/apps/core/tests/test_dashboard_digest_from_table.py
  sbomify/apps/core/tests/test_dashboard_page_service.py
  sbomify/apps/vulnerability_scanning/findings.py
  sbomify/apps/vulnerability_scanning/migrations/0012_finding_aliases.py
  sbomify/apps/vulnerability_scanning/models.py
Due: ruff-format, ruff

ci: sign the published images so verification does not need Rekor
  .github/workflows/ci-cd.yml
Due: none

feat(sboms): filter the full scan report, and keep its grouping
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/tests/test_scan_report_filtering.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
  sbomify/apps/vulnerability_scanning/services/finding_browse.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(vulns): fall back to the view default below the smallest page size
  sbomify/apps/core/tests/test_panel_triage_and_page_size.py
  sbomify/apps/vulnerability_scanning/services/finding_browse.py
Due: ruff-format, ruff

fix(plugins): offer a compliance run only the filter that means something
  sbomify/apps/core/tests/test_run_findings_filtering.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_findings.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(billing): release the invitation under the same lock that takes the seat
  sbomify/apps/billing/tests/test_user_seat_race.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

fix(core): fold aliases transitively, lead with malicious, keep the subquery
  sbomify/apps/core/services/dashboard_page.py
  sbomify/apps/core/tests/test_dashboard_digest_from_table.py
Due: ruff-format, ruff
