Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

Address PR feedback: simplify exception catch, use type_text helper
  screencasts/account_deletion.py
  screencasts/workspace_deletion.py
Due: ruff-format, ruff

fix: resolve onboarding infinite loop and manufacturer entity conflict
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

fix: update existing product on repeated onboarding instead of creating duplicate
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

fix: address code review findings for onboarding wizard
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

fix: address remaining P3 review findings
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

test: add coverage for onboarding re-run and billing limit scenarios
  sbomify/apps/teams/tests/test_onboarding_wizard.py
Due: ruff-format, ruff

fix: add name conflict checks before entity and product renames
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

feat: expose TEI URN on product detail pages
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/views/product_details_private.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: redirect completed onboarding to dashboard with info toast
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

fix: allow completion screen through dispatch guard
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

fix: add user feedback for name conflicts and improve test coverage
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

fix: preserve website on re-run and add resource count assertions
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

Add trust center, TEA, and release creation screencasts
  screencasts/account_deletion.py
  screencasts/conftest.py
  screencasts/product_creation.py
  screencasts/release_creation.py
  screencasts/tea_enabling.py
  screencasts/trust_center_setup.py
  screencasts/workspace_deletion.py
Due: ruff-format, ruff

docs: improve CLAUDE.md with domain model, exceptions, fixtures, and roles
  CLAUDE.md
Due: markdownlint

docs: fix entity PK description — 12-char IDs from generate_id()
  CLAUDE.md
Due: markdownlint

fix: address review feedback for TEI URN feature
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: address copilot review feedback on TEI URN feature
  sbomify/apps/core/tests/test_product_details_public_view.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

Always rebuild Docker images in record_screencasts.sh
  bin/record_screencasts.sh
Due: none

Add Redis service to test Docker Compose
  docker-compose.tests.yml
Due: none

Improve product creation screencast flow
  screencasts/product_creation.py
Due: ruff-format, ruff

Add document upload screencast and SOC 2 component to product creation
  screencasts/document_upload.py
  screencasts/product_creation.py
Due: ruff-format, ruff

Fix white screen at end of account deletion screencast
  screencasts/account_deletion.py
Due: ruff-format, ruff

Use descriptive filename for document upload screencast
  screencasts/document_upload.py
Due: ruff-format, ruff

Remove fake vulnerability data from screencasts without SBOMs
  screencasts/account_deletion.py
  screencasts/document_upload.py
  screencasts/product_creation.py
  screencasts/profile_editing.py
  screencasts/release_creation.py
  screencasts/tea_enabling.py
  screencasts/trust_center_setup.py
  screencasts/workspace_deletion.py
Due: ruff-format, ruff

Replace localhost URLs with app.sbomify.com in screencasts
  screencasts/conftest.py
  screencasts/tea_enabling.py
  screencasts/trust_center_setup.py
Due: ruff-format, ruff

Extend trust center screencast with NDA upload and visibility demo
  screencasts/trust_center_setup.py
Due: ruff-format, ruff

Fix janky trust center screencast and toast covering visibility toggle
  screencasts/conftest.py
  screencasts/trust_center_setup.py
Due: ruff-format, ruff

Address Copilot review feedback: DRY helpers, null checks, spelling
  docker-compose.tests.yml
  screencasts/conftest.py
  screencasts/document_upload.py
  screencasts/product_creation.py
  screencasts/profile_editing.py
  screencasts/tea_enabling.py
Due: ruff-format, ruff

feat: add UUID fields to models for TEA public API exposure
  sbomify/apps/core/migrations/0021_release_uuid.py
  sbomify/apps/core/models.py
  sbomify/apps/documents/migrations/0011_document_uuid.py
  sbomify/apps/documents/models.py
  sbomify/apps/sboms/migrations/0050_component_uuid_product_uuid_sbom_uuid.py
  sbomify/apps/sboms/models.py
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_apis.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

fix: use iterator() in UUID migrations to bound memory usage
  sbomify/apps/core/migrations/0021_release_uuid.py
  sbomify/apps/documents/migrations/0011_document_uuid.py
  sbomify/apps/sboms/migrations/0050_component_uuid_product_uuid_sbom_uuid.py
Due: ruff-format, ruff

fix: use UUIDs in TEA download URLs instead of internal IDs
  sbomify/apps/documents/apis.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/tea/tests/test_apis.py
Due: ruff-format, ruff

narrow UUID fallback exceptions and add UUID download tests
  sbomify/apps/documents/apis.py
  sbomify/apps/documents/tests/test_apis.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/tests/test_apis.py
Due: ruff-format, ruff

include algorithm name in unsupported hash error message
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

short-circuit UUID lookup in download endpoints to avoid double DB queries
  sbomify/apps/documents/apis.py
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff

address review findings: extract shared UUID utility, add type annotations, improve tests
  sbomify/apps/core/utils.py
  sbomify/apps/documents/apis.py
  sbomify/apps/documents/tests/test_apis.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/tests/test_signed_urls.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

fix: prevent global workspace components from leaking into project scope
  sbomify/apps/core/apis.py
  sbomify/apps/core/forms.py
  sbomify/apps/core/js/components/item-assignment-manager.ts
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/tests/test_global_components_api.py
  sbomify/apps/teams/views/team_tokens.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix: address PR review feedback
  sbomify/apps/core/apis.py
  sbomify/apps/core/templates/core/components/header.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

rename CLAUDE.md to AGENTS.md, symlink CLAUDE.md, remove cursor rules
  .cursor/rules/django.mdc
  .cursor/rules/general.mdc
  .cursor/rules/javascript-typescript.mdc
  .cursor/rules/python.mdc
  .cursor/rules/vue.mdc
  AGENTS.md
  CLAUDE.md
Due: markdownlint

clarify PK types: token IDs for most entities, integer PK for Team
  AGENTS.md
Due: markdownlint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
