Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

more test refactoring
  sbomify/apps/teams/js/main.ts
  sbomify/apps/teams/js/team-general.ts
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/views/__init__.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Refs feedback
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/teams/js/onboarding-wizard.ts
Due: bun-lint, djlint-check, djlint-lint

Factor in plan in getting started
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Bumps to 0.20
  pyproject.toml
  uv.lock
Due: none

feat(billing): add plan selection step to new user signup flow
  sbomify/apps/billing/templates/billing/initial_plan_selection.html.j2
  sbomify/apps/billing/tests/test_initial_plan_selection.py
  sbomify/apps/billing/urls.py
  sbomify/apps/billing/views.py
  sbomify/apps/core/tests/test_views.py
  sbomify/apps/core/views/dashboard.py
  sbomify/apps/teams/migrations/0019_add_has_selected_plan.py
  sbomify/apps/teams/migrations/0020_set_existing_teams_has_selected_plan.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/utils.py
  sbomify/static/css/components/initial-plan-selection.css
Due: ruff-format, ruff, djlint-check, djlint-lint

Migrate: public status toggle
  docker-compose.dev.yml
  docker-compose.yml
  sbomify/apps/core/forms.py
  sbomify/apps/core/htmx.py
  sbomify/apps/core/js/components/PublicStatusToggle.vue
  sbomify/apps/core/js/components/public-status-toggle.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/components/public_status_toggle.html.j2
  sbomify/apps/core/templates/core/components_dashboard.html.j2
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/products_dashboard.html.j2
  sbomify/apps/core/templates/core/project_details_private.html.j2
  sbomify/apps/core/templates/core/projects_dashboard.html.j2
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/toggle_public_status.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/static/css/components/public-status-toggle.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Refactor htmx_response to check for content explicitly and add tests for toggling public status of products, projects, and components.
  sbomify/apps/core/htmx.py
  sbomify/apps/core/tests/shared_fixtures.py
  sbomify/apps/core/tests/test_toggle_public_status.py
Due: ruff-format, ruff

Update created_at field in list_component_documents to use direct datetime object instead of ISO format
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Update sbomify/apps/core/js/components/public-status-toggle.ts
  sbomify/apps/core/js/components/public-status-toggle.ts
Due: bun-lint

Update sbomify/static/css/components/documents-table.css
  sbomify/static/css/components/documents-table.css
Due: none

Remove unused ReleaseList component from main.ts to streamline the codebase.
  sbomify/apps/core/js/main.ts
Due: bun-lint

Update DocumentEditForm to require document_type field
  sbomify/apps/documents/forms.py
Due: ruff-format, ruff

Add NTIA Compliance Badge and SBOMs Data Table components
  sbomify/apps/sboms/js/components/NTIAComplianceBadge.vue
  sbomify/apps/sboms/js/components/SbomsDataTable.vue
  sbomify/apps/sboms/js/components/SbomsTable.spec.ts
  sbomify/apps/sboms/js/components/SbomsTable.vue
  sbomify/static/css/components/ntia-compliance-badge.css
Due: bun-lint

Remove unused import of build_branding_context from SBOM views to clean up the codebase.
  sbomify/apps/sboms/views/__init__.py
Due: ruff-format, ruff

Debug
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
Due: none

Refactor NTIA Compliance Badge template for improved readability and consistency in HTML structure
  sbomify/apps/core/templates/core/components/ntia_compliance_badge.html.j2
Due: djlint-check, djlint-lint

Refactor document-related views and tests for improved clarity and functionality
  sbomify/apps/core/templatetags/public_url_tags.py
  sbomify/apps/core/tests/s3_fixtures.py
  sbomify/apps/documents/apis.py
  sbomify/apps/documents/tests/test_apis.py
  sbomify/apps/documents/tests/test_schemas.py
  sbomify/apps/documents/tests/test_views.py
  sbomify/apps/sboms/tests/test_ntia_integration.py
  sbomify/apps/sboms/tests/test_views.py
Due: ruff-format, ruff

Update CI/CD and CodeQL workflows to enforce branch specifications for pull requests
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/component_details_public.html.j2
Due: djlint-check, djlint-lint

Refactor component item view to improve variable naming for clarity
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff

Refactor SBOMs Table and Compliance Badge components
  sbomify/apps/core/js/components/ntia-compliance-badge.ts
  sbomify/apps/sboms/js/sboms-table.ts
  sbomify/apps/sboms/views/sboms_table.py
Due: bun-lint, ruff-format, ruff

Fix fallback workspace selection to use user's default team
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Move Member model import to top of function in get_current_workspace_id
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Enhance get_component API to support return_instance parameter
  sbomify/apps/core/apis.py
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff

feat: Add OCI-compliant Docker image labels and version display in footer
  .github/workflows/ci-cd.yml
  Dockerfile
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/templates/core/components/footer.html.j2
  sbomify/apps/core/tests/test_context_processors.py
  sbomify/static/css/layout.css
Due: ruff-format, ruff, djlint-check, djlint-lint

Only show version for logged in sessions
  sbomify/apps/core/templates/core/components/footer.html.j2
Due: djlint-check, djlint-lint

Refs copilots feedback
  sbomify/apps/core/templates/core/components/footer.html.j2
Due: djlint-check, djlint-lint

Fixes footer
  sbomify/apps/core/templates/core/public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: djlint-check, djlint-lint

Adds ADR 003
  docs/ADR/ADR-003.md
  docs/vue-to-django-migration.md
Due: markdownlint

Add comprehensive workspace switcher to sidebar with modal interface
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/js/alpine-init.ts
  sbomify/apps/core/js/components/workspace-switcher.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/layout-interactions.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/core/templates/core/components/topnav.html.j2
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templates/core/sidebar.html.j2
  sbomify/apps/core/templates/core/topnav.html.j2
  sbomify/apps/core/templates/core/user-dropdown.html.j2
  sbomify/apps/documents/js/main.ts
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/teams/js/main.ts
  sbomify/apps/teams/templates/teams/team_selection_dropdown.html.j2
  sbomify/apps/teams/templatetags/teams.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/tests/test_template_filters.py
  sbomify/apps/teams/views/dashboard.py
  sbomify/settings.py
  sbomify/static/css/dashboard.css
  sbomify/static/css/layout.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Adds ADR to README
  README.md
Due: markdownlint

Bumps markdownlint
  .gitignore
  bun.lock
  package.json
Due: none

Refactor workspace modal z-index handling and improve workspace filtering logic
  sbomify/apps/core/js/components/workspace-switcher.ts
  sbomify/apps/core/js/layout-interactions.ts
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/core/templates/core/sidebar.html.j2
  sbomify/apps/teams/templatetags/teams.py
  sbomify/static/css/layout.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Add custom sbomify login theme with Tailwind CSS
  bun.lock
  keycloak/themes/sbomify/login/login.ftl
  keycloak/themes/sbomify/login/logout-confirm.ftl
  keycloak/themes/sbomify/login/register.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/resources/img/sbomify.svg
  keycloak/themes/sbomify/login/theme.properties
  package.json
  sbomify/apps/core/templates/socialaccount/login.html
  sbomify/apps/core/tests/test_views.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/settings.py
  sbomify/urls.py
  tailwind.keycloak.config.ts
Due: bun-lint, ruff-format, ruff

Include Keycloak theme CSS in production Docker build
  Dockerfile
  docker-compose.dev.yml
Due: none

Fix trailing whitespace in package.json
  package.json
Due: none

Remove unused appBaseUrl realm attribute
  bin/keycloak-bootstrap.sh
Due: none

Add tailwind.keycloak.config.ts to Docker build context
  Dockerfile
Due: none

Refactor Keycloak theme to use Tailwind CSS and simplify login UI
  Dockerfile
  bun.lock
  keycloak/themes/sbomify/login/login.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/theme.properties
  package.json
  sbomify/apps/core/tests/test_views.py
Due: ruff-format, ruff

Update Keycloak theme styling for login/logout pages
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/template.ftl
  sbomify/apps/core/tests/test_keycloak_adapter.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
