Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

Enhance form validation and documentation for contact profiles
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/tests/test_contact_profiles.py
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix Alpine.js syntax consistency: use shorthand :required instead of x-bind:required
  sbomify/apps/teams/templates/teams/contact_profiles/forms/entity.html.j2
Due: djlint-check, djlint-lint

Remove duplicate import and add comments for clarity
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/tests/test_contact_profiles.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Improve code organization and documentation
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Cut v0.24
  pyproject.toml
  uv.lock
Due: none

Enforce SBOM uniqueness per component, version, and format
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/migrations/0043_unique_sbom_per_component_version_format.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/conftest.py
  sbomify/apps/sboms/tests/test_sbom_uniqueness.py
Due: ruff-format, ruff

Add "Copy Badge" button for public products/components
  sbomify/apps/core/js/components/public-status-toggle.spec.ts
  sbomify/apps/core/js/components/public-status-toggle.ts
  sbomify/apps/core/templates/core/components/public_status_toggle.html.j2
  sbomify/static/css/components/public-status-toggle.css
Due: bun-lint, djlint-check, djlint-lint

Fix release tests to comply with SBOM uniqueness constraint
  sbomify/apps/core/tests/test_release_apis.py
  sbomify/apps/core/tests/test_release_models.py
Due: ruff-format, ruff

Add querysets service with tests and update core components
  sbomify/apps/core/apis.py
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/middleware.py
  sbomify/apps/core/services/querysets.py
  sbomify/apps/core/tests/test_querysets.py
  sbomify/apps/sboms/signals.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/settings.py
Due: ruff-format, ruff

Update billing processing, tests, HTMX config, templates, and add stack integrations documentation
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/tests.py
  sbomify/apps/core/js/htmx-config.ts
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Update sbomify/apps/billing/tests/tests.py
  sbomify/apps/billing/tests/tests.py
Due: ruff-format, ruff

Update sbomify/apps/core/context_processors.py
  sbomify/apps/core/context_processors.py
Due: ruff-format, ruff

Improve error handling in Sentry trace sampling by refining logging for invalid sample rates.
  sbomify/apps/core/context_processors.py
  sbomify/settings.py
Due: ruff-format, ruff

Update test for optimize_component_queryset to include versioning for SBOMs, ensuring unique constraint compliance.
  sbomify/apps/core/tests/test_querysets.py
Due: ruff-format, ruff

Refactor email sanitization for cache keys to a dedicated utility function, enhancing clarity and logging for truncation.
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/js/htmx-lifecycle.ts
  sbomify/apps/core/utils.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/settings.py
Due: bun-lint, ruff-format, ruff

Update sbomify/apps/billing/templates/billing/checkout_cancel.html.j2
  sbomify/apps/billing/templates/billing/checkout_cancel.html.j2
Due: djlint-check, djlint-lint

Fix click event in vulnerability trends template to use concatenation for URL construction, improving readability and functionality.
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/vulnerability_trends.html.j2
Due: djlint-check, djlint-lint

Add GitHub Attestation plugin for SBOM verification
  Dockerfile
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/__init__.py
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
Due: ruff-format, ruff

Style badge
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/plugins/templates/plugins/components/public_assessment_badge.html.j2
  sbomify/apps/plugins/templates/plugins/components/public_compliance_badge.html.j2
  sbomify/static/css/public-pages.css
Due: djlint-check, djlint-lint

Fix CodeQL URL substring sanitization warnings
  sbomify/apps/plugins/builtins/github_attestation.py
Due: ruff-format, ruff

Remove unnecessary www.github.com checks
  sbomify/apps/plugins/builtins/github_attestation.py
Due: ruff-format, ruff

Refactor GitHub attestation plugin to verify SBOM files
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
  sbomify/apps/plugins/tests/test_utils.py
  sbomify/apps/plugins/utils.py
Due: ruff-format, ruff

Address code review feedback from bandit and Copilot
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/tests/test_utils.py
  sbomify/apps/plugins/utils.py
Due: ruff-format, ruff

Address additional code review feedback
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/tests/test_utils.py
  sbomify/apps/plugins/utils.py
Due: ruff-format, ruff

Fix infinite 'checking' state when no plugins are enabled
  sbomify/apps/core/apis.py
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/js/assessment-badge.spec.ts
  sbomify/apps/plugins/js/assessment-badge.ts
  sbomify/apps/plugins/signals.py
Due: bun-lint, ruff-format, ruff

Apply code organization and security feedback
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
  sbomify/apps/plugins/utils.py
Due: ruff-format, ruff

Closes https://github.com/sbomify/sbomify/pull/620
  bun.lock
  package.json
Due: none

Address PR comments: fix N+1 query, handle re-enabling plugins, add test coverage
  sbomify/apps/plugins/signals.py
  sbomify/apps/plugins/tests/test_models.py
Due: ruff-format, ruff

Update sbomify/apps/core/apis.py
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Toggle runner
  .github/workflows/ci-cd.yml
Due: none

Address PR comments in apis.py: improve code quality
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Address final PR comments: code cleanup
  sbomify/apps/core/apis.py
  sbomify/apps/plugins/tests/test_models.py
Due: ruff-format, ruff

Address remaining PR comments in signals.py
  sbomify/apps/plugins/signals.py
Due: ruff-format, ruff

Update sbomify/apps/plugins/signals.py
  sbomify/apps/plugins/signals.py
Due: ruff-format, ruff

Address new PR comments: fix duplicates and optimize queries
  sbomify/apps/plugins/signals.py
  sbomify/apps/plugins/tests/test_models.py
Due: ruff-format, ruff

Fix sbom_id type: convert UUID to string for enqueue_assessment
  sbomify/apps/plugins/signals.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
