Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

Fix E2E snapshot tests: add 0.5% threshold and deterministic IDs
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Refactor vulnerability scanning module and add document upload styles
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Migrate component metadata and SBOM features from Vue to Alpine.js
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/sboms/js/licenses-parser.spec.ts
Due: bun-lint, ruff-format, ruff

Adjust spacing and improve test reliability in component UI
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_components.py
Due: ruff-format, ruff

Enhance lifecycle badge styles and update component metadata display
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[992].jpg
Due: none

Replace Vue.js plan selection with Alpine.js implementation
  sbomify/apps/billing/js/components/PlanSelection.spec.ts
  sbomify/apps/billing/js/components/PlanSelection.vue
  sbomify/apps/billing/js/main.ts
  sbomify/apps/billing/templates/billing/select_plan.html.j2
  sbomify/apps/billing/views.py
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/static/css/apps/billing/plan-selection.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Remove duplicate import of layout-interactions in billing main file
  sbomify/apps/billing/js/main.ts
Due: bun-lint

Enhance document upload section visibility in component details snapshot tests
  sbomify/apps/core/tests/e2e/test_components.py
  sbomify/apps/sboms/js/licenses-parser.spec.ts
Due: bun-lint, ruff-format, ruff

Add billing redirect view, improve customer handling, and refine subscription sync logic
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/tests/test_stripe_sync.py
  sbomify/apps/billing/urls.py
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

Enable promotion codes in Stripe Checkout and remove related tests
  sbomify/apps/billing/apis.py
  sbomify/apps/billing/schemas.py
  sbomify/apps/billing/tests/test_api.py
  sbomify/apps/billing/tests/test_stripe_client.py
Due: ruff-format, ruff

Add community plan fixture and update user invitation handling for billing limits
  sbomify/apps/billing/tests/test_views_extended.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Enhance Stripe integration and sync processes
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/management/commands/sync_billing_plans.py
  sbomify/apps/billing/management/commands/sync_stripe_price_ids.py
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/tests/test_billing_return_coverage.py
  sbomify/apps/billing/tests/test_dynamic_pricing.py
  sbomify/apps/billing/tests/test_price_preservation.py
  sbomify/apps/billing/tests/test_price_sync.py
  sbomify/apps/billing/tests/test_stripe_client.py
  sbomify/apps/billing/tests/test_stripe_sync.py
  sbomify/apps/billing/urls.py
  sbomify/apps/billing/views.py
  sbomify/apps/billing/webhook_handler.py
  sbomify/apps/core/tests/test_utils.py
  sbomify/apps/teams/tests/test_invite_limit_loophole.py
Due: ruff-format, ruff

Refactor sync_billing_plans command tests to improve clarity and coverage
  sbomify/apps/billing/tests/test_dynamic_pricing.py
Due: ruff-format, ruff

Preserve existing prices when syncing Stripe plan prices if fetching fails
  sbomify/apps/billing/stripe_sync.py
Due: ruff-format, ruff

Refactor logging in billing processing and Stripe sync to improve error handling and clarity
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/team_pricing_service.py
  sbomify/apps/billing/tests/test_billing_processing.py
  sbomify/apps/billing/tests/test_billing_return_coverage.py
  sbomify/apps/billing/tests/test_dynamic_pricing.py
  sbomify/apps/billing/tests/test_price_preservation.py
  sbomify/apps/billing/tests/test_price_sync.py
  sbomify/apps/billing/tests/test_stripe_sync.py
  sbomify/apps/billing/views.py
  sbomify/apps/teams/tests/test_invite_limit_loophole.py
Due: ruff-format, ruff

Refactor logging in billing processing and related modules to enhance clarity and reduce verbosity
  sbomify/apps/billing/apis.py
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/notifications.py
  sbomify/apps/billing/stripe_cache.py
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/stripe_pricing_service.py
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/team_pricing_service.py
  sbomify/apps/billing/views.py
  sbomify/apps/billing/webhook_handler.py
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Refactor logging in billing processing and notifications to enhance clarity and reduce verbosity
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/notifications.py
  sbomify/apps/billing/stripe_cache.py
  sbomify/apps/billing/stripe_sync.py
Due: ruff-format, ruff

Refactor logging in Stripe pricing and team pricing services to enhance clarity and reduce verbosity
  sbomify/apps/billing/stripe_pricing_service.py
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/team_pricing_service.py
Due: ruff-format, ruff

Enhance billing plan selection and display by syncing billing periods and improving price formatting
  sbomify/apps/billing/js/plan-selection.ts
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/team_pricing_service.py
  sbomify/apps/billing/templates/billing/select_plan.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/billing.html.j2
  sbomify/apps/teams/views/team_settings.py
  sbomify/settings.py
  sbomify/static/css/components/team-billing.css
  sbomify/static/css/pages.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Bypass billing checks for teams when billing is disabled, treating all as enterprise
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Remove redundant import of stripe in pricing fields migration
  sbomify/apps/billing/migrations/0008_add_pricing_fields.py
Due: ruff-format, ruff

Bumps to Trixie
  Dockerfile
Due: none

feat: upgrade python-keycloak to 7.0.1 and fix email verification sync
  pyproject.toml
  sbomify/apps/core/adapters.py
  sbomify/apps/core/admin.py
  sbomify/apps/core/keycloak_utils.py
  sbomify/apps/core/tests/test_keycloak_adapter.py
  uv.lock
Due: ruff-format, ruff

refactor: address code review feedback for Keycloak changes
  sbomify/apps/core/adapters.py
  sbomify/apps/core/tests/test_keycloak_adapter.py
Due: ruff-format, ruff

fix: address remaining PR feedback
  sbomify/apps/core/adapters.py
  sbomify/apps/core/tests/test_keycloak_adapter.py
Due: ruff-format, ruff

fix: add clarifying comment for email_verified early return logic
  sbomify/apps/core/admin.py
Due: ruff-format, ruff

fix: replace Any with Protocol for mock social login return type
  sbomify/apps/core/tests/test_keycloak_adapter.py
Due: ruff-format, ruff

Overhaul public trust center pages with Vue-to-Django migration and UX improvements
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/templates/core/components/public_product_links.html.j2
  sbomify/apps/core/templates/core/components/public_product_projects.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/project_details_public.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/tests/test_product_details_public_view.py
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/project_details_public.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/documents/templates/documents/documents_table_content.html.j2
  sbomify/apps/plugins/public_assessment_utils.py
  sbomify/apps/plugins/templates/plugins/components/public_compliance_badge.html.j2
  sbomify/apps/plugins/tests/test_public_assessment_utils.py
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/apps/teams/branding.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/tests/test_team_settings_tabs.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/team_settings.py
  sbomify/static/css/components/product-identifiers.css
  sbomify/static/css/components/public-compliance-badge.css
  sbomify/static/css/components/public-product-projects.css
Due: ruff-format, ruff, djlint-check, djlint-lint

Update billing documentation with module structure, service architecture, user flows, and API endpoints
  docs/billing.md
Due: markdownlint

docs: update environment variables section for clarity and local usage
  docs/billing.md
Due: markdownlint

Enhance environment variables section for clarity and usage instructions
  docs/billing.md
Due: markdownlint

Update docs/billing.md
  docs/billing.md
Due: markdownlint

Integrate projects into product pages and enhance public trust center UX
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/EditableSingleField.vue
  sbomify/apps/core/js/components/product-identifiers-barcodes.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/js/utils.ts
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/component_item_public.html.j2
  sbomify/apps/core/templates/core/components/product_identifiers_card.html.j2
  sbomify/apps/core/templates/core/components/product_links_card.html.j2
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/templates/core/components/public_product_links.html.j2
  sbomify/apps/core/templates/core/components/public_product_projects.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/project_details_public.html.j2
  sbomify/apps/core/templates/core/public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/templatetags/breadcrumb_tags.py
  sbomify/apps/core/templatetags/utils.py
  sbomify/apps/core/tests/test_breadcrumb_tags.py
  sbomify/apps/core/tests/test_custom_domain_routing.py
  sbomify/apps/core/tests/test_product_details_public_view.py
  sbomify/apps/core/tests/test_slug_urls.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/core/views/product_details_private.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/product_identifiers.py
  sbomify/apps/core/views/product_links.py
  sbomify/apps/core/views/project_details_public.py
  sbomify/apps/sboms/migrations/0042_remove_productlink_unique_constraint.py
  sbomify/apps/sboms/models.py
  sbomify/static/css/product-details-private.css
  sbomify/static/css/public-pages.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Add noreferrer to external links for improved security
  sbomify/apps/core/templates/core/components/footer.html.j2
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/core/templates/core/public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
Due: djlint-check, djlint-lint

Refactor GTIN type checking and barcode config
  sbomify/apps/core/js/components/product-identifiers-barcodes.ts
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
Due: bun-lint, djlint-check, djlint-lint

Fix Django template syntax error for GTIN type checking
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/views/product_details_public.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fixes tests
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/sboms/tests/test_views.py
Due: ruff-format, ruff
