Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

test: split the response-direction cases the stack revealed
  sbomify/apps/core/tests/test_api_v2.py
Due: ruff-format, ruff

chore(db): renumber the advisory rename migration past the new leaf
  sbomify/apps/security_advisories/migrations/0005_alter_securityadvisory_team.py
Due: ruff-format, ruff

fix(osv): the skip copy keeps its lead and its workaround
  sbomify/apps/plugins/builtins/osv.py
Due: ruff-format, ruff

fix: a stray boolean is not a vulnerability, and the twin rename says what it does
  sbomify/apps/core/posthog_service.py
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/plugins/tests/test_templatetags.py
Due: ruff-format, ruff

fix: narrow the key-parse catch, count response=Schema as a 200, drop a doubled exc_info
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_error_codes.py
  sbomify/apps/vulnerability_scanning/apis.py
Due: ruff-format, ruff

fix: createdBy tolerates the scalar spelling, and iter means iterate
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
Due: ruff-format, ruff

fix: a non-string component type is missing, and one migration says the final thing
  sbomify/apps/sboms/migrations/0068_sbom_has_hardware_components.py
  sbomify/apps/sboms/migrations/0069_alter_sbom_has_hardware_components.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

fix: merge what the release pinned, and stop recomputing a constant
  sbomify/apps/sboms/hbom.py
  sbomify/apps/sboms/management/commands/backfill_hbom_retag.py
  sbomify/apps/sboms/tests/test_hbom_lifecycle.py
Due: ruff-format, ruff

fix: the phase-2 review round
  sbomify/apps/core/services/component_security.py
  sbomify/apps/sboms/hardware_inventory.py
  sbomify/apps/sboms/templates/sboms/components/hardware_inventory_card.html.j2
  sbomify/apps/sboms/views/component_hardware.py
  sbomify/apps/sboms/views/sbom_hardware_inventory.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: the rollup review round
  sbomify/apps/plugins/builtins/_component_scope.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/hbom_structure.py
  sbomify/apps/sboms/hardware_inventory.py
  sbomify/apps/sboms/migrations/0070_alter_sbom_has_hardware_components.py
Due: ruff-format, ruff

fix: the workspace-rollup review round
  sbomify/apps/sboms/services/hardware_dashboard.py
  sbomify/apps/sboms/templates/sboms/workspace_hardware.html.j2
  sbomify/apps/sboms/tests/test_workspace_hardware.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: the filter's signature admits what its body already handles
  sbomify/apps/plugins/templatetags/plugins_extras.py
Due: ruff-format, ruff

test: the status gate reads the view's own returns, not its inner helpers'
  sbomify/apps/core/tests/test_error_codes.py
Due: ruff-format, ruff

fix: the deprecation Link joins an existing header instead of replacing it
  sbomify/apps/core/middleware.py
Due: ruff-format, ruff

chore(db): the explicit index names follow their tables
  sbomify/apps/teams/migrations/0042_rename_teams_invit_email_d19291_idx_workspaces__email_77ed9e_idx_and_more.py
  sbomify/apps/teams/models.py
Due: ruff-format, ruff

fix: keep the disclosure comment on one line
  sbomify/apps/sboms/templates/sboms/components/hardware_inventory_card.html.j2
Due: djlint-check, djlint-lint

test(e2e): the 375 public component baseline gains the TYPE column
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[375].jpg
Due: none

fix: the HBOM download composes the same button as its siblings
  sbomify/apps/core/templates/core/release_details_public.html.j2
Due: djlint-check, djlint-lint

fix: the hardware card and HBOM issues compose the design system
  sbomify/apps/core/templates/core/components/component_hbom_issues.html.j2
  sbomify/apps/sboms/templates/sboms/component_hardware.html.j2
  sbomify/apps/sboms/templates/sboms/components/hardware_inventory_card.html.j2
Due: djlint-check, djlint-lint

fix: an unlinkable CPE renders no link
  sbomify/apps/sboms/hardware_inventory.py
  sbomify/apps/sboms/templates/sboms/components/hardware_inventory_card.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

test: the no-link contract is None now
  sbomify/apps/sboms/tests/test_hardware_inventory.py
Due: ruff-format, ruff

fix: put every v1 wire string back exactly as it was
  sbomify/apps/billing/apis.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_public_access_apis.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_workspace_wire_fields.py
  sbomify/apps/vulnerability_scanning/apis.py
Due: ruff-format, ruff

fix(plugins): count vulnerabilities from by_severity, not every finding
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templatetags/plugins_extras.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: the sibling guard says workspace too
  sbomify/apps/teams/decorators.py
Due: ruff-format, ruff

fix: three holes the deep review found in the rename's edges
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/templates/core/components/trust_center/restricted_notice.html.j2
  sbomify/apps/core/tests/test_posthog_dual_emit.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/teams/templates/teams/team_branding.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

feat: P1 of the terminology plan, wire and copy
  sbomify/apps/billing/apis.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/components/trust_center/restricted_notice.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/tests/test_public_access_apis.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/tests/test_assessment_run_item_badge.py
  sbomify/apps/teams/admin.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/decorators.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/tests/test_workspace_wire_fields.py
  sbomify/apps/vulnerability_scanning/apis.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat: mark is_default_team deprecated in the schema, not the endpoint
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/tests/test_workspace_wire_fields.py
Due: ruff-format, ruff

docs: the comment beside NO_CURRENT_TEAM caught up with the revert
  sbomify/apps/core/schemas.py
Due: ruff-format, ruff

fix: the workspace hardware page composes the design system
  sbomify/apps/sboms/services/hardware_dashboard.py
  sbomify/apps/sboms/templates/sboms/workspace_hardware.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

test(e2e): the 375 baseline keeps the artifact name on one line
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[375].jpg
Due: none

test: drop a re-import the module scope already provides
  sbomify/apps/sboms/tests/test_spdx3_primary_package.py
Due: ruff-format, ruff

fix(spdx3): the BOM subject is rootElement, not whichever package came first
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/tests/test_spdx3_primary_package.py
Due: ruff-format, ruff

fix(spdx3): normalize a compact describes target before indexing it
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/tests/test_spdx3_primary_package.py
Due: ruff-format, ruff

fix(sboms): the primary-package reader uses the shared element iterator
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/tests/test_spdx3_primary_package.py
Due: ruff-format, ruff

fix: the vuln dashboard catch-alls answer 500 for a crash, 404 for a missing workspace
  sbomify/apps/vulnerability_scanning/apis.py
Due: ruff-format, ruff

fix(api): declare every returned status, keep the NDA codes, code the bare 401
  sbomify/apps/access_tokens/auth.py
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/controls/apis.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_error_codes.py
  sbomify/apps/vulnerability_scanning/apis.py
Due: ruff-format, ruff

fix(api): the live sweep's pre-existing declaration gaps
  sbomify/apps/controls/apis.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_error_codes.py
Due: ruff-format, ruff

test: the 429 refusal body carries its error code
  sbomify/apps/access_tokens/tests.py
Due: ruff-format, ruff
