Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix: five defects from the staging QA pass
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/release-artifacts.ts
  sbomify/apps/core/templates/components/tw/toast_container.html.j2
  sbomify/apps/core/tests/test_csrf_failure.py
  sbomify/apps/core/views/csrf_failure.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/tests/test_builders.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/tests/test_team_settings_tabs.py
  sbomify/settings.py
  sbomify/templates/components/feedback/toast_container.html
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

style(templates): djlint reformat of two settings fragments
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
Due: djlint-check, djlint-lint

fix(design-system-tags): retire the callerless card block tag
  sbomify/apps/core/templatetags/design_system.py
  sbomify/apps/core/tests/test_design_system_tags.py
Due: ruff-format, ruff

fix(js): drop the build-time axios baseURL that broke e2e locally
  .env.example
  sbomify/apps/core/js/utils.ts
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[992].jpg
Due: bun-lint

fix(csrf): an HTMX failure re-renders the page instead of toasting
  sbomify/apps/core/tests/test_csrf_failure.py
  sbomify/apps/core/views/csrf_failure.py
Due: ruff-format, ruff

style(settings): full-width sections and inputs on every settings tab
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_account_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_account_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_billing_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_billing_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_general_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_general_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_general_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_members_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_members_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_tokens_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_tokens_snapshot[992].jpg
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/account.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/billing.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/general.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/members.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/tokens.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
Due: djlint-check, djlint-lint

style(trust-center): neutral download buttons on public pages
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
Due: djlint-check, djlint-lint

fix(trust-center): drop the universal focus ring from public pages
  sbomify/static/css/public-base.css
Due: none

chore(release): 26.8.0 (YY.MM.MICRO CalVer)
  package.json
  pyproject.toml
  uv.lock
Due: none

fix(base): drop the body opacity gate that flashed black in Firefox
  sbomify/apps/core/templates/core/base.html.j2
Due: djlint-check, djlint-lint

fix(create): read the new item's id from the API response dict
  sbomify/apps/core/tests/integration/test_ui_workflows.py
  sbomify/apps/core/views/components_dashboard.py
  sbomify/apps/core/views/products_dashboard.py
Due: ruff-format, ruff

fix(trends): a day without a scan keeps the last known counts
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

perf(trends): adjust the carried totals only for pairs that change
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

feat(advisories): CVSS scores end to end, row actions, and a working delete
  sbomify/apps/core/templates/core/components/advisory_delete_modal.html.j2
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/apps/core/templates/core/security_advisories_table.html.j2
  sbomify/apps/core/templates/core/security_advisory_detail.html.j2
  sbomify/apps/core/templates/core/security_advisory_new.html.j2
  sbomify/apps/core/templates/core/trust_center_advisory_detail.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisories_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisories_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisories_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisory_detail_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisory_detail_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisory_detail_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisory_detail_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisory_new_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisory_new_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisory_new_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisory_new_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_security_advisories.py
  sbomify/apps/core/views/security_advisories.py
  sbomify/apps/security_advisories/forms.py
  sbomify/apps/security_advisories/services/advisories.py
  sbomify/apps/security_advisories/services/trust_center.py
  sbomify/apps/security_advisories/tests/test_advisory_service.py
  sbomify/apps/security_advisories/tests/test_create_advisory.py
  sbomify/apps/security_advisories/tests/test_delete_advisory.py
  sbomify/apps/security_advisories/tests/test_trust_center.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Revert "fix(base): drop the body opacity gate that flashed black in Firefox"
  sbomify/apps/core/templates/core/base.html.j2
Due: djlint-check, djlint-lint

fix(base): drop the unreachable .ready fallback in the head script
  sbomify/apps/core/templates/core/base.html.j2
Due: djlint-check, djlint-lint

feat(uploads): a CBOM type in the artifact modal, and the modal closes itself
  sbomify/apps/sboms/js/sbom-upload-helpers.ts
  sbomify/apps/sboms/js/sbom-upload.spec.ts
  sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
Due: bun-lint, djlint-check, djlint-lint

fix(vulnerabilities): the expanded detail cards wrap inside their borders
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
Due: djlint-check, djlint-lint

fix(vulnerabilities): scanner status markers are not vulnerabilities
  sbomify/apps/sboms/tests/test_sbom_vulnerabilities_view.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
  sbomify/apps/vulnerability_scanning/apis.py
Due: ruff-format, ruff

fix(plugins): a skipped scan's status marker is not a vulnerability
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/plugins/tests/test_assessment_run_item_badge.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(vex): a distro's bare package name qualifies with its own namespace
  sbomify/apps/vulnerability_scanning/tests/test_operational_findings.py
  sbomify/apps/vulnerability_scanning/tests/test_vex.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

test(e2e): narrow sbom-vulnerabilities baselines follow the card wrap fix
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_snapshot[576].jpg
Due: none

chore(deps): clear the scanner findings this repo owns
  Dockerfile
  bun.lock
  package.json
  uv.lock
Due: none

fix(base): keep an angle-bracket tag name out of the head comment
  sbomify/apps/core/templates/core/base.html.j2
Due: djlint-check, djlint-lint

fix(base): arm the opacity gate only when the script that lifts it has run
  sbomify/apps/core/templates/core/base.html.j2
Due: djlint-check, djlint-lint

chore(deps): refresh the vulnerable npm build-toolchain pins
  bun.lock
Due: none

fix(core): mark CSV exports private and uncacheable
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_csv_exports.py
Due: ruff-format, ruff

test(core): pin the no-store header on every export endpoint
  sbomify/apps/core/tests/test_csv_exports.py
Due: ruff-format, ruff

fix(screencasts): follow the design system off Bootstrap-era selectors
  .claude/skills/narrated-screencast/SKILL.md
  screencasts/account_deletion.py
  screencasts/conftest.py
  screencasts/document_signatures.py
  screencasts/document_upload.py
  screencasts/oidc_trusted_publishing.py
  screencasts/product_creation.py
  screencasts/profile_editing.py
  screencasts/release_creation.py
  screencasts/trust_center_setup.py
  screencasts/vex_lifecycle.py
  screencasts/vex_upload.py
  screencasts/walkthrough_chapters.py
  screencasts/workspace_deletion.py
Due: markdownlint, ruff-format, ruff

fix(screencasts): repair what the recordings were actually filming
  screencasts/conftest.py
  screencasts/cra_compliance.py
  screencasts/document_upload.py
  screencasts/marketplace_walkthrough.py
  screencasts/narration/audio/03f1b702b2487a81116accdd55c86db9d437595bedb363dace49c56a26f6d044.opus
  screencasts/narration/audio/102e397bfe494dfe3a1c2aaa972b5e205094b32d2ff6811f51c2d7c817b84ebb.opus
  screencasts/narration/audio/48fe08d8d43cd8fe072766fdb1507bcb2184b5aad9a1e5cb94b7887a5e127e10.opus
  screencasts/narration/audio/5588c0b99004d08a8bc8b6de8894f037f6ebd32e0ab939ba44218ceb6212f3bd.opus
  screencasts/narration/audio/622c03db49aeb6b631ed92da09777af617a88da71970eaf217cd7c3ba0a77305.opus
  screencasts/narration/audio/869a6238225a916e0ba37220dac52d97b8de236e2ae15aae1eda9f33e47659bc.opus
  screencasts/narration/audio/adf793a5303e2e51134cacc80c95b5167fb2599daf15b3133bc5cc9a65cc943b.opus
  screencasts/narration/audio/ec096437eb3ed39249bb8fd7f958e5ea93447831c46abcf39a1ba434d854dff9.opus
  screencasts/narration/index.json
  screencasts/narration/vex_lifecycle.yaml
  screencasts/narration/walkthrough_chapters_vulnerabilities.yaml
  screencasts/trust_center_setup.py
  screencasts/vex_lifecycle.py
  screencasts/vex_upload.py
  screencasts/vulnerability_scanning.py
  screencasts/walkthrough_chapters.py
Due: ruff-format, ruff

feat(teams): security.txt in the shape BSI TR-03183-3 mandates
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/tests/test_wizard_service.py
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/tests/test_security_txt.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(teams): validate the wizard-synced security.txt values; drop the backtracking email regex
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/tests/test_wizard_service.py
  sbomify/apps/teams/services/security_txt.py
Due: ruff-format, ruff

test(e2e): release-details 375 baseline reflects the merged page
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_snapshot[375].jpg
Due: none

fix: close out the staging QA findings
  sbomify/apps/documents/templates/documents/request_access.html.j2
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/views/team_branding.py
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff, djlint-check, djlint-lint

style(teams): give the security.txt section its proper title
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
Due: djlint-check, djlint-lint

fix(vulns): show VEX justifications in human wording
  sbomify/apps/core/templates/core/components/component_vulnerabilities.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/vulnerability_scanning/posture.py
  sbomify/apps/vulnerability_scanning/tests/test_operational_findings.py
  sbomify/apps/vulnerability_scanning/utils.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: close the gaps the QA follow-up pass left open
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/release-artifacts.ts
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/tests/test_release_artifacts_api.py
  sbomify/apps/documents/templates/documents/request_access.html.j2
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/tests/test_team_general.py
  sbomify/apps/teams/views/team_general.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix: put every email back in sync with what we actually send
  sbomify/apps/access_tokens/templates/access_tokens/emails/token_expiry_email.html.j2
  sbomify/apps/access_tokens/templates/access_tokens/emails/token_expiry_email.txt
  sbomify/apps/billing/templates/billing/emails/payment_failed.html.j2
  sbomify/apps/billing/templates/billing/emails/payment_past_due.html.j2
  sbomify/apps/billing/templates/billing/emails/payment_succeeded.html.j2
  sbomify/apps/billing/templates/billing/emails/subscription_cancelled.html.j2
  sbomify/apps/billing/templates/billing/emails/subscription_ended.html.j2
  sbomify/apps/billing/templates/billing/emails/trial_ending.html.j2
  sbomify/apps/billing/templates/billing/emails/trial_expired.html.j2
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/documents/templates/documents/emails/access_approved.html.j2
  sbomify/apps/documents/templates/documents/emails/access_rejected.html.j2
  sbomify/apps/documents/templates/documents/emails/access_request_notification.html.j2
  sbomify/apps/documents/templates/documents/emails/access_revoked.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/collaboration.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_component.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_sbom.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/quick_start.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/welcome.txt
  sbomify/apps/teams/signals.py
  sbomify/apps/teams/templates/teams/emails/new_user_email.html.j2
  sbomify/apps/teams/templates/teams/emails/new_user_email.txt
  sbomify/apps/teams/templates/teams/emails/owner_invitation_notice.html.j2
  sbomify/apps/teams/templates/teams/emails/team_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/trust_center_invite_email.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

test: pin every email subject to its rendered title
  sbomify/apps/core/tests/test_email_templates.py
  sbomify/apps/onboarding/templates/onboarding/emails/collaboration.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_component.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_sbom.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/welcome.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint
