Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix(core): lock the release-artifact first-insert path too
  sbomify/apps/core/utils.py
Due: ruff-format, ruff

refactor(sboms): remove dead, unscoped verify_item_access duplicate
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

chore(deps): exclude test_data fixtures from Dependabot scans
  .github/dependabot.yml
Due: none

fix(newsletter): make template importable into Mailjet
  .github/workflows/newsletter.yml
  newsletter/README.md
  newsletter/sbomify-newsletter.mjml
Due: markdownlint

fix(newsletter): rewrite template in Mailjet Passport-safe MJML subset
  newsletter/README.md
  newsletter/sbomify-newsletter.mjml
Due: markdownlint

docs(newsletter): update README design description for solid accent divider
  newsletter/README.md
Due: markdownlint

chore(deps): ignore TypeScript 7.x in Dependabot bun group
  .github/dependabot.yml
Due: none

build(deps): keep typescript at ^6.0.2
  bun.lock
  package.json
Due: none

fix(vex): manual triage decisions no longer display as an uploaded VEX
  sbomify/apps/vulnerability_scanning/tests/test_vex.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

fix(trust-center): release vulnerability posture no longer double-counts cross-provider aliases
  sbomify/apps/vulnerability_scanning/posture.py
  sbomify/apps/vulnerability_scanning/tests/test_posture.py
Due: ruff-format, ruff

perf(core): two-phase DISTINCT ON for the VEX/SBOM item view's provider queries
  sbomify/apps/core/tests/test_component_views.py
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff

fix(vex): distinguish a Dependency-Track-synced VEX from an uploaded one
  sbomify/apps/vulnerability_scanning/tests/test_vex.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

fix(trust-center): fold transitively-bridged findings in the alias dedupe
  sbomify/apps/vulnerability_scanning/posture.py
  sbomify/apps/vulnerability_scanning/tests/test_posture.py
Due: ruff-format, ruff

Stop frontend test failures from passing CI silently
  .github/workflows/ci-cd.yml
  sbomify/apps/sboms/js/sboms-table.spec.ts
Due: bun-lint

Fix time-of-day flake in vulnerability trends timeline test
  sbomify/apps/vulnerability_scanning/tests/test_views.py
Due: ruff-format, ruff

feat(security-advisories): Django data model for security advisories
  sbomify/apps/security_advisories/__init__.py
  sbomify/apps/security_advisories/apps.py
  sbomify/apps/security_advisories/migrations/0001_initial.py
  sbomify/apps/security_advisories/migrations/__init__.py
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/__init__.py
  sbomify/apps/security_advisories/tests/conftest.py
  sbomify/apps/security_advisories/tests/test_models.py
  sbomify/settings.py
Due: ruff-format, ruff

ci: run the security advisory tests
  .github/workflows/ci-cd.yml
Due: none

fix(security-advisories): validate recommended_release and key pin errors to the field set
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

fix(security-advisories): widen cve_id so the column accepts every valid id
  sbomify/apps/security_advisories/migrations/0001_initial.py
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

fix(security-advisories): tie tracking_id to publication, not current status
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

fix(security-advisories): close three gaps in the append-only and write-once guarantees
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

fix(security-advisories): bound publish-validation queries and close two shape holes
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

fix(security-advisories): stop drafts carrying a disclosure date, normalise reference whitespace
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

feat(security-advisories): updated_at on the remaining mutable models, cover two gaps
  sbomify/apps/security_advisories/migrations/0001_initial.py
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

fix(security-advisories): run field validators on save, not just the business rules
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

fix(security-advisories): normalise product_name before the snapshot, widen the delete signature
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

fix(security-advisories): a product with no sbomify record cannot pin releases
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

fix(security-advisories): a name-only product cannot recommend a release either
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

fix(security-advisories): validation messages read as English
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

fix(security-advisories): strip tracking_id, reclassify a reference when its id changes
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

refactor(css): migrate Tailwind theme to real colours
  sbomify/apps/core/templates/core/components/footer.html.j2
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/tw_test.html.j2
  sbomify/apps/onboarding/templates/onboarding/select_plan.html.j2
  sbomify/assets/css/tailwind.src.css
Due: djlint-check, djlint-lint

feat(dashboard): redesign first-visit onboarding hero
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/views/dashboard.py
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
  sbomify/static/img/onboarding.svg
Due: ruff-format, ruff, djlint-check, djlint-lint

style(dashboard): apply djlint formatting
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
Due: djlint-check, djlint-lint

fix(ui): unify dashboard tables to the clean flat card style
  sbomify/apps/core/templates/core/components_table.html.j2
  sbomify/apps/core/templates/core/products_table.html.j2
  sbomify/apps/core/templates/core/releases_table.html.j2
Due: djlint-check, djlint-lint

build(dev): enable Vite watcher polling for Tailwind hot-reload
  docker-compose.dev.yml
  vite.config.ts
Due: bun-lint

ci: run every app's tests, and fail loudly when one is missing
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  bin/check_ci_test_matrix.py
Due: ruff-format, ruff

fix(sboms): show the latest artifact per format, not just the last
  sbomify/apps/sboms/services/sboms_table.py
  sbomify/apps/sboms/tests/test_sboms_table_service.py
Due: ruff-format, ruff

fix(plugins): a skipped assessment reads as skipped, not as warnings
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/tests/test_assessment_run_item_badge.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(sboms): make the bom_type fallback test discriminate
  sbomify/apps/sboms/tests/test_sboms_table_service.py
Due: ruff-format, ruff
