Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

ci: pin cosign and what it writes, and narrow who may have signed
  .github/workflows/ci-cd.yml
Due: none

fix(sboms): make the suppressed toggle actually a filter
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/tests/test_scan_report_filtering.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
  sbomify/apps/vulnerability_scanning/services/finding_browse.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): keep the card's suppressed rows across a filter change
  sbomify/apps/core/tests/test_run_findings_filtering.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_findings.html.j2
  sbomify/apps/vulnerability_scanning/services/finding_browse.py
Due: ruff-format, ruff, djlint-check, djlint-lint

docs(teams): the invitation is deleted above now, not below
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

perf(core): let the digest walk its index
  sbomify/apps/core/services/dashboard_page.py
Due: ruff-format, ruff

perf(plugins): read only the page of findings a card renders
  sbomify/apps/core/tests/test_run_findings_filtering.py
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/services/run_findings.py
  sbomify/apps/vulnerability_scanning/kev.py
Due: ruff-format, ruff

fix(plugins): skip a stored entry that is not a finding on both queries
  sbomify/apps/plugins/services/run_findings.py
Due: ruff-format, ruff

fix(caddy): rate limit on the origin IP, not the Cloudflare edge
  Caddyfile
  Caddyfile.dev
  charts/sbomify/templates/caddy-configmap.yaml
  sbomify/apps/access_tokens/throttling.py
  sbomify/apps/core/tests/test_utils.py
  sbomify/apps/core/utils.py
Due: ruff-format, ruff

fix(core): name each digest column once
  sbomify/apps/core/services/dashboard_page.py
Due: ruff-format, ruff

test(e2e): move the scan report baselines onto the filtered page
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_snapshot[992].jpg
Due: none

fix(plugins): give the card one alias list shape whatever was stored
  sbomify/apps/core/tests/test_run_findings_filtering.py
  sbomify/apps/plugins/services/run_findings.py
Due: ruff-format, ruff

fix(sboms): offer the severity the reader actually filtered by
  sbomify/apps/sboms/tests/test_scan_report_filtering.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
  sbomify/apps/vulnerability_scanning/services/finding_browse.py
Due: ruff-format, ruff

fix(sboms): carry the scan report's filters through its pager
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/tests/test_scan_report_filtering.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(sboms): filter the scan report by triage state and by KEV
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/tests/test_scan_report_filtering.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(vulns): refuse an alias list that is not one before storing it
  sbomify/apps/vulnerability_scanning/tests/test_findings_table.py
  sbomify/apps/vulnerability_scanning/utils.py
Due: ruff-format, ruff

test(e2e): grow the mobile baseline by the triage-state select
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_snapshot[375].jpg
Due: none

test(billing): ask the model for the table the lock names
  sbomify/apps/billing/tests/test_user_seat_race.py
Due: ruff-format, ruff

fix(billing): let an invitation be accepted from the settings page
  sbomify/apps/billing/tests/test_user_seat_race.py
  sbomify/apps/core/views/__init__.py
Due: ruff-format, ruff

perf(sboms): import the predicate once, not once per advisory
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
Due: ruff-format, ruff

fix(core): fold the digest one package at a time
  sbomify/apps/core/services/dashboard_page.py
  sbomify/apps/core/tests/test_dashboard_digest_from_table.py
Due: ruff-format, ruff

ci: verify the signature the way a consumer has to
  .github/workflows/ci-cd.yml
Due: none

ci: drop a flag cosign verify does not have
  .github/workflows/ci-cd.yml
Due: none

ci: say what keeps the verify step reading the legacy tag
  .github/workflows/ci-cd.yml
Due: none

fix(admin): stop counting free workspaces as paying customers
  sbomify/apps/billing/services/workspace_status.py
  sbomify/apps/core/admin.py
  sbomify/apps/core/tests/test_admin_dashboard.py
Due: ruff-format, ruff

feat(ops): rebuild the admin dashboard as a standalone page at /ops/
  package.json
  sbomify/apps/billing/tests/test_workspace_status.py
  sbomify/apps/core/admin.py
  sbomify/apps/core/templates/admin/dashboard.html
  sbomify/apps/core/tests/test_admin_dashboard.py
  sbomify/apps/ops/__init__.py
  sbomify/apps/ops/apps.py
  sbomify/apps/ops/js/main.ts
  sbomify/apps/ops/js/ops-charts.ts
  sbomify/apps/ops/permissions.py
  sbomify/apps/ops/services/__init__.py
  sbomify/apps/ops/services/growth.py
  sbomify/apps/ops/services/overview.py
  sbomify/apps/ops/services/populations.py
  sbomify/apps/ops/services/revenue.py
  sbomify/apps/ops/templates/ops/base.html.j2
  sbomify/apps/ops/templates/ops/overview.html.j2
  sbomify/apps/ops/tests/__init__.py
  sbomify/apps/ops/tests/test_growth.py
  sbomify/apps/ops/tests/test_populations.py
  sbomify/apps/ops/tests/test_revenue.py
  sbomify/apps/ops/tests/test_views.py
  sbomify/apps/ops/urls.py
  sbomify/apps/ops/views.py
  sbomify/settings.py
  sbomify/templates/admin/dashboard.html
  sbomify/templates/admin/dashboard_base.html
  sbomify/templates/admin/dashboard_billing.html
  sbomify/templates/admin/dashboard_funnel.html
  sbomify/templates/admin/dashboard_growth.html
  sbomify/templates/admin/dashboard_health.html
  sbomify/templates/admin/index.html
  sbomify/urls.py
  vite.config.ts
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

docs: state what must never reach a public git artifact
  AGENTS.md
Due: markdownlint

fix(documents): send the review link to a page, not to a section
  sbomify/apps/documents/services/access_emails.py
  sbomify/apps/documents/tests/test_access_request_queue_is_not_a_page.py
  sbomify/apps/documents/tests/test_access_requests.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff

fix(auth): render every allauth page inside the styled shell
  sbomify/templates/allauth/layouts/base.html
Due: none

test(documents): look for the old link anywhere in the mail
  sbomify/apps/documents/tests/test_access_request_queue_is_not_a_page.py
Due: ruff-format, ruff

fix(auth): give the skip link something to skip to
  sbomify/apps/core/templates/core/auth_base.html.j2
Due: djlint-check, djlint-lint

fix(ci): run the ops tests and ship its assets in the image
  .github/workflows/ci-cd.yml
  Dockerfile
Due: none

fix(vulns): offer the exploited filter only where it can match
  sbomify/apps/core/templates/core/components/component_vulnerabilities_table.html.j2
  sbomify/apps/core/tests/test_component_vulnerabilities_panel.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_findings.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(ops): address the review on the ops dashboard
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/ops/js/ops-charts.spec.ts
  sbomify/apps/ops/js/ops-charts.ts
  sbomify/apps/ops/services/cache.py
  sbomify/apps/ops/services/growth.py
  sbomify/apps/ops/services/overview.py
  sbomify/apps/ops/services/revenue.py
  sbomify/apps/ops/templates/ops/base.html.j2
  sbomify/apps/ops/tests/test_cache.py
  sbomify/apps/ops/tests/test_views.py
  sbomify/templates/components/navigation/nav_link.html
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(api): declare the statuses the access-request endpoints return
  sbomify/apps/core/tests/test_error_codes.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/tests/test_access_apis.py
Due: ruff-format, ruff

fix(csrf): a Referer that is not a URL no longer 500s the failure view
  sbomify/apps/core/tests/test_csrf_failure.py
  sbomify/apps/core/views/csrf_failure.py
Due: ruff-format, ruff

fix(vulns): give Finding.aliases a database default
  sbomify/apps/vulnerability_scanning/migrations/0013_finding_aliases_db_default.py
Due: ruff-format, ruff

fix(tests): the router gate also sees an annotated assignment
  sbomify/apps/core/tests/test_error_codes.py
Due: ruff-format, ruff

fix(ui): refuse a HEAD the same way as a GET
  sbomify/apps/core/htmx.py
  sbomify/apps/core/tests/test_htmx_fragments_are_not_pages.py
Due: ruff-format, ruff

test(vulns): find the templates from BASE_DIR, not the working directory
  sbomify/apps/core/tests/test_component_vulnerabilities_panel.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
