Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix(plugins): normalize packages, creationInfo, externalRefs against null
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/ntia.py
Due: ruff-format, ruff

fix(plugins): guard SPDX 2.x and CycloneDX paths in CISA, FDA, BSI
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
Due: ruff-format, ruff

fix(plugins): guard bomFormat type + normalize CISA/FDA top-level fields
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/ntia.py
Due: ruff-format, ruff

feat(sboms): add CycloneDX 1.7 validation support
  sbomify/apps/sboms/cyclonedx_validator.py
Due: ruff-format, ruff

fix(plugins): filter non-dict items, normalize externalRefs, add 1.7 tests
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/sboms/tests/test_cyclonedx_validator.py
Due: ruff-format, ruff

fix(plugins): normalize CycloneDX dependencies + add regression tests for BSI/CISA/FDA
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/tests/test_bsi_plugin.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
  sbomify/apps/plugins/tests/test_fda_medical_device_plugin.py
Due: ruff-format, ruff

fix(plugins): harden CycloneDX paths in CISA/FDA/BSI + SPDX3 externalIdentifiers
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
Due: ruff-format, ruff

fix(plugins): filter non-dict dependencies in CISA/FDA CycloneDX
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
Due: ruff-format, ruff

fix(plugins): normalize externalRefs with isinstance check in CISA/FDA/BSI
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
Due: ruff-format, ruff

feat(teams): add security_txt_config JSONField for RFC 9116
  sbomify/apps/teams/migrations/0033_add_security_txt_config.py
  sbomify/apps/teams/models.py
Due: ruff-format, ruff

feat(teams): add security.txt generation service
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/tests/test_security_txt.py
Due: ruff-format, ruff

feat(teams): add /.well-known/security.txt endpoint
  sbomify/apps/teams/tests/test_security_txt.py
  sbomify/apps/teams/views/security_txt.py
  sbomify/urls.py
Due: ruff-format, ruff

feat(teams): add security.txt settings UI to Trust Center
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

security(teams): harden security.txt against injection + add validation
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/tests/test_security_txt.py
  sbomify/apps/teams/views/security_txt.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

refactor(teams): compute Expires at save time, fix type annotation, remove unused import
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/views/security_txt.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

refactor(teams): DRY optional fields in security.txt generation
  sbomify/apps/teams/services/security_txt.py
Due: ruff-format, ruff

fix(teams): address review findings — domain guards, expires refresh, validation
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/tests/test_security_txt.py
  sbomify/apps/teams/views/security_txt.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(teams): improve security.txt UI with contact dropdown and grouped layout
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(teams): simplify contact dropdown helper text
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
Due: djlint-check, djlint-lint

fix(teams): address review — urlparse validation, generation-time checks, regex fix
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(teams): address review — contact validation, fallback, BYOD tests
  sbomify/apps/teams/models.py
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/tests/test_security_txt.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

fix(teams): update helper text, validate preferred_languages at generation, copy config dict
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(teams): reject full C0 control range in URLs, sync migration help_text
  sbomify/apps/teams/migrations/0033_add_security_txt_config.py
  sbomify/apps/teams/services/security_txt.py
Due: ruff-format, ruff

fix(teams): short-circuit on disable, guard contacts query for non-public teams
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

fix(teams): update comment to match validate-then-sanitize behavior
  sbomify/apps/teams/services/security_txt.py
Due: ruff-format, ruff

fix(teams): use relative future date in expires test to prevent time-based failure
  sbomify/apps/teams/tests/test_security_txt.py
Due: ruff-format, ruff

fix(teams): exclude component-private from fallback, centralize language validation
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

feat(controls): scaffold app with models and migration
  sbomify/apps/controls/__init__.py
  sbomify/apps/controls/admin.py
  sbomify/apps/controls/apps.py
  sbomify/apps/controls/migrations/0001_initial.py
  sbomify/apps/controls/migrations/__init__.py
  sbomify/apps/controls/models.py
  sbomify/apps/controls/services/__init__.py
  sbomify/apps/controls/tests/__init__.py
  sbomify/apps/controls/tests/conftest.py
  sbomify/settings.py
Due: ruff-format, ruff

feat(controls): add SOC 2 catalog data and catalog service
  sbomify/apps/controls/data/soc2-type2.json
  sbomify/apps/controls/services/catalog_service.py
  sbomify/apps/controls/tests/test_catalog_service.py
Due: ruff-format, ruff

feat(controls): add status and public services
  sbomify/apps/controls/services/public_service.py
  sbomify/apps/controls/services/status_service.py
  sbomify/apps/controls/tests/test_public_service.py
  sbomify/apps/controls/tests/test_status_service.py
Due: ruff-format, ruff

feat(controls): add Controls settings tab with HTMX inline editing
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/templates/controls/controls_table.html.j2
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
  sbomify/apps/controls/urls.py
  sbomify/apps/controls/views.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/team_settings.py
  sbomify/urls.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(controls): add public trust center controls display
  sbomify/apps/controls/services/public_service.py
  sbomify/apps/controls/templates/controls/components/public_controls_summary.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/workspace_public.py
Due: ruff-format, ruff, djlint-check, djlint-lint

security(controls): fix IDOR, path traversal, public visibility, bulk DoS
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/schemas.py
  sbomify/apps/controls/services/catalog_service.py
  sbomify/apps/controls/services/status_service.py
  sbomify/apps/controls/views.py
Due: ruff-format, ruff

fix(controls): bulk_create, precompute count, schema fix, Alpine.js convention
  sbomify/apps/controls/schemas.py
  sbomify/apps/controls/services/catalog_service.py
  sbomify/apps/controls/templates/controls/controls_table.html.j2
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
  sbomify/apps/controls/tests/test_apis.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(controls): register controls API router
  sbomify/apis.py
Due: ruff-format, ruff

fix(controls): replace Jinja2 set/selectattr with Django template tags
  sbomify/apps/controls/templates/controls/controls_table.html.j2
Due: djlint-check, djlint-lint

fix(controls): semantic tokens, escapejs, control_id bug, catalog_version
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/schemas.py
  sbomify/apps/controls/templates/controls/components/public_controls_summary.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(controls): add product-level controls section to product detail page
  sbomify/apps/controls/templates/controls/components/product_controls_section.html.j2
  sbomify/apps/controls/urls.py
  sbomify/apps/controls/views.py
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/views/product_details_private.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(controls): fix NoReverseMatch on product detail — pass team_key/product_id in product_controls context
  sbomify/apps/controls/templates/controls/components/product_controls_section.html.j2
  sbomify/apps/controls/views.py
  sbomify/apps/core/views/product_details_private.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(ui): move Compliance Controls above Releases on product page
  sbomify/apps/core/templates/core/product_details_private.html.j2
Due: djlint-check, djlint-lint
