Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix PermissionDeniedError description: 403 is Forbidden, not Unauthorized
  AGENTS.md
Due: markdownlint

clarify that API router file naming is not universal (e.g. licensing uses api.py)
  AGENTS.md
Due: markdownlint

address Copilot review: soften absolute rules to match codebase reality
  AGENTS.md
Due: markdownlint

revert H1 heading back to "AGENTS.md"
  AGENTS.md
Due: markdownlint

Add vulnerability scanning enablement screencast
  screencasts/vulnerability_scanning.py
Due: ruff-format, ruff

Address review feedback: DRY helpers, shell script robustness, docker compose -p
  CLAUDE.md
  bin/record_screencasts.sh
  screencasts/conftest.py
  screencasts/document_upload.py
  screencasts/product_creation.py
  screencasts/trust_center_setup.py
  screencasts/workspace_deletion.py
Due: markdownlint, ruff-format, ruff

Fix chromium healthcheck by installing curl in Docker image
  screencasts/Dockerfile.chromium
Due: none

feat: add trust center subdomain routing
  .env.example
  docker-compose.yml
  sbomify/apps/core/middleware.py
  sbomify/apps/core/templatetags/public_url_tags.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/utils.py
  sbomify/apps/tea/wellknown.py
  sbomify/apps/teams/branding.py
  sbomify/apps/teams/migrations/0031_add_team_slug.py
  sbomify/apps/teams/migrations/0032_populate_team_slugs.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/team_settings.py
  sbomify/settings.py
  sbomify/test_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Add screencasts CI workflow, fix pagination warning, simplify vuln scanning screencast
  .github/workflows/screencasts.yml
  screencasts/vulnerability_scanning.py
Due: ruff-format, ruff

feat: show vulnerability scanning hint to admins on trust center
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/views/workspace_public.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: address Copilot review feedback on trust center subdomain routing
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_trust_center_subdomain_middleware.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/tea/wellknown.py
  sbomify/apps/teams/migrations/0032_populate_team_slugs.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

Address review feedback: robust CI health checks and cleanup
  .github/workflows/screencasts.yml
Due: none

fix: address second round of Copilot review feedback
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_trust_center_subdomain_middleware.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/teams/models.py
Due: ruff-format, ruff

Clean up Playwright temp videos before uploading artifacts
  .github/workflows/screencasts.yml
Due: none

Add timeouts to Redis and Chromium health check loops
  .github/workflows/screencasts.yml
Due: none

fix: address third round of Copilot review feedback
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_url_utils.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/teams/migrations/0032_populate_team_slugs.py
Due: ruff-format, ruff

fix: address fourth round of Copilot review feedback
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_url_utils.py
  sbomify/apps/teams/views/team_settings.py
  sbomify/settings.py
Due: ruff-format, ruff

fix: use urlparse for TRUST_CENTER_DOMAIN hostname normalization
  sbomify/apps/core/middleware.py
  sbomify/settings.py
Due: ruff-format, ruff

feat: add trust center subdomain validation to on-demand TLS endpoint
  sbomify/apps/teams/apis.py
Due: ruff-format, ruff

fix: handle scheme-prefixed TRUST_CENTER_DOMAIN in urlparse normalization
  sbomify/settings.py
Due: ruff-format, ruff

fix: address fifth round of Copilot review feedback
  sbomify/apps/core/url_utils.py
  sbomify/apps/teams/apis.py
  sbomify/settings.py
Due: ruff-format, ruff

refactor: move slug regex to module-level and parameterize trust center URL scheme
  sbomify/apps/core/url_utils.py
  sbomify/apps/teams/apis.py
Due: ruff-format, ruff

docs: fix build_custom_domain_url docstring to reflect validated-only behavior
  sbomify/apps/core/url_utils.py
Due: ruff-format, ruff

fix: preserve port in TRUST_CENTER_DOMAIN for local/dev usage
  sbomify/settings.py
Due: ruff-format, ruff

feat: expose TEI URN on product detail pages
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/views/product_details_private.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: address review feedback for TEI URN feature
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: address copilot review feedback on TEI URN feature
  sbomify/apps/core/tests/test_product_details_public_view.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

remove redundant str() wrapper on Product ID (already a CharField)
  sbomify/apps/core/views/product_details_public.py
Due: ruff-format, ruff

address review findings: fix redundant query, add private view and edge case tests
  sbomify/apps/core/tests/test_product_details_public_view.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

widen team_id type annotation to include None
  sbomify/apps/tea/mappers.py
Due: ruff-format, ruff

address review: .only() on Team query, move private tests to dedicated module
  sbomify/apps/core/tests/test_product_details_private_view.py
  sbomify/apps/core/tests/test_product_details_public_view.py
  sbomify/apps/tea/mappers.py
Due: ruff-format, ruff

guard TEI URN behind is_public check to prevent unresolvable URNs
  sbomify/apps/core/tests/test_product_details_private_view.py
  sbomify/apps/core/views/product_details_private.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

rename misleading private_team/private_product fixtures to team/product
  sbomify/apps/core/tests/test_product_details_private_view.py
Due: ruff-format, ruff

use product UUID in TEI URNs instead of NanoID
  sbomify/apps/core/tests/test_product_details_private_view.py
  sbomify/apps/core/tests/test_product_details_public_view.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

enforce is_public from DB in get_product_tei_urn
  sbomify/apps/core/views/product_details_private.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

make is_public a required kwarg in build_product_tei_urn
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

guard TEI URN on team.is_public to match TEA endpoint visibility
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff

short-circuit product query when team cannot produce a TEI URN
  sbomify/apps/tea/mappers.py
Due: ruff-format, ruff

fix: resolve 403 on vulnerability trends for cross-workspace components
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

fix: block guest members in cross-workspace component trends path
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
