Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

Update keycloak/themes/sbomify/login/login-update-profile.ftl
  keycloak/themes/sbomify/login/login-update-profile.ftl
Due: none

Update sbomify/templates/socialaccount/authentication_error.html
  sbomify/templates/socialaccount/authentication_error.html
Due: none

Update keycloak/themes/sbomify/theme.properties
  keycloak/themes/sbomify/theme.properties
Due: none

Enhance sbomify theme with improved password validation and toast notifications
  keycloak/themes/sbomify/login/components.ftl
  keycloak/themes/sbomify/login/info.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/resources/js/toast.js
Due: bun-lint

Update keycloak/themes/sbomify/login/components.ftl
  keycloak/themes/sbomify/login/components.ftl
Due: none

Update sbomify/apps/core/templates/core/sidebar.html.j2
  sbomify/apps/core/templates/core/sidebar.html.j2
Due: djlint-check, djlint-lint

Update keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.css
Due: none

Enhance password validation and add authentication error template
  keycloak/themes/sbomify/login/components.ftl
  sbomify/templates/socialaccount/authentication_error.html.j2
Due: djlint-check, djlint-lint

Update login messages and styles in sbomify theme
  keycloak/themes/sbomify/login/messages/Messages.properties
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
Due: none

Update keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
Due: none

Refactor sbomify theme by removing toast notifications
  keycloak/themes/sbomify/login/components.ftl
  keycloak/themes/sbomify/login/info.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/resources/js/toast.js
Due: bun-lint

Enhance password confirmation validation in sbomify theme
  keycloak/themes/sbomify/login/components.ftl
Due: none

Add Keycloak sbomify theme and login templates
  bin/keycloak-bootstrap.sh
  keycloak/README.md
  keycloak/themes/sbomify/login/error.ftl
  keycloak/themes/sbomify/login/forgot-password.ftl
  keycloak/themes/sbomify/login/info.ftl
  keycloak/themes/sbomify/login/login-config.ftl
  keycloak/themes/sbomify/login/login-idp-link-confirm.ftl
  keycloak/themes/sbomify/login/login-idp-link-email.ftl
  keycloak/themes/sbomify/login/login-page-expired.ftl
  keycloak/themes/sbomify/login/login-update-profile.ftl
  keycloak/themes/sbomify/login/login-username.ftl
  keycloak/themes/sbomify/login/login-verify-email.ftl
  keycloak/themes/sbomify/login/login.ftl
  keycloak/themes/sbomify/login/messages/Messages.properties
  keycloak/themes/sbomify/login/register.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/terms.ftl
  keycloak/themes/sbomify/login/update-email.ftl
  keycloak/themes/sbomify/login/update-password.ftl
  keycloak/themes/sbomify/login/verify-email.ftl
  keycloak/themes/sbomify/theme.properties
  sbomify/apps/core/apis.py
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/templates/socialaccount/authentication_error.html
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Add formScripts macro to streamline form handling in Keycloak sbomify theme
  keycloak/themes/sbomify/login/components.ftl
  keycloak/themes/sbomify/login/forgot-password.ftl
  keycloak/themes/sbomify/login/login-update-profile.ftl
  keycloak/themes/sbomify/login/login-username.ftl
  keycloak/themes/sbomify/login/login.ftl
  keycloak/themes/sbomify/login/register.ftl
  keycloak/themes/sbomify/login/update-password.ftl
Due: none

Update keycloak/themes/sbomify/login/error.ftl
  keycloak/themes/sbomify/login/error.ftl
Due: none

Refactor error and warning message styles in Keycloak sbomify theme
  keycloak/themes/sbomify/login/error.ftl
  keycloak/themes/sbomify/login/login-idp-link-confirm.ftl
  keycloak/themes/sbomify/login/login-page-expired.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Update keycloak/themes/sbomify/login/info.ftl
  keycloak/themes/sbomify/login/info.ftl
Due: none

Update keycloak/themes/sbomify/login/login-config.ftl
  keycloak/themes/sbomify/login/login-config.ftl
Due: none

Update sbomify/apps/core/apis.py
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Refactor sidebar template and update login messages
  keycloak/themes/sbomify/login/messages/Messages.properties
  sbomify/apps/core/templates/core/sidebar.html.j2
Due: djlint-check, djlint-lint

Enhance user experience in sbomify theme login templates
  keycloak/themes/sbomify/login/components.ftl
  keycloak/themes/sbomify/login/info.ftl
  keycloak/themes/sbomify/login/login-idp-link-confirm.ftl
  keycloak/themes/sbomify/login/login-update-profile.ftl
  keycloak/themes/sbomify/login/messages/Messages.properties
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/templates/socialaccount/authentication_error.html
Due: ruff-format, ruff, djlint-check, djlint-lint

Add email verification content macro to sbomify theme
  keycloak/themes/sbomify/login/components.ftl
  keycloak/themes/sbomify/login/login-verify-email.ftl
  keycloak/themes/sbomify/login/register.ftl
  keycloak/themes/sbomify/login/verify-email.ftl
Due: none

Remove redundant feature section from sbomify theme registration template
  keycloak/themes/sbomify/login/register.ftl
Due: none
