Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

Refactor sbomify templates and update dependencies
  bun.lock
  package.json
  sbomify/apps/core/apis.py
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/components_table.html.j2
  sbomify/apps/core/templates/core/products_table.html.j2
  sbomify/apps/core/templates/core/projects_table.html.j2
  sbomify/apps/core/templates/core/releases_table.html.j2
  sbomify/apps/sboms/tests/test_views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Add Tailwind and PostCSS configuration files to Dockerfile
  Dockerfile
Due: none

Add plugin dependency system and BSI TR-03183-2 compliance plugin
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/__init__.py
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/checksum.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/cra.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/migrations/0003_add_plugin_dependencies.py
  sbomify/apps/plugins/models.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/sdk/base.py
  sbomify/apps/plugins/tests/test_bsi_plugin.py
  sbomify/apps/plugins/tests/test_cra_plugin.py
  sbomify/apps/plugins/tests/test_orchestrator.py
Due: ruff-format, ruff

Address Copilot review feedback
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/tests/test_bsi_plugin.py
Due: ruff-format, ruff

Use DependencyStatus type annotation for consistency
  sbomify/apps/plugins/orchestrator.py
Due: ruff-format, ruff

Address additional Copilot feedback
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/orchestrator.py
Due: ruff-format, ruff

Enhance date picker component and UI elements
  sbomify/apps/core/js/components/date-picker.ts
  sbomify/apps/core/js/components/product-releases.ts
  sbomify/apps/core/templates/components/tw/card.html.j2
  sbomify/apps/core/templates/core/components/component_meta_info_display.html.j2
  sbomify/apps/core/templates/core/components/product_releases.html.j2
  sbomify/apps/core/templates/core/components/standard_card.html.j2
  sbomify/apps/core/templates/core/product_releases_private.html.j2
  sbomify/apps/core/templates/core/tw_test.html.j2
  sbomify/static/css/tailwind.src.css
  sbomify/templates/components/date_picker.html.j2
Due: bun-lint, djlint-check, djlint-lint

Refactor alert system to use native toasts and confirmation modals
  bun.lock
  package.json
  sbomify/apps/core/js/alerts.spec.ts
  sbomify/apps/core/js/alerts.ts
  sbomify/apps/core/js/components/site-notifications.ts
  sbomify/apps/core/js/django-messages.ts
  sbomify/apps/core/js/utils.spec.ts
  sbomify/apps/core/templates/components/tw/confirm_modal.html.j2
  sbomify/apps/core/templates/components/tw/toast_container.html.j2
  sbomify/apps/core/templates/core/base.html.j2
Due: bun-lint, djlint-check, djlint-lint

Add tests for TeamPricingService and enhance UI components
  sbomify/apps/billing/tests/test_team_pricing_service.py
  sbomify/apps/core/js/components/release-artifacts.ts
  sbomify/apps/core/js/constants/colors.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/theme-manager.ts
  sbomify/apps/core/templates/components/tw/toast_container.html.j2
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/component_item_public.html.j2
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/core/templates/core/components/public_product_projects.html.j2
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/tw_test.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/tests/test_release_apis.py
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/documents/templates/documents/request_access.html.j2
  sbomify/apps/documents/templates/documents/sign_nda.html.j2
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/apps/sboms/tests/test_sboms_table_service.py
  sbomify/apps/teams/branding.py
  sbomify/apps/teams/js/team-branding.spec.ts
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/contact_profiles/profile_form.html.j2
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/tests/test_branding.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/tests/test_template_filters.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/team_settings.py
  sbomify/static/css/tailwind.src.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Add user account self-deletion feature for GDPR compliance
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/js/components/account-danger-zone.ts
  sbomify/apps/core/keycloak_utils.py
  sbomify/apps/core/services/account_deletion.py
  sbomify/apps/core/templates/core/settings.html.j2
  sbomify/apps/core/tests/test_account_deletion.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Add conftest.py for core tests to avoid noqa comments
  sbomify/apps/core/tests/conftest.py
  sbomify/apps/core/tests/test_account_deletion.py
Due: ruff-format, ruff

Simplify conftest.py to import from shared_fixtures
  sbomify/apps/core/tests/conftest.py
Due: ruff-format, ruff

Address Copilot feedback: improve security and code quality
  sbomify/apps/core/services/account_deletion.py
  sbomify/apps/core/tests/test_account_deletion.py
Due: ruff-format, ruff

Refactor tooltip implementation across templates to use x-tooltip directive
  sbomify/apps/core/templates/core/sidebar.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_badge.html.j2
  sbomify/apps/plugins/templates/plugins/components/public_assessment_icon.html.j2
  sbomify/apps/sboms/templates/sboms/components/ci_cd_info.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/partials/alpine_components.html.j2
  sbomify/static/css/components.css
Due: djlint-check, djlint-lint

Refactor billing email notifications and templates
  sbomify/apps/billing/email_notifications.py
  sbomify/apps/billing/templates/billing/emails/base.html.j2
  sbomify/apps/billing/templates/billing/emails/payment_failed.html.j2
  sbomify/apps/billing/templates/billing/emails/payment_failed.txt
  sbomify/apps/billing/templates/billing/emails/payment_past_due.html.j2
  sbomify/apps/billing/templates/billing/emails/payment_past_due.txt
  sbomify/apps/billing/templates/billing/emails/payment_succeeded.html.j2
  sbomify/apps/billing/templates/billing/emails/payment_succeeded.txt
  sbomify/apps/billing/templates/billing/emails/subscription_cancelled.html.j2
  sbomify/apps/billing/templates/billing/emails/subscription_cancelled.txt
  sbomify/apps/billing/templates/billing/emails/subscription_ended.html.j2
  sbomify/apps/billing/templates/billing/emails/subscription_ended.txt
  sbomify/apps/billing/templates/billing/emails/test_template.html.j2
  sbomify/apps/billing/templates/billing/emails/trial_ending.html.j2
  sbomify/apps/billing/templates/billing/emails/trial_ending.txt
  sbomify/apps/billing/templates/billing/emails/trial_expired.html.j2
  sbomify/apps/billing/templates/billing/emails/trial_expired.txt
  sbomify/apps/billing/tests/test_email_notifications.py
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/templates/documents/emails/access_approved.html.j2
  sbomify/apps/documents/templates/documents/emails/access_approved.txt
  sbomify/apps/documents/templates/documents/emails/access_rejected.html.j2
  sbomify/apps/documents/templates/documents/emails/access_rejected.txt
  sbomify/apps/documents/templates/documents/emails/access_request_notification.html.j2
  sbomify/apps/documents/templates/documents/emails/access_request_notification.txt
  sbomify/apps/documents/templates/documents/emails/access_revoked.html.j2
  sbomify/apps/documents/templates/documents/emails/access_revoked.txt
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/onboarding/templates/onboarding/emails/welcome.txt
  sbomify/apps/teams/templates/teams/emails/new_user_email.html.j2
  sbomify/apps/teams/templates/teams/emails/new_user_email.txt
  sbomify/apps/teams/templates/teams/emails/team_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/team_invite_email.txt
  sbomify/apps/teams/templates/teams/emails/trust_center_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/trust_center_invite_email.txt
Due: ruff-format, ruff, djlint-check, djlint-lint

Remove unused utility functions and streamline component tests
  sbomify/apps/core/js/components/workspace-switcher.spec.ts
  sbomify/apps/core/js/composables/useCommonUtils.spec.ts
  sbomify/apps/core/js/composables/useCommonUtils.ts
  sbomify/apps/core/js/composables/useUrlGeneration.ts
  sbomify/apps/core/static/js/main.ts
  sbomify/apps/core/static/js/notifications.js
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/components/copyable_value.html.j2
  sbomify/apps/core/templates/core/components/file_drag_and_drop.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/project_details_private.html.j2
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/core/templates/core/topnav.html.j2
  sbomify/apps/core/templates/core/user_dropdown.html.j2
  sbomify/apps/plugins/js/assessment-results-card.spec.ts
  sbomify/apps/plugins/js/assessment-results-card.ts
  sbomify/apps/sboms/templates/sboms/components/ci_cd_info.html.j2
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/static/css/apps/billing/plan-selection.css
  sbomify/static/css/components.css
  sbomify/static/css/components/sbomify/static/css/components/assessment-badge.css
  sbomify/static/css/components/sbomify/static/css/components/assessment-results-card.css
  sbomify/static/css/components/sbomify/static/css/components/public-status-toggle.css
  sbomify/static/css/components/sbomify/static/css/components/vulnerability-trends.css
  sbomify/static/fonts/agrandir.woff2
  sbomify/static/img/photos/unsplash-1.jpg
  sbomify/static/img/photos/unsplash-2.jpg
  sbomify/static/img/photos/unsplash-3.jpg
Due: bun-lint, djlint-check, djlint-lint

Refactor plan selection and remove unused console logs
  sbomify/apps/billing/js/plan-selection.ts
  sbomify/apps/core/js/components/components-list.spec.ts
  sbomify/apps/core/js/components/editable-single-field.spec.ts
  sbomify/apps/core/js/components/item-assignment-manager.spec.ts
  sbomify/apps/core/js/components/items-list-table.spec.ts
  sbomify/apps/core/js/components/pagination-controls.spec.ts
  sbomify/apps/core/js/components/plan-card.spec.ts
  sbomify/apps/core/js/components/standard-card.spec.ts
  sbomify/apps/core/js/htmx-lifecycle.ts
  sbomify/apps/core/js/notifications-modal.ts
  sbomify/apps/core/js/tooltip.ts
  sbomify/apps/core/templates/socialaccount/authentication_error.html.j2
  sbomify/apps/teams/js/team-branding.ts
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/static/css/components/assessment-badge.css
  sbomify/static/css/components/assessment-results-card.css
  sbomify/static/css/main.css
Due: bun-lint, djlint-check, djlint-lint

Refactor Danger Zone components for improved styling and consistency
  sbomify/apps/core/templates/components/component_danger_zone.html.j2
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/components/project_danger_zone.html.j2
  sbomify/apps/core/templates/components/release_danger_zone.html.j2
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
  sbomify/apps/teams/templates/teams/components/team_danger_zone.html.j2
  sbomify/static/css/tailwind.src.css
Due: djlint-check, djlint-lint

feat: add reusable confirm modal component and improve UI consistency
  keycloak/themes/sbomify/login/update-password.ftl
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/js/alpine-tooltip.ts
  sbomify/apps/core/js/components/confirm-modal.ts
  sbomify/apps/core/js/components/item-assignment-manager.ts
  sbomify/apps/core/js/components/product-releases.ts
  sbomify/apps/core/templates/components/tw/confirm_modal.html.j2
  sbomify/apps/core/templates/core/components/standard_card.html.j2
  sbomify/apps/core/templates/core/components/workspace_health.html.j2
Due: bun-lint, djlint-check, djlint-lint

Refactor Tailwind CSS integration and add Alpine.js tooltip tests
  sbomify/apps/core/js/alpine-tooltip.spec.ts
  sbomify/apps/core/js/alpine-tooltip.ts
  sbomify/apps/core/js/constants/colors.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/js/theme-manager.ts
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/components/component_meta_info_editor.html.j2
  sbomify/apps/core/templates/core/components/component_visibility_selector.html.j2
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/components/product_lifecycle_card.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/tw_test.html.j2
  sbomify/assets/css/tailwind.src.css
  vite.config.ts
Due: bun-lint, djlint-check, djlint-lint

Refactor product details and recent activity templates for improved styling
  sbomify/apps/core/templates/core/components/recent_activity.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
Due: djlint-check, djlint-lint

Enhance asset management and improve UI component styling
  Dockerfile
  sbomify/apps/core/js/components/item-assignment-manager.ts
  sbomify/apps/core/templates/core/components/quick_actions.html.j2
  sbomify/apps/core/templates/core/components/recent_activity.html.j2
Due: bun-lint, djlint-check, djlint-lint

Enhance sbomify email themes and templates
  bin/keycloak-bootstrap.sh
  keycloak/themes/sbomify/email/html/email-verification.ftl
  keycloak/themes/sbomify/email/html/executeActions.ftl
  keycloak/themes/sbomify/email/html/password-reset.ftl
  keycloak/themes/sbomify/email/html/template.ftl
  keycloak/themes/sbomify/email/text/email-verification.ftl
  keycloak/themes/sbomify/email/text/executeActions.ftl
  keycloak/themes/sbomify/email/text/password-reset.ftl
  keycloak/themes/sbomify/email/theme.properties
  sbomify/apps/billing/templates/billing/emails/subscription_ended.html.j2
  sbomify/apps/billing/templates/billing/emails/subscription_ended.txt
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Refactor email templates for improved readability
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/apps/documents/templates/documents/emails/access_approved.html.j2
  sbomify/apps/documents/templates/documents/emails/access_rejected.html.j2
  sbomify/apps/documents/templates/documents/emails/access_request_notification.html.j2
  sbomify/apps/documents/templates/documents/emails/access_revoked.html.j2
  sbomify/apps/teams/templates/teams/emails/team_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/team_invite_email.txt
  sbomify/apps/teams/templates/teams/emails/trust_center_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/trust_center_invite_email.txt
Due: djlint-check, djlint-lint

Standardize base URL handling in email contexts
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Enhance component schemas and improve UI templates
  sbomify/apps/core/js/components/product-releases.spec.ts
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/components/pending_items.html.j2
  sbomify/apps/core/templates/core/components/quick_actions.html.j2
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/sboms/templates/sboms/components/ci_cd_info.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Remove flowbite dependency and clean up Tailwind CSS configuration
  bun.lock
  package.json
  tailwind.config.js
Due: bun-lint

Refactor form modal template for improved structure and readability
  sbomify/templates/components/modals/form_modal.html.j2
Due: djlint-check, djlint-lint

Enhance plan selection template with improved button logic and user feedback
  sbomify/apps/billing/templates/billing/select_plan.html.j2
Due: djlint-check, djlint-lint
