Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix(products): mark only the zero the page cannot stand behind
  sbomify/apps/core/services/product_page.py
  sbomify/apps/core/templates/core/cotton_probes/layout.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/product_content.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[992].jpg
  sbomify/apps/core/tests/test_cotton_layout.py
  sbomify/apps/core/tests/test_product_metrics_unmeasured.py
  sbomify/apps/core/tests/test_product_page_service.py
  sbomify/templates/components/layout/stat_card.html
Due: ruff-format, ruff, djlint-check, djlint-lint

style: djlint format the assessments card template
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
Due: djlint-check, djlint-lint

fix(assessments): stop the card's swap settings reaching the findings panels
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
Due: djlint-check, djlint-lint

fix(tasks): hand delayed messages back after a dropped Redis connection
  sbomify/apps/core/tests/test_dramatiq_broker.py
  sbomify/dramatiq_broker.py
  sbomify/settings.py
Due: ruff-format, ruff

Bound the assessments response instead of returning every run ever
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/schemas.py
  sbomify/apps/plugins/tests/test_assessment_history_bounds.py
Due: ruff-format, ruff

fix(trends): send a browser hit to the page that hosts the fragment
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_trends_page.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(trends): show a failed chart load, and offer a way back
  sbomify/apps/core/templates/core/dashboard_trends.html.j2
  sbomify/apps/core/tests/e2e/test_dashboard.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Re-apply VEX to the current runs, not to every run ever stored
  sbomify/apps/vulnerability_scanning/tests/test_vex_reapply_scope.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

fix(sboms): hold the compiled SPDX 3 gate to unevaluatedProperties
  sbomify/apps/sboms/spdx3_validation.py
  sbomify/apps/sboms/tests/test_spdx3_validator_budget.py
Due: ruff-format, ruff

fix(trends): keep the filters and the chart view in the page URL
  docs/prototype-ui-migration.md
  sbomify/apps/core/templates/core/dashboard_trends.html.j2
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/core/tests/test_dashboard_chrome.py
  sbomify/apps/core/views/dashboard.py
  sbomify/apps/vulnerability_scanning/js/vulnerability-chart.spec.ts
  sbomify/apps/vulnerability_scanning/js/vulnerability-chart.ts
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/vulnerability_trends.html.j2
Due: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Offload superseded assessment result payloads to object storage
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/management/commands/offload_assessment_results.py
  sbomify/apps/plugins/management/commands/verify_offloaded_results.py
  sbomify/apps/plugins/migrations/0019_assessmentrun_result_object_key.py
  sbomify/apps/plugins/models.py
  sbomify/apps/plugins/offload.py
  sbomify/apps/plugins/result_store.py
  sbomify/apps/plugins/tests/test_result_offload.py
Due: ruff-format, ruff

fix(overview): let each panel say what it is showing
  sbomify/apps/core/services/dashboard_page.py
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/product_content.html.j2
  sbomify/apps/core/tests/e2e/test_component_colours.py
  sbomify/apps/core/tests/test_overview_panels_state_their_scope.py
  sbomify/apps/core/tests/test_product_page_service.py
  sbomify/templates/components/overview/priority.html
  sbomify/templates/components/overview/products.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(sboms): validate SPDX 3.0.0 uploads against the official 3.0.0 schema
  sbomify/apps/sboms/sbom_format_schemas/README.md
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/schemas/spdx_3.0.0-schema.json
  sbomify/apps/sboms/spdx3_validation.py
  sbomify/apps/sboms/tests/test_data/README.md
  sbomify/apps/sboms/tests/test_data/yocto_core-image-minimal.spdx3.0.0.json
  sbomify/apps/sboms/tests/test_spdx3_upload_validation.py
  sbomify/apps/sboms/tests/test_spdx3_validator_budget.py
Due: markdownlint, ruff-format, ruff

fix(sboms): close SPDX 3 objects in the compiled gate and bound the messages
  sbomify/apps/sboms/spdx3_validation.py
  sbomify/apps/sboms/tests/test_spdx3_validator_budget.py
Due: ruff-format, ruff

test(core): pin the gzip token gate's order, claims and scheme
  sbomify/apps/core/tests/test_gzip_middleware_limits.py
Due: ruff-format, ruff

fix(core): refuse a compressed body in the API's JSON error shape
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_gzip_middleware_limits.py
Due: ruff-format, ruff

test(sboms): pin the public-SBOM scope denial and later gated states
  sbomify/apps/sboms/tests/test_download_token_scope.py
Due: ruff-format, ruff

fix(billing): decide subscription events from the locked workspace row
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/test_resubscribe_single_subscription.py
Due: ruff-format, ruff

Give each TEA mount its own URL namespace
  sbomify/apps/core/urls.py
  sbomify/apps/tea/tests/test_openapi_surface.py
  sbomify/apps/tea/urls.py
Due: ruff-format, ruff

fix(billing): stop the sync rescheduling a finished downgrade
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/tests/test_stripe_sync.py
Due: ruff-format, ruff

fix(vulns): a CycloneDX VEX can scope a statement by CPE
  sbomify/apps/vulnerability_scanning/tests/test_vex_cpe_identity.py
  sbomify/apps/vulnerability_scanning/vex.py
  sbomify/apps/vulnerability_scanning/vex_formats.py
Due: ruff-format, ruff

fix(vulns): drift tells two CPE-scoped statements apart
  sbomify/apps/vulnerability_scanning/drift.py
  sbomify/apps/vulnerability_scanning/tests/test_vex_drift.py
Due: ruff-format, ruff

fix(billing): clear a schedule the sync left on a Community workspace
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/tests/test_stripe_sync.py
Due: ruff-format, ruff

fix(cbom): key the release CBOM cache on the CBOMs its build reads
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_cbom_download_visibility.py
  sbomify/apps/sboms/cbom.py
Due: ruff-format, ruff

fix(billing): keep the stored schedule for every ended subscription
  sbomify/apps/billing/stripe_sync.py
  sbomify/apps/billing/tests/test_stripe_sync.py
Due: ruff-format, ruff

test(core): cover signed-in callers without release access on CBOM downloads
  sbomify/apps/core/tests/test_cbom_download_visibility.py
Due: ruff-format, ruff

test(billing): pin two rules of the locked-row change
  sbomify/apps/billing/tests/test_resubscribe_single_subscription.py
Due: ruff-format, ruff

test(billing): pin the token scope gate on change-plan
  sbomify/apps/billing/tests/test_api.py
Due: ruff-format, ruff

test(billing): run the change-plan scope gate without a subscription
  sbomify/apps/billing/tests/test_api.py
Due: ruff-format, ruff

fix(tasks): treat a Redis timeout as a lost connection
  sbomify/apps/core/tests/test_dramatiq_broker.py
  sbomify/dramatiq_broker.py
Due: ruff-format, ruff

refactor(tasks): name redis-py's exceptions through redis.exceptions
  sbomify/apps/core/tests/test_dramatiq_broker.py
  sbomify/dramatiq_broker.py
Due: ruff-format, ruff

fix(sboms): cap the work jsonschema spends naming SPDX 3 violations
  sbomify/apps/sboms/spdx3_validation.py
  sbomify/apps/sboms/tests/test_spdx3_validator_budget.py
Due: ruff-format, ruff

test(tasks): skip the broker tests where no Redis answers
  sbomify/apps/core/tests/test_dramatiq_broker.py
Due: ruff-format, ruff

test(tasks): close the Redis client each broker test opens
  sbomify/apps/core/tests/test_dramatiq_broker.py
Due: ruff-format, ruff

test(overview): accept the two baselines this change actually moves
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[576].jpg
Due: none

fix(billing): the portal and plan selection treat incomplete_expired as ended
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/tests/test_views.py
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

fix(overview): stop reporting an unscanned workspace as zero vulnerabilities
  sbomify/apps/core/services/dashboard_page.py
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/tests/test_overview_metrics_unmeasured.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(billing): resolve the workspace for a deleted event as update events do
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/test_billing_processing.py
  sbomify/apps/billing/tests/test_resubscribe_single_subscription.py
Due: ruff-format, ruff

Refresh the three baselines that carry both sides of the merge
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[375].jpg
Due: none

fix(assessments): refresh the whole artifact region, keeping what the reader holds
  sbomify/apps/core/js/alpine-init.ts
  sbomify/apps/core/js/components/open-assessments-store.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/htmx-morph-preserve.spec.ts
  sbomify/apps/core/js/htmx-morph-preserve.ts
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/tests/e2e/test_sbom_vulnerabilities.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
  sbomify/apps/plugins/tests/test_assessment_results_card_refresh.py
  sbomify/apps/plugins/urls.py
  sbomify/apps/plugins/views.py
  sbomify/apps/vulnerability_scanning/tasks/__init__.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
