Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

refactor(authz): gate two surfaces on the action, not a picked tier
  sbomify/apps/security_advisories/services/trust_center.py
  sbomify/apps/security_advisories/tests/test_trust_center.py
  sbomify/apps/vulnerability_scanning/notifications.py
  sbomify/apps/vulnerability_scanning/tests/test_vex_drift.py
Due: ruff-format, ruff

refactor(authz): the last role literals, and a guardrail that sees them
  sbomify/apps/compliance/permissions.py
  sbomify/apps/core/tests/test_authz.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(keycloak): auth pages on v2 tokens, and actually rendering
  bin/keycloak-bootstrap.sh
  keycloak/README.md
  keycloak/tailwind.config.ts
  keycloak/themes/sbomify/login/components.ftl
  keycloak/themes/sbomify/login/forgot-password.ftl
  keycloak/themes/sbomify/login/login-reset-password.ftl
  keycloak/themes/sbomify/login/login-update-password.ftl
  keycloak/themes/sbomify/login/login-username.ftl
  keycloak/themes/sbomify/login/login.ftl
  keycloak/themes/sbomify/login/messages/Messages.properties
  keycloak/themes/sbomify/login/messages/messages_en.properties
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/template.ftl
  keycloak/themes/sbomify/login/update-password.ftl
  keycloak/themes/sbomify/login/verify-email.ftl
  keycloak/themes/sbomify/theme.properties
Due: bun-lint, markdownlint

test(sboms): the vulnerability column pins five branches now
  sbomify/apps/sboms/tests/test_vulnerability_column_branches.py
Due: ruff-format, ruff

test(core): the public HBOM download scenario uses a listable component
  sbomify/apps/core/tests/test_release_hbom_download_ui.py
Due: ruff-format, ruff

docs(ui): one section in AGENTS.md instead of four documents
  .claude/skills/design-system/SKILL.md
  AGENTS.md
  docs/component-library.md
  docs/design-system-audit.md
  docs/design-system-conversion-brief.md
  docs/design-system.md
  keycloak/README.md
Due: markdownlint

style(templates): djlint reformat after the upstream merge
  sbomify/apps/teams/templates/teams/team_settings_tabs/members.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
Due: djlint-check, djlint-lint

feat(header, forms): the profile menu and colour picker, redesigned
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/cotton_probes/forms.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/topnav.html.j2
  sbomify/apps/core/templates/core/user_dropdown.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_onboarding_setup_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_onboarding_setup_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_onboarding_setup_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_onboarding_setup_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_members_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_members_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_members_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_members_snapshot[992].jpg
  sbomify/apps/core/tests/test_cotton_dropdowns_chips.py
  sbomify/apps/core/tests/test_cotton_forms.py
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/assets/css/tailwind.src.css
  sbomify/templates/components/dropdowns/dropdown.html
  sbomify/templates/components/forms/color_field.html
Due: ruff-format, ruff, djlint-check, djlint-lint

test(e2e): baselines for the branding page and the releases list
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[992].jpg
Due: none

feat(branded): a component library for pages we render on a user's behalf
  AGENTS.md
  sbomify/apps/core/templates/core/cotton_probes/branded.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templatetags/brand_tags.py
  sbomify/apps/core/tests/test_cotton_branded.py
  sbomify/apps/core/views/design_system.py
  sbomify/apps/teams/branding.py
  sbomify/apps/teams/tests/test_branding.py
  sbomify/templates/components/branded/badge.html
  sbomify/templates/components/branded/buttons/button.html
  sbomify/templates/components/branded/buttons/primary.html
  sbomify/templates/components/branded/buttons/secondary.html
  sbomify/templates/components/branded/nav.html
  sbomify/templates/components/branded/nav_item.html
  sbomify/templates/components/branded/notice.html
  sbomify/templates/components/branded/surface.html
  sbomify/templates/components/branded/theme.html
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

fix(branded): rebuild the set around one component, one thing
  sbomify/apps/core/templates/core/cotton_probes/branded.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/test_cotton_branded.py
  sbomify/templates/components/branded/badge.html
  sbomify/templates/components/branded/list_row.html
  sbomify/templates/components/branded/page_header.html
  sbomify/templates/components/branded/section_header.html
  sbomify/templates/components/branded/stat.html
  sbomify/templates/components/branded/stats.html
  sbomify/templates/components/branded/surface.html
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(trust-center): the date range uses the app's own field
  AGENTS.md
  sbomify/apps/core/templates/core/components/trust_center/advisories_browse.html.j2
Due: markdownlint, djlint-check, djlint-lint

refactor(trust-center): nav and restricted notice compose branded components
  sbomify/apps/core/templates/core/components/trust_center/advisories_browse.html.j2
  sbomify/apps/core/templates/core/components/trust_center/nav.html.j2
  sbomify/apps/core/templates/core/components/trust_center/restricted_notice.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: djlint-check, djlint-lint

refactor(trust-center): the landing page composes components
  sbomify/apps/core/templates/core/components/trust_center/advisory_row.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
Due: djlint-check, djlint-lint

style(trust-center): djlint reformat of the landing page
  sbomify/apps/core/templates/core/workspace_public.html.j2
Due: djlint-check, djlint-lint

refactor(trust-center): the date range uses the app's date picker
  sbomify/apps/core/templates/core/components/trust_center/advisories_browse.html.j2
Due: djlint-check, djlint-lint

style(trust-center): djlint reformat of the advisory filters
  sbomify/apps/core/templates/core/components/trust_center/advisories_browse.html.j2
Due: djlint-check, djlint-lint

fix(trust-center): mb-4 lost to the legacy sheet, and the guard could not see it
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/tests/test_cotton_branded.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(deploy): Helm chart for running sbomify on Kubernetes
  .dockerignore
  .github/workflows/ci-cd.yml
  .github/workflows/helm.yml
  README.md
  bin/kind-up.sh
  bin/release.py
  charts/sbomify/.helmignore
  charts/sbomify/Chart.yaml
  charts/sbomify/README.md
  charts/sbomify/templates/NOTES.txt
  charts/sbomify/templates/_helpers.tpl
  charts/sbomify/templates/_validation.tpl
  charts/sbomify/templates/caddy-configmap.yaml
  charts/sbomify/templates/caddy-deployment.yaml
  charts/sbomify/templates/caddy-service.yaml
  charts/sbomify/templates/configmap.yaml
  charts/sbomify/templates/deployment-scheduler.yaml
  charts/sbomify/templates/deployment-web.yaml
  charts/sbomify/templates/deployment-worker.yaml
  charts/sbomify/templates/hpa.yaml
  charts/sbomify/templates/job-migrations-hookenv.yaml
  charts/sbomify/templates/job-migrations.yaml
  charts/sbomify/templates/networkpolicy.yaml
  charts/sbomify/templates/poddisruptionbudget.yaml
  charts/sbomify/templates/secret.yaml
  charts/sbomify/templates/service.yaml
  charts/sbomify/templates/serviceaccount.yaml
  charts/sbomify/templates/tests/test-edge.yaml
  charts/sbomify/templates/tests/test-health.yaml
  charts/sbomify/values-local.yaml
  charts/sbomify/values.yaml
  deploy/local/dependencies.yaml
  deploy/local/kind-cluster.yaml
  sbomify/apps/core/tests/test_release_script.py
Due: markdownlint, ruff-format, ruff

fix(trust-center): the products section lost its spacing
  sbomify/apps/core/templates/core/workspace_public.html.j2
Due: djlint-check, djlint-lint

refactor(branded): buttons belong to the app, not this library
  AGENTS.md
  sbomify/apps/core/templates/core/components/trust_center/restricted_notice.html.j2
  sbomify/apps/core/templates/core/cotton_probes/branded.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/tests/test_cotton_branded.py
  sbomify/templates/components/branded/buttons/button.html
  sbomify/templates/components/branded/buttons/primary.html
  sbomify/templates/components/branded/buttons/secondary.html
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

docs(screencasts): correct the count in the skill's UI-rot examples
  .claude/skills/narrated-screencast/SKILL.md
Due: markdownlint

fix(authz): gate the new advisory form on the live role, not the session
  sbomify/apps/core/views/security_advisories.py
Due: ruff-format, ruff

test(sboms): anchor the vulnerability-cell slice on its first guard
  sbomify/apps/sboms/tests/test_vulnerability_column_branches.py
Due: ruff-format, ruff

fix(deploy): CI failures, review feedback, and a Kubernetes linter
  .github/workflows/helm.yml
  bin/kind-up.sh
  bin/release.py
  charts/sbomify/.kube-linter.yaml
  charts/sbomify/README.md
  charts/sbomify/templates/_helpers.tpl
  charts/sbomify/templates/_validation.tpl
  charts/sbomify/templates/configmap.yaml
  charts/sbomify/templates/deployment-web.yaml
  charts/sbomify/templates/networkpolicy.yaml
  charts/sbomify/templates/poddisruptionbudget.yaml
  charts/sbomify/values-local.yaml
  charts/sbomify/values.yaml
  deploy/local/coredns-rewrite.sh
Due: markdownlint, ruff-format, ruff

test(core): the HBOM detail page names its kind in the download control
  sbomify/apps/core/tests/test_hbom_release_and_detail.py
Due: ruff-format, ruff

fix(deploy): copy rules, pinned images, and keyless object storage
  .github/workflows/helm.yml
  README.md
  bin/kind-up.sh
  bin/release.py
  charts/sbomify/.kube-linter.yaml
  charts/sbomify/README.md
  charts/sbomify/templates/_helpers.tpl
  charts/sbomify/templates/_validation.tpl
  charts/sbomify/templates/configmap.yaml
  charts/sbomify/templates/networkpolicy.yaml
  charts/sbomify/templates/poddisruptionbudget.yaml
  charts/sbomify/templates/secret.yaml
  charts/sbomify/values-local.yaml
  charts/sbomify/values.yaml
  deploy/local/coredns-rewrite.sh
  deploy/local/dependencies.yaml
Due: markdownlint, ruff-format, ruff

fix(releases): the compare selector shows at every width
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_snapshot[375].jpg
Due: djlint-check, djlint-lint

test(sboms): drop a half-sentence left over from the old anchor comment
  sbomify/apps/sboms/tests/test_vulnerability_column_branches.py
Due: ruff-format, ruff

options
  docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
Due: markdownlint

docs: expand ADR-0007 alternatives with django-storages detail and obstore
  docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
Due: markdownlint

Update docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
  docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
Due: markdownlint

docs: add ADR-0007 GCS support and cloud workload identity
  docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
Due: markdownlint

take signing in to considereation
  docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
Due: markdownlint

fix(deploy): three suppressed review findings
  charts/sbomify/templates/caddy-configmap.yaml
  deploy/local/coredns-rewrite.sh
  deploy/local/dependencies.yaml
Due: none
