Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix(plugins): count runs saved before the summary columns on the badge
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/latest.py
  sbomify/apps/plugins/public_assessment_utils.py
  sbomify/apps/plugins/tests/test_summary_only_reads.py
Due: ruff-format, ruff

fix(onboarding): a fresh handoff is a live send, not an orphan
  sbomify/apps/onboarding/models.py
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

Word the machine codes that were reaching the page raw
  sbomify/apps/controls/views.py
  sbomify/apps/core/services/security_snapshot.py
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/tests/test_utils.py
  sbomify/apps/core/utils.py
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/plugins/tests/test_templatetags.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/services/vex_documents.py
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/posture.py
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_operational_findings.py
  sbomify/apps/vulnerability_scanning/tests/test_views_scans.py
  sbomify/apps/vulnerability_scanning/utils.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(admin): cover the bot exclusion in the users-per-workspace chart
  sbomify/apps/core/tests/test_admin_dashboard.py
Due: ruff-format, ruff

fix(onboarding): the write that records a send's outcome is retried
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

Keep the VEX preview's state field, and make the enum test bite
  sbomify/apps/plugins/tests/test_templatetags.py
  sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/tests/test_triage.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(onboarding): a database outage while stamping the handoff is not a send failure
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(onboarding): an outcome nobody could record does not end the attempt
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

Regenerate the scans baselines, and stop the fixture naming a plugin that does not exist
  sbomify/apps/core/templatetags/utils.py
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(vulns): call the page Vulnerabilities
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/core/tests/templates/test_base_template.py
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/templates/components/chrome/sidebar.html
  sbomify/templates/components/overview/priority.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(ui): cap the width of compact selects
  sbomify/templates/components/forms/select.html
  sbomify/templates/components/inventory/filters.html
Due: none

test(e2e): regenerate baselines for the Vulnerabilities page
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_open_vulnerabilities_dark_1920.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_open_vulnerabilities_dark_375.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_open_vulnerabilities_dark_576.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_open_vulnerabilities_dark_992.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_open_vulnerabilities_light_1920.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_open_vulnerabilities_light_375.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_open_vulnerabilities_light_576.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_open_vulnerabilities_light_992.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[992].jpg
Due: none

fix(ui): keep the select size run intact after the width cap
  sbomify/apps/core/tests/test_cotton_forms.py
  sbomify/templates/components/forms/select.html
Due: ruff-format, ruff

fix(plugins): read the error marker the scanner actually writes
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_failed_scan_backoff.py
Due: ruff-format, ruff

fix(vulns): give vulnerability rows one order, across loads and pages
  sbomify/apps/core/services/security_snapshot.py
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_vulnerability_scans.py
  sbomify/apps/vulnerability_scanning/services/workspace_vulnerabilities.py
  sbomify/apps/vulnerability_scanning/tests/test_workspace_vulnerabilities.py
Due: ruff-format, ruff

test(plugins): give the backdated runs the provenance a real one carries
  sbomify/apps/plugins/tests/test_failed_scan_backoff.py
Due: ruff-format, ruff

docs(plugins): say what each half of the bound actually bounds
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_failed_scan_backoff.py
Due: ruff-format, ruff

test(ui): pin that the fragment guard leaves sign-in in charge of htmx reads
  sbomify/apps/core/tests/test_htmx_fragments.py
Due: ruff-format, ruff

perf(plugins): make the streak query one indexed probe per SBOM
  sbomify/apps/plugins/migrations/0020_assessmentrun_plugins_run_sbom_settled_idx.py
  sbomify/apps/plugins/models.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_failed_scan_backoff.py
Due: ruff-format, ruff

perf(plugins): make the probe's LIMIT exact with a partial index
  sbomify/apps/plugins/migrations/0020_assessmentrun_plugins_run_sbom_settled_idx.py
  sbomify/apps/plugins/models.py
  sbomify/apps/plugins/tests/test_failed_scan_backoff.py
Due: ruff-format, ruff

fix(plugins): depend on master's 0020, not the 0019 it branched from
  sbomify/apps/plugins/migrations/0021_assessmentrun_plugins_run_sbom_settled_idx.py
Due: ruff-format, ruff

fix(cache): a full connection pool is not a Redis outage
  sbomify/apps/core/tests/test_cache_outage.py
  sbomify/settings.py
Due: ruff-format, ruff

test(vulnerabilities): register the scanner the scans page tests make up
  sbomify/apps/vulnerability_scanning/tests/test_views_scans.py
Due: ruff-format, ruff

test(core): read the session key master renamed
  sbomify/apps/core/tests/test_views.py
Due: ruff-format, ruff

fix(vulnerabilities): keep the report row's purl when OSV ran last
  sbomify/apps/sboms/services/vulnerability_report.py
  sbomify/apps/sboms/tests/test_sbom_vulnerabilities_view.py
Due: ruff-format, ruff

Don't tell a documents-only workspace its scans came back clean
  sbomify/apps/core/services/dashboard_page.py
  sbomify/apps/core/tests/test_dashboard_page_service.py
  sbomify/apps/core/tests/test_overview_priority_panel.py
  sbomify/templates/components/overview/priority.html
Due: ruff-format, ruff

fix(plugins): keep plan-gated plugins when the settings page is saved
  sbomify/apps/core/apis.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/services/access.py
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/apps/plugins/tests/test_plugin_settings_survive_a_downgrade.py
  sbomify/apps/plugins/views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(ui): give the radius scale one home so public pages stop forking it
  AGENTS.md
  docs/ui-change-considerations.md
  sbomify/apps/billing/templates/billing/_enterprise_contact_form.html.j2
  sbomify/apps/compliance/templates/compliance/components/public_doc_link.html.j2
  sbomify/apps/compliance/templates/compliance/components/public_vdp_link.html.j2
  sbomify/apps/core/templates/core/access_denied_message.html.j2
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/component_details_public_sbom.html.j2
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/templates/core/trust_center_advisory_detail.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[992].jpg
  sbomify/apps/core/tests/test_cotton_badges_tags.py
  sbomify/apps/core/tests/test_cotton_branded.py
  sbomify/apps/core/tests/test_cotton_feedback.py
  sbomify/apps/core/tests/test_cotton_forms.py
  sbomify/apps/core/tests/test_cotton_tables.py
  sbomify/assets/css/tailwind.src.css
  sbomify/static/css/tokens.css
  sbomify/templates/components/badges/badge.html
  sbomify/templates/components/cards/header.html
  sbomify/templates/components/feedback/alert.html
  sbomify/templates/components/feedback/empty_state.html
  sbomify/templates/components/forms/search_input.html
  sbomify/templates/components/forms/select.html
  sbomify/templates/components/layout/stat_card.html
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

test(tea): ask both mounts for their schema and docs in both orders
  sbomify/apps/tea/tests/test_openapi_surface.py
Due: ruff-format, ruff

fix(onboarding): swallow only database errors when closing between outcome writes
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

test(plugins): cover the readers that skip a plugin the plan pauses
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/plugins/tests/test_plugin_settings_survive_a_downgrade.py
Due: ruff-format, ruff

test(vex): pin the finding rows when two release contexts are re-annotated
  sbomify/apps/vulnerability_scanning/tests/test_vex_reapply_scope.py
Due: ruff-format, ruff

fix(integrations): six defects from the latest review round
  sbomify/apps/integrations/oauth.py
  sbomify/apps/integrations/services/connections.py
  sbomify/apps/integrations/services/sync.py
  sbomify/apps/integrations/services/vanta_sync.py
  sbomify/apps/integrations/tasks/__init__.py
  sbomify/apps/integrations/tests/test_connections.py
  sbomify/apps/integrations/tests/test_settings_tab.py
  sbomify/apps/integrations/tests/test_sync_runner.py
  sbomify/apps/integrations/tests/test_vanta_sync.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/integrations.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(vulnerability-scanning): count runs whose summary columns were never filled
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/tests/test_dashboard_blob_reads.py
Due: ruff-format, ruff

Use American English in log and exception prose too
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/views.py
  sbomify/apps/plugins/apis.py
  sbomify/apps/teams/migrations/0041_member_role.py
Due: ruff-format, ruff

fix(artifact): morph the artifact region in place so a broadcast keeps the open panel
  sbomify/apps/core/js/htmx-morph-preserve.spec.ts
  sbomify/apps/core/js/htmx-morph-preserve.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/tests/e2e/test_sbom_vulnerabilities.py
Due: bun-lint, ruff-format, ruff

test(overview): take the 375px dashboard baseline from CI's render
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
Due: none

fix(overview): state the ranking only when the digest lists something
  sbomify/apps/core/tests/test_overview_panels_state_their_scope.py
  sbomify/templates/components/overview/priority.html
Due: ruff-format, ruff

Register the plugins the scan-view tests scan with
  sbomify/apps/vulnerability_scanning/tests/test_views_scans.py
Due: ruff-format, ruff
