Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

Update tests for subscription handling to include `cancel_at` field
  sbomify/apps/billing/tests/test_billing_processing.py
Due: ruff-format, ruff

Address PR review feedback for plugin queue optimization
  sbomify/apps/plugins/signals.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_models.py
Due: ruff-format, ruff

Address PR comments: fix webhook_id generation, error handling, test patches, and test naming
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/test_billing_processing.py
  sbomify/apps/billing/tests/test_views.py
Due: ruff-format, ruff

Improve comment clarity for team_key capture in signal handler
  sbomify/apps/plugins/signals.py
Due: ruff-format, ruff

Update sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/billing_processing.py
Due: ruff-format, ruff

Add clarifying comment for direct database update in test
  sbomify/apps/plugins/tests/test_models.py
Due: ruff-format, ruff

Refactor webhook ID generation in subscription deletion handling
  sbomify/apps/billing/billing_processing.py
Due: ruff-format, ruff

Simplify footer by removing version badges and moving build info to HTML comment
  sbomify/apps/core/templates/core/components/footer.html.j2
  sbomify/static/css/layout.css
  sbomify/static/css/responsive.css
Due: djlint-check, djlint-lint

Move build comment outside cache block to ensure dynamic build info
  sbomify/apps/core/templates/core/components/footer.html.j2
Due: djlint-check, djlint-lint

Fix social cards with proper 1200x630 image and meta tags
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/static/img/sbomify-social.png
Due: djlint-check, djlint-lint

Fix missing component context in component item view
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff

Fix SPDX SBOMs not being tagged to releases
  .github/workflows/ci-cd.yml
Due: none

Fix admin dashboard sidebar being pushed down
  sbomify/apps/core/templates/admin/index.html
  sbomify/templates/admin/index.html
Due: none

Fix dashboard paying teams count and restyle admin to match webapp
  sbomify/apps/core/admin.py
  sbomify/apps/core/tests/test_admin_dashboard.py
  sbomify/templates/admin/base_site.html
  sbomify/templates/admin/dashboard.html
  sbomify/templates/admin/dashboard_base.html
  sbomify/templates/admin/dashboard_billing.html
  sbomify/templates/admin/dashboard_funnel.html
  sbomify/templates/admin/dashboard_growth.html
  sbomify/templates/admin/dashboard_health.html
Due: ruff-format, ruff

Enhance NDA management and access request notifications
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/documents/templates/documents/emails/access_revoked.html.j2
  sbomify/apps/documents/templates/documents/emails/access_revoked.txt
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Comprehensive Django admin theme matching webapp design system
  sbomify/templates/admin/base_site.html
Due: none

Reduce admin table and header sizes for better density
  sbomify/templates/admin/base_site.html
Due: none

Simplify admin theme: color overrides only, preserve original sizing
  sbomify/templates/admin/base_site.html
Due: none

Enhance access control and UI for access requests
  sbomify/apps/core/services/access_control.py
  sbomify/apps/documents/templates/documents/request_access.html.j2
  sbomify/apps/documents/templates/documents/sign_nda.html.j2
  sbomify/static/css/request-access.css
  sbomify/static/css/sign-nda.css
Due: ruff-format, ruff, djlint-check, djlint-lint

Implement tests for revoked access requests and NDA signature management
  sbomify/apps/core/tests/test_access_control_service.py
  sbomify/apps/documents/tests/test_access_requests.py
  sbomify/apps/documents/tests/test_access_revocation_signature.py
Due: ruff-format, ruff

Fix linting issues: remove unused variables and imports
  sbomify/apps/core/tests/test_access_control_service.py
  sbomify/apps/documents/tests/test_access_revocation_signature.py
Due: ruff-format, ruff

Fix social banner URLs for public Trust Center pages
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/tests/test_workspace_public_view.py
Due: ruff-format, ruff, djlint-check, djlint-lint

removes accidental file
  1q
Due: none

Fix social banner tests to handle multi-line HTML attributes
  sbomify/apps/core/tests/test_workspace_public_view.py
Due: ruff-format, ruff

Release v0.25.1
  pyproject.toml
  uv.lock
Due: none

Add WebSocket support for real-time UI updates
  Caddyfile
  Caddyfile.dev
  pyproject.toml
  sbomify/apps/core/apis.py
  sbomify/apps/core/consumers.py
  sbomify/apps/core/js/alpine-init.ts
  sbomify/apps/core/js/components/site-notifications.ts
  sbomify/apps/core/js/components/websocket-store.ts
  sbomify/apps/core/routing.py
  sbomify/apps/core/templates/core/components/product_releases.html.j2
  sbomify/apps/core/templates/core/dashboard_base.html.j2
  sbomify/apps/core/templates/core/dashboard_base.htmx.j2
  sbomify/apps/core/tests/test_asgi.py
  sbomify/apps/core/tests/test_broadcast.py
  sbomify/apps/core/tests/test_consumers.py
  sbomify/apps/core/utils.py
  sbomify/apps/documents/apis.py
  sbomify/apps/documents/services/documents.py
  sbomify/apps/documents/templates/documents/documents_table.html.j2
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/services/sboms.py
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table.html.j2
  sbomify/apps/vulnerability_scanning/tasks/__init__.py
  sbomify/asgi.py
  sbomify/settings.py
  uv.lock
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Add WebSocket support for access request status updates
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/documents/access_apis.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Refactor retry mechanism to use generic RetryLaterError in SDK
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/sdk/__init__.py
  sbomify/apps/plugins/sdk/base.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
Due: ruff-format, ruff

Fix PR review feedback: event path and memory leak
  sbomify/apps/core/js/components/item-assignment-manager.ts
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
Due: bun-lint, djlint-check, djlint-lint

Address PR 662 code review feedback
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/tasks/__init__.py
Due: ruff-format, ruff

Remove unused imports and variables in tests
  sbomify/apps/core/tests/test_asgi.py
  sbomify/apps/core/tests/test_broadcast.py
Due: ruff-format, ruff

Remove unused AsyncMock import in test_asgi.py
  sbomify/apps/core/tests/test_asgi.py
Due: ruff-format, ruff

Address PR review feedback for WebSocket implementation
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/item-assignment-manager.ts
  sbomify/apps/core/js/components/site-notifications.ts
  sbomify/apps/core/js/components/websocket-store.ts
Due: bun-lint, ruff-format, ruff

Address PR review feedback: robustness and reliability improvements
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/site-notifications.ts
  sbomify/apps/core/templates/core/components_table.html.j2
  sbomify/apps/core/tests/test_broadcast.py
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/vulnerability_scanning/tasks/__init__.py
  sbomify/settings.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Update Python version requirements to 3.13 in configuration files
  .github/workflows/ci-cd.yml
  README.md
  pyproject.toml
  uv.lock
Due: markdownlint

Address PR review feedback: improve WebSocket reliability and consistency
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/site-notifications.ts
Due: bun-lint, ruff-format, ruff

Add stylelint configuration and custom rules for CSS linting
  .stylelintignore
  .stylelintrc.cjs
  bun.lock
  package.json
  sbomify/static/css/components.css
  sbomify/static/css/components/contacts-editor.css
  sbomify/static/css/components/licenses-editor.css
  sbomify/static/css/components/public-page-layout.css
  sbomify/static/css/components/supplier-editor.css
  sbomify/static/css/public-pages.css
  sbomify/static/css/tokens.css
  stylelint-custom-rules.cjs
Due: none

Refactor CSS styles for improved consistency and maintainability
  sbomify/static/css/apps/billing/plan-selection.css
  sbomify/static/css/components-dashboard.css
  sbomify/static/css/components/ci-cd-info.css
  sbomify/static/css/components/danger_zones.css
  sbomify/static/css/components/delete_modal.css
  sbomify/static/css/components/documents-table.css
  sbomify/static/css/components/file-drag-and-drop.css
  sbomify/static/css/components/public-compliance-badge.css
  sbomify/static/css/components/public-page-layout.css
  sbomify/static/css/components/public-product-projects.css
  sbomify/static/css/components/public-project-components.css
  sbomify/static/css/components/team-billing.css
  sbomify/static/css/components/team-branding.css
  sbomify/static/css/components/team-invitations.css
  sbomify/static/css/components/team-members.css
  sbomify/static/css/components/vulnerability-settings.css
  sbomify/static/css/layout.css
  sbomify/static/css/pages.css
  sbomify/static/css/product-releases-private.css
  sbomify/static/css/product-releases-public.css
  sbomify/static/css/projects-dashboard.css
  sbomify/static/css/public-base.css
  sbomify/static/css/public-pages.css
  sbomify/static/css/release-details-private.css
  sbomify/static/css/release-details-public.css
  sbomify/static/css/releases-dashboard.css
  sbomify/static/css/responsive.css
Due: none

Update CSS styles to replace hardcoded Bootstrap colors with brand colors
  sbomify/static/css/components/assessment-badge.css
  sbomify/static/css/components/assessment-results-card.css
  sbomify/static/css/components/contact-profiles.css
  sbomify/static/css/components/documents-table.css
  sbomify/static/css/components/onboarding-wizard.css
  sbomify/static/css/components/pagination-controls.css
  sbomify/static/css/components/plugin-settings.css
  sbomify/static/css/components/public-status-toggle.css
  sbomify/static/css/components/sbom-upload.css
  sbomify/static/css/components/sboms-table.css
  sbomify/static/css/components/vulnerability-scans.css
  sbomify/static/css/components/vulnerability-trends.css
  sbomify/static/css/layout.css
  sbomify/static/css/tokens.css
Due: none
