Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

Add end-to-end test fixtures for dashboard components, products, projects, SBOMs, and scan results
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/core/views/dashboard.py
Due: ruff-format, ruff

Update CI/CD workflow by removing artifact upload on test failure, adjust screenshot assertion threshold to 1%, and enhance dashboard view logic for onboarding redirection.
  .github/workflows/ci-cd.yml
  .gitignore
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/views/dashboard.py
Due: ruff-format, ruff

Add end-to-end snapshot testing documentation to README and remove unused test fixtures from dashboard tests
  README.md
  sbomify/apps/core/tests/e2e/test_dashboard.py
Due: markdownlint, ruff-format, ruff

Update README to include additional notes on snapshot testing and example command for deleting outdated snapshots
  README.md
Due: markdownlint

Added: more e2e screenshot tests
  docker-compose.tests.yml
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/e2e/test_critical_paths.py
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/core/tests/e2e/test_products.py
  sbomify/test_settings.py
Due: ruff-format, ruff

Debug
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
Due: none

Add Docker Compose step for test environment setup in CI/CD workflow
  .github/workflows/ci-cd.yml
Due: none

Add Bun installation and build steps to CI/CD workflow for JavaScript assets
  .github/workflows/ci-cd.yml
Due: none

Fixes pull from tags/versions
  bin/deploy.sh
Due: none

Updated snapshots
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[992].jpg
Due: none

Enhance README with prerequisites for running tests and E2E snapshot tests, including Docker and asset build instructions.
  README.md
Due: markdownlint

Refactor screenshot handling in end-to-end tests to use Path type for image paths, ensuring type consistency and improving clarity in the screenshot management functions.
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Adds ADR004
  docs/ADR/ADR-003.md
  docs/ADR/ADR-004.md
Due: markdownlint

Add artifact upload step for E2E test diffs in CI/CD workflow
  .github/workflows/ci-cd.yml
Due: none

Enhance assert_screenshot function to conditionally delete diff images based on a new parameter, improving flexibility in end-to-end test image management.
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Refactor assert_screenshot function parameters in end-to-end tests for clarity and consistency, updating variable names to better reflect their purpose.
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Add favicon.ico support for webapp
  bin/generate-favicons
  sbomify/static/img/favicons/android-chrome-192x192.png
  sbomify/static/img/favicons/android-chrome-512x512.png
  sbomify/static/img/favicons/apple-touch-icon.png
  sbomify/static/img/favicons/favicon-16x16.png
  sbomify/static/img/favicons/favicon-32x32.png
  sbomify/static/img/favicons/favicon.ico
  sbomify/urls.py
Due: ruff-format, ruff

Add django-htmx template tag and script to fix infinite loading
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: djlint-check, djlint-lint

Add Chromium service to Docker Compose for E2E tests and update Playwright CDP endpoint configuration. Refactor screenshot handling to improve stability and clarity in tests.
  docker-compose.tests.yml
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/core/tests/e2e/utils.py
  sbomify/test_settings.py
Due: ruff-format, ruff

Update screenshot handling in E2E tests to increase wait timeout and capture full-page screenshots. Update multiple snapshot images to reflect changes in rendering.
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/utils.py
Due: ruff-format, ruff

Rename test database service in Docker Compose configuration for clarity and consistency.
  docker-compose.tests.yml
Due: none

Revert debug
  .github/workflows/ci-cd.yml
  .github/workflows/codeql.yml
Due: none

Refactor browser fixture in E2E tests to simplify parameters by removing unnecessary browser type launch arguments.
  sbomify/apps/core/tests/e2e/conftest.py
Due: ruff-format, ruff

Added: more e2e screenshot tests and improvements (#544)
  .github/workflows/ci-cd.yml
  README.md
  docker-compose.tests.yml
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/e2e/test_critical_paths.py
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/core/tests/e2e/test_products.py
  sbomify/apps/core/tests/e2e/utils.py
  sbomify/test_settings.py
Due: markdownlint, ruff-format, ruff

New: e2e snapshot tests for Project pages
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_projects_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_projects_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_projects_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_projects_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/e2e/test_projects.py
Due: ruff-format, ruff

New: e2e snapshot tests for Project pages (#547)
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_project_public_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_projects_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_projects_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_projects_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_projects_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/e2e/test_projects.py
Due: ruff-format, ruff

Update docker-compose.tests.yml to expose Chromium ports instead of host mode
  .github/workflows/ci-cd.yml
  docker-compose.tests.yml
  pyproject.toml
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/core/tests/e2e/test_products.py
  sbomify/apps/core/tests/e2e/test_projects.py
  sbomify/test_settings.py
Due: ruff-format, ruff

Refactor: Simplify page navigation in snapshot test by removing live server dependency
  README.md
Due: markdownlint

Update product link uniqueness constraint to allow duplicates across products
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/sboms/migrations/0039_alter_productlink_unique_together.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

Fix: Update migration to properly handle unique constraints for ProductLink
  sbomify/apps/sboms/migrations/0039_alter_productlink_unique_together.py
Due: ruff-format, ruff

Refactor: Update docker-compose configuration for tests
  .github/workflows/ci-cd.yml
  docker-compose.tests.yml
Due: none

Enhance CI/CD workflow: Add Docker Compose step for test environment setup and update test service configuration
  .github/workflows/ci-cd.yml
  docker-compose.tests.yml
Due: none

Refactor CI/CD workflow: Update Docker Compose commands for test execution and remove static file collection step
  .github/workflows/ci-cd.yml
Due: none

Update README and CI/CD workflow: Simplify asset build instructions and add detailed steps for running E2E snapshot tests using Docker Compose.
  .github/workflows/ci-cd.yml
  README.md
Due: markdownlint

Fix: lint errors
  README.md
Due: markdownlint

Fix: ruff lint errors
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/core/views/component_details_public.py
Due: ruff-format, ruff

Update sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/core/tests/e2e/conftest.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
