Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix(a11y): stop a disabled select-row fading the reason it is disabled
  sbomify/apps/compliance/templates/compliance/cra_step_1.html.j2
  sbomify/apps/core/tests/e2e/test_plugins.py
  sbomify/apps/core/tests/test_cotton_layout.py
  sbomify/templates/components/layout/select_row.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(products): compute release postures for the shown releases only
  sbomify/apps/core/services/product_page.py
  sbomify/apps/core/tests/test_product_page_service.py
Due: ruff-format, ruff

fix(onboarding): a mail outage no longer costs a user their email
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tasks/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(onboarding): read a refusal by its reply code, and stop retrying templates
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

test(onboarding): pin the mixed-refusal rule, and name the template test for what it asserts
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

style(onboarding): name SMTPException alongside OSError in the transport rule
  sbomify/apps/onboarding/services/__init__.py
Due: ruff-format, ruff

fix(onboarding): classify every server answer by its code, not by its class
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tasks/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(onboarding): only a broken template is caught while rendering
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(overview): invalidate the key the dashboard reads, and only claim a real mismatch
  sbomify/apps/core/services/dashboard_page.py
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/test_dashboard_page_service.py
  sbomify/apps/core/tests/test_overview_panels_state_their_scope.py
  sbomify/apps/teams/services/settings_page.py
  sbomify/apps/teams/tests/test_settings_page.py
  sbomify/templates/components/overview/products.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(billing): only the Community downgrade is told its subscription ends
  sbomify/apps/billing/tests/test_plan_card_downgrade_alert.py
  sbomify/apps/core/templates/core/cotton_probes/billing_plan_card.html.j2
  sbomify/templates/components/billing/plan_card.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(vulns): drop the unreachable processing branch and its timer reloads
  sbomify/apps/sboms/services/vulnerability_report.py
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(trust-center): take the timeline dot colours from the status tokens
  sbomify/apps/core/tests/test_trust_center_css.py
  sbomify/static/css/trust-center.css
Due: ruff-format, ruff

fix(ui): run the theme script before first paint behind Cloudflare
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/tests/test_prepaint_scripts.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(vex): keep the re-apply's count across the merge
  sbomify/apps/vulnerability_scanning/tasks/__init__.py
Due: ruff-format, ruff

fix(onboarding): retry a mixed refusal, and classify a transient render failure
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

docs(onboarding): the send contract says it can raise
  sbomify/apps/onboarding/services/__init__.py
Due: ruff-format, ruff

fix(onboarding): a database outage is retryable wherever it surfaces
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tasks/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(onboarding): an InterfaceError in the eligibility check is not "not eligible"
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(triage): show a saved decision in the rows it was made from
  sbomify/apps/core/templates/core/components/component_vulnerabilities_table.html.j2
  sbomify/apps/core/tests/e2e/test_sbom_vulnerabilities.py
  sbomify/apps/core/views/component_vulnerabilities.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_findings.html.j2
  sbomify/apps/plugins/views.py
  sbomify/apps/sboms/services/vulnerability_report.py
  sbomify/apps/sboms/templates/sboms/components/scan_vulnerabilities.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(a11y): derive the greyed row from its control, and pin the ratios
  sbomify/apps/compliance/templates/compliance/cra_step_1.html.j2
  sbomify/apps/core/templates/core/cotton_probes/layout.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/e2e/test_cra_compliance.py
  sbomify/apps/core/tests/e2e/test_plugins.py
  sbomify/apps/core/tests/test_cotton_layout.py
  sbomify/apps/core/tests/test_select_row_contrast.py
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/templates/components/layout/select_row.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(settings): address the settings, billing and workspaces UI review
  sbomify/apps/billing/plan_features.py
  sbomify/apps/billing/services/plan_selection.py
  sbomify/apps/billing/team_pricing_service.py
  sbomify/apps/billing/templates/billing/select_plan.html.j2
  sbomify/apps/billing/tests/test_plan_selection_service.py
  sbomify/apps/billing/tests/test_team_pricing_service.py
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
  sbomify/apps/core/templates/core/components/copy_token.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/test_cotton_cards.py
  sbomify/apps/core/views/design_system.py
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/teams/js/team-general.ts
  sbomify/apps/teams/services/settings_page.py
  sbomify/apps/teams/settings_tabs.py
  sbomify/apps/teams/templates/teams/components/patch_sla_form.html.j2
  sbomify/apps/teams/templates/teams/components/security_txt_form.html.j2
  sbomify/apps/teams/templates/teams/components/token_row.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/partials/alpine_components.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_form.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_list.html.j2
  sbomify/apps/teams/templates/teams/dashboard.html.j2
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/account.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/billing.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/members.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
  sbomify/apps/teams/templatetags/teams.py
  sbomify/apps/teams/tests/test_team_general.py
  sbomify/apps/teams/tests/test_template_filters.py
  sbomify/apps/teams/views/team_general.py
  sbomify/templates/components/badges/role.html
  sbomify/templates/components/billing/plan_card.html
  sbomify/templates/components/cards/dangerzone_collapsible.html
  sbomify/templates/components/forms/field.html
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(overview): clear the cache entry the overview reads after a patch SLA change
  sbomify/apps/core/services/dashboard_page.py
  sbomify/apps/teams/services/settings_page.py
  sbomify/apps/teams/tests/test_settings_page.py
Due: ruff-format, ruff

fix(vulnerability-scans): show the overview's open counts, count scans from an index
  sbomify/apps/core/services/dashboard_page.py
  sbomify/apps/plugins/migrations/0020_assessmentrun_scan_history_index.py
  sbomify/apps/plugins/models.py
  sbomify/apps/vulnerability_scanning/services/scan_history.py
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_views_scans.py
  sbomify/apps/vulnerability_scanning/views_scans.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(e2e): regenerate the vulnerability scans baselines for the open counts
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[992].jpg
Due: none

fix(billing): count downgrade seats the way the invite path counts them
  sbomify/apps/billing/services/plan_selection.py
  sbomify/apps/billing/tests/test_plan_selection_service.py
  sbomify/apps/core/templates/core/cotton_probes/badges_tags.html.j2
  sbomify/apps/core/tests/test_cotton_badges_tags.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(inventory): name each tab's page and carry the slice between tabs
  sbomify/apps/core/js/components/inventory-tabs.spec.ts
  sbomify/apps/core/js/components/inventory-tabs.ts
  sbomify/apps/core/services/inventory_page.py
  sbomify/apps/core/templates/core/products_dashboard.html.j2
  sbomify/apps/core/templates/core/products_inventory.html.j2
  sbomify/apps/core/templates/core/products_inventory_results.html.j2
  sbomify/apps/core/templates/core/products_inventory_tabs.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_components_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_releases_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_releases_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/test_critical_paths.py
  sbomify/apps/core/tests/e2e/test_inventory.py
  sbomify/apps/core/tests/e2e/test_table_sorting.py
  sbomify/apps/core/tests/test_inventory_page.py
  sbomify/templates/components/inventory/tab_link.html
  sbomify/templates/components/layout/page_header.html
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(products): give the product page its trail and the preview its columns
  sbomify/apps/core/services/product_page.py
  sbomify/apps/core/templates/core/product_content.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[1920].jpg
  sbomify/apps/core/tests/test_product_page_service.py
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(core): delete the unused products, components and releases table routes
  docs/ui-action-audit-routes.csv
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/components_dashboard.py
  sbomify/apps/core/views/products_dashboard.py
  sbomify/apps/core/views/releases_dashboard.py
Due: ruff-format, ruff

fix(ui): stop sending people to bare fragments from Spotlight and the token form
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/core/tests/test_views.py
  sbomify/apps/core/views/__init__.py
Due: ruff-format, ruff

fix(settings): correct the seat count, the inherited features and the date
  sbomify/apps/billing/plan_features.py
  sbomify/apps/billing/services/plan_selection.py
  sbomify/apps/billing/team_pricing_service.py
  sbomify/apps/billing/tests/test_plan_selection_service.py
  sbomify/apps/core/templates/core/cotton_probes/badges_tags.html.j2
  sbomify/apps/core/templates/core/cotton_probes/forms.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/test_cotton_badges_tags.py
  sbomify/apps/core/tests/test_cotton_forms.py
  sbomify/apps/teams/js/team-general.spec.ts
  sbomify/apps/teams/services/settings_page.py
  sbomify/apps/teams/templates/teams/components/patch_sla_form.html.j2
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/tests/test_branding.py
  sbomify/apps/teams/tests/test_settings_page.py
  sbomify/apps/teams/views/team_general.py
  sbomify/apps/teams/views/team_settings.py
  sbomify/templates/components/billing/plan_card.html
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(ui): answer a direct visit to an htmx fragment with a 404
  sbomify/apps/core/htmx.py
  sbomify/apps/core/tests/e2e/test_critical_paths.py
  sbomify/apps/core/tests/test_htmx_fragments.py
  sbomify/apps/core/views/component_metadata.py
  sbomify/apps/core/views/product_identifiers.py
  sbomify/apps/core/views/product_lifecycle.py
  sbomify/apps/core/views/product_links.py
  sbomify/apps/core/views/security_advisories.py
  sbomify/apps/documents/tests/test_apis.py
  sbomify/apps/documents/tests/test_views.py
  sbomify/apps/documents/views/documents_table.py
  sbomify/apps/oidc/tests/test_views.py
  sbomify/apps/oidc/views.py
  sbomify/apps/plugins/views.py
  sbomify/apps/sboms/tests/test_crypto_inventory_card.py
  sbomify/apps/sboms/tests/test_crypto_posture_card.py
  sbomify/apps/sboms/tests/test_crypto_ui.py
  sbomify/apps/sboms/tests/test_vex_documents.py
  sbomify/apps/sboms/tests/test_views.py
  sbomify/apps/sboms/views/component_crypto_posture.py
  sbomify/apps/sboms/views/sbom_crypto_inventory.py
  sbomify/apps/sboms/views/sboms_table.py
  sbomify/apps/sboms/views/vex_documents.py
  sbomify/apps/teams/tests/test_branding.py
  sbomify/apps/teams/tests/test_custom_domain_ui.py
  sbomify/apps/teams/tests/test_team_general.py
  sbomify/apps/teams/tests/test_team_tokens.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/views/contact_profiles.py
  sbomify/apps/teams/views/team_branding.py
  sbomify/apps/teams/views/team_custom_domain.py
  sbomify/apps/teams/views/team_general.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff

refactor(teams): invite and revoke through one service
  sbomify/apps/teams/services/invitations.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

feat(api): invite members to a workspace and manage pending invitations
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/tests/test_invitations_api.py
Due: ruff-format, ruff

feat(plugins): mark plugins added since a workspace last saved its plugin settings
  sbomify/apps/core/tests/e2e/conftest.py
  sbomify/apps/plugins/services/new_plugins.py
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/apps/plugins/tests/test_new_plugins.py
  sbomify/apps/plugins/views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): name the scanner that can read a CPE-only SBOM
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/tests/test_osv_no_packages.py
Due: ruff-format, ruff

fix(plugins): skip Dependency Track for a workspace that has not enabled it
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/tests/test_release_dependent_trigger.py
Due: ruff-format, ruff

test(e2e): find the scans page's open count card by its new label
  sbomify/apps/core/tests/e2e/test_number_formatting.py
Due: ruff-format, ruff

fix(ui): paint the inventory actions and search hint in their final state
  sbomify/apps/core/templates/core/products_inventory.html.j2
  sbomify/apps/core/tests/test_first_paint_stability.py
  sbomify/templates/components/chrome/search.html
  sbomify/templates/components/chrome/theme_picker.html
Due: ruff-format, ruff, djlint-check, djlint-lint

test(tea): require every documented path to be on the workspace mount
  sbomify/apps/tea/tests/test_openapi_surface.py
Due: ruff-format, ruff
