Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

Fix release UI issues - latest badge and modal improvements
  sbomify/apps/core/templates/core/components/product_releases.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/releases_dashboard.html.j2
Due: djlint-check, djlint-lint

Fix branding consistency across public pages and settings
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/templates/teams/team_custom_domain.html.j2
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/templates/teams/vulnerability_settings.html.j2
Due: djlint-check, djlint-lint

Address PR #606 review comments
  sbomify/apps/core/management/commands/inspect_product.py
  sbomify/apps/core/models.py
  sbomify/apps/core/templatetags/breadcrumb_tags.py
  sbomify/apps/core/tests/test_release_artifacts_duplicates.py
Due: ruff-format, ruff

Add manufacturer support to component metadata and SPDX test fixtures
  sbomify/apps/core/apis.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/utils.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/tests/fixtures.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/tests/test_sbom_schemas.py
Due: ruff-format, ruff

Refactor license handling flow for clarity
  sbomify/apps/sboms/schemas.py
Due: ruff-format, ruff

Revert "Fix duplicate artifacts in release page"
  sbomify/apps/core/apis.py
  sbomify/apps/core/management/commands/inspect_product.py
  sbomify/apps/core/models.py
  sbomify/apps/core/templates/core/components/product_releases.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/releases_dashboard.html.j2
  sbomify/apps/core/templatetags/breadcrumb_tags.py
  sbomify/apps/core/tests/test_release_artifacts_duplicates.py
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/templates/teams/team_custom_domain.html.j2
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/templates/teams/vulnerability_settings.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix automatic author population when selecting contact profile
  sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/core/js/component-meta-info.ts
  sbomify/apps/core/templates/core/components/component_meta_info_editor.html.j2
Due: bun-lint, djlint-check, djlint-lint

Address Copilot review feedback
  sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/core/templates/core/components/component_meta_info_editor.html.j2
Due: bun-lint, djlint-check, djlint-lint

Document reason for JSON.parse over structuredClone
  sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/core/js/component-meta-info.ts
Due: bun-lint

Sync authors from profile on metadata display and editor
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/core/js/component-meta-info.ts
  sbomify/apps/sboms/utils.py
  sbomify/apps/teams/views/__init__.py
Due: bun-lint, ruff-format, ruff

Enhance author synchronization in component metadata
  sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/tests/test_utils.py
Due: bun-lint, ruff-format, ruff

Update sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/tests/test_apis.py
Due: ruff-format, ruff

Refactor author synchronization logic in component metadata editor
  sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/core/js/component-meta-info.ts
  sbomify/apps/sboms/tests/test_apis.py
Due: bun-lint, ruff-format, ruff

Enhance component metadata editor to track unsaved changes for author updates
  sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/teams/tests/test_onboarding_wizard.py
Due: bun-lint, ruff-format, ruff

Update sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/core/js/component-meta-info-editor.ts
Due: bun-lint

Update sbomify/apps/core/js/component-meta-info.ts
  sbomify/apps/core/js/component-meta-info.ts
Due: bun-lint

Fix JSON.stringify comparison for undefined/null authors
  sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/core/js/component-meta-info.ts
Due: bun-lint

Update sbomify/apps/sboms/utils.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

Fix hasUnsavedChanges flag during initial load
  sbomify/apps/core/js/component-meta-info-editor.ts
Due: bun-lint

Update sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/tests/test_onboarding_wizard.py
Due: ruff-format, ruff

Update README.md
  README.md
Due: markdownlint

Add Azure/Jenkins CI/CD configs and auto-collapse upload sections
  sbomify/apps/sboms/js/ci-cd-info.spec.ts
  sbomify/apps/sboms/js/ci-cd-info.ts
  sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/templates/sboms/components/ci_cd_info.html.j2
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
Due: bun-lint, djlint-check, djlint-lint

Fix search bar styles for improved responsiveness
  sbomify/static/css/responsive.css
Due: none

Fix GitLab/Bitbucket script path to use sbomify-action
  sbomify/apps/sboms/js/ci-cd-info.spec.ts
  sbomify/apps/sboms/js/ci-cd-info.ts
Due: bun-lint

Refine search bar styles for better responsiveness on small screens
  sbomify/static/css/responsive.css
Due: none

Update sbomify/static/css/responsive.css
  sbomify/static/css/responsive.css
Due: none

Update teams contact profiles UI and components
  sbomify/apps/core/templates/core/settings.html.j2
  sbomify/apps/documents/js/main.ts
  sbomify/apps/plugins/js/main.ts
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/js/main.ts
  sbomify/apps/teams/templates/teams/components/team_danger_zone.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/forms/author.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/forms/contact.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/forms/entity.html.j2
  sbomify/apps/teams/views/contact_profiles.py
  sbomify/static/css/components/delete_modal.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Add Transparency Exchange API (TEA) support
  sbomify/apps/core/urls.py
  sbomify/apps/tea/__init__.py
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/apps.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/schemas.py
  sbomify/apps/tea/tests/__init__.py
  sbomify/apps/tea/tests/test_apis.py
  sbomify/apps/tea/tests/test_mappers.py
  sbomify/apps/tea/tests/test_wellknown.py
  sbomify/apps/tea/urls.py
  sbomify/apps/tea/utils.py
  sbomify/apps/tea/wellknown.py
  sbomify/apps/teams/migrations/0023_team_tea_enabled.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/views/team_settings.py
  sbomify/settings.py
  sbomify/urls.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Address PR #616 review comments
  sbomify/apps/core/js/components/site-notifications.ts
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/templates/teams/contact_profiles/forms/contact.html.j2
  sbomify/apps/teams/tests/test_contact_profiles.py
  sbomify/static/css/components/delete_modal.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Fix test failures for delete-aware mixin and formset
  sbomify/apps/teams/tests/test_contact_profiles.py
Due: ruff-format, ruff

Remove redundant registerSiteNotifications calls from app bundles
  sbomify/apps/core/js/components/site-notifications.ts
  sbomify/apps/documents/js/main.ts
  sbomify/apps/plugins/js/main.ts
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/teams/js/main.ts
Due: bun-lint

Address additional PR review comments
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/templates/teams/contact_profiles/forms/contact.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/tests/test_contact_profiles.py
  sbomify/apps/teams/views/contact_profiles.py
  sbomify/static/css/components/delete_modal.css
Due: ruff-format, ruff, djlint-check, djlint-lint

feat: Add component identifiers (Issue #402)
  sbomify/apps/core/apis.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/component_details_private_document.html.j2
  sbomify/apps/core/templates/core/component_details_private_sbom.html.j2
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/components/component_identifiers_card.html.j2
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_identifiers.py
  sbomify/apps/sboms/migrations/0043_add_component_identifiers.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/test_component_identifiers.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Update contact form validation logic
  sbomify/apps/teams/templates/teams/contact_profiles/forms/contact.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
Due: djlint-check, djlint-lint

fix: Address PR review feedback for component identifiers
  sbomify/apps/core/templates/core/components/component_identifiers_card.html.j2
  sbomify/apps/core/views/component_identifiers.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Address PR review comments: fix editing variable in contact form, clarify comments
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Address remaining PR comments: clarify self.forms availability and fix misleading getter comment
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
