Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix(keycloak): survivable email action links and a sane info-page return
  bin/keycloak-bootstrap.sh
  keycloak/themes/sbomify/login/info.ftl
Due: none

fix(keycloak): restore the restart-flow fallback on the info-page link
  keycloak/themes/sbomify/login/info.ftl
Due: none

fix(keycloak): stop printing the skipLink flag and unescape sanitized messages
  keycloak/themes/sbomify/login/error.ftl
  keycloak/themes/sbomify/login/info.ftl
Due: none

fix(keycloak): truthful link-expiry copy on pages and emails
  keycloak/themes/sbomify/email/html/email-verification.ftl
  keycloak/themes/sbomify/email/html/executeActions.ftl
  keycloak/themes/sbomify/email/html/password-reset.ftl
  keycloak/themes/sbomify/email/text/email-verification.ftl
  keycloak/themes/sbomify/email/text/executeActions.ftl
  keycloak/themes/sbomify/email/text/password-reset.ftl
  keycloak/themes/sbomify/login/components.ftl
  keycloak/themes/sbomify/login/info.ftl
Due: none

feat(components): the gallery renders entirely through components
  docs/component-library.md
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/templates/components/feedback/spinner.html
Due: markdownlint, djlint-check, djlint-lint

fix(keycloak): use the app's Figtree typeface on auth pages
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/resources/css/sbomify.src.css
  keycloak/themes/sbomify/login/template.ftl
  sbomify/static/css/fontawesome.min.css
  sbomify/static/webfonts/fa-brands-400.woff2
  sbomify/static/webfonts/fa-regular-400.woff2
  sbomify/static/webfonts/fa-solid-900.woff2
  sbomify/static/webfonts/fa-v4compatibility.woff2
Due: none

revert unrelated static font assets to master
  sbomify/static/css/fontawesome.min.css
  sbomify/static/webfonts/fa-brands-400.woff2
  sbomify/static/webfonts/fa-regular-400.woff2
  sbomify/static/webfonts/fa-solid-900.woff2
  sbomify/static/webfonts/fa-v4compatibility.woff2
Due: none

fix(keycloak): Figtree in the Tailwind preflight and a logo that survives dark mode
  keycloak/tailwind.config.ts
  keycloak/themes/sbomify/email/html/template.ftl
  keycloak/themes/sbomify/login/resources/css/sbomify.css
  keycloak/themes/sbomify/login/template.ftl
Due: bun-lint

feat(dev): dev realm uses email as username, matching production
  bin/keycloak-bootstrap.sh
Due: none

feat(dev): mirror production's registration flow in the dev realm
  bin/keycloak-bootstrap.sh
Due: none

fix(keycloak): say set your password, not change it, on activation
  keycloak/themes/sbomify/login/messages/messages_en.properties
Due: none

fix(dev): dev test users sign in with their email address
  bin/keycloak-bootstrap.sh
Due: none

refactor(products): the first page built from components
  sbomify/apps/core/templates/core/products_dashboard.html.j2
  sbomify/apps/core/templates/core/products_table.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_products_list_snapshot[375].jpg
  sbomify/apps/core/tests/test_cotton_badges_tags.py
  sbomify/apps/core/tests/test_cotton_layout.py
  sbomify/apps/core/tests/test_cotton_tables.py
  sbomify/templates/components/chips/neutral.html
  sbomify/templates/components/layout/page_header.html
  sbomify/templates/components/tables/cell.html
  sbomify/templates/components/tables/header_cell.html
  sbomify/templates/components/tables/info.html
  sbomify/templates/components/tables/page_size.html
  sbomify/templates/components/tables/search.html
  sbomify/templates/components/tables/select.html
  sbomify/templates/components/tags/tag.html
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(components-page): /components built from components
  sbomify/apps/core/templates/core/components_dashboard.html.j2
  sbomify/apps/core/templates/core/components_table.html.j2
  sbomify/apps/core/tests/test_cotton_badges_tags.py
  sbomify/templates/components/badges/badge.html
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(releases, advisories): both list pages built from components
  sbomify/apps/core/templates/core/cotton_probes/badges_tags.html.j2
  sbomify/apps/core/templates/core/cotton_probes/navigation.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/releases_dashboard.html.j2
  sbomify/apps/core/templates/core/releases_table.html.j2
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/apps/core/templates/core/security_advisories_table.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_releases_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_releases_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_releases_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_releases_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisories_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisories_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisories_list_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisories_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_releases.py
  sbomify/apps/core/tests/e2e/test_security_advisories.py
  sbomify/apps/core/tests/test_cotton_badges_tags.py
  sbomify/apps/core/tests/test_cotton_navigation.py
  sbomify/templates/components/badges/dynamic.html
  sbomify/templates/components/navigation/page_button.html
  sbomify/templates/components/navigation/page_ellipsis.html
  sbomify/templates/components/navigation/pagination.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(mcp): give each request its own DB executor and make throttles race-free
  sbomify/apps/core/tests/test_asgi.py
  sbomify/apps/mcp/auth.py
  sbomify/asgi.py
Due: ruff-format, ruff

fix(mcp): report the vulnerability numbers the dashboards report
  sbomify/apps/mcp/tests/test_risk_semantics.py
  sbomify/apps/mcp/tools/risk.py
Due: ruff-format, ruff

fix(mcp): close the gaps between what tools promise and what views enforce
  sbomify/apps/mcp/registry.py
  sbomify/apps/mcp/server.py
  sbomify/apps/mcp/tests/test_protocol.py
  sbomify/apps/mcp/tests/test_registry.py
  sbomify/apps/mcp/tests/test_write_tools.py
  sbomify/apps/mcp/tools/_base.py
  sbomify/apps/mcp/tools/artifacts.py
  sbomify/apps/mcp/tools/profiles.py
  sbomify/apps/mcp/tools/publish.py
Due: ruff-format, ruff

fix(tests): let TEST_SUBNET_PREFIX claim any /24
  docker-compose.tests.yml
Due: none

fix(osv): treat scanner error exit codes as errors, not clean scans
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/tests/test_osv_scanner_error_exit.py
Due: ruff-format, ruff

fix(plugins): back off scheduled rescans of artifacts a scanner cannot read
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_unsupported_input_backoff.py
Due: ruff-format, ruff

docs(components): how to build a page from the library
  AGENTS.md
  docs/component-library.md
  docs/design-system.md
Due: markdownlint

fix(verification): say what the attestation lookup searched for on a miss
  sbomify/apps/plugins/builtins/verification.py
  sbomify/apps/plugins/tests/test_verification_attestation_diagnostics.py
Due: ruff-format, ruff

fix(teams): cache on-demand TLS decisions per hostname
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_on_demand_tls_cache.py
Due: ruff-format, ruff

fix(core): accept the WebSocket handshake before closing it with a verdict
  sbomify/apps/core/consumers.py
  sbomify/apps/core/tests/test_consumer_close_codes.py
  sbomify/apps/core/tests/test_consumers.py
Due: ruff-format, ruff

fix(oidc): serve the last known good JWKS when GitHub is unreachable
  sbomify/apps/oidc/tests/test_jwks_fallback.py
  sbomify/apps/oidc/utils.py
Due: ruff-format, ruff

fix(billing): stop re-querying subscriptions Stripe says do not exist
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/tasks/__init__.py
  sbomify/apps/billing/tests/test_missing_subscription_reconcile.py
Due: ruff-format, ruff

fix(logging): stop doubling the sbomify prefix on logger names
  sbomify/apps/core/tests/test_logger_naming.py
  sbomify/logging.py
Due: ruff-format, ruff

fix(osv): keep the scanner's error in the line that reports it
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/tests/test_osv_stderr_logging.py
Due: ruff-format, ruff

fix(mcp): apply the max-effort review's confirmed findings
  bin/record_screencasts.sh
  sbomify/apps/core/apis.py
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/mcp/auth.py
  sbomify/apps/mcp/limits.py
  sbomify/apps/mcp/serializers.py
  sbomify/apps/mcp/server.py
  sbomify/apps/mcp/tests/conftest.py
  sbomify/apps/mcp/tests/test_protocol.py
  sbomify/apps/mcp/tests/test_registry.py
  sbomify/apps/mcp/tests/test_risk_semantics.py
  sbomify/apps/mcp/tests/test_security.py
  sbomify/apps/mcp/tools/_base.py
  sbomify/apps/mcp/tools/artifacts.py
  sbomify/apps/mcp/tools/catalog.py
  sbomify/apps/mcp/tools/profiles.py
  sbomify/apps/mcp/tools/publish.py
  sbomify/apps/mcp/tools/risk.py
Due: ruff-format, ruff

fix(onboarding): backfill the missing status row instead of stepping over it
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_missing_status_backfill.py
Due: ruff-format, ruff

fix(billing): tie the missing-subscription marker to the id it was about
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/tasks/__init__.py
  sbomify/apps/billing/tests/test_missing_subscription_reconcile.py
Due: ruff-format, ruff

test(core): assert close codes through the constants, guard the drive helper
  sbomify/apps/core/tests/test_consumer_close_codes.py
  sbomify/apps/core/tests/test_consumers.py
Due: ruff-format, ruff

fix(osv): log an abandoned scan at error level, matching what it now is
  sbomify/apps/plugins/builtins/osv.py
Due: ruff-format, ruff

fix(core): refund the reconnect budget on a socket that held, not on open
  sbomify/apps/core/consumers.py
  sbomify/apps/core/js/components/websocket-store.spec.ts
  sbomify/apps/core/js/components/websocket-store.ts
Due: bun-lint, ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
