Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix(ops): stop the chart spec leaking globals into the other specs
  sbomify/apps/ops/js/ops-charts.spec.ts
Due: bun-lint

docs(agents): require a diff audit before committing
  AGENTS.md
Due: markdownlint

fix(ops): close the review findings on the metrics populations and shell
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/ops/services/growth.py
  sbomify/apps/ops/services/overview.py
  sbomify/apps/ops/services/populations.py
  sbomify/apps/ops/templates/ops/overview.html.j2
  sbomify/apps/ops/tests/test_growth.py
  sbomify/apps/ops/tests/test_populations.py
  sbomify/apps/ops/tests/test_views.py
  sbomify/apps/ops/views.py
  sbomify/templates/components/layout/stat/note.html
  sbomify/templates/components/navigation/nav_link.html
  sbomify/urls.py
Due: ruff-format, ruff, djlint-check, djlint-lint

style: drop the reformatting this branch had no business carrying
  sbomify/apps/core/templates/core/components/component_vulnerabilities_table.html.j2
  sbomify/apps/core/tests/test_csrf_failure.py
  sbomify/apps/core/tests/test_error_codes.py
  sbomify/apps/core/views/csrf_failure.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_findings.html.j2
  sbomify/apps/sboms/tests/test_crypto_posture_card.py
  sbomify/apps/sboms/tests/test_crypto_ui.py
  sbomify/apps/teams/tests/test_custom_domain_ui.py
  sbomify/apps/teams/tests/test_team_general.py
  sbomify/apps/vulnerability_scanning/migrations/0013_finding_aliases_db_default.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(teams): nobody hands out a role above their own
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/permissions.py
  sbomify/apps/teams/tests/test_nobody_grants_above_themselves.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Remove Trust Center from the shared sidebar
  sbomify/apps/core/tests/e2e/test_sidebar_initial_render.py
  sbomify/templates/components/chrome/sidebar.html
Due: ruff-format, ruff

Keep sidebar link font weight consistent when active
  sbomify/templates/components/chrome/nav_item.html
Due: none

Migrate Plugins to shared page and form components
  docs/prototype-ui-migration.md
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_plugins.py
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
  sbomify/apps/plugins/templates/plugins/plugins_summary.html.j2
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/templates/components/layout/select_row.html
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Align shared component colours with the design-system palette
  docs/component-library-audit.md
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/e2e/test_component_colours.py
  sbomify/apps/core/tests/test_component_colours.py
  sbomify/apps/core/tests/test_cotton_badges_tags.py
  sbomify/apps/core/tests/test_cotton_dropdowns_chips.py
  sbomify/apps/core/tests/test_cotton_layout.py
  sbomify/apps/core/tests/test_cotton_singletons.py
  sbomify/apps/core/views/design_system.py
  sbomify/templates/components/badges/accent.html
  sbomify/templates/components/badges/format.html
  sbomify/templates/components/badges/severity.html
  sbomify/templates/components/buttons/outline_warning.html
  sbomify/templates/components/buttons/warning.html
  sbomify/templates/components/chips/assessment.html
  sbomify/templates/components/chips/metric_chip.html
  sbomify/templates/components/code_inline.html
  sbomify/templates/components/layout/stat/change_down.html
  sbomify/templates/components/layout/stat/change_up.html
  sbomify/templates/components/layout/stat_card.html
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Preserve filtered values in shared stat-card callers
  sbomify/apps/core/tests/e2e/test_components.py
  sbomify/apps/core/tests/test_stat_card_values.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/sboms/templates/sboms/components/crypto_posture_card.html.j2
  sbomify/apps/sboms/templates/sboms/workspace_crypto.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_results.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Refresh reviewed component and artifact UI snapshots
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_artifacts_page_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_artifacts_page_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_artifacts_page_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_cbom_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_cbom_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_vex_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_vex_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_crypto_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_crypto_snapshot[992].jpg
Due: none

fix(plugins): settle assessment runs nothing is coming back for
  sbomify/apps/plugins/stranded.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_stranded_runs_are_settled.py
Due: ruff-format, ruff

fix(vulns): show why every scanner skipped an SBOM
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/tests/e2e/test_sbom_vulnerabilities.py
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/apps/sboms/tests/test_nothing_scanned_state.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): time stranded runs from their first attempt
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/stranded.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_stranded_runs_are_settled.py
Due: ruff-format, ruff

fix(teams): say what the invite form does without an inviter
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/tests/test_nobody_grants_above_themselves.py
Due: ruff-format, ruff

fix(teams): reuse the inviter's role for the owner notice
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

fix(vulns): date the scan report from a run that examined something
  sbomify/apps/core/tests/e2e/test_sbom_vulnerabilities.py
  sbomify/apps/sboms/tests/test_nothing_scanned_state.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
Due: ruff-format, ruff

test(e2e): take the clean-scan baselines from the CI render
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_no_data_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_no_data_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_no_data_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_no_data_snapshot[992].jpg
Due: none

Polish navigation search and keyboard selection
  docs/prototype-ui-migration.md
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/js/layout-interactions.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/js/navbar-search.ts
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/e2e/test_navbar_search.py
  sbomify/apps/core/views/design_system.py
  sbomify/templates/components/chrome/search.html
Due: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Show preloaded search suggestions on focus
  docs/prototype-ui-migration.md
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/core/js/navbar-search.ts
  sbomify/apps/core/spotlight.py
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templatetags/spotlight_tags.py
  sbomify/apps/core/tests/e2e/test_navbar_search.py
  sbomify/apps/core/tests/test_dashboard_chrome.py
  sbomify/apps/core/tests/test_spotlight.py
  sbomify/templates/components/chrome/search.html
Due: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Polish shared component and product visibility selector
  docs/ui-action-audit.md
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/js/components/actions-menu.spec.ts
  sbomify/apps/core/js/components/actions-menu.ts
  sbomify/apps/core/js/components/component-visibility-selector.ts
  sbomify/apps/core/js/components/visibility-selector.ts
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/core/templates/core/components/component_visibility_selector.html.j2
  sbomify/apps/core/templates/core/components/product_visibility_selector.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/product_content.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_ui_action_repairs.py
  sbomify/apps/core/tests/e2e/test_visibility_selector.py
  sbomify/apps/core/tests/test_cotton_dropdowns_chips.py
  sbomify/apps/core/tests/test_cotton_singletons.py
  sbomify/apps/core/views/design_system.py
  sbomify/templates/components/actions_menu.html
  sbomify/templates/components/dropdowns/dropdown.html
  sbomify/templates/components/dropdowns/item.html
  sbomify/templates/components/forms/visibility_selector.html
Due: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Redesign billing and workspace pages with shared cards
  sbomify/apps/billing/js/plan-selection.spec.ts
  sbomify/apps/billing/js/plan-selection.ts
  sbomify/apps/billing/services/plan_selection.py
  sbomify/apps/billing/templates/billing/select_plan.html.j2
  sbomify/apps/billing/views.py
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_add_workspace_modal_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_delete_workspace_modal_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_delete_workspace_modal_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspaces_dashboard_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspaces_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspaces_dashboard_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspaces_dashboard_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_workspace_plan_redesign.py
  sbomify/apps/core/views/design_system.py
  sbomify/apps/teams/templates/teams/dashboard.html.j2
  sbomify/templates/components/billing/plan_card.html
  sbomify/templates/components/workspaces/card.html
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Fix creation form validation and shared action error handling
  sbomify/apps/core/forms.py
  sbomify/apps/core/js/components/copyable-value.spec.ts
  sbomify/apps/core/js/components/copyable-value.ts
  sbomify/apps/core/js/notifications-modal.ts
  sbomify/apps/core/templates/core/component_new.html.j2
  sbomify/apps/core/templates/core/product_content.html.j2
  sbomify/apps/core/templates/core/product_new.html.j2
  sbomify/apps/core/tests/e2e/test_chrome_controls.py
  sbomify/apps/core/tests/e2e/test_inventory_creation.py
  sbomify/apps/core/tests/e2e/test_ui_action_repairs.py
  sbomify/apps/core/tests/test_inventory_creation.py
  sbomify/apps/core/views/components_dashboard.py
  sbomify/apps/core/views/products_dashboard.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Align overview assessment and evidence counts with inventory
  sbomify/apps/core/services/dashboard_page.py
  sbomify/apps/core/tests/test_dashboard_page_service.py
  sbomify/templates/components/overview/products.html
Due: ruff-format, ruff

Consolidate shared presentation data and remove obsolete UI state
  sbomify/apps/billing/js/plan-selection.spec.ts
  sbomify/apps/billing/js/plan-selection.ts
  sbomify/apps/billing/plan_features.py
  sbomify/apps/billing/services/plan_selection.py
  sbomify/apps/billing/views.py
  sbomify/apps/core/services/dashboard_page.py
  sbomify/apps/core/services/product_page.py
  sbomify/apps/core/templates/core/component_new.html.j2
  sbomify/apps/core/templates/core/dashboard_base.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/product_new.html.j2
  sbomify/apps/core/tests/test_dashboard_page_service.py
  sbomify/apps/core/views/dashboard.py
  sbomify/apps/core/views/design_system.py
  sbomify/apps/teams/views/team_settings.py
  sbomify/templates/components/billing/plan_card.html
  sbomify/templates/components/chrome/shell.html
  sbomify/templates/components/chrome/sidebar.html
  sbomify/templates/components/dropdowns/item.html
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Align browser fixtures and snapshots with shared controls
  sbomify/apps/core/tests/e2e/__snapshots__/test_controls_settings_snapshot[390-dark].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_controls_settings_snapshot[390-light].jpg
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/e2e/test_billing_pages.py
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/core/tests/e2e/test_ui_action_repairs.py
  sbomify/apps/core/tests/e2e/test_workspace_plan_redesign.py
Due: ruff-format, ruff

Include missing app sources in production asset builds
  Dockerfile
Due: none

Validate public redirect targets through a shared guard
  sbomify/apps/core/tests/test_url_utils.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/product_releases_public.py
  sbomify/apps/core/views/release_details_public.py
  sbomify/apps/core/views/trust_center_advisories.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/security_advisories/tests/test_trust_center.py
  sbomify/apps/teams/tests/test_custom_domain_ui.py
Due: ruff-format, ruff

Keep table labels readable and refresh browser baselines
  sbomify/apps/core/tests/e2e/__snapshots__/test_add_workspace_modal_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_contact_profile_form_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_contact_profile_form_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_contact_profile_form_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_contact_profile_form_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_contact_profiles_tab_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_contact_profiles_tab_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_contact_profiles_tab_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_contact_profiles_tab_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_enterprise_contact_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_enterprise_contact_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisory_new_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_security_advisory_new_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_settings_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_settings_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_suppliers_list_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_suppliers_list_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_suppliers_list_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_trusted_publishers_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_upload_menu_and_deep_links[document].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_invite_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_invite_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_billing_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_billing_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_members_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/test_critical_paths.py
  sbomify/apps/core/tests/e2e/test_ui_action_repairs.py
  sbomify/templates/components/tables/table.html
Due: ruff-format, ruff

fix(billing): one alert for a Stripe outage the pricing page survives
  sbomify/apps/billing/stripe_pricing_service.py
  sbomify/apps/billing/tests/test_stripe_pricing_service.py
Due: ruff-format, ruff

fix(billing): one stale-cache alert per refresh, not one per plan
  pr-body.md
  sbomify/apps/billing/stripe_pricing_service.py
  sbomify/apps/billing/tests/test_stripe_pricing_service.py
Due: markdownlint, ruff-format, ruff

fix(plugins): count only the runs the sweep settled
  sbomify/apps/plugins/stranded.py
  sbomify/apps/plugins/tests/test_stranded_runs_are_settled.py
Due: ruff-format, ruff

fix(plugins): drop the stranded-run cutoff setting nothing could set
  sbomify/apps/plugins/stranded.py
Due: ruff-format, ruff

fix(plugins): log the sweep summary once
  sbomify/apps/plugins/tasks/__init__.py
Due: ruff-format, ruff

Use shared skeletons for content loading
  AGENTS.md
  sbomify/apps/compliance/templates/compliance/cra_step_5.html.j2
  sbomify/apps/core/templates/components/tw/loading_state.html.j2
  sbomify/apps/core/templates/components/tw/skeleton.html.j2
  sbomify/apps/core/templates/core/component_details_private_document.html.j2
  sbomify/apps/core/templates/core/component_details_private_sbom.html.j2
  sbomify/apps/core/templates/core/component_details_public_document.html.j2
  sbomify/apps/core/templates/core/component_details_public_sbom.html.j2
  sbomify/apps/core/templates/core/components/component_meta_info_editor.html.j2
  sbomify/apps/core/templates/core/components/item_assignment_manager.html.j2
  sbomify/apps/core/templates/core/components/product_lifecycle_card.html.j2
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/trusted_publishers_modal.html.j2
  sbomify/apps/core/templates/core/cotton_probes/feedback.html.j2
  sbomify/apps/core/templates/core/dashboard_trends.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/product_content.html.j2
  sbomify/apps/core/tests/e2e/test_loading_states.py
  sbomify/apps/core/tests/test_cotton_feedback.py
  sbomify/apps/documents/templates/documents/components/document_upload.html.j2
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/_rerun_button.html.j2
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
  sbomify/apps/sboms/templates/sboms/component_artifacts.html.j2
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
  sbomify/apps/teams/templates/teams/team_custom_domain.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/templates/components/chrome/notifications.html
  sbomify/templates/components/chrome/search.html
  sbomify/templates/components/feedback/loading.html
  sbomify/templates/components/feedback/loading_chart.html
  sbomify/templates/components/feedback/loading_list.html
  sbomify/templates/components/feedback/loading_page.html
  sbomify/templates/components/feedback/loading_stats.html
  sbomify/templates/components/feedback/loading_table.html
  sbomify/templates/components/feedback/skeleton.html
  sbomify/templates/components/feedback/spinner.html
  sbomify/templates/components/layout/stat_card.html
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint
