Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

feat: add ObjectStoreClient abstraction and make S3 credentials optional
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
  sbomify/settings.py
  sbomify/test_settings.py
Due: ruff-format, ruff

fix: normalize empty endpoint_url and remove S3-specific terminology
  sbomify/apps/compliance/services/export_service.py
  sbomify/apps/core/object_store.py
Due: ruff-format, ruff

refactor: rename S3Client to StorageClient and consolidate presigned URLs
  sbomify/apps/compliance/services/document_generation_service.py
  sbomify/apps/compliance/services/export_service.py
  sbomify/apps/compliance/tests/test_apis.py
  sbomify/apps/compliance/tests/test_document_generation.py
  sbomify/apps/compliance/tests/test_export_service.py
  sbomify/apps/compliance/tests/test_staleness.py
  sbomify/apps/compliance/views/vdp_public.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/s3_fixtures.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/core/tests/test_s3_fixtures_examples.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/apis.py
  sbomify/apps/documents/tests/test_access_apis.py
  sbomify/apps/documents/tests/test_access_requests.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/documents/views/document_download.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/management/commands/create_test_sbom_environment.py
  sbomify/apps/sboms/services/sboms.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/tests/test_sbom_uniqueness.py
  sbomify/apps/sboms/tests/test_signed_urls.py
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/sboms/views/sbom_download.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

fix: StorageClient now delegates to ObjectStoreClient abstraction
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
  sbomify/apps/core/tests/s3_fixtures.py
Due: ruff-format, ruff

fix(ui): add bom_type to SBOM list API response and fix VEX badge class
  sbomify/apps/core/apis.py
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

simplify: lazy boto3.client, remove redundant truthiness checks, fix types
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
Due: ruff-format, ruff

fix(ui): use tw-badge-warning for VEX badge to match flat badge style
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
Due: djlint-check, djlint-lint

fix(sboms): add error_code to file upload SPDX rejection, use Query() for bom_type
  sbomify/apps/sboms/apis.py
Due: ruff-format, ruff

test(sboms): add bom_type tests for component upgrade and latest SBOM filtering
  sbomify/apps/sboms/tests/test_bom_type.py
Due: ruff-format, ruff

fix: update BOM-neutral wording, clarify upload text, optimize orchestrator query
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

handle return none again
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
Due: ruff-format, ruff

remove comment change
  sbomify/apps/compliance/services/export_service.py
Due: ruff-format, ruff

remouse unsude stuff
  sbomify/apps/core/object_store.py
Due: ruff-format, ruff

feat: add Keycloak themes init container, Caddy proxy for Keycloak, Redis auth support, and fix docker-compose drift
  Caddyfile
  docker-compose.yml
  docs/deployment.md
  sbomify/settings.py
Due: markdownlint, ruff-format, ruff

fix: address PR feedback — Caddyfile validation and DATABASE_URL
  Caddyfile
  docker-compose.yml
Due: none

refactor: DRY Keycloak config — move vars to common-env, reuse KC_HOSTNAME_URL for Caddy
  Caddyfile
  docker-compose.yml
Due: none

refactor: route Keycloak through Caddy in dev for consistency with prod
  Caddyfile.dev
  docker-compose.dev.yml
Due: none

docs: update dev setup docs for Keycloak routing through Caddy
  AGENTS.md
  DEVELOPER.md
  README.md
Due: markdownlint

fix(cra): redesign BSI TR-03183-2 fix guidance UI
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
Due: djlint-check, djlint-lint

fix(cra): only one component's fixes visible at a time + add spacing
  sbomify/apps/compliance/js/cra-step-2.ts
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
Due: bun-lint, djlint-check, djlint-lint

fix(cra): move BSI fixes outside table for proper spacing
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
Due: djlint-check, djlint-lint

fix(cra): render BSI fixes as separate tw-card below Components card
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
Due: djlint-check, djlint-lint

fix(cra): wrap Components card + fixes in single div for x-if template
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
Due: djlint-check, djlint-lint

fix(cra): link to members tab in team settings
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
Due: djlint-check, djlint-lint

fix(cra): fix unbalanced HTML tags and add aria-expanded attributes
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
Due: djlint-check, djlint-lint

fix(cra): address review findings — semantic tokens, a11y, badge classes
  sbomify/apps/compliance/js/cra-step-2.ts
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
Due: bun-lint, djlint-check, djlint-lint

fix: address Copilot review feedback on PR #839 (round 3)
  sbomify/apps/onboarding/signals.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: address remaining Copilot review feedback on PR #839 (round 4)
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/test_bom_type.py
Due: ruff-format, ruff

chore: upgrade setup-uv from v7.6.0 to v8.0.0 (immutable release)
  .github/workflows/ci-cd.yml
  .github/workflows/screencasts.yml
Due: none

fix: address final Copilot review feedback on PR #839 (round 5)
  sbomify/apps/onboarding/signals.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/tests/test_bom_type.py
Due: ruff-format, ruff

chore: upgrade setup-uv from v7 to v8.0.0 (immutable release)
  .github/workflows/ci-cd.yml
  .github/workflows/screencasts.yml
Due: none

fix(plugins): remove eager imports in builtins/__init__.py to prevent deadlock
  sbomify/apps/plugins/builtins/__init__.py
Due: ruff-format, ruff

fix(plugins): use fully-qualified plugin_class_path in tests
  sbomify/apps/plugins/tests/test_integration.py
  sbomify/apps/plugins/tests/test_models.py
  sbomify/apps/plugins/tests/test_orchestrator.py
  sbomify/apps/plugins/tests/test_public_assessment_utils.py
Due: ruff-format, ruff

fix: address Copilot review feedback on PR #839 (round 6)
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/migrations/0054_add_bom_type_created_at_index.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/apps/sboms/tests/test_bom_type.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(ui): prevent CNAME target value from overflowing container
  sbomify/apps/teams/templates/teams/team_custom_domain.html.j2
Due: djlint-check, djlint-lint

fix: address Copilot review feedback on PR #839 (round 7)
  sbomify/apps/onboarding/signals.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/migrations/0054_add_bom_type_created_at_index.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/tests/fixtures.py
Due: ruff-format, ruff

fix(dt): fix scan count leak and server selection bugs in DT plugin
  sbomify/apps/plugins/builtins/dependency_track.py
Due: ruff-format, ruff

fix(dt): restructure scan count management to prevent leaks
  sbomify/apps/plugins/builtins/dependency_track.py
Due: ruff-format, ruff

fix(dt): decrement scan count when retries are exhausted
  sbomify/apps/plugins/tasks/__init__.py
Due: ruff-format, ruff

add runtime bucket_type validation in _create_store
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
Due: ruff-format, ruff
