Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

Markdown linting
  bin/deploy.sh
  docs/deployment.md
Due: markdownlint

Fix branding logo/icon handling and update deprecated method calls
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/branding.py
Due: ruff-format, ruff

Refs copilot feedback
  Caddyfile
Due: none

Fix branding logo preference logic to properly handle None values
  sbomify/apps/teams/schemas.py
Due: ruff-format, ruff

Linting
  docs/deployment.md
Due: markdownlint

Fix default value handling in copyable-value component template
  sbomify/apps/core/templates/core/components/copyable-value.html.j2
Due: djlint-check, djlint-lint

Refs feedback
  docs/deployment.md
Due: markdownlint

Fix branding logo fallback logic and session handling
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/teams/schemas.py
Due: ruff-format, ruff

Simplify branding logo/icon logic
  sbomify/apps/teams/js/team-branding.ts
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/tests/test_teams.py
Due: bun-lint, ruff-format, ruff

Restrict vulnerability time series chart to SBOM components only
  sbomify/apps/core/templates/core/component_details_private.html.j2
Due: djlint-check, djlint-lint

Add breadcrumb navigation and fix layout height for public component pages
  sbomify/apps/core/js/components/PublicPageLayout.vue
  sbomify/apps/core/templates/core/component_details_public.html.j2
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/documents/templates/documents/document_details_public.html.j2
  sbomify/apps/documents/tests/test_views.py
  sbomify/apps/documents/views.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Tweaks docker compose
  docker-compose.dev.yml
  docker-compose.yml
Due: none

Cuts v0.19
  pyproject.toml
  uv.lock
Due: none

Refactor breadcrumb slot query to avoid redundant DOM lookups
  sbomify/apps/core/js/components/PublicPageLayout.vue
Due: bun-lint

Migration: Documents Table
  sbomify/apps/core/js/components/pagination_controls.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/component_details_public.html.j2
  sbomify/apps/core/templates/core/components/pagination_controls.html.j2
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/documents/forms.py
  sbomify/apps/documents/js/documents_table.ts
  sbomify/apps/documents/js/main.ts
  sbomify/apps/documents/js/release_list.ts
  sbomify/apps/documents/templates/documents/components/edit_document_modal.html.j2
  sbomify/apps/documents/templates/documents/components/release_list.html.j2
  sbomify/apps/documents/templates/documents/documents_table.html.j2
  sbomify/apps/documents/templates/documents/documents_table_content.html.j2
  sbomify/apps/documents/urls.py
  sbomify/apps/documents/views/__init__.py
  sbomify/apps/documents/views/documents_table.py
  sbomify/static/css/components/documents-table.css
  sbomify/static/css/components/pagination-controls.css
  sbomify/static/css/components/release-list.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Enhance documents table functionality and UI
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/pagination_controls.ts
  sbomify/apps/documents/js/documents_table.ts
  sbomify/apps/documents/templates/documents/components/edit_document_modal.html.j2
  sbomify/apps/documents/templates/documents/documents_table.html.j2
  sbomify/apps/documents/templates/documents/documents_table_content.html.j2
  sbomify/apps/documents/urls.py
  sbomify/apps/documents/views/documents_table.py
  sbomify/templates/components/modals/delete_modal.html.j2
  sbomify/templates/components/modals/form_modal.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Integrate pagination controls and Alpine.js support
  sbomify/apps/core/js/components/pagination-controls.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/templates/core/components/pagination_controls.html.j2
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/documents/forms.py
  sbomify/apps/documents/js/documents_table.ts
  sbomify/apps/documents/js/main.ts
  sbomify/apps/documents/js/release_list.ts
  sbomify/apps/documents/templates/documents/components/release_list.html.j2
  sbomify/static/css/base.css
  sbomify/static/css/components/documents-table.css
  sbomify/templates/components/modals/form_modal.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Update pagination settings in documents table and release list
  sbomify/apps/documents/js/documents_table.ts
  sbomify/apps/documents/js/release_list.ts
Due: bun-lint

Migration: SBOMs Table
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/ntia-compliance-badge.ts
  sbomify/apps/core/js/components/release-list.ts
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/component_details_public.html.j2
  sbomify/apps/core/templates/core/components/ntia_compliance_badge.html.j2
  sbomify/apps/core/templates/core/components/release_list.html.j2
  sbomify/apps/documents/js/documents-table.ts
  sbomify/apps/documents/js/main.ts
  sbomify/apps/documents/templates/documents/documents_table_content.html.j2
  sbomify/apps/sboms/forms.py
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/sboms/js/sboms-table.ts
  sbomify/apps/sboms/templates/sboms/sboms_table.html.j2
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/apps/sboms/urls.py
  sbomify/apps/sboms/views/__init__.py
  sbomify/apps/sboms/views/sboms_table.py
  sbomify/static/css/components/ntia-compliance-badge.css
  sbomify/static/css/components/sboms-table.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Add documents table and release list components
  sbomify/apps/documents/js/components/DocumentsTable.vue
  sbomify/apps/documents/js/documents-table.ts
  sbomify/apps/documents/js/main.ts
  sbomify/apps/documents/js/release-list.ts
Due: bun-lint

Restore
  sbomify/apps/documents/js/components/DocumentsTable.vue
Due: bun-lint

Fixes up caddy for better HTTPS
  Caddyfile.dev
  docker-compose.yml
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_internal_apis.py
Due: ruff-format, ruff

Refs feedback
  sbomify/apps/teams/apis.py
Due: ruff-format, ruff

Capitalize "Trust Center" consistently across templates and messages
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/component_details_public.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/views/component_scope.py
  sbomify/apps/documents/templates/documents/document_details_public.html.j2
  sbomify/apps/documents/tests/test_views.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Enhance NTIA compliance validation with partial status and detailed reporting
  sbomify/apps/core/apis.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/project_details_private.html.j2
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/sboms/js/components/NTIAComplianceAssistant.vue
  sbomify/apps/sboms/js/components/NTIAComplianceBadge.vue
  sbomify/apps/sboms/js/components/NTIAComplianceProgress.vue
  sbomify/apps/sboms/js/components/SbomsDataTable.vue
  sbomify/apps/sboms/js/components/SbomsTable.vue
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/ntia_validator.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/templates/sboms/sbom_details_private.html.j2
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/tests/test_ntia_task.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/sboms/views.py
  sbomify/tasks.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Add loading states, vulnerability data, and enhanced NTIA compliance features
  sbomify/apps/core/apis.py
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/sboms/js/components/NTIAComplianceProgress.vue
  sbomify/apps/sboms/js/components/SbomsDataTable.vue
  sbomify/apps/sboms/ntia_validator.py
  sbomify/apps/sboms/templates/sboms/sbom_details_private.html.j2
  sbomify/apps/sboms/views.py
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/js/components/VulnerabilityTimeSeries.vue
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Refactor authentication checks and improve hash formatting in NTAI validation
  sbomify/apps/core/apis.py
  sbomify/apps/sboms/ntia_validator.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

Refactor NTIA validator to use protocol-based normalizers and improve query performance
  sbomify/apps/core/apis.py
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/sboms/ntia_validator.py
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/js/components/VulnerabilityTimeSeries.vue
Due: bun-lint, ruff-format, ruff

Allows to configure port exposure
  docker-compose.yml
  docs/deployment.md
  pyproject.toml
  uv.lock
Due: markdownlint

Updates documentation
  docs/deployment.md
Due: markdownlint

Fixes documentation
  docs/deployment.md
Due: markdownlint

Improves TLS setup
  Caddyfile
  docker-compose.yml
  sbomify/apps/teams/apis.py
Due: ruff-format, ruff

Improve team invitation system with token-based URLs and enhanced member management
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/migrations/0018_invitation_token.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/templates/teams/emails/team_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/team_invite_email.txt
  sbomify/apps/teams/templates/teams/workspace_availability.html.j2
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Add user invitation management to settings page
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/templates/core/base.htmx.j2
  sbomify/apps/core/templates/core/components/pending_invitations.html.j2
  sbomify/apps/core/templates/core/settings.html.j2
  sbomify/apps/core/templates/core/user-dropdown.html.j2
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Improve workspace member removal and session handling
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/templates/core/components/pending_invitations.html.j2
  sbomify/apps/core/templates/core/settings.html.j2
  sbomify/apps/core/templates/core/user-dropdown.html.j2
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/dashboard.py
  sbomify/apps/teams/migrations/0018_invitation_token.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/permissions.py
  sbomify/apps/teams/signals/handlers.py
  sbomify/apps/teams/templates/teams/workspace_availability.html.j2
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Add admin permission restrictions for removing team owners
  sbomify/apps/teams/tests/test_admin_permissions.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

Add tests for workspace removal edge cases with pending invitations
  sbomify/apps/teams/tests/test_deletion_edge_cases.py
Due: ruff-format, ruff

Improves HTTPs handling
  Caddyfile
Due: none

Fix workspace invitation handling and styling issues
  sbomify/apps/core/templates/core/user-dropdown.html.j2
  sbomify/apps/core/views/__init__.py
  sbomify/apps/teams/views/__init__.py
  sbomify/static/css/base.css
Due: ruff-format, ruff, djlint-check, djlint-lint
