Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix: verify SBOM exists before creating assessment run
  sbomify/apps/plugins/orchestrator.py
Due: ruff-format, ruff

refactor: move SBOM import to module level and add test coverage
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/tests/test_orchestrator.py
Due: ruff-format, ruff

Cut stage relases for better testing
  .github/workflows/ci-cd.yml
Due: none

feat(public-pages): display compliance badges on product listings and SBOM tables
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/plugins/public_assessment_utils.py
  sbomify/apps/plugins/templates/plugins/components/public_assessment_icon.html.j2
  sbomify/apps/plugins/tests/test_public_assessment_utils.py
  sbomify/apps/sboms/services/sboms_table.py
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/static/css/public-pages.css
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): delay attestation checks by 2 minutes to prevent race condition
  .github/workflows/ci-cd.yml
  README.md
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_integration.py
Due: markdownlint, ruff-format, ruff

feat(sboms): display compliance icons on private SBOM listing page
  sbomify/apps/plugins/public_assessment_utils.py
  sbomify/apps/plugins/tests/test_public_assessment_utils.py
  sbomify/apps/sboms/services/sboms_table.py
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/static/css/components.css
  sbomify/static/css/public-pages.css
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(public-pages): add compliance badges to product components listing
  sbomify/apps/core/templates/core/components/public_product_projects.html.j2
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/plugins/public_assessment_utils.py
  sbomify/apps/plugins/tests/test_public_assessment_utils.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(api): resolve access control and security issues in release artifact endpoints
  sbomify/apps/core/apis.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/tests/test_release_artifacts_api.py
  sbomify/apps/core/tests/test_sbom_tagging.py
  sbomify/apps/core/utils.py
Due: ruff-format, ruff

fix(api): remove release_id from error messages to prevent enumeration
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

fix(api): remove artifact names from error messages and fix typing
  1q
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_release_artifacts_api.py
Due: ruff-format, ruff

feat: Add multi-format SBOM download support (CycloneDX/SPDX)
  README.md
  sbomify/apps/core/apis.py
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/component_item_public.html.j2
  sbomify/apps/core/templates/core/components/export_data_card.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/project_details_private.html.j2
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/views/__init__.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/sbom_format_schemas/spdx_2_3.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/tests/test_builders.py
  sbomify/apps/sboms/utils.py
  sbomify/static/img/cyclonedx-logo.svg
  sbomify/static/img/spdx-logo.svg
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

fix: Address PR #640 review feedback
  sbomify/apps/core/apis.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

feat: Add SPDX support for project SBOMs and address PR feedback
  sbomify/apps/core/views/__init__.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/tests/test_builders.py
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/utils.py
Due: ruff-format, ruff

fix: Add accessibility attributes to disabled SPDX buttons
  sbomify/apps/core/templates/core/components/export_data_card.html.j2
  sbomify/apps/core/templates/core/project_details_private.html.j2
Due: djlint-check, djlint-lint

Add retry logic with exponential backoff to GitHub attestation plugin
  pyproject.toml
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
Due: ruff-format, ruff

Fix timing estimates in test docstrings
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
Due: ruff-format, ruff

Bake SPDX SBOMs too
  .github/workflows/ci-cd.yml
Due: none

Refactor contact profiles: merge authors into entity contacts with role flags
  sbomify/apps/core/apis.py
  sbomify/apps/core/templates/core/components/component_meta_info_editor.html.j2
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/migrations/0024_add_contact_role_fields.py
  sbomify/apps/teams/migrations/0025_migrate_author_contacts_data.py
  sbomify/apps/teams/migrations/0026_remove_author_contact.py
  sbomify/apps/teams/migrations/0027_add_entity_author_role.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/contact_profiles/forms/author.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/forms/contact.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/forms/entity.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_form.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/tests/test_contact_profiles.py
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Add lifecycle event fields and product lifecycle UI
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/component-meta-info-editor.ts
  sbomify/apps/core/js/component-meta-info.ts
  sbomify/apps/core/js/type_defs.d.ts
  sbomify/apps/core/js/types.ts
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/components/component_meta_info.html.j2
  sbomify/apps/core/templates/core/components/component_meta_info_display.html.j2
  sbomify/apps/core/templates/core/components/component_meta_info_editor.html.j2
  sbomify/apps/core/templates/core/components/component_metadata_form.html.j2
  sbomify/apps/core/templates/core/components/item_select_modal.html.j2
  sbomify/apps/core/templates/core/components/product_lifecycle_card.html.j2
  sbomify/apps/core/templates/core/components/public_product_lifecycle.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/tests/templates/test_component_meta_info_templates.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_metadata.py
  sbomify/apps/core/views/product_lifecycle.py
  sbomify/apps/sboms/migrations/0043_add_lifecycle_event_fields.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/migrations/0024_add_contact_role_fields.py
  sbomify/apps/teams/migrations/0025_migrate_author_contacts_data.py
  sbomify/apps/teams/migrations/0026_remove_author_contact.py
  sbomify/apps/teams/migrations/0027_add_contact_role_indexes.py
  sbomify/apps/teams/migrations/0027_add_entity_author_role.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/contact_profiles/forms/entity.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/partials/alpine_components.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/partials/profile_details.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_form.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/profile_list.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Add perform_validation flag to ContactProfileContact.save()
  sbomify/apps/teams/models.py
Due: ruff-format, ruff

Remove unused prefix parameter from contactEntry Alpine component
  sbomify/apps/teams/templates/teams/contact_profiles/forms/contact.html.j2
  sbomify/apps/teams/templates/teams/contact_profiles/partials/alpine_components.html.j2
Due: djlint-check, djlint-lint

Address Copilot review feedback: simplify code and extract methods
  sbomify/apps/core/templates/core/components/product_lifecycle_card.html.j2
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Update CRA plugin to prioritize native SBOM fields over cra: properties
  sbomify/apps/plugins/builtins/cra.py
  sbomify/apps/plugins/tests/test_cra_plugin.py
Due: ruff-format, ruff

Refactor SBOM deployment to use matrix-based jobs
  .github/actions/determine-version/action.yml
  .github/workflows/ci-cd.yml
Due: none

Update component visibility handling and improve error management
  sbomify/apps/core/apis.py
  sbomify/apps/core/templatetags/schema_tags.py
  sbomify/apps/core/tests/test_component_views.py
  sbomify/apps/core/tests/test_error_consistency.py
  sbomify/apps/core/tests/test_permission_consistency.py
  sbomify/apps/core/tests/test_public_access_apis.py
  sbomify/apps/core/tests/test_public_private_constraints.py
  sbomify/apps/core/tests/test_release_artifacts_api.py
  sbomify/apps/core/tests/test_sbom_tagging.py
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/models.py
  sbomify/apps/documents/services/documents_table.py
  sbomify/apps/documents/tests/test_access_requests.py
  sbomify/apps/documents/tests/test_apis.py
  sbomify/apps/documents/tests/test_models.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/test_utils.py
  sbomify/apps/sboms/tests/test_views.py
  sbomify/apps/sboms/tests/test_vulnerability_scanning.py
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Refactor migration to remove is_public field and enhance visibility validation
  sbomify/apps/sboms/migrations/0045_remove_component_is_public.py
Due: ruff-format, ruff

Refactor document upload template to remove redundant static loading
  sbomify/apps/documents/templates/documents/components/document_upload.html.j2
Due: djlint-check, djlint-lint

Implement component visibility selector and enhance UI for access requests
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/js/components/component-visibility-selector.ts
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/components/component_visibility_selector.html.j2
  sbomify/apps/core/templates/core/components/item_assignment_manager.html.j2
  sbomify/apps/core/views/toggle_public_status.py
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/apps.py
  sbomify/apps/teams/signals.py
  sbomify/apps/teams/templates/teams/emails/trust_center_invite_email.html.j2
  sbomify/apps/teams/templates/teams/emails/trust_center_invite_email.txt
  sbomify/apps/teams/tests/test_teams.py
  sbomify/apps/teams/views/__init__.py
  sbomify/static/css/components/contact-profiles.css
  sbomify/static/css/components/public-status-toggle.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Enhance NDA handling and access request management
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/sboms/models.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Enhance access control and NDA management
  sbomify/apps/core/apis.py
  sbomify/apps/core/services/access_control.py
  sbomify/apps/core/tests/test_access_control_service.py
  sbomify/apps/core/tests/test_component_visibility_access.py
  sbomify/apps/core/tests/test_toggle_public_status.py
  sbomify/apps/documents/access_apis.py
  sbomify/apps/documents/tests/test_access_apis.py
  sbomify/apps/documents/tests/test_access_request_flow_enhancements.py
  sbomify/apps/documents/tests/test_access_requests_race_conditions.py
  sbomify/apps/documents/tests/test_cache_invalidation.py
  sbomify/apps/documents/tests/test_guest_member_access.py
  sbomify/apps/documents/tests/test_nda_re_signing.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/test_component_deprecated_methods.py
Due: ruff-format, ruff

Refactor NDA handling and access request logic
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Bump version to 0.25
  pyproject.toml
  uv.lock
Due: none

Fix linting issues: remove unused imports/variables and add comments to empty except clauses
  sbomify/apps/core/tests/test_access_control_service.py
  sbomify/apps/core/tests/test_component_visibility_access.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/documents/tests/test_access_request_flow_enhancements.py
  sbomify/apps/documents/tests/test_access_requests_race_conditions.py
  sbomify/apps/documents/tests/test_cache_invalidation.py
  sbomify/apps/documents/tests/test_nda_re_signing.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/teams/signals.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff

Add comments to empty except clauses in access_requests.py
  sbomify/apps/documents/views/access_requests.py
  sbomify/apps/sboms/migrations/0044_add_component_visibility_gating.py
  sbomify/apps/sboms/migrations/0045_migrate_is_public_to_visibility.py
  sbomify/apps/sboms/migrations/0046_remove_component_is_public.py
Due: ruff-format, ruff

Add test for access request queue with company NDA
  sbomify/apps/documents/tests/test_access_requests.py
  sbomify/apps/documents/views/access_requests.py
Due: ruff-format, ruff

Fix plugin enable to not queue all historical SBOMs and block web server
  sbomify/apps/plugins/signals.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_models.py
Due: ruff-format, ruff

Enhance billing processing and webhook handling for Stripe events
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/test_billing_processing.py
  sbomify/apps/billing/tests/test_views.py
  sbomify/apps/billing/views.py
  sbomify/apps/billing/webhook_handler.py
Due: ruff-format, ruff

Update sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/billing_processing.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
