Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

Migrate: Integrations page
  bun.lock
  package.json
  sbomify/apps/core/htmx.py
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/templatetags/utils.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/integrations.html.j2
  sbomify/apps/teams/templates/teams/vulnerability_settings.html.j2
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/contact_profiles.py
  sbomify/apps/teams/views/vulnerability_settings.py
  sbomify/static/css/components/vulnerability-settings.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Adds caddy support
  Caddyfile
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  docs/deployment.md
Due: markdownlint

Clean up Caddy migration
  Caddyfile
  docker-compose.yml
  sbomify/settings.py
Due: ruff-format, ruff

Remove custom domain feature, keep only minimal Caddy reverse proxy
  README.md
  bin/developer_mode.sh
  docker-compose.dev.yml
  docker-compose.yml
  docs/caddy-custom-domains.md
  docs/deployment.md
  pyproject.toml
  sbomify/apps/teams/admin.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/migrations/0016_create_custom_domain.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/tasks.py
  sbomify/apps/teams/tests/test_custom_domain_integration.py
  sbomify/apps/teams/tests/test_custom_domains.py
  sbomify/apps/teams/tests/test_tls_endpoint.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/tls.py
  sbomify/tasks.py
  sbomify/urls.py
  uv.lock
Due: markdownlint, ruff-format, ruff

Add global component scope functionality with workspace-level artifacts
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/ConfirmationModal.vue
  sbomify/apps/core/js/components/ItemAssignmentManager.vue
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/components_dashboard.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/tests/test_global_components_api.py
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_scope.py
  sbomify/apps/core/views/components_dashboard.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/sboms/migrations/0038_component_is_global.py
  sbomify/apps/sboms/models.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Redesign public workspace page with enhanced trust center UI
  sbomify/apps/core/apis.py
  sbomify/apps/core/templates/core/component_detailed_public.html.j2
  sbomify/apps/core/templates/core/component_details_public.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/project_details_public.html.j2
  sbomify/apps/core/templates/core/public_base.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/tests/test_global_components_api.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/static/css/components/public-page-layout.css
  sbomify/static/css/public-base.css
Due: ruff-format, ruff, djlint-check, djlint-lint

Remove duplicate comments and fix component type in test
  sbomify/apps/core/apis.py
  sbomify/apps/core/js/components/ConfirmationModal.vue
  sbomify/apps/core/tests/test_global_components_api.py
Due: bun-lint, ruff-format, ruff

Fix namespace collision between legacy and primary teams URLs
  sbomify/urls.py
Due: ruff-format, ruff

Silent Caddy
  Caddyfile
Due: none

Add docker blocks
  Caddyfile
Due: none

Better annotation
  Caddyfile
Due: none

Improves caddy checks
  Caddyfile
  docs/sitemap.d2
  docs/sitemap.svg
Due: none

Removes accidental commit
  docs/sitemap.d2
  docs/sitemap.svg
Due: none

Fixes health checks in Caddy
  Caddyfile
Due: none

Adds Caddy linting to CI
  .github/workflows/ci-cd.yml
  Caddyfile
Due: none

Move public page styles to proper location in template head
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/public_base.html.j2
Due: djlint-check, djlint-lint

fix: Add CycloneDX 1.6 support to SBOM upload API endpoint
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/tests/test_apis.py
Due: ruff-format, ruff

Adds support for CDX 1.7
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/cyclonedx_validator.py
  sbomify/apps/sboms/sbom_format_schemas/cyclonedx_1_7.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/schemas/README.md
  sbomify/apps/sboms/schemas/cdx_bom-1.7.schema.json
  sbomify/apps/sboms/tests/test_cyclonedx_validator.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/sboms/versioning.py
Due: markdownlint, ruff-format, ruff

More review fixes
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/tests/test_apis.py
Due: ruff-format, ruff

Refactor variable naming and string manipulation for improved readability
  sbomify/apps/core/apis.py
  sbomify/apps/core/views/workspace_public.py
Due: ruff-format, ruff

Refactors CDX endpoint
  sbomify/apps/core/management/commands/create_pagination_test_data.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/management/commands/create_test_sbom_environment.py
  sbomify/apps/sboms/schemas.py
Due: ruff-format, ruff

Refactors SPDX enpoint to align with CDX
  sbomify/apps/core/management/commands/create_pagination_test_data.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/management/commands/create_test_sbom_environment.py
  sbomify/apps/sboms/schemas.py
Due: ruff-format, ruff

Adds more version specific tests
  sbomify/apps/sboms/tests/test_apis.py
Due: ruff-format, ruff

Fixes up metadata endpoints
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/sbom_format_schemas/README.md
  sbomify/apps/sboms/sbom_format_schemas/cyclonedx_1_7.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/schemas/cdx_bom-1.7.schema.json
  sbomify/apps/sboms/tests/test_apis.py
Due: markdownlint, ruff-format, ruff

Refactor VulnerabilitySettingsForm and remove unused form initialization in VulnerabilitySettingsView
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/views/vulnerability_settings.py
Due: ruff-format, ruff

Remove VulnerabilitySettings component and related references from the Vue application
  sbomify/apps/teams/js/components/VulnerabilitySettings.vue
  sbomify/apps/teams/js/main.ts
Due: bun-lint

Migrate integrations (#453)
  bun.lock
  package.json
  sbomify/apps/core/htmx.py
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/templatetags/utils.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/js/components/VulnerabilitySettings.vue
  sbomify/apps/teams/js/main.ts
  sbomify/apps/teams/templates/teams/team_settings_tabs/integrations.html.j2
  sbomify/apps/teams/templates/teams/vulnerability_settings.html.j2
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/contact_profiles.py
  sbomify/apps/teams/views/vulnerability_settings.py
  sbomify/static/css/components/vulnerability-settings.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(billing): add Turnstile CAPTCHA and async email for enterprise contact
  sbomify/apps/billing/tasks.py
  sbomify/apps/billing/templates/billing/_enterprise_contact_form.html.j2
  sbomify/apps/billing/templates/billing/_turnstile_scripts.html.j2
  sbomify/apps/billing/templates/billing/enterprise_contact.html.j2
  sbomify/apps/billing/templates/billing/public_enterprise_contact.html.j2
  sbomify/apps/billing/views.py
  sbomify/settings.py
  sbomify/tasks.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Refactors page and adds tests
  sbomify/apps/billing/tests/test_enterprise_contact_turnstile.py
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

More review fixes
  sbomify/apps/billing/tests/test_enterprise_contact_turnstile.py
  sbomify/apps/billing/tests/test_views_extended.py
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

Migration: Team Branding
  sbomify/apps/core/js/components/FileDragAndDrop.vue
  sbomify/apps/core/templates/core/components/file-drag-and-drop.html.j2
  sbomify/apps/core/templatetags/utils.py
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/js/components/TeamBranding.vue
  sbomify/apps/teams/js/main.ts
  sbomify/apps/teams/js/type_defs.d.ts
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/branding.html.j2
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/team_branding.py
  sbomify/static/css/components/file-drag-and-drop.css
  sbomify/static/css/components/team-branding.css
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Refactor component ID display: replaced inline copyable value spans with a reusable component include for consistent styling and functionality across various templates.
  sbomify/apps/core/templates/core/component_details_private.html.j2
  sbomify/apps/core/templates/core/components/copyable-value.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/project_details_private.html.j2
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/documents/templates/documents/document_details_private.html.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/static/css/components/copyable-value.css
  sbomify/static/css/pages.css
Due: djlint-check, djlint-lint

Add teams app integration
  Dockerfile
  package.json
  sbomify/apps/core/js/components/copyable-value.ts
  sbomify/apps/core/js/components/file-drag-and-drop.ts
  sbomify/apps/core/js/htmx-bundle.ts
  sbomify/apps/core/templates/core/components/copyable-value.html.j2
  sbomify/apps/core/templates/core/components/file-drag-and-drop.html.j2
  sbomify/apps/teams/js/main.ts
  sbomify/apps/teams/js/team-branding.ts
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/static/manifest.json
  sbomify/test_settings.py
  vite.config.ts
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Refactor file input handling in drag-and-drop and team branding components
  sbomify/apps/core/js/components/file-drag-and-drop.ts
  sbomify/apps/teams/js/team-branding.ts
Due: bun-lint

Remove debug logging from handleFileFromComponent in team branding module for cleaner code.
  sbomify/apps/teams/js/team-branding.ts
Due: bun-lint

Add migration guide for transitioning from Vue.js to Django with HTMX and Alpine.js
  docs/vue-to-django-migration.md
Due: markdownlint

Fix: configure django dramatiq
  pyproject.toml
  sbomify/settings.py
  sbomify/tasks.py
  uv.lock
Due: ruff-format, ruff

Cleanup: remove commented-out Dramatiq configuration code from tasks.py
  sbomify/tasks.py
Due: ruff-format, ruff

Fix: lint errors
  docs/vue-to-django-migration.md
Due: markdownlint

Add migration guide for transitioning from Vue.js to Django + HTMX + Alpine.js (#457)
  docs/vue-to-django-migration.md
Due: markdownlint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
