Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

Refactor enterprise contact form templates to use Tailwind CSS classes
  sbomify/apps/billing/templates/billing/_enterprise_contact_form.html.j2
  sbomify/apps/billing/templates/billing/public_enterprise_contact.html.j2
Due: djlint-check, djlint-lint

Address PR review comments for enterprise contact form
  sbomify/apps/billing/templates/billing/_enterprise_contact_form.html.j2
Due: djlint-check, djlint-lint

Migrate OSV vulnerability scanning to plugin framework (#521)
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/__init__.py
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/migrations/0004_migrate_osv_results_to_assessment_runs.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_osv_integration.py
  sbomify/apps/plugins/tests/test_osv_plugin.py
  sbomify/apps/sboms/signals.py
Due: ruff-format, ruff

Refactor billing logic and enhance onboarding experience
  sbomify/apps/billing/apis.py
  sbomify/apps/billing/billing_helpers.py
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/config.py
  sbomify/apps/billing/forms.py
  sbomify/apps/billing/schemas.py
  sbomify/apps/billing/views.py
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/core/tests/integration/test_ui_workflows.py
  sbomify/apps/core/tests/templates/test_base_template.py
  sbomify/apps/core/tests/test_views.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/dashboard.py
  sbomify/apps/onboarding/migrations/0006_remove_onboardingstatus_has_selected_plan.py
  sbomify/apps/onboarding/models.py
  sbomify/apps/onboarding/tests/test_plan_selection.py
  sbomify/apps/onboarding/views.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/migrations/0029_team_has_selected_billing_plan.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Add comprehensive tests for billing review fixes
  sbomify/apps/billing/tests/test_billing_review_fixes.py
Due: ruff-format, ruff

Enhance billing functionality and testing
  sbomify/apps/billing/apps.py
  sbomify/apps/billing/billing_helpers.py
  sbomify/apps/billing/tests/test_billing_review_fixes.py
Due: ruff-format, ruff

Remove TURNSTILE_ENABLED setting from settings.py to streamline Cloudflare Turnstile configuration. This change simplifies the environment variable management for Turnstile integration.
  sbomify/settings.py
Due: ruff-format, ruff

Refactor Cloudflare Turnstile integration in billing forms and tests
  sbomify/apps/billing/forms.py
  sbomify/apps/billing/tests/test_billing_review_fixes.py
  sbomify/apps/billing/tests/test_enterprise_contact_turnstile.py
Due: ruff-format, ruff

Refactor billing return handling to ensure proper session lock release
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

Enhance billing error handling and improve onboarding UI accessibility
  sbomify/apps/billing/apis.py
  sbomify/apps/core/templates/core/components/onboarding_wizard.html.j2
  sbomify/apps/onboarding/migrations/0005_onboardingstatus_has_selected_plan.py
  sbomify/apps/onboarding/migrations/0006_remove_onboardingstatus_has_selected_plan.py
  sbomify/apps/onboarding/templates/onboarding/select_plan.html.j2
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Refactor IP address handling in billing views
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

Add Transparency Exchange API (TEA) support
  sbomify/apps/core/urls.py
  sbomify/apps/tea/__init__.py
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/apps.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/schemas.py
  sbomify/apps/tea/tests/__init__.py
  sbomify/apps/tea/tests/test_apis.py
  sbomify/apps/tea/tests/test_mappers.py
  sbomify/apps/tea/tests/test_wellknown.py
  sbomify/apps/tea/urls.py
  sbomify/apps/tea/utils.py
  sbomify/apps/tea/wellknown.py
  sbomify/apps/teams/migrations/0023_team_tea_enabled.py
  sbomify/apps/teams/models.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/views/team_settings.py
  sbomify/settings.py
  sbomify/urls.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat: Add component identifiers (Issue #402)
  sbomify/apps/core/apis.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/component_details_private_document.html.j2
  sbomify/apps/core/templates/core/component_details_private_sbom.html.j2
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/components/component_identifiers_card.html.j2
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_identifiers.py
  sbomify/apps/sboms/migrations/0043_add_component_identifiers.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/test_component_identifiers.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: Address PR review feedback for component identifiers
  sbomify/apps/core/templates/core/components/component_identifiers_card.html.j2
  sbomify/apps/core/views/component_identifiers.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat: Add SHA256 checksums and enhance TEA artifact responses
  sbomify/apps/documents/apis.py
  sbomify/apps/documents/migrations/0006_add_document_sha256_hash.py
  sbomify/apps/documents/models.py
  sbomify/apps/documents/schemas.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/migrations/0044_add_sbom_sha256_hash.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_wellknown.py
  sbomify/apps/tea/utils.py
Due: ruff-format, ruff

feat(plugins): Add SBOMContext for pre-computed metadata and refactor checksum plugin
  sbomify/apps/plugins/builtins/checksum.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/sdk/base.py
  sbomify/apps/plugins/tests/test_checksum_plugin.py
  sbomify/apps/plugins/tests/test_integration.py
  sbomify/apps/plugins/tests/test_orchestrator.py
Due: ruff-format, ruff

fix(migrations): Add missing dependency for SBOM SHA256 hash migration
  sbomify/apps/sboms/migrations/0047_add_sbom_sha256_hash.py
Due: ruff-format, ruff

feat(migrations): Add SHA256 hash fields to Document and SBOM models, and enable TEA for teams
  sbomify/apps/documents/migrations/0008_add_document_sha256_hash.py
  sbomify/apps/sboms/migrations/0047_add_sbom_sha256_hash.py
  sbomify/apps/teams/migrations/0029_team_tea_enabled.py
Due: ruff-format, ruff

fix(migrations): Update dependency version for team TEA enabled migration
  sbomify/apps/sboms/migrations/0043_add_component_identifiers.py
Due: ruff-format, ruff

refactor(apis): Update component visibility checks to use new visibility field
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/tests/test_apis.py
Due: ruff-format, ruff

refactor(apis): Update public access checks to use new public_access_allowed field
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/test_crud_apis.py
  sbomify/apps/core/views/component_identifiers.py
Due: ruff-format, ruff

refactor(tea): Enhance TEA API functionality and improve error handling
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/schemas.py
  sbomify/apps/tea/tests/conftest.py
  sbomify/apps/tea/tests/test_apis.py
  sbomify/apps/tea/tests/test_mappers.py
  sbomify/apps/tea/tests/test_utils.py
  sbomify/apps/tea/tests/test_wellknown.py
  sbomify/apps/tea/urls.py
  sbomify/apps/tea/utils.py
  sbomify/apps/tea/wellknown.py
  sbomify/urls.py
Due: ruff-format, ruff

refactor(apis): Improve error handling and response structure in component identifier APIs
  sbomify/apps/core/apis.py
  sbomify/apps/documents/apis.py
  sbomify/apps/plugins/tests/test_checksum_plugin.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

feat(purl): Introduce PURL parsing and version stripping utilities
  sbomify/apps/core/purl.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/services/product_identifiers.py
  sbomify/apps/core/services/results.py
  sbomify/apps/core/templates/core/components/component_identifiers_card.html.j2
  sbomify/apps/core/templates/core/components/product_identifiers_card.html.j2
  sbomify/apps/core/views/component_identifiers.py
  sbomify/apps/documents/migrations/0009_add_document_sha256_hash.py
  sbomify/apps/sboms/migrations/0048_add_sbom_sha256_hash.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_mappers.py
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(models): Simplify identifier collision checks in SBOM models
  sbomify/apps/sboms/models.py
  sbomify/apps/tea/mappers.py
Due: ruff-format, ruff

refactor(apis): Enhance error handling in product identifier APIs
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

refactor(components): Improve component identifier handling and validation
  sbomify/apps/core/templates/core/components/component_identifiers_card.html.j2
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/sboms/models.py
  sbomify/apps/tea/apis.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(release): Implement collection versioning for releases and enhance artifact management
  sbomify/apps/core/migrations/0017_release_collection_versioning.py
  sbomify/apps/core/models.py
  sbomify/apps/core/signals.py
  sbomify/apps/documents/migrations/0010_document_signature_url.py
  sbomify/apps/documents/models.py
  sbomify/apps/sboms/migrations/0049_sbom_signature_url.py
  sbomify/apps/sboms/models.py
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_apis.py
  sbomify/apps/tea/tests/test_mappers.py
  sbomify/apps/tea/tests/test_utils.py
Due: ruff-format, ruff

fix(tea): Resolve workspace_key from URL path capture and fix migration conflicts
  sbomify/apps/sboms/migrations/0043_add_component_identifiers.py
  sbomify/apps/tea/utils.py
  sbomify/apps/teams/migrations/0030_team_tea_enabled.py
Due: ruff-format, ruff

refactor(ui): Migrate component identifiers card from Bootstrap to Tailwind
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/components/component_identifiers_card.html.j2
Due: djlint-check, djlint-lint

Fix security assessment rendering and add CVE graph data bridge
  sbomify/apps/core/apis.py
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/schemas.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/plugins/tests/test_orchestrator.py
  sbomify/apps/plugins/tests/test_osv_integration.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Use pre-built binaries for osv-scanner and cosign, fix scanner path handling
  Dockerfile
  bin/generate_additional_packages.sh
  sbomify/apps/plugins/builtins/osv.py
Due: ruff-format, ruff

Fix code review findings across OSV plugin migration
  Dockerfile
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/migrations/0004_migrate_osv_results_to_assessment_runs.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/templatetags/plugins_extras.py
  sbomify/apps/sboms/signals.py
Due: ruff-format, ruff

Fix signal test to match updated AttributeError handling
  sbomify/apps/sboms/tests/test_signal_exceptions.py
Due: ruff-format, ruff

Address Copilot review feedback
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templatetags/plugins_extras.py
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(tea): Update TEA API versioning to use dynamic versioning
  sbomify/apps/core/urls.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_apis.py
  sbomify/apps/tea/tests/test_mappers.py
  sbomify/apps/tea/tests/test_utils.py
  sbomify/apps/tea/tests/test_wellknown.py
  sbomify/apps/tea/urls.py
  sbomify/urls.py
Due: ruff-format, ruff

fix(apis): Improve error handling for identifier creation and updates
  sbomify/apps/core/apis.py
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/tests/test_wellknown.py
  sbomify/apps/tea/wellknown.py
Due: ruff-format, ruff

Add SPDX 3.0 support to plugins and increase upload limit to 100MB
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/tests/test_bsi_plugin.py
  sbomify/apps/plugins/tests/test_cisa_plugin.py
  sbomify/apps/plugins/tests/test_fda_medical_device_plugin.py
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
  sbomify/apps/plugins/tests/test_ntia_plugin.py
  sbomify/apps/plugins/tests/test_osv_plugin.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/js/sbom-upload.spec.ts
  sbomify/apps/sboms/js/sbom-upload.ts
  sbomify/apps/sboms/sbom_format_schemas/README.md
  sbomify/apps/sboms/sbom_format_schemas/spdx_3_0.py
  sbomify/apps/sboms/sbom_validator.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/tests/fixtures.py
  sbomify/apps/sboms/tests/test_apis.py
  sbomify/apps/sboms/tests/test_builders.py
Due: bun-lint, markdownlint, ruff-format, ruff

Migrate Dependency Track to plugin framework and remove deprecated vulnerability scanning code
  sbomify/apps/billing/tests/test_user_limits.py
  sbomify/apps/core/admin.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/tests/e2e/factories.py
  sbomify/apps/core/views/component_item.py
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/__init__.py
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_osv_integration.py
  sbomify/apps/sboms/signals.py
  sbomify/apps/sboms/tests/test_signal_exceptions.py
  sbomify/apps/sboms/tests/test_vulnerability_scanning.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
  sbomify/apps/vulnerability_scanning/admin.py
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/circuit_breaker.py
  sbomify/apps/vulnerability_scanning/clients.py
  sbomify/apps/vulnerability_scanning/management/commands/trigger_weekly_scan.py
  sbomify/apps/vulnerability_scanning/migrations/0004_add_release_mapping_remove_old_models.py
  sbomify/apps/vulnerability_scanning/models.py
  sbomify/apps/vulnerability_scanning/queries.py
  sbomify/apps/vulnerability_scanning/services/__init__.py
  sbomify/apps/vulnerability_scanning/services/querysets.py
  sbomify/apps/vulnerability_scanning/tasks/__init__.py
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_clients.py
  sbomify/apps/vulnerability_scanning/tests/test_integration.py
  sbomify/apps/vulnerability_scanning/tests/test_models.py
  sbomify/apps/vulnerability_scanning/tests/test_querysets.py
  sbomify/apps/vulnerability_scanning/tests/test_services.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
  sbomify/apps/vulnerability_scanning/views_scans.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix code review findings across SPDX 3.0 implementation
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
  sbomify/apps/sboms/sbom_format_schemas/spdx_3_0.py
  sbomify/apps/sboms/schemas.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
