Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

Remove Settings -> Integrations tab and vulnerability settings API
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/integrations.html.j2
  sbomify/apps/teams/templates/teams/vulnerability_settings.html.j2
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/vulnerability_settings.py
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/tests/test_apis.py
  sbomify/apps/vulnerability_scanning/tests/test_security_fixes.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Refactor team tokens and trust center templates for improved layout and styling
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
Due: djlint-check, djlint-lint

Fix template formatting for CI djhtml check
  sbomify/apps/teams/templates/teams/team_settings.html.j2
Due: djlint-check, djlint-lint

Address Copilot review feedback
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/migrations/0004_add_release_mapping_remove_old_models.py
  sbomify/apps/vulnerability_scanning/utils.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
  sbomify/apps/vulnerability_scanning/views_scans.py
Due: ruff-format, ruff

Handle @context as list in _spdx3_helpers.is_spdx3
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
Due: ruff-format, ruff

Enhance trust center template for improved security and accessibility
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
Due: djlint-check, djlint-lint

Add billing plan gating for DT plugin and dim ineligible plugins
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/migrations/0005_add_config_schema.py
  sbomify/apps/plugins/models.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/apps/plugins/tests/test_plugin_config.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix race condition in DT mapping creation
  sbomify/apps/plugins/builtins/dependency_track.py
Due: ruff-format, ruff

Fix markdownlint MD032: add blank line before list in README
  sbomify/apps/sboms/sbom_format_schemas/README.md
Due: markdownlint

Resolve Tool element references in SPDX 3.0 createdUsing
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/ntia.py
Due: ruff-format, ruff

Address Copilot review: hardening and correctness fixes
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/sbom_validator.py
  sbomify/apps/sboms/schemas.py
Due: ruff-format, ruff

Skip non-CycloneDX SBOMs in hourly DT scan and stream trends query
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

Handle dict @context across all SPDX 3.0 detectors and widen model types
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/sboms/sbom_format_schemas/spdx_3_0.py
  sbomify/apps/sboms/sbom_validator.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/tests/test_apis.py
Due: ruff-format, ruff

Fix file size test: use patchable constant instead of 101MB allocation
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/tests/test_apis.py
Due: ruff-format, ruff

Include suppliedBy in supplier refs, handle legacy creationInfo, fix message
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/sboms/js/sbom-upload.spec.ts
  sbomify/apps/sboms/js/sbom-upload.ts
Due: bun-lint, ruff-format, ruff

Address Copilot review: avoid in-place mutation, use bytearray buffer, fix purl safety
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/sbom_format_schemas/spdx_3_0.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/sboms/tests/test_apis.py
Due: ruff-format, ruff

Normalize inline creationInfo dicts to blank node refs in legacy-to-graph conversion
  sbomify/apps/sboms/sbom_format_schemas/spdx_3_0.py
Due: ruff-format, ruff

Isolate plugin registrations so one failure does not block all others
  sbomify/apps/plugins/apps.py
Due: ruff-format, ruff

Use shared is_spdx3 helper, deep-copy in fixtures, place CreationInfo first in graph
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/sbom_format_schemas/spdx_3_0.py
  sbomify/apps/sboms/tests/fixtures.py
Due: ruff-format, ruff

Fix: isolate plugin registrations to prevent cascading failures
  sbomify/apps/plugins/apps.py
Due: ruff-format, ruff

Fix: add missing context parameter to OSV and DT plugin assess() methods
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/builtins/osv.py
Due: ruff-format, ruff

Narrow ProgrammingError handling in plugin registration
  sbomify/apps/plugins/apps.py
Due: ruff-format, ruff

Add context parameter to OSV and DT plugin docstrings
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/builtins/osv.py
Due: ruff-format, ruff

Add missing migration for collection_update_reason choices
  sbomify/apps/core/migrations/0018_alter_release_collection_update_reason.py
Due: ruff-format, ruff

Fix: TemplateSyntaxError on plugin settings page and harden template validation
  sbomify/apps/core/templates/components/tw/pagination.html.j2
  sbomify/apps/core/templates/core/components/recent_activity.html.j2
  sbomify/apps/core/templates/core/components/standard_card.html.j2
  sbomify/apps/core/templates/core/components/workspace_health.html.j2
  sbomify/apps/core/tests/test_template_recursion.py
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/apps/plugins/views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix djlint formatting and address Copilot review feedback
  sbomify/apps/core/templates/components/tw/pagination.html.j2
  sbomify/apps/core/templates/core/components/standard_card.html.j2
  sbomify/apps/core/templates/core/components/workspace_health.html.j2
  sbomify/apps/core/tests/test_template_recursion.py
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix standard_card default_expanded default and add |safe to HTML content vars
  sbomify/apps/core/templates/core/components/standard_card.html.j2
Due: djlint-check, djlint-lint

Address round 2 Copilot feedback
  sbomify/apps/core/templates/components/tw/pagination.html.j2
  sbomify/apps/core/templates/core/components/recent_activity.html.j2
  sbomify/apps/core/tests/test_template_recursion.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix dangerzone card icon to use default when info_icon is not provided
  sbomify/apps/core/templates/core/components/standard_card.html.j2
Due: djlint-check, djlint-lint

Restore tier-aware DT server selection in plugin settings
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/apps/plugins/tests/test_plugin_config.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Address Copilot feedback on tier-aware DT server selection
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/apps/plugins/tests/test_plugin_config.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Fix djlint formatting for template conditional block
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
Due: djlint-check, djlint-lint

Address round 2 Copilot feedback
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Enforce DT server selection tier restriction server-side
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/tests/test_plugin_config.py
Due: ruff-format, ruff

Rename "Workspace Settings" to "Settings" in sidebar
  sbomify/apps/core/templates/core/components/sidebar.html.j2
Due: djlint-check, djlint-lint

Scope personal access tokens to workspaces
  sbomify/apps/access_tokens/admin.py
  sbomify/apps/access_tokens/auth.py
  sbomify/apps/access_tokens/migrations/0002_accesstoken_team_and_more.py
  sbomify/apps/access_tokens/migrations/0003_auto_assign_single_team_tokens.py
  sbomify/apps/access_tokens/models.py
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/access_tokens/utils.py
  sbomify/apps/core/tests/test_views.py
  sbomify/apps/core/utils.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
  sbomify/apps/teams/tests/test_team_tokens.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Rename sbomify/github-action to sbomify/sbomify-action across codebase
  .github/workflows/ci-cd.yml
  README.md
  sbomify/apps/onboarding/templates/onboarding/emails/first_sbom.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/quick_start.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/welcome.html.j2
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
  sbomify/apps/sboms/js/ci-cd-info.spec.ts
  sbomify/apps/sboms/js/ci-cd-info.ts
Due: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Address Copilot review: remove redundant Team lookup, add migration comment
  sbomify/apps/access_tokens/migrations/0003_auto_assign_single_team_tokens.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff

feat: add disable_user method to KeycloakManager
  sbomify/apps/core/keycloak_utils.py
  sbomify/apps/core/migrations/0016_user_deleted_at.py
  sbomify/apps/core/models.py
  sbomify/apps/core/tests/test_account_deletion.py
  sbomify/apps/core/tests/test_keycloak_utils.py
Due: ruff-format, ruff

feat: add delete_customer method to StripeClient
  sbomify/apps/billing/stripe_client.py
  sbomify/apps/billing/tests/test_stripe_client.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
