Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

fix(trust-center): switch workspace before landing on Plugins
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/tests/test_workspace_public_plugins_link.py
  sbomify/apps/teams/views/__init__.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(search): tell an expired session apart from a guest
  sbomify/apps/core/js/navbar-search.ts
  sbomify/apps/core/spotlight.py
  sbomify/apps/core/tests/test_spotlight.py
  sbomify/apps/core/views/search.py
Due: bun-lint, ruff-format, ruff

fix(compliance): make the EU representation block reachable and binding
  sbomify/apps/compliance/document_templates/declaration_of_conformity.md.dtl
  sbomify/apps/compliance/js/cra-step-1.ts
  sbomify/apps/compliance/migrations/0017_alter_craassessment_authorized_rep_mandate_reference.py
  sbomify/apps/compliance/models.py
  sbomify/apps/compliance/services/document_generation_service.py
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/templates/compliance/cra_step_1.html.j2
  sbomify/apps/compliance/tests/test_eu_representative_review.py
  sbomify/apps/compliance/tests/test_wizard_service.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(core): swallow a dead socket, not a broken payload
  sbomify/apps/core/consumers.py
  sbomify/apps/core/tests/test_consumers.py
Due: ruff-format, ruff

fix(core): a RuntimeError subclass is not a closed socket
  sbomify/apps/core/consumers.py
  sbomify/apps/core/tests/test_consumers.py
Due: ruff-format, ruff

feat(screencasts): marketplace walkthrough tour, chapter clips, and 1080p hero stills
  .gitignore
  screencasts/README.md
  screencasts/conftest.py
  screencasts/marketplace_walkthrough.py
  screencasts/walkthrough_chapters.py
Due: markdownlint, ruff-format, ruff

fix(screencasts): follow the UI the walkthrough now records against
  .gitignore
  screencasts/conftest.py
  screencasts/walkthrough_chapters.py
Due: ruff-format, ruff

fix(screencasts): silence a bandit false positive on pass_count
  screencasts/walkthrough_chapters.py
Due: ruff-format, ruff

fix(compliance): say why the export is refused
  sbomify/apps/compliance/js/cra-step-5.ts
  sbomify/apps/compliance/templates/compliance/cra_step_5.html.j2
  sbomify/apps/compliance/tests/test_step_5_export_blockers.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): the badge must not claim more than the run did
  sbomify/apps/plugins/public_assessment_utils.py
  sbomify/apps/plugins/templates/plugins/components/_public_assessment_badge_inner.html.j2
  sbomify/apps/plugins/templates/plugins/components/public_assessment_icon.html.j2
  sbomify/apps/plugins/tests/test_public_badge_claim.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(mcp): make a tool's declared action sufficient to call it
  sbomify/apps/mcp/tests/test_security.py
  sbomify/apps/mcp/tools/artifacts.py
  sbomify/apps/mcp/tools/catalog.py
  sbomify/apps/mcp/tools/profiles.py
  sbomify/apps/mcp/tools/publish.py
Due: ruff-format, ruff

fix(vulns): name SPDX 3 as SPDX when Dependency Track refuses it
  sbomify/apps/vulnerability_scanning/clients.py
  sbomify/apps/vulnerability_scanning/tests/test_dt_rejection_message.py
Due: ruff-format, ruff

fix(plugins): carry the warning count into the dict the template reads
  sbomify/apps/plugins/public_assessment_utils.py
  sbomify/apps/plugins/templates/plugins/components/_public_assessment_badge_inner.html.j2
  sbomify/apps/plugins/tests/test_public_badge_claim.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(plugins): the exact-shape dict assertion gains the new key
  sbomify/apps/plugins/tests/test_public_assessment_utils.py
Due: ruff-format, ruff

test(compliance): drop the noqa noise and describe the fixture accurately
  sbomify/apps/compliance/tests/test_step_5_export_blockers.py
Due: ruff-format, ruff

feat(ci-cd): the integration dialog is one command
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/tests/templates/test_component_meta_info_templates.py
  sbomify/apps/sboms/js/ci-cd-info.spec.ts
  sbomify/apps/sboms/js/ci-cd-info.ts
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/sboms/templates/sboms/components/ci_cd_info.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(osv): a scan that recognised nothing is not a clean scan
  sbomify/apps/plugins/builtins/osv.py
  sbomify/apps/plugins/tests/test_osv_no_packages.py
Due: ruff-format, ruff

fix(dt): a spec version DT has not caught up to is a skip, not an error
  sbomify/apps/plugins/builtins/dependency_track.py
  sbomify/apps/plugins/tests/test_dt_unsupported_spec_version.py
Due: ruff-format, ruff

test(dt): drive the real assess() so the branch is proven wired
  sbomify/apps/plugins/tests/test_dt_unsupported_spec_version.py
Due: ruff-format, ruff

feat(vulns): show nothing scanned apart from nothing found
  sbomify/apps/core/services/product_page.py
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/sboms/services/sboms_table.py
  sbomify/apps/sboms/templates/sboms/sboms_table_content.html.j2
  sbomify/apps/sboms/tests/test_nothing_scanned_state.py
  sbomify/apps/vulnerability_scanning/utils.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(ci-cd): put a 7-day token in the command
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/sboms/js/ci-cd-token.ts
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/sboms/templates/sboms/components/ci_cd_info.html.j2
  sbomify/apps/teams/tests/test_ci_token.py
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/views/__init__.py
  sbomify/apps/teams/views/ci_token.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(onboarding): stop creating a product and component at signup
  sbomify/apps/teams/tests/test_onboarding_wizard.py
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

fix(ci-cd): keep the minted token out of caches, and pin how it reads
  sbomify/apps/sboms/js/ci-cd-token.ts
  sbomify/apps/sboms/js/main.ts
  sbomify/apps/teams/tests/test_ci_token.py
  sbomify/apps/teams/views/ci_token.py
Due: bun-lint, ruff-format, ruff

test(onboarding): post the field the form actually reads
  sbomify/apps/teams/tests/test_onboarding_wizard.py
Due: ruff-format, ruff

docs(vulns): name the state the guard is actually about
  sbomify/apps/sboms/services/sboms_table.py
Due: ruff-format, ruff

fix(ci-cd): authorize the workspace in the URL, not the selected one
  sbomify/apps/teams/tests/test_ci_token.py
  sbomify/apps/teams/views/ci_token.py
Due: ruff-format, ruff

test(vulns): give the fixture the fields a real run carries
  sbomify/apps/sboms/tests/test_nothing_scanned_state.py
Due: ruff-format, ruff

fix(tokens): stop warning that a 7-day token expires in 7 days
  sbomify/apps/access_tokens/notifications.py
  sbomify/apps/access_tokens/tasks.py
  sbomify/apps/access_tokens/tests/test_expiry_warnings.py
Due: ruff-format, ruff

test(tokens): pin the equal-to-lifetime boundary without a coin toss
  sbomify/apps/access_tokens/tasks.py
  sbomify/apps/access_tokens/tests/test_expiry_warnings.py
Due: ruff-format, ruff

Enable maintenance-free README translation sync
  .github/hy-mt2.json
Due: none

Add multilingual README support for zh-CN, ja, es
  README.md
  README_es.md
  README_ja.md
  README_zh-CN.md
Due: markdownlint

fix(trust-center): a public release page must not name private components
  sbomify/apps/core/apis.py
  sbomify/apps/core/middleware.py
  sbomify/apps/core/tests/test_release_apis.py
  sbomify/apps/core/tests/test_trust_center_subdomain_middleware.py
  sbomify/apps/core/views/product_details_public.py
Due: ruff-format, ruff

fix(products): put Add Link where the empty state points, not floating over it
  sbomify/apps/core/templates/core/components/product_links_card.html.j2
Due: djlint-check, djlint-lint

fix(products): identifiers and lifecycle get the same empty-state treatment
  sbomify/apps/core/templates/core/components/product_identifiers_card.html.j2
  sbomify/apps/core/templates/core/components/product_lifecycle_card.html.j2
Due: djlint-check, djlint-lint

refactor(products): drop the unreachable third empty-state branch
  sbomify/apps/core/templates/core/components/product_links_card.html.j2
Due: djlint-check, djlint-lint

fix(trust-center): a manager's release counts match the release page they see
  sbomify/apps/core/tests/test_release_apis.py
  sbomify/apps/core/views/product_details_public.py
Due: ruff-format, ruff

fix(compliance): style the CRA step 1 radios
  sbomify/apps/compliance/templates/compliance/cra_step_1.html.j2
Due: djlint-check, djlint-lint

fix(design-system): confirm a copy in place, and make menu items feel clickable
  sbomify/apps/core/js/components/copyable-value.spec.ts
  sbomify/apps/core/js/components/copyable-value.ts
  sbomify/apps/core/templates/components/tw/dropdown.html.j2
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/core/templates/core/components/copyable_value.html.j2
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_cbom_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_vex_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[992].jpg
  sbomify/assets/css/tailwind.src.css
Due: bun-lint, djlint-check, djlint-lint

style(buttons): give secondary the same raised edge as the filled variants
  docs/design-system.md
  sbomify/assets/css/tailwind.src.css
Due: markdownlint

feat(design-system): clickable list rows, and fix two broken gallery demos
  docs/design-system.md
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/views/design_system.py
  sbomify/apps/plugins/templates/plugins/team_plugin_settings.html.j2
  sbomify/assets/css/tailwind.src.css
  sbomify/templates/components/date_picker.html.j2
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint
