Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

chore: remove tier 2 events doc, moved to GitHub issue
  docs/posthog-tier2-events.md
Due: markdownlint

fix(posthog): guard against empty team.key in workspace groups
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/onboarding/signals.py
Due: ruff-format, ruff

fix(posthog): address PR review — secure cookie, log effective host, preserve path, add workspace to scan:initiated
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/plugins/tasks/__init__.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(posthog): address PR review — deferred lookup, HTTPS enforcement, session-based anonymous ID, length guard
  sbomify/apps/billing/views.py
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/posthog_service.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/sboms/views/sbom_download.py
Due: ruff-format, ruff

fix(posthog): derive assets_host from origin only, avoid duplicate cookie parsing
  sbomify/apps/billing/views.py
  sbomify/apps/core/context_processors.py
  sbomify/apps/sboms/views/sbom_download.py
Due: ruff-format, ruff

fix(posthog): use session key for anonymous distinct_id, fix dict type annotation
  sbomify/apps/billing/views.py
  sbomify/apps/sboms/views/sbom_download.py
Due: ruff-format, ruff

fix(posthog): centralize distinct_id logic, defer _initialized until success
  sbomify/apps/billing/views.py
  sbomify/apps/core/posthog_service.py
  sbomify/apps/sboms/views/sbom_download.py
Due: ruff-format, ruff

fix(posthog): mark init failed permanently, gate on is_enabled, deduplicate wizard event
  sbomify/apps/core/posthog_service.py
  sbomify/apps/onboarding/signals.py
  sbomify/apps/sboms/views/sbom_download.py
Due: ruff-format, ruff

feat(posthog): add GDPR consent banner and PII minimization
  sbomify/apps/billing/views.py
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/templates/components/tw/analytics_consent.html.j2
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/tests/test_context_processors.py
  sbomify/apps/core/tests/test_posthog_service.py
  sbomify/apps/teams/signals.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Add ADR-006: Generalized BOM model with type discriminator
  docs/ADR/0006-unified-artifact-model.md
Due: markdownlint

Address Copilot review feedback on ADR-006
  docs/ADR/0006-generalized-bom-model.md
Due: markdownlint

Note component_type enforcement asymmetry in ADR-006
  docs/ADR/0006-generalized-bom-model.md
Due: markdownlint

fix(posthog): respect consent server-side, fix banner copy, use request= for session
  sbomify/apps/billing/views.py
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/templates/components/tw/analytics_consent.html.j2
  sbomify/apps/sboms/views/sbom_download.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Add ADR-007: Remove project hierarchy level
  docs/ADR/0007-remove-project-hierarchy-level.md
Due: markdownlint

fix(posthog): use separate consent key to distinguish default opt-out from explicit decline
  sbomify/apps/core/templates/components/tw/analytics_consent.html.j2
Due: djlint-check, djlint-lint

feat(posthog): add PostHog env vars to Docker Compose common env
  docker-compose.yml
Due: none

fix(posthog): default to opted-out when no consent cookie, add consent tests
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/tests/test_posthog_service.py
Due: ruff-format, ruff

fix(posthog): wrap localStorage in try/catch for blocked storage environments
  sbomify/apps/core/templates/components/tw/analytics_consent.html.j2
Due: djlint-check, djlint-lint

fix(posthog): use system distinct_id for all signal/task events, improve consent banner
  sbomify/apps/core/templates/components/tw/analytics_consent.html.j2
  sbomify/apps/onboarding/signals.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/teams/signals.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(posthog): treat missing COOKIES attribute as opted out
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/tests/test_posthog_service.py
Due: ruff-format, ruff

fix(posthog): gate identify, group, and session cookie behind opt-in
  sbomify/apps/core/templates/core/base.html.j2
Due: djlint-check, djlint-lint

fix(posthog): use HMAC with SECRET_KEY for email hashing instead of plain SHA-256
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/tests/test_posthog_service.py
Due: ruff-format, ruff

fix(posthog): use getattr for session_key to handle dict-like sessions
  sbomify/apps/core/posthog_service.py
Due: ruff-format, ruff

fix(posthog): guard nullable workspace keys and skip anonymous events
  sbomify/apps/billing/views.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/sboms/views/sbom_download.py
Due: ruff-format, ruff

fix(posthog): clear ph_session_id cookie on analytics opt-out
  sbomify/apps/core/templates/components/tw/analytics_consent.html.j2
Due: djlint-check, djlint-lint

fix(posthog): check exact project cookie before fallback scan in has_opted_out
  sbomify/apps/core/posthog_service.py
Due: ruff-format, ruff

fix(posthog): prefer exact project cookie in has_opted_out + add download analytics tests
  sbomify/apps/sboms/tests/test_views.py
Due: ruff-format, ruff

refactor(posthog): remove duplicate session-id plumbing from views
  sbomify/apps/billing/views.py
  sbomify/apps/sboms/tests/test_views.py
  sbomify/apps/sboms/views/sbom_download.py
Due: ruff-format, ruff

fix(posthog): skip broadcast and push notification when workspace key is missing
  sbomify/apps/plugins/tasks/__init__.py
Due: ruff-format, ruff

refactor(posthog): use workspace key as distinct_id instead of "system"
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/core/signals.py
  sbomify/apps/onboarding/signals.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/teams/signals.py
Due: ruff-format, ruff

fix(posthog): always emit events with fallback, use default team for signup
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/teams/signals.py
Due: ruff-format, ruff

fix(posthog): subscription_canceled fallback + billing analytics tests
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/tests/test_billing_processing.py
Due: ruff-format, ruff

fix(posthog): update capture docstring and normalize workspace_key type
  sbomify/apps/core/posthog_service.py
  sbomify/apps/plugins/tasks/__init__.py
Due: ruff-format, ruff

build(deps): bump npm and pip dependencies with breaking change fixes
  bun.lock
  package.json
  pyproject.toml
  sbomify/apps/core/js/main.ts
  sbomify/apps/documents/js/main.ts
  sbomify/apps/teams/js/main.ts
  sbomify/apps/vulnerability_scanning/js/main.ts
  uv.lock
  vite.config.ts
Due: bun-lint

Hold back Vite to 7, remove stale modulepreload-polyfill imports
  bun.lock
  package.json
  vite.config.ts
Due: bun-lint

fix(ntia): guard against non-string field values in SBOM validation
  sbomify/apps/plugins/builtins/ntia.py
Due: ruff-format, ruff

fix(ntia): add isinstance guards for non-dict items + regression tests
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/tests/test_ntia_plugin.py
Due: ruff-format, ruff

fix(ntia): handle list-typed suppliedBy in SPDX 3.0 packages
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/builtins/ntia.py
Due: ruff-format, ruff

fix(plugins): apply same isinstance guards to FDA, CISA, and BSI plugins
  sbomify/apps/plugins/builtins/bsi.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
Due: ruff-format, ruff

fix(plugins): harden against null/non-standard SBOM field types
  sbomify/apps/plugins/builtins/_spdx3_helpers.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/tests/test_ntia_plugin.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
