Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

test(e2e): regenerate the empty-state and requirements matrix baselines for the phone floor
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_advisories_yet_dark_375.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_advisories_yet_light_375.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_products_yet_dark_375.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_products_yet_dark_576.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_products_yet_light_375.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_products_yet_light_576.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_scans_found_dark_375.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_empty_list_no_scans_found_light_375.jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_requirements_matrix[dark-390].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_requirements_matrix[light-390].jpg
Due: none

test(triage): wait on what the page does, and keep each bridge's debounce in Alpine state
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/components/component_vulnerabilities_table.html.j2
  sbomify/apps/core/tests/e2e/test_sbom_vulnerabilities.py
  sbomify/apps/sboms/templates/sboms/components/scan_vulnerabilities.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(nav): build the sidebar's workspace links from the workspace its flags describe
  sbomify/apps/core/tests/test_dashboard_chrome.py
  sbomify/templates/components/chrome/sidebar.html
Due: ruff-format, ruff

fix(plugins): rewrite a run's result under the offload sweep's row lock
  sbomify/apps/plugins/result_store.py
  sbomify/apps/plugins/tests/test_result_offload.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

Wait for the swap to settle before changing the page size
  sbomify/apps/core/tests/e2e/test_product_navigation.py
Due: ruff-format, ruff

Check that --group comes from the matrix, not a literal
  bin/check_ci_test_matrix.py
Due: ruff-format, ruff

fix(billing): check the downgrade again under the workspace lock that writes it
  sbomify/apps/billing/tests/test_views.py
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

fix(parties): finish the rename, and fill Last updated after a save
  sbomify/apps/core/tests/e2e/test_settings_navigation.py
  sbomify/apps/core/tests/e2e/test_ui_action_repairs.py
  sbomify/apps/teams/templates/teams/contact_profiles/profile_form.html.j2
  sbomify/apps/teams/tests/test_contact_profile_validation.py
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(settings): refresh the Workspace card alone after its save
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/general.html.j2
  sbomify/apps/teams/tests/test_settings_page.py
  sbomify/apps/teams/views/team_general.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(trust-center): put the NDA card's footer on the card surface
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/tests/test_settings_page.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(e2e): regenerate the party form baseline at 375px for the renamed copy
  sbomify/apps/core/tests/e2e/__snapshots__/test_contact_profile_form_snapshot[375].jpg
Due: none

fix(onboarding): do not resend a message the server may have taken
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(vex): look again at scans that store while the re-apply runs
  sbomify/apps/vulnerability_scanning/tasks/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_vex_reapply_scope.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

fix(vulns): keep each panel bridge's debounce in Alpine state
  sbomify/apps/core/templates/core/components/component_vulnerabilities_table.html.j2
  sbomify/apps/sboms/templates/sboms/components/scan_vulnerabilities.html.j2
Due: djlint-check, djlint-lint

refactor(cle): keep the release lookup's permission result a bool
  sbomify/apps/core/cle_apis.py
Due: ruff-format, ruff

test(vex): match the result column the way the backend quotes it
  sbomify/apps/vulnerability_scanning/tests/test_vex_reapply_scope.py
Due: ruff-format, ruff

fix(onboarding): say what the retry and reminder logs actually did
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tasks/__init__.py
Due: ruff-format, ruff

refactor(plugins): order the latest runs in SQL and drop a temporary list
  sbomify/apps/plugins/apis.py
Due: ruff-format, ruff

fix(screencasts): say so when there is no cache to backfill, and scope the music bed
  screencasts/README.md
  screencasts/backfill_timings.py
  screencasts/tests/test_tooling.py
Due: markdownlint, ruff-format, ruff

fix(vulns): refresh the artifact report when its scan finishes
  sbomify/apps/core/tests/e2e/test_assessment_refresh.py
  sbomify/apps/core/tests/test_security_surface_refresh.py
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

test(e2e): regenerate the trusted publishers baseline at 576 for the phone floor
  sbomify/apps/core/tests/e2e/__snapshots__/test_trusted_publishers_snapshot[576].jpg
Due: none

style(billing): ruff format a test line past the length limit
  sbomify/apps/billing/tests/test_team_pricing_service.py
Due: ruff-format, ruff

fix(billing): read the Members tile's limit from the plan the seat check uses
  sbomify/apps/billing/team_pricing_service.py
  sbomify/apps/billing/tests/test_team_pricing_service.py
Due: ruff-format, ruff

test(e2e): regenerate the delete-workspace modal baselines over the new workspace list
  sbomify/apps/core/tests/e2e/__snapshots__/test_delete_workspace_modal_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_delete_workspace_modal_snapshot[576].jpg
Due: none

fix(plugins): report a backoff hold apart from an up-to-date scan
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/plugins/tests/test_failed_scan_backoff.py
Due: ruff-format, ruff

fix(screencasts): never publish a capture left over from an earlier take
  screencasts/tests/test_tooling.py
  screencasts/wayland_capture.py
Due: ruff-format, ruff

fix(onboarding): sweep an unresolved welcome handoff whatever the account age
  sbomify/apps/onboarding/tasks/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

test(trust-center): report raw channels parked in a custom property
  sbomify/apps/core/tests/test_trust_center_css.py
Due: ruff-format, ruff

fix(plugins): leave a non-object history result for the serializer to degrade
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/tests/test_assessment_history_bounds.py
Due: ruff-format, ruff

test(plugins): pin that a scan becomes visible as completed with its rows
  sbomify/apps/plugins/tests/test_orchestrator_vex_hook.py
Due: ruff-format, ruff

fix(parties): show API errors in the settings' word for the resource
  sbomify/apps/teams/tests/test_contact_profile_validation.py
  sbomify/apps/teams/views/contact_profiles.py
Due: ruff-format, ruff

fix(plugins): draw the list heading placeholder only when sections arrive
  sbomify/apps/plugins/templates/plugins/plugins_page.html.j2
  sbomify/apps/plugins/tests/test_catalogue_shape.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(vulns): morph the report region when its scan finishes
  sbomify/apps/core/tests/e2e/test_assessment_refresh.py
  sbomify/apps/sboms/templates/sboms/components/scan_vulnerabilities.html.j2
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

test(authz): guard the renamed session role key as well as the old one
  sbomify/apps/core/tests/test_authz.py
Due: ruff-format, ruff

fix(settings): drop the description the Integrations tab still passed
  sbomify/apps/teams/settings_tabs.py
Due: ruff-format, ruff

test(products): read the workspace from the key #1792 renamed it to
  sbomify/apps/core/tests/test_product_page_service.py
Due: ruff-format, ruff

fix(vex): apply the new VEX, not the one it replaced
  sbomify/apps/vulnerability_scanning/tasks/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_reapply_vex_ordering.py
Due: ruff-format, ruff

fix(sboms): read a mistyped SPDX 3 package field as absent, as master now does
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/tests/test_spdx3_document_subject.py
Due: ruff-format, ruff

fix(billing): count seats when a scheduled downgrade lands
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/notifications.py
  sbomify/apps/billing/services/plan_selection.py
  sbomify/apps/billing/tests/test_ended_subscription_entitlements.py
  sbomify/apps/billing/tests/test_scheduled_downgrade_readers.py
  sbomify/apps/billing/tests/test_webhook_event_ordering.py
Due: ruff-format, ruff

fix(teams): stop new seats at the plan a cancelled subscription drops to
  sbomify/apps/teams/tests/test_invite_limit_loophole.py
  sbomify/apps/teams/utils.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
