Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix(core): recover the workspace WebSocket after backend restarts
  sbomify/apps/core/js/components/websocket-store.spec.ts
  sbomify/apps/core/js/components/websocket-store.ts
Due: bun-lint

fix(core): skip retrying terminal WebSocket close codes
  sbomify/apps/core/js/components/websocket-store.spec.ts
  sbomify/apps/core/js/components/websocket-store.ts
Due: bun-lint

test(core): restore mocked globals after each websocket-store spec
  sbomify/apps/core/js/components/websocket-store.spec.ts
Due: bun-lint

feat(advisories): map the New Advisory modal onto products and releases
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/apps/core/templates/core/security_advisory_detail.html.j2
  sbomify/apps/core/views/security_advisories.py
  sbomify/apps/security_advisories/forms.py
  sbomify/apps/security_advisories/services/advisories.py
  sbomify/apps/security_advisories/tests/test_create_advisory.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(ui): fold Advisory and Supplier into the header's New menu
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/apps/teams/templates/teams/components/supplier_rows.html.j2
  sbomify/apps/teams/templates/teams/suppliers.html.j2
Due: djlint-check, djlint-lint

fix(advisories): normalise CVE case in the service, not only the form
  sbomify/apps/security_advisories/services/advisories.py
  sbomify/apps/security_advisories/tests/test_create_advisory.py
Due: ruff-format, ruff

feat(ui): pull Suppliers out of the nav until the feature matures
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/components/sidebar.html.j2
  sbomify/apps/teams/templates/teams/suppliers.html.j2
Due: djlint-check, djlint-lint

fix(plugins): serialise lifecycle folds per component
  sbomify/apps/plugins/lifecycle.py
Due: ruff-format, ruff

fix(advisories): refuse pinning the floating latest release in the service
  sbomify/apps/security_advisories/services/advisories.py
  sbomify/apps/security_advisories/tests/test_create_advisory.py
Due: ruff-format, ruff

Address review: anchor the filter and make the tests pin it
  sbomify/apps/core/tests/test_streaming_warning_filter.py
  sbomify/settings.py
Due: ruff-format, ruff

fix(ui): remove the Suppliers sidebar entry until the feature matures
  sbomify/apps/core/templates/core/components/sidebar.html.j2
Due: djlint-check, djlint-lint

feat(trust-center): redesign, and publish advisories with per-product gating
  sbomify/apps/core/templates/core/components/trust_center/advisory_row.html.j2
  sbomify/apps/core/templates/core/components/trust_center/restricted_notice.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/trust_center_advisories.html.j2
  sbomify/apps/core/templates/core/trust_center_advisory_detail.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/templatetags/public_url_tags.py
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/trust_center_advisories.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/security_advisories/services/advisories.py
  sbomify/apps/security_advisories/services/trust_center.py
  sbomify/apps/security_advisories/tests/test_trust_center.py
  sbomify/static/css/trust-center.css
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(trust-center): apply advisory filters live, and calm the sidebar down
  sbomify/apps/core/templates/core/components/trust_center/advisories_browse.html.j2
  sbomify/apps/core/templates/core/trust_center_advisories.html.j2
  sbomify/apps/core/views/trust_center_advisories.py
  sbomify/apps/security_advisories/services/trust_center.py
  sbomify/static/css/trust-center.css
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(trust-center): persistent nav, real page header, and a readable timeline
  sbomify/apps/core/templates/core/components/trust_center/nav.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/trust_center_advisory_detail.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/templatetags/public_url_tags.py
  sbomify/apps/security_advisories/services/trust_center.py
  sbomify/apps/security_advisories/tests/test_trust_center.py
  sbomify/static/css/trust-center.css
Due: ruff-format, ruff, djlint-check, djlint-lint

style(trust-center): one flat background below the header
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: djlint-check, djlint-lint

test(trust-center): pin who sees the "enable vulnerability scanning" prompt
  sbomify/apps/core/tests/test_workspace_public_view.py
Due: ruff-format, ruff

fix(screencasts): unfold the CRA accordion and add a Security Advisories screencast
  screencasts/cra_compliance.py
  screencasts/security_advisories.py
Due: ruff-format, ruff

fix(trust-center): restore the advisory detail header
  sbomify/apps/core/templates/core/trust_center_advisory_detail.html.j2
  sbomify/static/css/trust-center.css
Due: djlint-check, djlint-lint

fix(screencasts): follow the surfaces the component-page redesign moved
  screencasts/oidc_trusted_publishing.py
  screencasts/vex_upload.py
Due: ruff-format, ruff

feat(trust-center): collapse the advisory filters on mobile, move the theme picker back
  sbomify/apps/core/templates/core/components/trust_center/advisories_browse.html.j2
  sbomify/apps/core/templates/core/components/trust_center/theme_toggle.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/templates/core/trust_center_advisories.html.j2
  sbomify/apps/security_advisories/services/trust_center.py
  sbomify/static/css/trust-center.css
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(screencasts): the plugin Save button no longer carries a form attribute
  screencasts/conftest.py
  screencasts/vulnerability_scanning.py
Due: ruff-format, ruff

test(e2e): refresh the public-page snapshots for the trust-center redesign
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[992].jpg
Due: none

feat(advisories): make the timeline composer persist
  sbomify/apps/core/views/security_advisories.py
  sbomify/apps/security_advisories/services/advisories.py
  sbomify/apps/security_advisories/tests/test_post_update.py
Due: ruff-format, ruff

Fix Trust Center slug rename rejecting every workspace
  sbomify/apps/teams/tests/test_trust_center_slug.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

feat(advisories): version selection and range-picking in the New Advisory modal
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/js/components/advisory-product-picker.spec.ts
  sbomify/apps/core/js/components/advisory-product-picker.ts
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
Due: bun-lint, djlint-check, djlint-lint

fix(advisories): lock the composer's read-modify-write; skip the heavy existence check
  sbomify/apps/core/views/security_advisories.py
  sbomify/apps/security_advisories/services/advisories.py
Due: ruff-format, ruff

fix(advisories): controlled picker rows, half-tick parents, and no stray comment
  sbomify/apps/core/js/components/advisory-product-picker.spec.ts
  sbomify/apps/core/js/components/advisory-product-picker.ts
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/assets/css/tailwind.src.css
Due: bun-lint, djlint-check, djlint-lint

feat(settings): one page per section, with tabs across the top
  sbomify/apps/teams/settings_tabs.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/tests/test_team_settings_tabs.py
  sbomify/apps/teams/urls.py
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/team_settings.py
  sbomify/assets/css/tailwind.src.css
Due: ruff-format, ruff, djlint-check, djlint-lint

style(settings): keep the section cards, drop the wrapper around them
  sbomify/assets/css/tailwind.src.css
Due: none

fix(trust-center): send a fixed 404 message rather than the resolver's
  sbomify/apps/core/views/trust_center_advisories.py
Due: ruff-format, ruff

fix(settings): take the redirect fragment from a literal, raise a typed 403
  sbomify/apps/teams/utils.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

fix(screencasts): audit every screen against the redesigned UI; smooth all scrolling
  screencasts/account_deletion.py
  screencasts/conftest.py
  screencasts/cra_compliance.py
  screencasts/document_signatures.py
  screencasts/document_upload.py
  screencasts/oidc_trusted_publishing.py
  screencasts/product_creation.py
  screencasts/profile_editing.py
  screencasts/release_creation.py
  screencasts/security_advisories.py
  screencasts/trust_center_setup.py
  screencasts/vex_lifecycle.py
  screencasts/vex_upload.py
  screencasts/vulnerability_scanning.py
  screencasts/workspace_deletion.py
Due: ruff-format, ruff

fix(screencasts): the assign opener differs between empty and populated products
  screencasts/product_creation.py
Due: ruff-format, ruff

fix(trust-center): encode the advisory id before it reaches a redirect target
  sbomify/apps/core/views/trust_center_advisories.py
  sbomify/apps/security_advisories/tests/test_trust_center.py
Due: ruff-format, ruff

fix(screencasts): reload after creating a release instead of waiting on the socket
  screencasts/release_creation.py
Due: ruff-format, ruff

feat(vulns): flag ENISA EUVD exploited findings beside CISA KEV
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/vulnerability_scanning/euvd.py
  sbomify/apps/vulnerability_scanning/tasks/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_euvd.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(trust-center): only redirect to a host this workspace is entitled to
  sbomify/apps/core/views/trust_center_advisories.py
  sbomify/apps/security_advisories/tests/test_trust_center.py
Due: ruff-format, ruff

fix(screencasts): vex_upload ends on the unified artifacts table
  screencasts/vex_upload.py
Due: ruff-format, ruff

Use canonical workspace roles in slug permission tests
  sbomify/apps/teams/tests/test_trust_center_slug.py
Due: ruff-format, ruff

feat(vulns): suppressed-findings toggle, state and KEV filters on the internal drill-down
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/core/templates/core/components/component_vulnerabilities.html.j2
  sbomify/apps/core/tests/test_component_views.py
  sbomify/apps/core/views/component_details_private.py
  sbomify/apps/vulnerability_scanning/tests/test_result_annotations.py
  sbomify/apps/vulnerability_scanning/utils.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
