Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

style(docs): markdownlint the cherry-picked ADR
  docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
Due: markdownlint

chore(dev): replace MinIO with SeaweedFS for local S3 storage
  .env.example
  AGENTS.md
  DEVELOPER.md
  README.md
  bin/create-minio-buckets.sh
  bin/developer_mode.sh
  bin/seaweedfs-s3.json
  docker-compose.dev.yml
  docker-compose.yml
  screencasts/oidc_trusted_publishing.py
Due: markdownlint, ruff-format, ruff

chore(deps): resolve outstanding Dependabot security alerts
  pyproject.toml
  uv.lock
Due: none

test(e2e): the plugins page baselines include the HBOM Structure plugin
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_plugins_page_snapshot[992].jpg
Due: none

fix(buttons): a shared button was not shared on public pages
  sbomify/apps/core/tests/test_cotton_branded.py
  sbomify/apps/sboms/templates/sboms/components/ci_cd_info.html.j2
  sbomify/templates/components/buttons/button.html
  sbomify/templates/components/buttons/danger.html
  sbomify/templates/components/buttons/gradient.html
  sbomify/templates/components/buttons/outline.html
  sbomify/templates/components/buttons/secondary.html
  sbomify/templates/components/buttons/success.html
  sbomify/templates/components/buttons/warning.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(date-picker): close the calendar on a click anywhere outside it
  sbomify/templates/components/date_picker.html.j2
Due: djlint-check, djlint-lint

fix(css): the legacy anchor hover rule outranked the button's own
  sbomify/static/css/base.css
Due: none

feat(trust-center): light only, and the theme toggle goes
  sbomify/apps/core/templates/core/components/trust_center/theme_toggle.html.j2
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_public_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_public_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_public_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_public_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_public_prerelease_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_public_prerelease_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_public_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_release_details_public_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_request_access_nda_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_request_access_nda_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_request_access_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_request_access_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sign_nda_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sign_nda_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[576].jpg
Due: djlint-check, djlint-lint

style: djlint reformat after the theme change
  sbomify/apps/core/templates/core/public_base.htmx.j2
Due: djlint-check, djlint-lint

fix(css): legacy colour utilities overrode every component's own colour
  sbomify/static/css/utilities.css
Due: none

style: no em dashes anywhere this branch touches
  charts/sbomify/templates/caddy-configmap.yaml
  deploy/local/dependencies.yaml
  docs/ADR/0007-gcs-support-and-cloud-workload-identity.md
Due: markdownlint

fix(dev): address review feedback on the SeaweedFS service
  AGENTS.md
  README.md
  docker-compose.dev.yml
Due: markdownlint

fix(deploy): stop asserting HSTS and IP trust we have no right to
  charts/sbomify/templates/caddy-configmap.yaml
  charts/sbomify/values.yaml
Due: none

fix(deploy): five more review findings, including a documented footgun
  .github/workflows/ci-cd.yml
  README.md
  charts/sbomify/Chart.yaml
  charts/sbomify/README.md
  charts/sbomify/templates/NOTES.txt
  charts/sbomify/templates/caddy-deployment.yaml
  charts/sbomify/templates/caddy-service.yaml
  charts/sbomify/templates/deployment-worker.yaml
  charts/sbomify/templates/job-migrations-hookenv.yaml
  charts/sbomify/templates/job-migrations.yaml
  charts/sbomify/templates/secret.yaml
  charts/sbomify/templates/tests/test-edge.yaml
  charts/sbomify/values.yaml
  deploy/local/kind-cluster.yaml
  sbomify/apps/core/tests/test_release_script.py
Due: markdownlint, ruff-format, ruff

fix(dev): make the health check actually wait for the buckets
  AGENTS.md
  README.md
  docker-compose.dev.yml
  docker-compose.yml
Due: markdownlint

fix(deploy): validation no longer offers workload identity as a way out
  charts/sbomify/templates/_validation.tpl
Due: none

fix(icons): fa-shield-check is a Pro icon and rendered nothing
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_results.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
Due: djlint-check, djlint-lint

fix(deploy): drop AWS credential variables that would outrank IRSA
  .github/workflows/ci-cd.yml
  charts/sbomify/templates/_helpers.tpl
Due: none

fix(badges, tables): a badge is one line, and every first column stays on one
  sbomify/apps/core/templates/core/components/component_cbom_issues.html.j2
  sbomify/apps/core/templates/core/components/component_vulnerabilities.html.j2
  sbomify/apps/core/templates/core/components/product_identifiers_card.html.j2
  sbomify/apps/core/templates/core/components/product_links_card.html.j2
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/release_artifacts.html.j2
  sbomify/apps/core/templates/core/security_advisories_table.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/oidc/templates/oidc/_trusted_publishers_section.html.j2
  sbomify/apps/sboms/templates/sboms/components/crypto_inventory_card.html.j2
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_scans.html.j2
  sbomify/assets/css/tailwind.src.css
  sbomify/templates/components/badges/badge.html
  sbomify/templates/components/badges/dynamic.html
  sbomify/templates/components/chips/metric_chip.html
  sbomify/templates/components/chips/neutral.html
  sbomify/templates/components/tags/tag.html
Due: djlint-check, djlint-lint

fix(advisories): the trust centre links point at the advisory, not the front page
  sbomify/apps/core/templates/core/security_advisory_detail.html.j2
Due: djlint-check, djlint-lint

fix(deploy): pin caddy.healthPath and skip the lock tests off PostgreSQL
  charts/sbomify/templates/_helpers.tpl
  charts/sbomify/templates/_validation.tpl
  charts/sbomify/values.yaml
  sbomify/apps/core/tests/test_release_script.py
Due: ruff-format, ruff

fix(chips, badges): keep nowrap out of the middle of a class string
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_no_data_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_trusted_publishers_snapshot[576].jpg
  sbomify/templates/components/badges/dynamic.html
  sbomify/templates/components/chips/metric_chip.html
  sbomify/templates/components/chips/neutral.html
  sbomify/templates/components/tags/tag.html
Due: none

fix(deploy): SeaweedFS for the kind stack, and pin SigV4 explicitly
  .github/workflows/helm.yml
  bin/kind-up.sh
  charts/sbomify/README.md
  charts/sbomify/templates/_helpers.tpl
  charts/sbomify/values-local.yaml
  deploy/local/dependencies.yaml
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
Due: markdownlint, ruff-format, ruff

style(compliance): unmangle the fixture my merge resolution collapsed
  sbomify/apps/compliance/tests/test_export_service.py
Due: ruff-format, ruff

docs(deploy): stop the externalTrafficPolicy comment overclaiming
  charts/sbomify/templates/caddy-service.yaml
Due: none

test(e2e): restore the product-releases baselines from CI, and say why
  sbomify/apps/core/tests/e2e/README.md
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_releases_private_snapshot[992].jpg
Due: markdownlint

fix(storage): restore VEX read strictness and check existence with HEAD
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
  sbomify/apps/vulnerability_scanning/tests/test_triage.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

Merge upstream/master and rename its new StorageClient call site
  sbomify/apps/core/management/commands/seed_demo_data.py
Due: ruff-format, ruff

fix(storage): chain the VEX read cause, and stop response headers rebinding Bucket/Key
  sbomify/apps/core/object_store.py
  sbomify/apps/core/tests/integration/test_object_store.py
  sbomify/apps/vulnerability_scanning/tests/test_triage.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

fix(vex): real-world VEX documents match the findings they were written for
  sbomify/apps/vulnerability_scanning/tests/test_vex.py
  sbomify/apps/vulnerability_scanning/tests/test_vex_formats.py
  sbomify/apps/vulnerability_scanning/vex.py
  sbomify/apps/vulnerability_scanning/vex_formats.py
Due: ruff-format, ruff

fix(storage): the documents fallback was hiding the misconfiguration it checks for
  sbomify/apps/core/apps.py
  sbomify/apps/core/tests/test_apps.py
Due: ruff-format, ruff

fix(ui): suppressed findings show by default on the vulnerabilities card
  sbomify/apps/core/templates/core/components/component_vulnerabilities.html.j2
Due: djlint-check, djlint-lint

docs(deploy): values.yaml no longer describes an ingress controller
  charts/sbomify/values.yaml
Due: none

test(deploy): assert the rendered DATABASE_URL in CI
  .github/workflows/helm.yml
  charts/sbomify/templates/_helpers.tpl
Due: none

feat(create): product and component creation as pages, not modals
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/core/templates/core/component_new.html.j2
  sbomify/apps/core/templates/core/components/create_modals.html.j2
  sbomify/apps/core/templates/core/components/header.html.j2
  sbomify/apps/core/templates/core/components/quick_actions.html.j2
  sbomify/apps/core/templates/core/components_dashboard.html.j2
  sbomify/apps/core/templates/core/components_table.html.j2
  sbomify/apps/core/templates/core/dashboard_base.html.j2
  sbomify/apps/core/templates/core/dashboard_base.htmx.j2
  sbomify/apps/core/templates/core/product_new.html.j2
  sbomify/apps/core/templates/core/products_dashboard.html.j2
  sbomify/apps/core/templates/core/products_table.html.j2
  sbomify/apps/core/tests/integration/test_ui_workflows.py
  sbomify/apps/core/tests/test_spotlight.py
  sbomify/apps/core/urls.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/components_dashboard.py
  sbomify/apps/core/views/products_dashboard.py
  sbomify/apps/sboms/tests/test_views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(ui): modal outside-click dismissal, release header rhythm
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/core/tests/test_cotton_singletons.py
  sbomify/templates/components/modal.html
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(settings): one editor-style layout across every settings tab
  sbomify/apps/documents/templates/documents/access_request_queue_content.html.j2
  sbomify/apps/teams/js/team-branding.ts
  sbomify/apps/teams/templates/teams/team_branding.html.j2
  sbomify/apps/teams/templates/teams/team_custom_domain.html.j2
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/billing.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/branding.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/contact_profiles.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/general.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/members.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/tokens.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
Due: bun-lint, djlint-check, djlint-lint

refactor(cards): one Danger Zone component, and two dead cards removed
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/js/components/standard-card.spec.ts
  sbomify/apps/core/js/components/standard-card.ts
  sbomify/apps/core/templates/components/component_danger_zone.html.j2
  sbomify/apps/core/templates/components/product_danger_zone.html.j2
  sbomify/apps/core/templates/components/release_danger_zone.html.j2
  sbomify/apps/core/templates/components/sbom_danger_zone.html.j2
  sbomify/apps/core/templates/components/tw/card.html.j2
  sbomify/apps/core/templates/core/components/standard_card.html.j2
  sbomify/apps/core/templates/core/cotton_probes/cards.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/test_cotton_cards.py
  sbomify/apps/teams/templates/teams/components/team_danger_zone.html.j2
  sbomify/apps/teams/templates/teams/team_settings_tabs/account.html.j2
  sbomify/templates/components/cards/dangerzone_collapsible.html
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

refactor(cards): a calmer, readable Danger Zone
  sbomify/apps/core/templates/core/cotton_probes/cards.html.j2
  sbomify/apps/core/tests/test_cotton_cards.py
  sbomify/templates/components/cards/dangerzone.html
  sbomify/templates/components/cards/dangerzone_body.html
  sbomify/templates/components/cards/dangerzone_collapsible.html
  sbomify/templates/components/cards/dangerzone_header.html
Due: ruff-format, ruff, djlint-check, djlint-lint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
