Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix(plugins): stop the sweep sorting rows it takes in any order
  sbomify/apps/plugins/stranded.py
  sbomify/apps/plugins/tests/test_stranded_runs_are_settled.py
Due: ruff-format, ruff

test(plugins): pin the retry-exhausted result through the shared finaliser
  sbomify/apps/plugins/tests/test_orchestrator.py
Due: ruff-format, ruff

refactor(plugins): fetch only run ids in the stranded-run sweep
  sbomify/apps/plugins/stranded.py
Due: ruff-format, ruff

Refresh the document page visual baseline
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_private_document_snapshot[992].jpg
Due: none

Unify dashboard summary and trends layouts
  sbomify/apps/core/templates/core/dashboard.html.j2
  sbomify/apps/core/templates/core/dashboard_trends.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_dashboard_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/core/tests/test_stat_card_values.py
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_body.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/_vulnerability_trends_results.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/vulnerability_trends.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/vulnerability_trends_page.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_views.py
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
  sbomify/templates/components/overview/header.html
Due: ruff-format, ruff, djlint-check, djlint-lint

chore: drop a scratch file that should never have been committed
  pr-body.md
Due: markdownlint

fix(onboarding): a mail outage no longer costs a user their email
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tasks/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(billing): the stale cache rides on the Stripe event, not a second one
  sbomify/apps/billing/stripe_pricing_service.py
  sbomify/apps/billing/tests/test_pricing_cache_sentry_scope.py
  sbomify/apps/billing/tests/test_stripe_pricing_service.py
Due: ruff-format, ruff

Keep trend charts in sync with component lifetime and theme
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/js/main.ts
  sbomify/apps/core/js/theme-manager.spec.ts
  sbomify/apps/core/js/theme-manager.ts
  sbomify/apps/core/tests/e2e/test_dashboard.py
  sbomify/apps/vulnerability_scanning/js/vulnerability-chart.spec.ts
  sbomify/apps/vulnerability_scanning/js/vulnerability-chart.ts
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/vulnerability_trends.html.j2
  sbomify/apps/vulnerability_scanning/tests/test_views.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

Remove superseded sidebar and chart helpers
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/js/constants/colors.ts
  sbomify/apps/core/js/layout-interactions.ts
  sbomify/apps/core/templates/core/components/sidebar_link.html.j2
Due: bun-lint, djlint-check, djlint-lint

fix(billing): scope the staleness tag to the Stripe call alone
  sbomify/apps/billing/stripe_pricing_service.py
  sbomify/apps/billing/tests/test_pricing_cache_sentry_scope.py
Due: ruff-format, ruff

fix(billing): keep the refresh helper's signature, compute staleness where used
  sbomify/apps/billing/stripe_pricing_service.py
Due: ruff-format, ruff

fix(billing): emit the staleness tag as a lowercase string
  sbomify/apps/billing/stripe_pricing_service.py
  sbomify/apps/billing/tests/test_pricing_cache_sentry_scope.py
  sbomify/apps/billing/tests/test_stripe_pricing_service.py
Due: ruff-format, ruff

test(billing): drive the real save failure, and state what the tag can see
  sbomify/apps/billing/stripe_pricing_service.py
  sbomify/apps/billing/tests/test_pricing_cache_sentry_scope.py
Due: ruff-format, ruff

Apply Ruff formatting to existing vulnerability tests
  sbomify/apps/core/tests/test_component_vulnerabilities_panel.py
  sbomify/apps/sboms/tests/test_sbom_vulnerabilities_paging.py
Due: ruff-format, ruff

fix(onboarding): read a refusal by its reply code, and stop retrying templates
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

Unify vulnerability filtering and triage across reports
  sbomify/apps/core/templates/core/components/component_vulnerabilities_table.html.j2
  sbomify/apps/core/templates/core/components/vulnerability_demo.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_no_data_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_no_data_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_sbom_vulnerabilities_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/test_sbom_vulnerabilities.py
  sbomify/apps/core/tests/test_component_vulnerabilities_panel.py
  sbomify/apps/core/tests/test_run_findings_filtering.py
  sbomify/apps/core/tests/test_vex_state_labels.py
  sbomify/apps/core/views/component_vulnerabilities.py
  sbomify/apps/core/views/design_system.py
  sbomify/apps/plugins/services/run_findings.py
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_findings.html.j2
  sbomify/apps/plugins/views.py
  sbomify/apps/sboms/services/vulnerability_report.py
  sbomify/apps/sboms/templates/sboms/components/scan_vulnerabilities.html.j2
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/sboms/tests/test_sbom_vulnerabilities_paging.py
  sbomify/apps/sboms/tests/test_sbom_vulnerabilities_view.py
  sbomify/apps/sboms/tests/test_scan_report_filtering.py
  sbomify/apps/sboms/tests/test_vulnerabilities_view_vex.py
  sbomify/apps/sboms/views/sbom_vulnerabilities.py
  sbomify/apps/vulnerability_scanning/services/finding_browse.py
  sbomify/apps/vulnerability_scanning/utils.py
  sbomify/templates/components/navigation/pagination.html
  sbomify/templates/components/vulnerabilities/filters.html
  sbomify/templates/components/vulnerabilities/footer.html
  sbomify/templates/components/vulnerabilities/table.html
  sbomify/templates/components/vulnerabilities/triage_action.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(onboarding): classify every server answer by its code, not by its class
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tasks/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

test(onboarding): pin the mixed-refusal rule, and name the template test for what it asserts
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

Align pagination tests and mobile modal snapshot with shared UI
  sbomify/apps/core/tests/e2e/__snapshots__/test_trusted_publishers_snapshot[576].jpg
  sbomify/apps/core/tests/test_artifact_scan_card.py
  sbomify/apps/core/tests/test_panel_triage_and_page_size.py
Due: ruff-format, ruff

Apply template and test formatter output
  sbomify/apps/billing/templates/billing/_enterprise_contact_form.html.j2
  sbomify/apps/compliance/templates/compliance/cra_product_list.html.j2
  sbomify/apps/compliance/templates/compliance/cra_scope_screening.html.j2
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/templates/core/release_details_private.html.j2
  sbomify/apps/core/templates/core/security_advisory_detail.html.j2
  sbomify/apps/core/tests/e2e/test_visibility_selector.py
  sbomify/apps/sboms/templates/sboms/sboms_dashboard.html.j2
  sbomify/apps/teams/templates/teams/invite.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

Remove obsolete page header implementations
  sbomify/apps/core/templates/components/tw/page_header.html.j2
  sbomify/apps/core/templates/core/components/_page_header.html.j2
  sbomify/apps/core/templatetags/design_system.py
  sbomify/apps/core/tests/test_design_system_tags.py
  sbomify/apps/core/tests/test_template_recursion.py
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Simplify artifact detail layout with shared components
  sbomify/apps/core/templates/core/component_item.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_cbom_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_cbom_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_cbom_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_cbom_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_item_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_vex_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_vex_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_vex_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_vex_details_snapshot[992].jpg
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/assessment_results_card.html.j2
Due: djlint-check, djlint-lint

Align assessment metadata and re-run controls
  sbomify/apps/plugins/templates/plugins/components/_assessment_run_item.html.j2
  sbomify/apps/plugins/templates/plugins/components/_rerun_button.html.j2
Due: djlint-check, djlint-lint

fix(onboarding): a refused address is remembered, not re-sent every day
  sbomify/apps/onboarding/migrations/0008_onboardingemail_undeliverable_status.py
  sbomify/apps/onboarding/models.py
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(ops): close the slashless disclosure and name the BOM step honestly
  sbomify/apps/ops/services/growth.py
  sbomify/apps/ops/templates/ops/overview.html.j2
  sbomify/apps/ops/tests/test_growth.py
  sbomify/apps/ops/tests/test_views.py
  sbomify/apps/ops/views.py
  sbomify/urls.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(onboarding): give the welcome email a second chance, and key refusals to the address
  sbomify/apps/onboarding/migrations/0009_onboardingemail_attempted_address.py
  sbomify/apps/onboarding/models.py
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tasks/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

Check assessment status independently of icon markup
  sbomify/apps/sboms/tests/test_nothing_scanned_state.py
Due: ruff-format, ruff

fix(onboarding): sweep on the account's age, and not only on owners
  sbomify/apps/onboarding/migrations/0009_onboardingemail_attempted_address.py
  sbomify/apps/onboarding/models.py
  sbomify/apps/onboarding/tasks/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(onboarding): the drip opt-out does not cover the welcome email
  sbomify/apps/onboarding/tasks/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

Document UI change considerations and CI validation
  AGENTS.md
  CONTRIBUTING.md
  docs/ADR/0005-frontend-architecture-tailwind-css-and-alpine-js.md
  docs/ui-change-considerations.md
Due: markdownlint

fix(onboarding): do not mail a closed account
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tasks/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(onboarding): reclaim a welcome record its worker abandoned
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

perf(onboarding): a settled refusal stops costing a render every day
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tasks/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(onboarding): repair a welcome flag left behind by a half-written success
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(onboarding): sweep users, not statuses, and leave bots out of the query
  sbomify/apps/oidc/services.py
  sbomify/apps/onboarding/tasks/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

fix(onboarding): settle every reason not to send before rendering
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff

style(onboarding): name SMTPException alongside OSError in the transport rule
  sbomify/apps/onboarding/services/__init__.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
