Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

refactor(mcp): a caller is a principal, not an access-token row
  sbomify/apps/mcp/auth.py
  sbomify/apps/mcp/limits.py
  sbomify/apps/mcp/tests/test_auth.py
  sbomify/apps/mcp/tools/_base.py
Due: ruff-format, ruff

fix(mcp): count what a release ships, audit where a call ran
  AGENTS.md
  README.md
  docs/access-tokens.md
  docs/mcp.md
  sbomify/apps/access_tokens/tests.py
  sbomify/apps/access_tokens/tests/test_anonymous_throttle.py
  sbomify/apps/access_tokens/throttling.py
  sbomify/apps/mcp/auth.py
  sbomify/apps/mcp/limits.py
  sbomify/apps/mcp/serializers.py
  sbomify/apps/mcp/server.py
  sbomify/apps/mcp/tests/test_artifact_surface.py
  sbomify/apps/mcp/tests/test_auth.py
  sbomify/apps/mcp/tools/_base.py
  sbomify/apps/mcp/tools/publish.py
  sbomify/apps/mcp/tools/risk.py
Due: markdownlint, ruff-format, ruff

feat(documents): make a document's name and version unique per component
  sbomify/apps/documents/apis.py
  sbomify/apps/documents/migrations/0015_document_unique_component_name_version.py
  sbomify/apps/documents/models.py
  sbomify/apps/documents/services/documents.py
  sbomify/apps/documents/tests/test_document_uniqueness.py
  sbomify/apps/documents/utils.py
Due: ruff-format, ruff

docs: SECURITY.md names the wrong company and an SLA we do not back
  SECURITY.md
Due: markdownlint

docs: make security.txt the canonical contact record
  SECURITY.md
Due: markdownlint

docs: stop hard-wrapping SECURITY.md at 80 columns
  SECURITY.md
Due: markdownlint

docs: advisories are published on our trust center, not GitHub
  SECURITY.md
Due: markdownlint

docs: say what the CSAF endpoint actually is, not what it implies
  SECURITY.md
Due: markdownlint

fix(documents): address review on uniqueness constraint
  sbomify/apps/core/object_store.py
  sbomify/apps/documents/apis.py
  sbomify/apps/documents/tests/test_document_uniqueness.py
  sbomify/apps/documents/utils.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

feat(advisories): CSAF 2.0 discovery, and a security.txt field that finds it
  sbomify/apps/security_advisories/csaf_provider.py
  sbomify/apps/security_advisories/services/trust_center.py
  sbomify/apps/security_advisories/tests/test_csaf_wellknown.py
  sbomify/apps/security_advisories/wellknown.py
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/tests/test_security_txt.py
  sbomify/urls.py
Due: ruff-format, ruff

fix(documents): close the second round of review findings
  sbomify/apps/documents/apis.py
  sbomify/apps/documents/tests/test_document_uniqueness.py
  sbomify/apps/documents/utils.py
  sbomify/apps/teams/tests/test_company_nda_versioning.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

fix(documents): close the third round of review findings
  sbomify/apps/documents/migrations/0015_document_unique_component_name_version.py
  sbomify/apps/documents/tests/test_document_uniqueness.py
  sbomify/apps/documents/utils.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

fix(documents): honour max_length and scope the migration to real pairs
  sbomify/apps/documents/migrations/0015_document_unique_component_name_version.py
  sbomify/apps/documents/tests/test_document_uniqueness.py
  sbomify/apps/documents/utils.py
Due: ruff-format, ruff

fix(documents): every allocated version fits the column
  sbomify/apps/documents/tests/test_document_uniqueness.py
  sbomify/apps/documents/utils.py
Due: ruff-format, ruff

fix(documents): guard decimal magnitude, lock the migration, cover the race
  sbomify/apps/documents/migrations/0015_document_unique_component_name_version.py
  sbomify/apps/documents/tests/test_document_uniqueness.py
  sbomify/apps/documents/utils.py
Due: ruff-format, ruff

fix(teams): guard the NDA allocator's own decimal arithmetic
  sbomify/apps/documents/tests/test_document_uniqueness.py
  sbomify/apps/documents/utils.py
  sbomify/apps/teams/tests/test_company_nda_versioning.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

ci: pin the one unpinned action
  .github/workflows/ci-cd.yml
Due: none

refactor(plugins): name the file after the standard it scores
  sbomify/apps/plugins/apps.py
  sbomify/apps/plugins/builtins/cisa_2025.py
  sbomify/apps/plugins/builtins/cisa_2026.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/tests/test_cisa_2026_plugin.py
  sbomify/apps/plugins/tests/test_cisa_integration.py
  sbomify/apps/plugins/tests/test_public_assessment_utils.py
  sbomify/apps/plugins/tests/test_spdx2_identifier_iri.py
  sbomify/apps/plugins/tests/test_spdx3_corpus.py
  sbomify/apps/plugins/tests/test_spdx3_honest_edges.py
  sbomify/apps/plugins/tests/test_spdx3_license_resolution.py
  sbomify/apps/sboms/tests/test_sbom_schemas.py
Due: ruff-format, ruff

fix(mcp): an access-token row is not always a personal access token
  sbomify/apps/mcp/auth.py
  sbomify/apps/mcp/tests/test_auth.py
Due: ruff-format, ruff

fix(trust-center): a gated component is published, so its slug must resolve
  sbomify/apps/core/tests/test_custom_domain_routing.py
  sbomify/apps/core/tests/test_gated_artifact_access_gate.py
  sbomify/apps/core/url_utils.py
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff

fix(ui): the delete confirmation's HTMX form is never teleported
  sbomify/apps/core/tests/e2e/test_document_delete.py
  sbomify/templates/components/modals/delete_modal.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(mcp): a skipped scan is not a clean one
  docs/ADR/0008-mcp-server.md
  docs/mcp.md
  sbomify/apps/core/object_store.py
  sbomify/apps/mcp/limits.py
  sbomify/apps/mcp/serializers.py
  sbomify/apps/mcp/server.py
  sbomify/apps/mcp/tests/test_artifact_parsing.py
  sbomify/apps/mcp/tests/test_risk_semantics.py
  sbomify/apps/mcp/tools/_base.py
  sbomify/apps/mcp/tools/artifacts.py
  sbomify/apps/mcp/tools/risk.py
Due: markdownlint, ruff-format, ruff

feat: certification badges on the trust center
  sbomify/apps/core/templates/core/cotton_probes/branded.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/factories.py
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/test_cotton_branded.py
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/core/views/design_system.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/documents/migrations/0015_soc2_type_subcategories.py
  sbomify/apps/documents/models.py
  sbomify/apps/documents/services/trust_center_badges.py
  sbomify/apps/documents/tests/test_trust_center_badges.py
  sbomify/static/img/trust-center/badges/iso27001.svg
  sbomify/static/img/trust-center/badges/soc2-type1.svg
  sbomify/static/img/trust-center/badges/soc2-type2.svg
  sbomify/static/img/trust-center/badges/soc2.svg
  sbomify/templates/components/branded/credential.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): a timestamp long enough to be worth scanning is not a timestamp
  sbomify/apps/plugins/builtins/cisa_2026.py
  sbomify/apps/plugins/tests/test_cisa_2026_plugin.py
Due: ruff-format, ruff

feat: real certification seals, and a CRA badge
  sbomify/apps/core/templates/core/cotton_probes/branded.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/fixtures.py
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/core/views/design_system.py
  sbomify/apps/documents/migrations/0015_certification_subcategories.py
  sbomify/apps/documents/models.py
  sbomify/apps/documents/services/trust_center_badges.py
  sbomify/apps/documents/tests/test_trust_center_badges.py
  sbomify/static/img/trust-center/badges/cra.svg
  sbomify/static/img/trust-center/badges/iso-27001.svg
  sbomify/static/img/trust-center/badges/iso27001.svg
  sbomify/static/img/trust-center/badges/soc-2-type-i.svg
  sbomify/static/img/trust-center/badges/soc-2-type-ii.svg
  sbomify/static/img/trust-center/badges/soc2-type1.svg
  sbomify/static/img/trust-center/badges/soc2-type2.svg
  sbomify/static/img/trust-center/badges/soc2.svg
  sbomify/templates/components/branded/credential.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(trust-center): the gate names the step that is actually the reader's
  sbomify/apps/core/services/access_control.py
  sbomify/apps/core/templates/core/access_denied_message.html.j2
  sbomify/apps/core/tests/test_gated_artifact_access_gate.py
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff, djlint-check, djlint-lint

docs: follow the repo's copy rules, and cover the no-key case
  SECURITY.md
Due: markdownlint

fix(trust-center): gate the artifact that exists, on the domain that owns it
  sbomify/apps/core/tests/test_gated_artifact_access_gate.py
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff

fix: address review on the certification badges
  sbomify/apps/core/tests/e2e/test_trust_center_branding.py
  sbomify/apps/documents/services/trust_center_badges.py
  sbomify/apps/documents/templates/documents/components/edit_document_modal.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

test(trust-center): a slug collision buys no access
  sbomify/apps/core/tests/test_gated_artifact_access_gate.py
Due: ruff-format, ruff

fix: the section says what it holds, not only audits
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_public_snapshot[992].jpg
Due: djlint-check, djlint-lint

fix(advisories): a distribution marker that survives a removal, and stop loading the graph to list
  sbomify/apps/security_advisories/apps.py
  sbomify/apps/security_advisories/csaf_provider.py
  sbomify/apps/security_advisories/services/trust_center.py
  sbomify/apps/security_advisories/signals.py
  sbomify/apps/security_advisories/tests/test_csaf_wellknown.py
  sbomify/apps/teams/migrations/0044_team_csaf_feed_updated_at.py
  sbomify/apps/teams/models.py
Due: ruff-format, ruff

fix(trust-center): the gate is the workspace's page, and pending can still owe an NDA
  sbomify/apps/core/services/access_control.py
  sbomify/apps/core/templates/core/access_denied_message.html.j2
  sbomify/apps/core/tests/test_gated_artifact_access_gate.py
  sbomify/apps/core/views/component_item.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(advisories): absolute Atom ids, and a marker that is correct under concurrency
  sbomify/apps/security_advisories/apps.py
  sbomify/apps/security_advisories/csaf_provider.py
  sbomify/apps/security_advisories/signals.py
  sbomify/apps/security_advisories/tests/test_csaf_wellknown.py
Due: ruff-format, ruff

fix(trust-center): public keeps the slug when two components share one
  sbomify/apps/core/tests/test_gated_artifact_access_gate.py
  sbomify/apps/core/url_utils.py
Due: ruff-format, ruff

fix(vulns): a VEX statement we cannot apply says so
  sbomify/apps/vulnerability_scanning/tests/test_spdx3_embedded_vex.py
  sbomify/apps/vulnerability_scanning/tests/test_vex_formats.py
  sbomify/apps/vulnerability_scanning/vex_formats.py
Due: ruff-format, ruff
