Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

feat(tokens): warn before access tokens expire
  sbomify/apps/access_tokens/migrations/0010_tokenexpirywarning.py
  sbomify/apps/access_tokens/models.py
  sbomify/apps/access_tokens/notifications.py
  sbomify/apps/access_tokens/tasks.py
  sbomify/apps/access_tokens/templates/access_tokens/emails/token_expiry_email.html.j2
  sbomify/apps/access_tokens/templates/access_tokens/emails/token_expiry_email.txt
  sbomify/apps/access_tokens/tests_expiry_warnings.py
  sbomify/settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(vulns): render the EU KEV badge from a stamped finding
  sbomify/apps/vulnerability_scanning/tests/test_euvd.py
Due: ruff-format, ruff

fix(core): ride out broker restarts without per-socket tracebacks
  sbomify/apps/core/consumers.py
  sbomify/apps/core/tests/test_consumers.py
  sbomify/settings.py
Due: ruff-format, ruff

feat(compliance): pin the Art. 13(15) retention floor on export packages
  sbomify/apps/compliance/migrations/0015_craexportpackage_retain_until.py
  sbomify/apps/compliance/models.py
  sbomify/apps/compliance/services/export_service.py
  sbomify/apps/compliance/tests/test_cra_models.py
Due: ruff-format, ruff

feat(vulns): formal risk acceptance with an owner and an expiry
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/drift.py
  sbomify/apps/vulnerability_scanning/migrations/0009_componentvexdrift_lapsed_acceptances_and_more.py
  sbomify/apps/vulnerability_scanning/models.py
  sbomify/apps/vulnerability_scanning/tests/test_triage.py
  sbomify/apps/vulnerability_scanning/triage.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

Stop sending onboarding emails to synthetic OIDC bot users
  sbomify/apps/oidc/services.py
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/signals.py
  sbomify/apps/onboarding/tests/test_bot_email_suppression.py
Due: ruff-format, ruff

feat(vulns): patch SLA matrix and the five CRA KPIs
  sbomify/apps/teams/migrations/0040_team_patch_sla_days.py
  sbomify/apps/teams/models.py
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/kpis.py
  sbomify/apps/vulnerability_scanning/tests/test_kpis.py
Due: ruff-format, ruff

feat(compliance): capture the EU Authorized Representative and put it on the DoC
  sbomify/apps/compliance/document_templates/declaration_of_conformity.md.dtl
  sbomify/apps/compliance/migrations/0015_craassessment_authorized_rep_address_and_more.py
  sbomify/apps/compliance/models.py
  sbomify/apps/compliance/services/document_generation_service.py
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/tests/test_cra_models.py
  sbomify/apps/compliance/tests/test_wizard_service.py
Due: ruff-format, ruff

feat(core): end-of-life transition — readiness, announcement and final artifacts
  sbomify/apps/core/apis.py
  sbomify/apps/core/services/eol.py
  sbomify/apps/core/tests/test_eol_transition.py
Due: ruff-format, ruff

fix(trust-center): keep the public header on one row on mobile
  sbomify/apps/core/templates/core/public_base.htmx.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[576].jpg
  sbomify/static/css/public-base.css
Due: djlint-check, djlint-lint

feat(trust-center): expose CBOM downloads on the public product page
  sbomify/apps/core/apis.py
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/sboms/tests/test_release_cbom.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(trust-center): back public badges with citable facts, and stop badging dirty scans
  sbomify/apps/plugins/public_assessment_utils.py
  sbomify/apps/plugins/templates/plugins/components/_public_assessment_badge_inner.html.j2
  sbomify/apps/plugins/templates/plugins/components/public_assessment_badge.html.j2
  sbomify/apps/plugins/templates/plugins/components/public_assessment_icon.html.j2
  sbomify/apps/plugins/tests/test_public_assessment_utils.py
  sbomify/static/css/public-pages.css
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(tokens): hour-scale expiry presets and an arbitrary custom TTL
  sbomify/apps/core/forms.py
  sbomify/apps/teams/templates/teams/team_tokens.html.j2
  sbomify/apps/teams/tests/test_team_tokens.py
  sbomify/apps/teams/views/team_tokens.py
Due: ruff-format, ruff, djlint-check, djlint-lint

style(trust-center): drop Products and Compliance from the public nav
  sbomify/apps/core/templates/core/components/trust_center/nav.html.j2
Due: djlint-check, djlint-lint

style(trust-center): restyle the public product page in the advisory idiom
  sbomify/apps/compliance/templates/compliance/components/public_doc_link.html.j2
  sbomify/apps/compliance/templates/compliance/components/public_vdp_link.html.j2
  sbomify/apps/core/templates/core/components/public_product_identifiers.html.j2
  sbomify/apps/core/templates/core/components/public_product_lifecycle.html.j2
  sbomify/apps/core/templates/core/components/public_product_links.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot__when_empty[992].jpg
  sbomify/apps/core/tests/test_product_details_public_view.py
  sbomify/static/css/trust-center.css
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(search): turn the navbar search into a navigation spotlight
  AGENTS.md
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/core/js/navbar-search.ts
  sbomify/apps/core/spotlight.py
  sbomify/apps/core/tests/test_spotlight.py
  sbomify/apps/core/views/search.py
Due: bun-lint, markdownlint, ruff-format, ruff

fix(search): style the spotlight with Tailwind, not dead layout.css classes
  sbomify/apps/core/js/navbar-search.ts
Due: bun-lint

feat(search): cover the app's root-level pages, not just the picked few
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/core/spotlight.py
  sbomify/apps/core/tests/test_spotlight.py
Due: ruff-format, ruff

feat(search): find CVEs, advisories, releases and documents, not just pages
  sbomify/apps/core/spotlight.py
  sbomify/apps/core/tests/test_spotlight.py
  sbomify/apps/core/views/search.py
Due: ruff-format, ruff

fix(search): JSON for guests, reversed URLs, and three inaccurate comments
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/core/js/navbar-search.ts
  sbomify/apps/core/tests/test_spotlight.py
  sbomify/apps/core/views/search.py
Due: bun-lint, ruff-format, ruff

fix(advisories): repair the detail page — edit, type, products, timeline, layout
  sbomify/apps/core/templates/core/security_advisory_detail.html.j2
  sbomify/apps/core/views/security_advisories.py
  sbomify/apps/security_advisories/services/advisories.py
  sbomify/apps/security_advisories/tests/test_advisory_service.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(advisories): align the version picker in the new-advisory modal
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
Due: djlint-check, djlint-lint

fix(advisories): make the product picker say what it is selecting
  sbomify/apps/core/js/components/advisory-product-picker.spec.ts
  sbomify/apps/core/js/components/advisory-product-picker.ts
  sbomify/apps/core/templates/core/security_advisories_dashboard.html.j2
  sbomify/apps/core/templates/core/security_advisories_table.html.j2
  sbomify/apps/security_advisories/services/advisories.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(posture): one advisory on one package is one row
  sbomify/apps/vulnerability_scanning/posture.py
  sbomify/apps/vulnerability_scanning/tests/test_posture.py
Due: ruff-format, ruff

fix(teams): keep OIDC binding bots out of the members list
  sbomify/apps/teams/apis.py
  sbomify/apps/teams/tests/test_teams.py
Due: ruff-format, ruff

refactor(vulns): name the extract_finding_rows arguments at the callsite
  sbomify/apps/core/views/component_details_private.py
Due: ruff-format, ruff

fix(core): hand back the group membership when accept() fails
  sbomify/apps/core/consumers.py
  sbomify/apps/core/tests/test_consumers.py
Due: ruff-format, ruff

fix(tokens): the expiry sweep now runs, and does not burn a threshold it never sent
  sbomify/apps/access_tokens/tasks.py
  sbomify/apps/access_tokens/tests/test_expiry_warnings.py
Due: ruff-format, ruff

fix(compliance): count the retention floor in calendar years, and put it in the bundle
  sbomify/apps/compliance/models.py
  sbomify/apps/compliance/services/export_service.py
  sbomify/apps/compliance/tests/test_cra_models.py
  sbomify/apps/compliance/tests/test_export_service.py
Due: ruff-format, ruff

fix(vulns): carry the risk acceptance through the async and read paths
  sbomify/apps/vulnerability_scanning/apis.py
  sbomify/apps/vulnerability_scanning/drift.py
  sbomify/apps/vulnerability_scanning/tasks/__init__.py
  sbomify/apps/vulnerability_scanning/tests/test_triage.py
Due: ruff-format, ruff

style(trust-center): restyle the product drill-down pages in the advisory idiom
  sbomify/apps/core/templates/core/component_details_public_base.html.j2
  sbomify/apps/core/templates/core/component_details_public_document.html.j2
  sbomify/apps/core/templates/core/component_details_public_sbom.html.j2
  sbomify/apps/core/templates/core/component_item_public.html.j2
  sbomify/apps/core/templates/core/components/public_releases_list.html.j2
  sbomify/apps/core/templates/core/product_releases_public.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/tests/test_release_public_posture.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(core): stop the purge test depending on row order
  sbomify/apps/core/tests/test_cron.py
Due: ruff-format, ruff

feat(trust-center): searchable, paginated products table on the overview
  sbomify/apps/core/templates/core/workspace_public.html.j2
Due: djlint-check, djlint-lint

style(trust-center): unify tables and search on the webapp components
  sbomify/apps/core/templates/core/components/public_release_artifacts.html.j2
  sbomify/apps/core/templates/core/components/trust_center/advisories_browse.html.j2
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_document_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_component_details_public_sbom_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_product_public_details_snapshot[992].jpg
  sbomify/static/css/trust-center.css
Due: djlint-check, djlint-lint

fix(vulns): measure time-to-triage against the decision, not the last scan
  sbomify/apps/vulnerability_scanning/kpis.py
  sbomify/apps/vulnerability_scanning/tests/test_kpis.py
Due: ruff-format, ruff

fix(compliance): stop the DoC asserting an Art. 22 obligation it cannot know
  sbomify/apps/compliance/document_templates/declaration_of_conformity.md.dtl
  sbomify/apps/compliance/services/document_generation_service.py
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/tests/test_document_generation.py
  sbomify/apps/compliance/tests/test_wizard_service.py
Due: ruff-format, ruff

fix(core): close the EOL readiness leak and scope acceptances per component
  sbomify/apps/core/apis.py
  sbomify/apps/core/services/eol.py
  sbomify/apps/core/tests/test_eol_transition.py
Due: ruff-format, ruff

fix(tokens): do not stack a second error on a value the field already rejected
  sbomify/apps/core/forms.py
  sbomify/apps/teams/tests/test_team_tokens.py
Due: ruff-format, ruff

fix(posture): an unnamed ecosystem must not bridge two named ones
  sbomify/apps/vulnerability_scanning/posture.py
  sbomify/apps/vulnerability_scanning/tests/test_posture.py
Due: ruff-format, ruff

test(advisories): advisory statuses are a subset of the triage states
  sbomify/apps/security_advisories/models.py
  sbomify/apps/security_advisories/tests/test_models.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
