Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

fix(authz): let the operator read what its role promises, and offer only what it can use
  AGENTS.md
  sbomify/apps/core/apis.py
  sbomify/apps/core/cle_apis.py
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/core/tests/test_operator_reads.py
  sbomify/apps/core/tests/test_spotlight.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/oidc/tests/test_bot_release_read_scope.py
  sbomify/apps/sboms/services/vulnerability_report.py
  sbomify/apps/sboms/templates/sboms/sbom_vulnerabilities.html.j2
  sbomify/apps/teams/migrations/0047_operator_role.py
  sbomify/apps/teams/tests/test_operator_migration_reverse.py
  sbomify/apps/teams/views/team_tokens.py
  sbomify/templates/components/chrome/sidebar.html
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

fix(plugins): cap history_limit and serialise the history tests' runs
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/schemas.py
  sbomify/apps/plugins/tests/test_assessment_history_bounds.py
Due: ruff-format, ruff

test(ops): keep the guard that free workspaces are not paying
  sbomify/apps/ops/tests/test_views.py
Due: ruff-format, ruff

fix(ops): draw the charts without animation under reduced motion
  sbomify/apps/ops/js/ops-charts.spec.ts
  sbomify/apps/ops/js/ops-charts.ts
Due: bun-lint

Cut CI wall clock from 31 minutes to about 7
  .github/e2e-test-durations.json
  .github/workflows/ci-cd.yml
  .pre-commit-config.yaml
  AGENTS.md
  bin/check_ci_test_matrix.py
  docker-compose.tests.yml
  docs/ui-change-considerations.md
  pyproject.toml
  uv.lock
Due: markdownlint, ruff-format, ruff

fix(ops): give screen readers the numbers each chart draws
  sbomify/apps/ops/templates/ops/overview.html.j2
  sbomify/apps/ops/tests/test_views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(core): follow the API keys example to every internal role on demotion
  sbomify/apps/core/tests/test_dashboard_chrome.py
Due: ruff-format, ruff

test(trust-center): run the guard's coverage through the guard, and read every rgb() number
  sbomify/apps/core/tests/test_trust_center_css.py
Due: ruff-format, ruff

Address review: keep migrations frozen, fix two missed strings
  sbomify/apps/compliance/js/cra-step-1.ts
  sbomify/apps/compliance/migrations/0006_craassessment_harmonised_standard_applied_and_more.py
  sbomify/apps/compliance/migrations/0019_alter_craassessment_harmonised_standard_applied_and_more.py
  sbomify/apps/core/tests/e2e/test_component_colours.py
  sbomify/apps/teams/migrations/0041_member_role.py
Due: bun-lint, ruff-format, ruff

refactor(tables): make the chart's screen reader table a component
  sbomify/apps/core/templates/core/cotton_probes/tables.html.j2
  sbomify/apps/core/templates/core/design_system.html.j2
  sbomify/apps/core/tests/test_cotton_tables.py
  sbomify/apps/ops/templates/ops/overview.html.j2
  sbomify/templates/components/tables/screen_reader_table.html
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(plugins): name the no-payload filter for what it selects
  sbomify/apps/plugins/offload.py
  sbomify/apps/plugins/result_store.py
Due: ruff-format, ruff

fix(findings): project an offloaded run from its stored payload
  sbomify/apps/plugins/tests/test_result_offload.py
  sbomify/apps/vulnerability_scanning/findings.py
Due: ruff-format, ruff

fix(retention): delete an offloaded run's stored payload with the run
  sbomify/apps/plugins/retention.py
  sbomify/apps/plugins/tests/test_result_offload.py
Due: ruff-format, ruff

fix(integrations): keep a reconnect through a disconnect, and long ids apart
  sbomify/apps/integrations/services/connections.py
  sbomify/apps/integrations/services/vanta_sync.py
  sbomify/apps/integrations/tests/test_connections.py
  sbomify/apps/integrations/tests/test_vanta_sync.py
Due: ruff-format, ruff

test(overview): pin the totals behind the digest and product caps
  sbomify/apps/core/tests/test_dashboard_page_service.py
Due: ruff-format, ruff

fix(ui): close the three gaps review found in the public-page guard
  AGENTS.md
  docs/ui-change-considerations.md
  sbomify/apps/core/templates/core/access_denied_message.html.j2
  sbomify/apps/core/templates/core/component_item_public.html.j2
  sbomify/apps/core/templates/core/release_details_public.html.j2
  sbomify/apps/core/templates/core/trust_center_advisory_detail.html.j2
  sbomify/apps/core/tests/test_cotton_branded.py
  sbomify/apps/core/tests/test_cotton_cards.py
  sbomify/apps/documents/templates/documents/components/edit_document_modal.html.j2
  sbomify/apps/sboms/templates/sboms/components/crypto_inventory_card.html.j2
  sbomify/templates/components/cards/inset.html
  sbomify/templates/components/modals/delete_modal.html.j2
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Keep the backend suite in the container, not on the runner
  .github/workflows/ci-cd.yml
Due: none

fix(plugins): carry status and summary, not findings, in history rows
  sbomify/apps/plugins/apis.py
  sbomify/apps/plugins/schemas.py
  sbomify/apps/plugins/tests/test_assessment_history_bounds.py
Due: ruff-format, ruff

fix(vulns): refresh the triage panels on the events triage and the re-apply emit
  sbomify/apps/core/templates/core/components/component_vulnerabilities_table.html.j2
  sbomify/apps/core/tests/e2e/test_assessment_refresh.py
  sbomify/apps/core/tests/test_security_surface_refresh.py
  sbomify/apps/core/views/component_vulnerabilities.py
  sbomify/apps/sboms/services/vulnerability_report.py
  sbomify/apps/sboms/templates/sboms/components/scan_vulnerabilities.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(screencasts): publish only finished takes, and cue captions to the voice
  .claude/skills/narrated-screencast/SKILL.md
  .github/workflows/screencasts.yml
  bin/record_screencasts.sh
  screencasts/README.md
  screencasts/conftest.py
  screencasts/mux_narration.py
  screencasts/narration/marketplace_walkthrough.yaml
  screencasts/narration/product_creation.yaml
  screencasts/narration/vex_lifecycle.yaml
  screencasts/narration/walkthrough_chapters_supply_chain.yaml
  screencasts/narration/walkthrough_chapters_trust_center.yaml
  screencasts/narration/walkthrough_chapters_vulnerabilities.yaml
  screencasts/tests/test_tooling.py
  screencasts/transcode.py
  screencasts/wayland_capture.py
Due: markdownlint, ruff-format, ruff

docs(screencasts): correct three notes the overhaul left behind
  bin/record_screencasts.sh
  screencasts/conftest.py
Due: ruff-format, ruff

Let the durations mount be written, and require the whole e2e directory
  bin/check_ci_test_matrix.py
  docker-compose.tests.yml
Due: ruff-format, ruff

test(tables): give the screen reader table a probe of its own
  sbomify/apps/core/templates/core/cotton_probes/screen_reader_table.html.j2
  sbomify/apps/core/templates/core/cotton_probes/tables.html.j2
  sbomify/apps/core/tests/test_cotton_tables.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(e2e): regenerate the vulnerability scan baselines for the merged tree
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_vulnerability_scans_snapshot[576].jpg
Due: none

fix(plugins): draw the catalogue placeholder the page actually arrives with
  sbomify/apps/core/templates/core/cotton_probes/feedback.html.j2
  sbomify/apps/core/templatetags/utils.py
  sbomify/apps/core/tests/test_cotton_feedback.py
  sbomify/apps/plugins/services/catalogue.py
  sbomify/apps/plugins/tests/test_catalogue_shape.py
  sbomify/apps/plugins/views.py
  sbomify/templates/components/feedback/loading_list.html
  sbomify/templates/components/feedback/loading_page.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(inventory): name the tab the swap landed on
  sbomify/apps/core/templates/core/_inventory_title.html.j2
  sbomify/apps/core/templates/core/products_dashboard.html.j2
  sbomify/apps/core/templates/core/products_inventory.html.j2
  sbomify/apps/core/templates/core/products_inventory_panel.html.j2
  sbomify/apps/core/tests/test_inventory_fragments.py
  sbomify/apps/core/views/products_dashboard.py
Due: ruff-format, ruff, djlint-check, djlint-lint

test(morph-preserve): label the fake nodes instead of templating HTML
  sbomify/apps/core/js/htmx-morph-preserve.spec.ts
Due: bun-lint

fix(billing): refuse an outgrown downgrade on the server, and say what the seat count holds
  sbomify/apps/billing/services/plan_selection.py
  sbomify/apps/billing/templates/billing/select_plan.html.j2
  sbomify/apps/billing/tests/test_views.py
  sbomify/apps/billing/views.py
  sbomify/templates/components/billing/plan_card.html
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(settings): refresh the support-period form alone after a save
  sbomify/apps/teams/templates/teams/team_general.html.j2
  sbomify/apps/teams/tests/test_settings_page.py
  sbomify/apps/teams/views/team_general.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(authz): let workspace:read decide the vulnerability dashboards, and name operator as invitable
  sbomify/apps/core/tests/test_operator_reads.py
  sbomify/apps/onboarding/templates/onboarding/emails/collaboration.html.j2
  sbomify/apps/teams/schemas.py
  sbomify/apps/teams/tests/test_invitations_api.py
  sbomify/apps/vulnerability_scanning/apis.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(nav): offer the Cryptography page to every role it admits
  sbomify/apps/core/data/spotlight_destinations.json
  sbomify/apps/core/tests/test_operator_reads.py
  sbomify/apps/core/tests/test_spotlight.py
  sbomify/templates/components/chrome/sidebar.html
Due: ruff-format, ruff

test(vulnerabilities): build scans-page fixtures the pipeline could produce
  sbomify/apps/vulnerability_scanning/tests/conftest.py
  sbomify/apps/vulnerability_scanning/tests/test_views_scans.py
Due: ruff-format, ruff

fix(integrations): fail on a malformed later page, and keep id fallbacks apart
  sbomify/apps/integrations/providers/vanta.py
  sbomify/apps/integrations/services/vanta_sync.py
  sbomify/apps/integrations/tests/test_vanta_client.py
  sbomify/apps/integrations/tests/test_vanta_sync.py
Due: ruff-format, ruff

Give browser assertions time for the round trip they are waiting on
  sbomify/apps/core/tests/e2e/conftest.py
Due: ruff-format, ruff

fix(plugins): read and rewrite offloaded payloads through the store
  sbomify/apps/plugins/result_store.py
  sbomify/apps/plugins/retention.py
  sbomify/apps/plugins/services/run_findings.py
  sbomify/apps/plugins/tests/test_result_offload.py
  sbomify/apps/plugins/views.py
  sbomify/apps/vulnerability_scanning/vex.py
Due: ruff-format, ruff

Point the link at what it actually opens
  docs/ui-change-considerations.md
Due: markdownlint

test(e2e): follow the party rename and the settings copy into the browser tests
  sbomify/apps/core/tests/e2e/test_contact_profile_actions.py
  sbomify/apps/core/tests/e2e/test_contact_profiles.py
  sbomify/apps/core/tests/e2e/test_settings_navigation.py
  sbomify/apps/core/tests/e2e/test_ui_action_repairs.py
Due: ruff-format, ruff

test(e2e): regenerate the baselines this review's redesign moves
  sbomify/apps/core/tests/e2e/__snapshots__/test_contact_profile_form_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_contact_profiles_tab_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_controls_settings_snapshot[1440-dark].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_controls_settings_snapshot[1440-light].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_controls_settings_snapshot[390-dark].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_controls_settings_snapshot[390-light].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_onboarding_plan_snapshot[1280].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_onboarding_plan_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_select_plan_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_account_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_billing_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_billing_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_billing_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_billing_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_branding_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_general_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_general_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_general_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_general_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_members_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_parties_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_tokens_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_trust_center_snapshot[1920].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_trust_center_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_trust_center_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspace_settings_trust_center_snapshot[992].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspaces_dashboard_snapshot[375].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspaces_dashboard_snapshot[576].jpg
  sbomify/apps/core/tests/e2e/__snapshots__/test_workspaces_dashboard_snapshot[992].jpg
Due: none

fix(chrome): move focus into the mobile drawer when it opens
  sbomify/apps/core/tests/e2e/test_chrome_controls.py
  sbomify/templates/components/chrome/sidebar.html
Due: ruff-format, ruff

fix(colour): measure every status ink, and fix what it finds
  sbomify/apps/core/tests/e2e/test_component_contrast.py
  sbomify/apps/core/tests/test_cotton_dropdowns_chips.py
  sbomify/assets/css/tailwind.src.css
  sbomify/templates/components/chips/metric/label.html
  sbomify/templates/components/chips/metric/value.html
  sbomify/templates/components/chips/metric_chip.html
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
