Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

feat(compliance): add CRA Compliance Wizard services, APIs, templates, and tests
  pyproject.toml
  sbomify/apps/compliance/apis.py
  sbomify/apps/compliance/document_templates/declaration_of_conformity.md.dtl
  sbomify/apps/compliance/document_templates/decommissioning_guide.md.dtl
  sbomify/apps/compliance/document_templates/early_warning.md.dtl
  sbomify/apps/compliance/document_templates/final_report.md.dtl
  sbomify/apps/compliance/document_templates/full_notification.md.dtl
  sbomify/apps/compliance/document_templates/risk_assessment.md.dtl
  sbomify/apps/compliance/document_templates/security_txt.dtl
  sbomify/apps/compliance/document_templates/user_instructions.md.dtl
  sbomify/apps/compliance/document_templates/vdp.md.dtl
  sbomify/apps/compliance/oscal_data/cra-annex-i-catalog.json
  sbomify/apps/compliance/schemas.py
  sbomify/apps/compliance/services/document_generation_service.py
  sbomify/apps/compliance/services/export_service.py
  sbomify/apps/compliance/services/oscal_service.py
  sbomify/apps/compliance/services/sbom_compliance_service.py
  sbomify/apps/compliance/services/staleness_service.py
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/signals.py
  sbomify/apps/compliance/tests/test_apis.py
  sbomify/apps/compliance/tests/test_document_generation.py
  sbomify/apps/compliance/tests/test_export_service.py
  sbomify/apps/compliance/tests/test_oscal_service.py
  sbomify/apps/compliance/tests/test_sbom_compliance_service.py
  sbomify/apps/compliance/tests/test_staleness.py
  sbomify/apps/compliance/tests/test_wizard_service.py
Due: ruff-format, ruff

fix(compliance): address comprehensive code review findings
  sbomify/apps/compliance/apis.py
  sbomify/apps/compliance/document_templates/security_txt.dtl
  sbomify/apps/compliance/schemas.py
  sbomify/apps/compliance/services/document_generation_service.py
  sbomify/apps/compliance/services/export_service.py
  sbomify/apps/compliance/services/oscal_service.py
  sbomify/apps/compliance/services/sbom_compliance_service.py
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/signals.py
  sbomify/apps/compliance/tests/test_apis.py
Due: ruff-format, ruff

fix(compliance): address PR review findings from Copilot
  sbomify/apps/compliance/services/export_service.py
  sbomify/apps/compliance/services/oscal_service.py
  sbomify/apps/compliance/services/sbom_compliance_service.py
  sbomify/apps/compliance/services/staleness_service.py
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/signals.py
  sbomify/apps/compliance/tests/test_export_service.py
Due: ruff-format, ruff

feat(cra): add CRA Compliance Wizard frontend UI
  sbomify/apps/compliance/apis.py
  sbomify/apps/compliance/js/cra-shared.spec.ts
  sbomify/apps/compliance/js/cra-shared.ts
  sbomify/apps/compliance/js/cra-step-1.ts
  sbomify/apps/compliance/js/cra-step-2.ts
  sbomify/apps/compliance/js/cra-step-3.ts
  sbomify/apps/compliance/js/cra-step-4.ts
  sbomify/apps/compliance/js/cra-step-5.ts
  sbomify/apps/compliance/js/eu-countries.ts
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/templates/compliance/components/cra_product_card.html.j2
  sbomify/apps/compliance/templates/compliance/components/cra_stepper.html.j2
  sbomify/apps/compliance/templates/compliance/components/document_card.html.j2
  sbomify/apps/compliance/templates/compliance/components/finding_toggle.html.j2
  sbomify/apps/compliance/templates/compliance/cra_product_list.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_1.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_3.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_4.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_5.html.j2
  sbomify/apps/compliance/templates/compliance/cra_wizard_base.html.j2
  sbomify/apps/compliance/tests/test_apis.py
  sbomify/apps/compliance/tests/test_cra_models.py
  sbomify/apps/compliance/tests/test_document_generation.py
  sbomify/apps/compliance/tests/test_export_service.py
  sbomify/apps/compliance/tests/test_models.py
  sbomify/apps/compliance/tests/test_sbom_compliance_service.py
  sbomify/apps/compliance/tests/test_staleness.py
  sbomify/apps/compliance/tests/test_urls.py
  sbomify/apps/compliance/tests/test_views.py
  sbomify/apps/compliance/tests/test_wizard_service.py
  sbomify/apps/compliance/urls.py
  sbomify/apps/compliance/views/__init__.py
  sbomify/apps/compliance/views/cra_product_list.py
  sbomify/apps/compliance/views/cra_wizard.py
  sbomify/apps/core/js/alpine-components.ts
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/views/product_details_private.py
  sbomify/urls.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

test(cra): add missing tests for billing gate, cross-team access, validation edge cases
  sbomify/apps/compliance/tests/test_apis.py
  sbomify/apps/compliance/tests/test_staleness.py
  sbomify/apps/compliance/tests/test_views.py
  sbomify/apps/compliance/tests/test_wizard_service.py
  sbomify/apps/compliance/views/cra_wizard.py
Due: ruff-format, ruff

fix(cra): address code review findings — race condition, transaction safety, N+1 queries
  sbomify/apps/compliance/apis.py
  sbomify/apps/compliance/js/cra-step-3.ts
  sbomify/apps/compliance/js/cra-step-5.ts
  sbomify/apps/compliance/services/sbom_compliance_service.py
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/signals.py
Due: bun-lint, ruff-format, ruff

fix(docker): add compliance app JS and templates to Docker build stages
  Dockerfile
Due: none

fix(cra): address PR review comments from Copilot
  sbomify/apps/compliance/apis.py
  sbomify/apps/compliance/document_templates/risk_assessment.md.dtl
  sbomify/apps/compliance/document_templates/user_instructions.md.dtl
  sbomify/apps/compliance/document_templates/vdp.md.dtl
  sbomify/apps/compliance/services/document_generation_service.py
  sbomify/apps/compliance/services/export_service.py
  sbomify/apps/compliance/services/oscal_service.py
  sbomify/apps/compliance/services/wizard_service.py
  sbomify/apps/compliance/views/cra_wizard.py
Due: ruff-format, ruff

fix(cra): address final 3 PR review comments
  sbomify/apps/compliance/services/sbom_compliance_service.py
  sbomify/apps/compliance/templates/compliance/components/cra_product_card.html.j2
  sbomify/apps/compliance/templates/compliance/cra_step_1.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/views/product_details_private.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(cra): short-circuit assessment fetch when team lacks CRA access
  sbomify/apps/compliance/views/cra_product_list.py
Due: ruff-format, ruff

fix(cra): address 4 new PR review comments
  sbomify/apps/compliance/apis.py
  sbomify/apps/compliance/models.py
  sbomify/apps/compliance/services/document_generation_service.py
  sbomify/apps/compliance/views/cra_product_list.py
Due: ruff-format, ruff

fix(compliance): remove unused _WIZARD_STATE_FIELDS from staleness signal
  sbomify/apps/compliance/signals.py
Due: ruff-format, ruff

feat(cra): add BSI inline fix guidance with expandable "How to Fix" sections
  sbomify/apps/compliance/js/cra-step-2.ts
  sbomify/apps/compliance/services/sbom_compliance_service.py
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(cra): use tw-alert-warning for SBOM coverage banner (fixes light theme contrast)
  sbomify/apps/compliance/templates/compliance/cra_step_2.html.j2
Due: djlint-check, djlint-lint

fix(cra): address 3 remaining PR review comments
  sbomify/apps/compliance/services/document_generation_service.py
  sbomify/apps/compliance/tests/test_staleness.py
  sbomify/apps/compliance/views/cra_wizard.py
Due: ruff-format, ruff

Reduce Docker image CVEs: update binaries, patch OS packages, purge build deps
  Dockerfile
  pyproject.toml
  uv.lock
Due: none

remove some more stuff
  Dockerfile
Due: none

Switch prod image to Chainguard distroless, upgrade Python to 3.14
  Dockerfile
  uv.lock
Due: none

Replace Python RUN with COPY --chown for runtime dir creation
  Dockerfile
Due: none

feat(billing): collect card details during onboarding Business plan selection
  sbomify/apps/billing/stripe_pricing_service.py
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

fix(billing): set has_selected_billing_plan on Stripe checkout return
  sbomify/apps/billing/views.py
Due: ruff-format, ruff

fix(billing): address review findings for trial checkout flow
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/stripe_pricing_service.py
  sbomify/apps/billing/tests/test_stripe_pricing_service.py
  sbomify/apps/billing/tests/test_views_extended.py
  sbomify/apps/billing/views.py
  sbomify/apps/onboarding/tests/test_plan_selection.py
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

fix(billing): address additional PR review comments
  sbomify/apps/billing/views.py
  sbomify/apps/onboarding/tests/test_plan_selection.py
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

fix(billing): guard null team.key and release lock on checkout cancel
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

fix(billing): narrow exception handling and scope lock release to cancelled checkouts
  sbomify/apps/teams/views/onboarding_wizard.py
Due: ruff-format, ruff

feat: add PostHog analytics integration with user identification
  .env.example
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/tests/test_context_processors.py
  sbomify/settings.py
  sbomify/test_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(billing): persist trial metadata in BillingReturnView, fix tests
  sbomify/apps/billing/tests/test_views_extended.py
  sbomify/apps/billing/views.py
  sbomify/apps/onboarding/tests/test_plan_selection.py
Due: ruff-format, ruff

fix: add preconnect for PostHog assets domain
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/templates/core/base.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: normalize PostHog host and use protocol-relative dns-prefetch
  sbomify/apps/core/context_processors.py
  sbomify/apps/core/templates/core/base.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: validate and normalize POSTHOG_HOST to a proper origin
  sbomify/apps/core/context_processors.py
Due: ruff-format, ruff

ci: gate heavy CI jobs behind ci:run-tests label on PRs
  .github/workflows/ci-cd.yml
Due: none

fix(ci): require tests and docker-build to pass before merge
  .github/workflows/ci-cd.yml
Due: none

fix(ci): address PR review — add unlabeled trigger, simplify e2e, include e2e in gate
  .github/workflows/ci-cd.yml
Due: none

fix(ci): clarify e2e-tests gate comment for future re-enablement
  .github/workflows/ci-cd.yml
Due: none

ci: gate frontend-tests behind ci:run-tests label
  .github/workflows/ci-cd.yml
Due: none

fix(ci): update CI Gate comment to reflect actual blocking behavior
  .github/workflows/ci-cd.yml
Due: none

Restructure ADRs to follow adr-tools conventions
  .adr-dir
  docs/ADR/0001-django-monolith.md
  docs/ADR/0002-languages-and-frameworks.md
  docs/ADR/0003-plugin-based-assessments-for-sbom-uploads.md
  docs/ADR/0004-immutable-security-artifacts.md
  docs/ADR/0005-frontend-architecture-tailwind-css-and-alpine-js.md
Due: markdownlint

feat(posthog): add server-side Python SDK with AARRR event tracking
  pyproject.toml
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/views.py
  sbomify/apps/core/apps.py
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/signals.py
  sbomify/apps/onboarding/signals.py
  sbomify/apps/plugins/tasks/__init__.py
  sbomify/apps/sboms/views/sbom_download.py
  sbomify/apps/teams/signals.py
  uv.lock
Due: ruff-format, ruff

test(posthog): add tests for posthog_service module
  sbomify/apps/core/tests/test_posthog_service.py
Due: ruff-format, ruff

feat(posthog): add session correlation and Tier 2 events doc
  docs/posthog-tier2-events.md
  sbomify/apps/billing/views.py
  sbomify/apps/core/posthog_service.py
  sbomify/apps/core/templates/core/base.html.j2
  sbomify/apps/core/tests/test_posthog_service.py
  sbomify/apps/sboms/views/sbom_download.py
Due: markdownlint, ruff-format, ruff, djlint-check, djlint-lint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
