Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

feat(controls): add OSCAL catalog import
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/services/catalog_service.py
  sbomify/apps/controls/tests/test_catalog_service.py
Due: ruff-format, ruff

feat(controls): add bulk category actions (Set all to Compliant/Partial/etc)
  sbomify/apps/controls/templates/controls/controls_table.html.j2
  sbomify/apps/controls/urls.py
  sbomify/apps/controls/views.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(controls): add audit log for control status changes
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/migrations/0002_add_status_log.py
  sbomify/apps/controls/models.py
  sbomify/apps/controls/services/status_service.py
  sbomify/apps/controls/views.py
Due: ruff-format, ruff

feat(controls): add ISO 27001:2022 and NIST CSF 2.0 built-in catalogs
  sbomify/apps/controls/data/iso27001-2022.json
  sbomify/apps/controls/data/nist-csf-2.json
  sbomify/apps/controls/services/status_service.py
Due: ruff-format, ruff

feat(controls): add CSV export for compliance controls
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/services/export_service.py
  sbomify/apps/controls/tests/test_export_service.py
Due: ruff-format, ruff

feat(controls): add control mapping across frameworks
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/migrations/0003_add_control_mapping.py
  sbomify/apps/controls/models.py
  sbomify/apps/controls/schemas.py
  sbomify/apps/controls/services/mapping_service.py
  sbomify/apps/controls/tests/test_mapping_apis.py
  sbomify/apps/controls/tests/test_mapping_service.py
Due: ruff-format, ruff

feat(controls): add evidence attachments per control
  sbomify/apps/controls/migrations/0004_add_control_evidence.py
  sbomify/apps/controls/tests/test_evidence_apis.py
Due: ruff-format, ruff

feat(controls): add automated control status from plugin assessments
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/schemas.py
  sbomify/apps/controls/services/automation_service.py
  sbomify/apps/controls/tests/test_automation_service.py
Due: ruff-format, ruff

fix(controls): wrap create_mapping in transaction.atomic to fix IntegrityError in tests
  sbomify/apps/controls/services/mapping_service.py
Due: ruff-format, ruff

fix(controls): address critical auth, admin UI, catalog enforcement, size limits
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/services/catalog_service.py
  sbomify/apps/controls/services/status_service.py
  sbomify/apps/controls/templates/controls/components/product_controls_section.html.j2
  sbomify/apps/controls/views.py
  sbomify/apps/core/views/product_details_private.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(controls): improve UI — catalog switcher, softer borders, distinct icons
  sbomify/apps/controls/templates/controls/controls_table.html.j2
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
  sbomify/apps/controls/views.py
  sbomify/apps/teams/templates/teams/team_settings.html.j2
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(controls): add OSCAL import card to catalog selector UI
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
Due: djlint-check, djlint-lint

feat(controls): support multiple active catalogs simultaneously
  sbomify/apps/controls/services/catalog_service.py
  sbomify/apps/controls/templates/controls/controls_table.html.j2
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
  sbomify/apps/controls/views.py
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/views/product_details_private.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(controls): add 5 new compliance catalogs, fix NIST CSF 2.0
  sbomify/apps/controls/data/cis-controls-v8.json
  sbomify/apps/controls/data/cmmc-2.json
  sbomify/apps/controls/data/csa-ccm-v4.json
  sbomify/apps/controls/data/gdpr.json
  sbomify/apps/controls/data/hipaa.json
  sbomify/apps/controls/data/nist-csf-2.json
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

feat(controls): add PCI DSS v4.0 catalog, unique icons per framework
  sbomify/apps/controls/data/pci-dss-v4.json
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(controls): shorten catalog display labels, fix NIST card size
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(controls): redesign framework selector — compact 5-col grid with circular icons
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
Due: djlint-check, djlint-lint

fix(controls): remove cross icon from active framework cards
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
Due: djlint-check, djlint-lint

fix(controls): restore hover-to-remove text on active cards (without cross icon)
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
Due: djlint-check, djlint-lint

feat(controls): add NIST SP 800-53 Rev. 5 catalog, hide Active label
  sbomify/apps/controls/data/nist-800-53-r5.json
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(controls): restore Active label on framework cards, show Remove on hover
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
Due: djlint-check, djlint-lint

feat(controls): multi-catalog support for public trust center and product pages
  sbomify/apps/controls/services/public_service.py
  sbomify/apps/controls/templates/controls/components/product_controls_section.html.j2
  sbomify/apps/controls/templates/controls/components/public_controls_summary.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/workspace_public.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(controls): use framework-specific icon in controls table header
  sbomify/apps/controls/templates/controls/controls_table.html.j2
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(controls): single card wrapper for product controls, fix NIST CSF icons
  sbomify/apps/controls/data/nist-csf-2.json
  sbomify/apps/controls/templates/controls/components/product_controls_catalog.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
Due: djlint-check, djlint-lint

fix(controls): add group icons for all 10 frameworks, fix invalid FA icons
  sbomify/apps/controls/services/status_service.py
Due: ruff-format, ruff

fix(controls): align public trust center with product page pattern
  sbomify/apps/controls/templates/controls/components/public_controls_catalog.html.j2
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/templates/core/workspace_public.html.j2
Due: djlint-check, djlint-lint

fix(controls): resolve all P0 issues from comprehensive review
  sbomify/apps/controls/schemas.py
  sbomify/apps/controls/services/public_service.py
  sbomify/apps/controls/services/status_service.py
  sbomify/apps/controls/templates/controls/controls_table.html.j2
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
  sbomify/apps/core/views/product_details_private.py
  sbomify/apps/core/views/product_details_public.py
  sbomify/apps/core/views/workspace_public.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(controls): add URL import option to OSCAL import card
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
Due: djlint-check, djlint-lint

fix(controls): OSCAL import modal, 20MB upload limit, bulk hover fix
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/templates/controls/controls_table.html.j2
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
  sbomify/settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

feat(controls): imported catalogs in grid, truncated names, delete action
  sbomify/apps/controls/templates/controls/controls_table.html.j2
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
  sbomify/apps/controls/views.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(controls): use delete modal instead of JS confirm, close dropdown on outside click
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
Due: djlint-check, djlint-lint

fix(controls): inline delete modal to fix broken Alpine event attribute
  sbomify/apps/controls/templates/controls/settings_tab.html.j2
Due: djlint-check, djlint-lint

fix(controls): align relation_type Literal with model, fix chevron pattern
  sbomify/apps/controls/schemas.py
  sbomify/apps/controls/templates/controls/components/public_controls_summary.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(controls): address 41 Copilot review comments
  sbomify/apps/controls/apis.py
  sbomify/apps/controls/services/automation_service.py
  sbomify/apps/controls/services/export_service.py
  sbomify/apps/controls/services/public_service.py
  sbomify/apps/controls/services/status_service.py
  sbomify/apps/controls/templates/controls/controls_table.html.j2
  sbomify/apps/controls/views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

security(controls): fix CodeQL path traversal — use whitelist instead of user input in path
  sbomify/apps/controls/services/catalog_service.py
Due: ruff-format, ruff

feat(controls): add CSV export buttons to controls table UI
  sbomify/apps/controls/templates/controls/controls_table.html.j2
Due: djlint-check, djlint-lint

docs: address Copilot review feedback on ADR-007
  docs/ADR/0007-remove-project-hierarchy-level.md
Due: markdownlint

feat(security-txt): multi encryption URLs, language dropdown, auto canonical URL
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(security-txt): address all 8 review comments
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/templates/teams/team_settings_tabs/trust_center.html.j2
  sbomify/apps/teams/tests/test_security_txt.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(security-txt): safe contact_id coercion, fix error message grammar
  sbomify/apps/teams/services/security_txt.py
  sbomify/apps/teams/views/team_settings.py
Due: ruff-format, ruff

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
