Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict   # checks for files that contain merge conflict strings.
      - id: debug-statements  # checks for debugger imports and py37+ `breakpoint()` calls in python source.

  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Type Check
        entry: bun run type-check
        language: system
        types: [file]
        files: \.(ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false
        always_run: true
        verbose: true

      - id: bun-lint
        name: Bun Lint
        entry: bun lint
        language: system
        files: \.(js|ts|vue)$
        exclude: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
        pass_filenames: false

      - id: bandit
        name: bandit
        entry: uv run bandit -c pyproject.toml -r .
        language: system
        pass_filenames: false

      - id: markdownlint
        name: markdownlint
        entry: bun x markdownlint --fix
        language: system
        files: \.md$
        pass_filenames: true

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format .
        language: system
        pass_filenames: false
        files: \.py$

      - id: ruff
        name: ruff
        entry: uv run ruff check .
        language: system
        pass_filenames: false
        files: \.py$

      - id: djlint-check
        name: djlint format check
        entry: uv run djlint . --extension=j2 --check
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

      - id: djlint-lint
        name: djlint
        entry: uv run djlint . --extension=j2 --lint
        language: system
        pass_filenames: false
        files: \.(html|htmx)\.j2$

Update sbomify/apps/core/apis.py
  sbomify/apps/core/apis.py
Due: ruff-format, ruff

Update sbomify/apps/plugins/signals.py
  sbomify/apps/plugins/signals.py
Due: ruff-format, ruff

Fix temp file permission race condition
  sbomify/apps/plugins/builtins/github_attestation.py
Due: ruff-format, ruff

Improve error handling test comments and fix line length
  sbomify/apps/core/apis.py
  sbomify/apps/plugins/tests/test_models.py
Due: ruff-format, ruff

Update sbomify/apps/plugins/tests/test_models.py
  sbomify/apps/plugins/tests/test_models.py
Due: ruff-format, ruff

Add DCV delegation CNAME instructions to custom domain setup
  docker-compose.yml
  sbomify/apps/teams/templates/teams/team_custom_domain.html.j2
  sbomify/apps/teams/tests/test_custom_domain_ui.py
  sbomify/apps/teams/views/team_custom_domain.py
  sbomify/settings.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Standardize Component import to use core.models
  sbomify/apps/plugins/tests/test_models.py
Due: ruff-format, ruff

Update schema documentation to include no_plugins_enabled status
  sbomify/apps/plugins/schemas.py
Due: ruff-format, ruff

Remove database-level SBOM uniqueness constraint
  sbomify/apps/sboms/migrations/0043_unique_sbom_per_component_version_format.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

Use ComponentType enum and extract common test fixtures
  sbomify/apps/plugins/signals.py
  sbomify/apps/plugins/tests/test_models.py
Due: ruff-format, ruff

Linting
  sbomify/apps/teams/templates/teams/team_custom_domain.html.j2
Due: djlint-check, djlint-lint

Self hosted didnt trigger
  .github/workflows/ci-cd.yml
Due: none

Simplify exception handling and improve test naming
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
Due: ruff-format, ruff

Improve naming and simplify temp file handling
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/utils.py
Due: ruff-format, ruff

Improve naming consistency and documentation accuracy
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/utils.py
Due: ruff-format, ruff

Add DCV delegation CNAME instructions to custom domain setup
  sbomify/apps/teams/templates/teams/team_custom_domain.html.j2
  sbomify/apps/teams/tests/test_custom_domain_ui.py
Due: ruff-format, ruff, djlint-check, djlint-lint

Clarify source of build-time environment variables
  sbomify/apps/plugins/utils.py
Due: ruff-format, ruff

Add test coverage for version retrieval and file digest calculation
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
  sbomify/apps/plugins/tests/test_utils.py
Due: ruff-format, ruff

Remove redundant hardcoded hash assertion in empty file test
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
Due: ruff-format, ruff

Fix fixture name mismatch and use ComponentType enum in tests
  sbomify/apps/plugins/tests/test_models.py
Due: ruff-format, ruff

Fix GitHub attestation verification for URLs with commit refs
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
Due: ruff-format, ruff

Fix test comment to match code comment for bundle format
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
Due: ruff-format, ruff

Clarify Sigstore bundle version in comments
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/tests/test_github_attestation_plugin.py
Due: ruff-format, ruff

Improve CI and push to stage
  .github/workflows/ci-cd.yml
Due: none

feat: Add SHA256 checksums and enhance TEA artifact responses
  sbomify/apps/documents/apis.py
  sbomify/apps/documents/migrations/0006_add_document_sha256_hash.py
  sbomify/apps/documents/models.py
  sbomify/apps/documents/schemas.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/migrations/0044_add_sbom_sha256_hash.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/schemas.py
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/mappers.py
  sbomify/apps/tea/tests/test_wellknown.py
  sbomify/apps/tea/utils.py
Due: ruff-format, ruff

feat(plugins): Add SBOMContext for pre-computed metadata and refactor checksum plugin
  sbomify/apps/plugins/builtins/checksum.py
  sbomify/apps/plugins/builtins/cisa.py
  sbomify/apps/plugins/builtins/cra.py
  sbomify/apps/plugins/builtins/fda_medical_device_cybersecurity.py
  sbomify/apps/plugins/builtins/github_attestation.py
  sbomify/apps/plugins/builtins/ntia.py
  sbomify/apps/plugins/orchestrator.py
  sbomify/apps/plugins/sdk/base.py
  sbomify/apps/plugins/tests/test_checksum_plugin.py
  sbomify/apps/plugins/tests/test_integration.py
  sbomify/apps/plugins/tests/test_orchestrator.py
Due: ruff-format, ruff

fix: resolve RecursionError in public component pages
  sbomify/apps/plugins/templates/plugins/components/public_assessment_badge.html.j2
Due: djlint-check, djlint-lint

fix: resolve RecursionError from multi-line template comments
  sbomify/apps/core/templates/core/components/_empty_state.html.j2
  sbomify/apps/core/templates/core/components/_form_field.html.j2
  sbomify/apps/core/templates/core/components/_loading_indicator.html.j2
  sbomify/apps/core/templates/core/components/_page_header.html.j2
  sbomify/apps/core/templates/core/components/confirm_action.html.j2
  sbomify/apps/core/templates/core/components/public_card.html.j2
  sbomify/apps/core/templates/core/components/standard_card.html.j2
Due: djlint-check, djlint-lint

Adds tests.
  sbomify/apps/core/tests/test_template_recursion.py
Due: ruff-format, ruff
