Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

chore: remove poetry, bump cryptography & pygments, fix TS types
  .dockerignore
  .gitignore
  bun.lock
  package.json
  pyproject.toml
  uv.lock
Due: none

chore(deps): upgrade compliance-trestle to v4 (pydantic v2)
  pyproject.toml
  uv.lock
Due: none

fix: restore cryptography>=46.0.6 (uv resolves it fine)
  pyproject.toml
  uv.lock
Due: none

fix: sanitize non-ASCII characters in CRA catalog for SQL_ASCII databases
  sbomify/apps/compliance/services/oscal_service.py
Due: ruff-format, ruff

fix: handle any non-ASCII character gracefully, not just known ones
  sbomify/apps/compliance/services/oscal_service.py
Due: ruff-format, ruff

feat(dashboard): add workspace hierarchy builder for zero-state tree (#776)
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

feat(dashboard): render clickable tree diagram in zero state (#776)
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/vulnerability_trends.html.j2
Due: djlint-check, djlint-lint

fix(dashboard): optimize hierarchy query with prefetch_related, fix CTA target
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/vulnerability_trends.html.j2
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix(dashboard): CTA scrolls to upload section on component page
  sbomify/apps/sboms/templates/sboms/components/sbom_upload.html.j2
  sbomify/apps/vulnerability_scanning/templates/vulnerability_scanning/components/vulnerability_trends.html.j2
Due: djlint-check, djlint-lint

fix(dashboard): filter has_sboms by bom_type=SBOM to exclude VEX/CBOM
  sbomify/apps/vulnerability_scanning/views/vulnerability_trends.py
Due: ruff-format, ruff

docs: add email trigger map with Mermaid diagrams
  docs/email-triggers.md
Due: markdownlint

fix: update screencast scripts for current UI state
  bin/record_screencasts.sh
  screencasts/conftest.py
  screencasts/document_upload.py
  screencasts/vulnerability_scanning.py
Due: ruff-format, ruff

docs: address Copilot review feedback on email trigger map
  docs/email-triggers.md
Due: markdownlint

feat(cle): add ProductCLEEvent and ProductCLESupportDefinition models
  sbomify/apps/sboms/migrations/0052_product_cle.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

feat(cle): add CLE service layer with validation and lifecycle recomputation
  sbomify/apps/core/services/cle.py
  sbomify/apps/core/tests/test_cle_service.py
Due: ruff-format, ruff

feat(cle): add internal CLE API endpoints for events and support definitions
  sbomify/apis.py
  sbomify/apps/core/cle_apis.py
  sbomify/apps/core/cle_schemas.py
  sbomify/apps/core/tests/test_cle_apis.py
Due: ruff-format, ruff

feat(cle): add TEA CLE endpoint for public product lifecycle data
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/schemas.py
  sbomify/apps/tea/tests/test_apis.py
Due: ruff-format, ruff

feat(cle): update lifecycle view to create CLE events instead of direct field updates
  sbomify/apps/core/services/cle.py
  sbomify/apps/core/tests/test_cle_apis.py
  sbomify/apps/core/tests/test_cle_service.py
  sbomify/apps/core/views/product_lifecycle.py
Due: ruff-format, ruff

feat(cle): data migration to seed CLE events from existing lifecycle dates
  sbomify/apps/sboms/migrations/0053_seed_cle_from_dates.py
Due: ruff-format, ruff

fix(cle): address code review findings
  sbomify/apps/core/cle_apis.py
  sbomify/apps/core/cle_schemas.py
  sbomify/apps/core/services/cle.py
  sbomify/apps/core/views/product_lifecycle.py
  sbomify/apps/sboms/migrations/0053_seed_cle_from_dates.py
Due: ruff-format, ruff

fix(cle): return error on invalid date format instead of silently ignoring
  sbomify/apps/core/views/product_lifecycle.py
Due: ruff-format, ruff

fix(cle): address comprehensive code review findings
  sbomify/apps/core/cle_apis.py
  sbomify/apps/core/cle_schemas.py
  sbomify/apps/core/services/cle.py
  sbomify/apps/core/tests/test_cle_apis.py
  sbomify/apps/core/views/product_lifecycle.py
  sbomify/apps/sboms/migrations/0053_seed_cle_from_dates.py
  sbomify/apps/tea/apis.py
  sbomify/apps/tea/tests/test_apis.py
Due: ruff-format, ruff

feat(cle): add multi-level CLE models for all 4 TEA levels
  sbomify/apps/core/cle_schemas.py
  sbomify/apps/sboms/migrations/0054_merge_20260403_1425.py
  sbomify/apps/sboms/migrations/0055_add_multi_level_cle_models.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

feat(cle): add API endpoints and service layer for all 4 CLE levels
  sbomify/apps/core/cle_apis.py
  sbomify/apps/core/schemas.py
  sbomify/apps/core/services/cle.py
Due: ruff-format, ruff

chore: merge migration conflict after upstream master merge
  sbomify/apps/sboms/migrations/0056_merge_20260403_1443.py
Due: ruff-format, ruff

fix(cle): use CLEEventType directly, add immutability comment, mark schema URI as TODO
  sbomify/apps/core/cle_apis.py
  sbomify/apps/core/cle_schemas.py
  sbomify/apps/core/services/cle.py
Due: ruff-format, ruff

test(cle): add tests for Component, Release, and ComponentRelease CLE levels
  sbomify/apps/core/tests/test_cle_apis.py
  sbomify/apps/core/tests/test_cle_service.py
Due: ruff-format, ruff

fix: resolve mypy errors and add CLE document export for all TEA levels
  sbomify/apps/core/cle_schemas.py
  sbomify/apps/core/services/cle.py
  sbomify/apps/core/tests/test_cle_service.py
  sbomify/apps/tea/apis.py
Due: ruff-format, ruff

fix: address Copilot review findings on CLE implementation
  sbomify/apps/core/cle_apis.py
  sbomify/apps/core/cle_schemas.py
  sbomify/apps/core/services/cle.py
  sbomify/apps/core/views/product_lifecycle.py
  sbomify/apps/sboms/migrations/0053_seed_cle_from_dates.py
  sbomify/apps/sboms/migrations/0057_cle_url_max_length_500.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

fix: address second round of Copilot review findings
  sbomify/apps/core/cle_schemas.py
  sbomify/apps/core/services/cle.py
  sbomify/apps/tea/tests/test_apis.py
Due: ruff-format, ruff

Adds logos
  sbomify/static/img/sbomfiy-black.svg
  sbomify/static/img/sbomify-white.svg
Due: none

fix: email logo aspect ratio, dark mode support, and filename typo
  keycloak/themes/sbomify/email/html/template.ftl
  keycloak/themes/sbomify/email/resources/img/logo-white.svg
  sbomify/apps/core/templates/core/emails/base.html.j2
  sbomify/static/img/sbomify-black.svg
Due: djlint-check, djlint-lint

fix: address third round of Copilot review findings
  sbomify/apps/core/cle_schemas.py
  sbomify/apps/core/services/cle.py
  sbomify/apps/tea/signals.py
  sbomify/apps/tea/tests/test_apis.py
Due: ruff-format, ruff

fix: correct plugin claims and add reply prompts to onboarding emails
  sbomify/apps/onboarding/templates/onboarding/emails/collaboration.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_component.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_component_sbom.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/first_sbom.html.j2
  sbomify/apps/onboarding/templates/onboarding/emails/quick_start.html.j2
Due: djlint-check, djlint-lint

fix: resolve remaining Copilot review feedback on email-triggers doc
  docs/email-triggers.md
Due: markdownlint

fix: markdownlint MD060 table separator spacing in email-triggers doc
  docs/email-triggers.md
Due: markdownlint

fix: address Copilot review feedback round 2
  docs/email-triggers.md
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: markdownlint, ruff-format, ruff

fix: correct new user welcome subject and PR description
  docs/email-triggers.md
Due: markdownlint

fix: add width attribute to email logo img tags (djlint H006)
  sbomify/apps/core/templates/core/emails/base.html.j2
Due: djlint-check, djlint-lint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
