Repository sbomify/sbomify: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-lint, markdownlint, ruff-format, ruff, djlint-check, djlint-lint

bun-lint:
  name: Bun Lint
  entry: bun lint
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: bun x markdownlint --fix
  language: system
  pass_filenames: true

ruff-format:
  name: ruff-format
  entry: uv run ruff format .
  language: system
  pass_filenames: false

ruff:
  name: ruff
  entry: uv run ruff check .
  language: system
  pass_filenames: false

djlint-check:
  name: djlint format check
  entry: uv run djlint . --extension=j2 --check
  language: system
  pass_filenames: false

djlint-lint:
  name: djlint
  entry: uv run djlint . --extension=j2 --lint
  language: system
  pass_filenames: false

refactor(sboms): Phase 7 — drop Project model + rewrite tests against direct M2M
  sbomify/apps/core/apis.py
  sbomify/apps/core/migrations/0026_delete_productproject_delete_project_and_more.py
  sbomify/apps/core/models.py
  sbomify/apps/core/signals.py
  sbomify/apps/core/templates/core/workspace_public.html.j2
  sbomify/apps/core/tests/test_admin_dashboard.py
  sbomify/apps/core/tests/test_breadcrumb_tags.py
  sbomify/apps/core/tests/test_models.py
  sbomify/apps/core/tests/test_public_private_constraints.py
  sbomify/apps/core/tests/test_release_artifacts_duplicates.py
  sbomify/apps/core/tests/test_release_models.py
  sbomify/apps/core/tests/test_search.py
  sbomify/apps/core/tests/test_slug_urls.py
  sbomify/apps/core/tests/test_workspace_public_view.py
  sbomify/apps/core/views/__init__.py
  sbomify/apps/core/views/component_details_public.py
  sbomify/apps/core/views/component_scope.py
  sbomify/apps/core/views/workspace_public.py
  sbomify/apps/sboms/migrations/0062_remove_product_projects_remove_project_products_and_more.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/tests/conftest.py
  sbomify/apps/vulnerability_scanning/tests/conftest.py
  sbomify/apps/vulnerability_scanning/tests/test_views.py
Due: ruff-format, ruff, djlint-check, djlint-lint

refactor(sboms): Phase 7 — rewrite plugin tests against direct M2M
  sbomify/apps/plugins/tests/test_public_assessment_utils.py
  sbomify/apps/plugins/tests/test_release_dependent_trigger.py
  sbomify/apps/plugins/tests/test_scan_once_per_sbom.py
Due: ruff-format, ruff

refactor(sboms): Phase 7 — drop ProjectSBOMBuilder tests + uniqueness fixture rewrite
  sbomify/apps/sboms/tests/test_sbom_uniqueness.py
  sbomify/apps/sboms/tests/test_utils.py
Due: ruff-format, ruff

refactor(sboms): Phase 7 — rewrite compliance tests against direct M2M
  sbomify/apps/compliance/tests/test_export_service.py
  sbomify/apps/compliance/tests/test_sbom_compliance_service.py
Due: ruff-format, ruff

refactor(sboms): Phase 7 — rewrite TEA, onboarding, and builder tests
  sbomify/apps/sboms/tests/test_builders.py
  sbomify/apps/tea/tests/conftest.py
  sbomify/apps/tea/tests/test_apis.py
  sbomify/apps/teams/tests/test_onboarding_wizard.py
Due: ruff-format, ruff

refactor(sboms): Phase 7 — drop sample_project from sboms_table_service test
  sbomify/apps/sboms/tests/test_sboms_table_service.py
Due: ruff-format, ruff

fix(core): swap forward/reverse branches in ProductComponent m2m signal
  sbomify/apps/core/signals.py
Due: ruff-format, ruff

test(sboms): align get_component_metadata calls with ProductSBOMBuilder
  sbomify/apps/sboms/tests/test_utils.py
Due: ruff-format, ruff

test: disable TEA response cache during tests
  sbomify/test_settings.py
Due: ruff-format, ruff

test(tea): set distinct SBOM versions to satisfy unique constraint
  sbomify/apps/tea/tests/test_apis.py
Due: ruff-format, ruff

test: fix remaining Project references after Phase 7 destructive removal
  sbomify/apps/core/tests/test_release_apis.py
  sbomify/apps/core/tests/test_toggle_public_status.py
  sbomify/apps/core/tests/test_url_utils.py
Due: ruff-format, ruff

docs(deployment): mount CA volume on sbomify-scheduler too
  docs/deployment.md
Due: markdownlint

refactor(sboms): address Copilot review on PR #946 (round 2)
  sbomify/apps/core/signals.py
  sbomify/apps/plugins/public_assessment_utils.py
  sbomify/apps/sboms/migrations/0060_backfill_productcomponent.py
Due: ruff-format, ruff

fix(core): per-instance snapshot for pre_clear/post_clear on ProductComponent
  sbomify/apps/core/signals.py
Due: ruff-format, ruff

fix: align products table sort key + assessment visibility with new model
  sbomify/apps/core/templates/core/products_table.html.j2
  sbomify/apps/plugins/public_assessment_utils.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: stabilise product pagination order + rename Alpine helper
  sbomify/apps/core/services/querysets.py
  sbomify/apps/core/templates/core/products_table.html.j2
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: round-5 Copilot feedback — migration deps + scope view + components list
  sbomify/apps/core/templates/core/product_details_public.html.j2
  sbomify/apps/core/views/component_scope.py
Due: ruff-format, ruff, djlint-check, djlint-lint

chore: bump version to 26.2.0
  package.json
  pyproject.toml
  uv.lock
Due: none

fix(sboms): P0 review fixes — billing CI, scope flip, SBOM leak, demote migration
  sbomify/apps/billing/js/plan-selection.spec.ts
  sbomify/apps/billing/js/plan-selection.ts
  sbomify/apps/billing/templates/billing/select_plan.html.j2
  sbomify/apps/billing/views.py
  sbomify/apps/sboms/migrations/0062_remove_product_projects_remove_project_products_and_more.py
  sbomify/apps/sboms/utils.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

refactor(sboms): P1 review fixes — hygiene + tests
  sbomify/apps/core/signals.py
  sbomify/apps/core/tests/test_release_models.py
  sbomify/apps/plugins/public_assessment_utils.py
  sbomify/apps/plugins/tests/test_public_assessment_utils.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/migrations/0060_backfill_productcomponent.py
Due: ruff-format, ruff

refactor(sboms): P2 review fixes — dead branches, schema cleanup, naming
  sbomify/apis.py
  sbomify/apps/billing/apis.py
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/billing/notifications.py
  sbomify/apps/billing/schemas.py
  sbomify/apps/core/apis.py
  sbomify/apps/core/queries.py
  sbomify/apps/core/templatetags/breadcrumb_tags.py
  sbomify/apps/core/utils.py
  sbomify/apps/sboms/builders.py
  sbomify/apps/sboms/migrations/0063_alter_productcomponent_unique_together_and_more.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

fix: round-7 Copilot feedback — invert reverse, clean() guard, SQL demote
  sbomify/apps/billing/views.py
  sbomify/apps/core/signals.py
  sbomify/apps/sboms/migrations/0062_remove_product_projects_remove_project_products_and_more.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

fix: round-8 Copilot feedback — N+1 queries + save-time tenancy guard
  sbomify/apps/core/signals.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

fix: drop unused type:ignore on ProductComponent.save() override
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

fix: round-9 Copilot feedback — purge billing project type, fix dashboard JSON, SQL backfill
  sbomify/apps/billing/billing_processing.py
  sbomify/apps/core/views/products_dashboard.py
  sbomify/apps/sboms/migrations/0060_backfill_productcomponent.py
Due: ruff-format, ruff

fix: round-10 Copilot — backfill cross-tenant safety, fetchmany streaming, doc fixes
  sbomify/apps/sboms/migrations/0060_backfill_productcomponent.py
  sbomify/apps/sboms/migrations/0062_remove_product_projects_remove_project_products_and_more.py
  sbomify/apps/sboms/models.py
Due: ruff-format, ruff

fix: round-11 Copilot — clarify dashboard projection scope, migration vendor profiles
  sbomify/apps/core/views/products_dashboard.py
  sbomify/apps/sboms/migrations/0060_backfill_productcomponent.py
Due: ruff-format, ruff

fix: round-12 Copilot — refresh sbom_download_product docstring
  sbomify/apps/core/views/__init__.py
Due: ruff-format, ruff

fix: round-13 Copilot — drop reference to nonexistent test file
  sbomify/apps/core/views/products_dashboard.py
Due: ruff-format, ruff

fix: round-14 Copilot — strip projects from navbar search and header
  sbomify/apps/core/js/navbar-search.ts
  sbomify/apps/core/templates/core/components/header.html.j2
Due: bun-lint, djlint-check, djlint-lint

fix(onboarding): drop legacy first_component_sbom path that duplicated drip emails
  sbomify/apps/core/management/commands/send_test_emails.py
  sbomify/apps/onboarding/cron.py
  sbomify/apps/onboarding/migrations/0006_remove_first_component_sbom_email_type.py
  sbomify/apps/onboarding/models.py
  sbomify/apps/onboarding/services/__init__.py
  sbomify/apps/onboarding/tasks/__init__.py
  sbomify/apps/onboarding/templates/onboarding/emails/first_component_sbom.html.j2
  sbomify/apps/onboarding/tests/test_onboarding.py
Due: ruff-format, ruff, djlint-check, djlint-lint

fix: round-1 Copilot — subquery instead of materialised set + accurate task docstring
  sbomify/apps/onboarding/migrations/0006_remove_first_component_sbom_email_type.py
  sbomify/apps/onboarding/tasks/__init__.py
Due: ruff-format, ruff

fix: round-2 Copilot — preserve per-stage sent-status when retiring legacy email
  sbomify/apps/onboarding/migrations/0006_remove_first_component_sbom_email_type.py
Due: ruff-format, ruff

fix: round-3 Copilot — clarify defensive-pass comment about Django choices
  sbomify/apps/onboarding/migrations/0006_remove_first_component_sbom_email_type.py
Due: ruff-format, ruff

fix: round-4 Copilot — preserve SENT status when merging legacy → target rows
  sbomify/apps/onboarding/migrations/0006_remove_first_component_sbom_email_type.py
Due: ruff-format, ruff

feat(admin): expose Team.onboarding_goal in admin
  sbomify/apps/teams/admin.py
Due: ruff-format, ruff

chore: second-pass Project-layer sweep — kill remaining stale refs
  sbomify/apps/billing/apis.py
  sbomify/apps/billing/forms.py
  sbomify/apps/billing/js/plan-selection.ts
  sbomify/apps/billing/tasks/__init__.py
  sbomify/apps/billing/templates/billing/_enterprise_contact_form.html.j2
  sbomify/apps/billing/templates/billing/select_plan.html.j2
  sbomify/apps/core/js/components/editable-single-field.spec.ts
  sbomify/apps/core/js/components/editable-single-field.ts
  sbomify/apps/core/js/components/item-assignment-manager.ts
  sbomify/apps/core/js/components/plan-card.spec.ts
  sbomify/apps/core/js/components/public-status-toggle.ts
  sbomify/apps/core/schemas.py
  sbomify/apps/core/templates/core/component_details_private_base.html.j2
  sbomify/apps/core/templates/core/product_details_private.html.j2
  sbomify/apps/core/templates/core/products_table.html.j2
  sbomify/apps/core/templates/core/tw_test.html.j2
  sbomify/apps/core/templatetags/breadcrumb_tags.py
  sbomify/apps/documents/apis.py
  sbomify/apps/plugins/public_assessment_utils.py
  sbomify/apps/sboms/apis.py
  sbomify/apps/sboms/models.py
  sbomify/apps/sboms/utils.py
  sbomify/apps/teams/forms.py
  sbomify/apps/teams/templates/teams/components/team_danger_zone.html.j2
  sbomify/apps/teams/templates/teams/invite.html.j2
  sbomify/apps/teams/views/onboarding_wizard.py
Due: bun-lint, ruff-format, ruff, djlint-check, djlint-lint

fix(ci): upload screencasts to bucket root, not /screencasts/ prefix
  .github/workflows/screencasts.yml
Due: none

fix(emails): make logo visible in Gmail Android / forced-dark clients
  sbomify/apps/core/templates/core/emails/base.html.j2
Due: djlint-check, djlint-lint

Path conditions:
  bun-lint: any of: \.(js|ts|vue)$, but not: ^(node_modules|\.venv|venv|\.pytest_cache|__pycache__|\.ruff_cache)/
  markdownlint: any of: \.md$
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  djlint-check: any of: \.(html|htmx)\.j2$
  djlint-lint: any of: \.(html|htmx)\.j2$
